.hui_bg_white, body.hui_bg_white
{
	background: #fff;
}

.hui_bg_brushed, body.hui_bg_brushed
{
	background: url('../gfx/backgrounds/brushed_light.jpg');
}

.hui_bg_linen, body.hui_bg_linen
{
	background: url('../gfx/backgrounds/linen.png');
}

.hui_bg_wood, body.hui_bg_wood
{
	background: url('../gfx/backgrounds/wood.jpg');	
}

.hui_bg_leather, body.hui_bg_leather
{
	background: url('../gfx/backgrounds/leather.jpg');	
}

.hui_bg_vichy, body.hui_bg_vichy
{
	background: url('../gfx/backgrounds/vichy.png');	
}

.hui_bg_aluminum, body.hui_bg_aluminum
{
	background: url('../gfx/backgrounds/brushed_alu.png');	
}

.hui_bg_sand_light, body.hui_bg_sand_light
{
	background: url('../gfx/backgrounds/sand_light.png');
}

.hui_bg_sand_grey, body.hui_bg_sand_grey
{
	background: url('../gfx/backgrounds/sand_grey.png');
}
