div.hui_calendar
{
	overflow-x: hidden;
	width: 100%;
}

div.hui_calendar_busy div.hui_toolbar
{
	background: url('../gfx/spinner_small.gif') 220px center no-repeat;
}

div.hui_calendar_bar
{
	background: url('../gfx/calendar_bar.png');
	height: 30px;
	border-bottom: 1px solid #ccc;
}

table.hui_calendar_weekview
{
	border-collapse: collapse;
	
}

table.hui_calendar_weekview
{
	background: #fff;
	width: 100%;
	-webkit-box-sizing: border-box;
}

table.hui_calendar_weekview th
{
	background: url('../gfx/list_header.png');
	height: 22px;
	line-height: 21px;
	font-size: 8pt;
	font-weight: normal;
	white-space: nowrap;
	vertical-align: top;
	padding: 0px;
}

table.hui_calendar_weekview th.time
{
	width: 10%;
	text-align: left;
}

table.hui_calendar_weekview th div
{
	position: absolute;
	margin-left: 5px;
}

table.hui_calendar_weekview td.time
{
	/*background-image: url('../gfx/calendar_time_bg.gif');*/
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
}

div.hui_calendar_time
{
	color: #666;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 11px;
	line-height: 20px;
	height: 40px;
}

div.hui_calendar_time span
{
	margin-top: -10px;
	padding: 0 2px;
	margin-left: 2px;
	position: absolute;
	background: #fff;
}

div.hui_calendar_time_first span
{
	margin-top: -2px;
	background: none;
}

div.hui_calendar_time_list span
{
	margin-top: -13px;
	line-height: 12px;
}

table.hui_calendar_weekview td.time em
{
	background: #fff;
	font-style: normal;
}

div.hui_calendar_day
{
	position: relative;
}

table.hui_calendar_weekview tbody td
{
	background-image: url('../gfx/calendar_bg.gif');
	border-right: 1px solid #DDDDDD;
	vertical-align:top;
	width: 14%;
	padding: 0;
	-webkit-box-sizing: border-box;
}

table.hui_calendar_weekview div.hui_calendar_event
{
	position: absolute;
	background: #caddfd;
	background: rgba(180, 200, 255, 0.5);
	border: 1px solid #acbbd4;
	width: 100%;
	margin-left: -1px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	color: #112039;
	font-size: 9pt;
	line-height: 12px;
	cursor: pointer;
}

table.hui_calendar_weekview div.hui_calendar_event:hover
{
	background: rgb(180, 200, 255);
	border-color: rgb(120, 160, 230);
}

table.hui_calendar_weekview div.hui_calendar_event div
{
	padding: 2px 4px;
}

table.hui_calendar_weekview div.hui_calendar_event p
{
	margin: 0px;
}

p.hui_calendar_event_time
{
	float: right;
}

p.hui_calendar_event_location
{
	font-size: 8pt;
}

