span.hui_disclosure
{
	display: inline-block;
	width: 11px;
	height: 11px;
	vertical-align: middle;
	background: url('../gfx/disclosure.png');
	font-size: 0;
	line-height: 0;
	cursor: default;
}

span.hui_disclosure:hover
{
	background-position: 0 -11px;
}

span.hui_disclosure_open
{
	background-position: 0 -22px;
}

span.hui_disclosure_open:hover
{
	background-position: 0 -33px;
}
