div.hui_keyboardnavigator
{
	display: none;
	left: 50%;
	top: 50%;
	position: absolute;
	background: rgba(0,0,0,.5);
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	width: 300px;
	z-index: 10000000000;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}

p.hui_keyboardnavigator_input
{
	margin: 0;
	padding: 3px 8px;
	background: rgba(0,0,0,.4);
	margin: 4px 4px 0 4px;
	border-radius: 3px;
	font-size: 32px;
	font-family: 'Helvetica Neue';
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 28px;
	height: 32px;
	text-shadow: 0 0 3px rgba(0,0,0,.5);
}

div.hui_keyboardnavigator li
{
	padding: 4px 8px;
	overflow: hidden;
	margin: 4px 4px 0 4px;
	border-radius: 3px;
	font-size: 13px;
	text-shadow: 0 0 3px rgba(0,0,0,.5);
}

div.hui_keyboardnavigator ul
{
	list-style: none;
	margin: 0;
	padding: 0 0 4px;
}

li.hui_keyboardnavigator_selected
{
	background: rgba(0,0,0,.7);
}
