div.hui_linkinput
{
	position: relative;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.hui_linkinput_busy
{
	opacity: .5;
}

span.hui_linkinput_body
{
	margin-left: 106px;
	position: absolute;
	right: 0;
	left: 0;
	top: 2px;
	height: 23px;
}

div.hui_linkinput input
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-color: #BBBBBB #CCCCCC #DDDDDD;
	border-style: solid;
	border-width: 1px;
	font-family: Monaco,monospace;
	padding: 0px 2px;
	height: 23px;
	vertical-align: middle;
	color: #333;
	line-height: 16px;
	border-radius: 2px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.15);
	font-size: 11px;
	width: 100%;
}

div.hui_linkinput a.hui_dropdown
{
	width: 100px;
}

span.hui_linkinput_object
{
	margin-top: 3px;
	display: inline-block;
}

span.hui_linkinput_title
{
	font-size: 12px;
	margin-left: 3px;
	display: inline-block;
	vertical-align: middle;
}