div.hui_markupeditor
{
	border: 1px solid #eee;
	height: 200px;
	background: #fff;
	outline: none;
	cursor: text;
}

.hui_markupeditor_highlighted
{
	box-shadow: 0 0 5px #abf, 0 0 5px #abf;
	border-radius: 3px;
}

.hui_markupeditor_path
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 0;
	text-align: left;
}

.hui_markupeditor_path a {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
    font-size: 12px;
    color: #333;
    text-decoration: none;
}

.hui_markupeditor_inlinepanel a
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
    color: #333;
    padding: 3px 5px;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}