div.hui_menu
{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #fff;
	background: rgba(255,255,255,.95);
	border: 1px solid #bbb;
    border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	-ms-box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	min-width: 120px;
	padding: 4px 0px;
}


div.hui_menu_divider
{
	font-size: 0px;
	border-top: 1px solid #ddd;
	margin: 3px 0px;
}

div.hui_menu_item
{
	font-size: 13px;
	line-height: 18px;
	padding: 0px 8px;
	cursor: pointer;
	height: 18px;
	text-align: left;
}

div.hui_menu_item:hover
{
	background-color: #3875d7;
	color: #fff;
}

div.hui_menu_item_children
{
	background: url('../gfx/menu_arrow.png') right top no-repeat;
}

div.hui_menu_item_children:hover
{
	background: #3875d7 url('../gfx/menu_arrow.png') right -18px no-repeat;
}