div,h1,h2,h3,h4,h5,h6,ol,ul
{
	zoom: 1;
}

div.hui_toolbar_icon div.hui_icon
{
	margin: 0px;
}

form.hui_formula input.text, form.hui_formula textarea
{
	text-indent: 0px;
}

form.hui_formula table.group label
{
	line-height: 16px;
}

table.hui_objectlist thead th.hui_objectlist
{
	line-height: 11pt;
}

form.hui_formula .checkbox 
{
	padding: 2px 0px;
}


span.hui_field_singleline
{
	position: relative;
	height: 16px;
}

span.hui_field_singleline input
{
	position: absolute;
}

a.hui_button
{
	line-height: 27px;
}

a.hui_button_small
{
	line-height: 23px;
}

/*********** Search field ***************/

span.hui_searchfield input
{
	margin-top: 4px;
	margin-left: -21px;
	margin-right: -13px;
	padding: 0;
}