body.hui
{
	font-size: 0;
}

a.hui_button
{
	line-height: 27px;
}

a.hui_button_small_light
{
	line-height: 16px;
}

table.hui_layout
{
	height: 100%;
	border-collapse: collapse;
}

a.hui_toolbar_icon_disabled span.hui_icon
{
	filter: alpha(opacity = 30);
	background-color: #F2F2F3;
}

a.hui_toolbar_icon_disabled strong
{
    color: #999;
}

a.hui_button_disabled
{
	filter: alpha(opacity = 50);
	background-color: #e7e7e7;
}

div.hui_window_dark a.hui_button_disabled
{
	background-color: #333;
}

.hui_formula_text
{
	background: url('#');
}

input.hui_formula_text
{
	padding-top: 2px;
}

span.hui_upload_button_input input
{
	filter: alpha(opacity = 0);
}

div.hui_list_body
{
	overflow-y: hidden;
}