@import url('msie.css');

.hui_window_bottom, .hui_window_bottom div, .hui_window .titlebar
{
	background-image: url('../gfx/window_bg.gif');
}

.hui_window_content 
{
	background-image: url('../gfx/window_bg_middle.gif');
}

div.hui_list .navigation .selection div
{
	width: 1%;
	white-space: nowrap;
}

div.hui_list .navigation .selection a
{
	float: none;
}

div.hui_alert div.hui_buttons
{
}

div.hui_alert_body
{
}

div.hui_box_top, div.hui_box_top div, div.hui_box_top div div, div.hui_box_bottom, div.hui_box_bottom div, div.hui_box_bottom div div, div.hui_box_middle, div.hui_box_middle div.hui_box_middle
{
	background: none;
}

.hui_imageviewer_controller
{
	width: auto;
}

a.hui_box_close
{
	background: url('../gfx/box_close.gif') left top no-repeat;
	margin: 5px 0 0 -8px;
}

div.hui_imageviewer_controller a
{
	background-image: url('../gfx/imageviewer_controls.gif');
}

div.hui_imageviewer_controller, div.hui_imageviewer_controller div, div.hui_imageviewer_controller div div
{
	background-image: url('../gfx/overlay.gif');
}

/*********** Search field ***************/

span.hui_searchfield, span.hui_searchfield span, a.hui_searchfield_reset
{
	background-image: url('../gfx/search_field.gif');
}

/* force tool tip small */
div.hui_tooltip
{
	width: 1px;
	white-space: nowrap;
}

div.hui_message
{
	width: 1px;
	white-space: nowrap;
}

span.hui_message_busy, div.hui_message span.hui_icon
{
	vertical-align: -4px;
	margin-top: 6px;
}