/*********************************** Number **********************************/

span.hui_numberfield {
  display: inline-block;
  background: url('../gfx/number.png') -11px top no-repeat;
  height: 25px;
  position: relative;
  font-size: 0;
  vertical-align: middle;
  width: 100%;
}

span.hui_numberfield span {
  display: inline-block;
  background: url('../gfx/number.png') right -50px no-repeat;
  height: 25px;
  width: 100%;
  padding-left: 6px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 17px;
}

span.hui_numberfield span span {
  background: url('../gfx/number.png') left -25px repeat-x;
  line-height: 0;
  padding: 0 2px 0 0;
  margin: 0;
}

span.hui_numberfield input {
  border: none;
  background: none;
  width: 100%;
  font-family: Verdana, sans-serif;
  font-size: 9pt;
  padding: 0;
  height: 16px;
  margin: 5px 0 0 -2px;
  text-align: right;
  line-height: 16px;
  vertical-align: top;
}

span.hui_numberfield input:focus {
  outline: none;
}

a.hui_numberfield_up {
  position: absolute;
  width: 15px;
  height: 10px;
  right: 2px;
  top: 2px;
}

a.hui_numberfield_down {
  position: absolute;
  width: 15px;
  height: 10px;
  right: 2px;
  bottom: 3px;
}

a.hui_numberfield_up:hover, 
a.hui_numberfield_down:hover {
  background: rgba(0,0,0,.1);
}

span.hui_numberfield_focused {
  background-position: -11px -75px;
}

span.hui_numberfield_focused span {
  background-position: right -125px;
}

span.hui_numberfield_focused span span {
  background-position: left -100px;
}

em.hui_numberfield_units {
  vertical-align: middle;
}
