.hui_overflow
{
	overflow: auto;
	width: 100%;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
/*
.hui_overflow::-webkit-scrollbar
{  
	height: 14px;
	width: 14px;
}  
  
.hui_overflow::-webkit-scrollbar-thumb
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), to(rgb(240, 240, 240)));  
    -webkit-border-radius: 7px;
	border: 1px solid #ddd;
	min-height: 50px;
}

.hui_overflow::-webkit-scrollbar-thumb:horizontal
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(rgb(240, 240, 240)));  
}

.hui_overflow::-webkit-scrollbar-thumb:hover
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(245, 245, 245)), to(rgb(235, 235, 235)));
}

.hui_overflow::-webkit-scrollbar-thumb:horizontal:hover
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(245, 245, 245)), to(rgb(235, 235, 235)));
}


.hui_context_sidebar .hui_overflow::-webkit-scrollbar-thumb
{
	border: 2px solid #EBF0F7;
	background: #dfe5ee;
	width: 10px;
	height: 10px;
}

.hui_context_sidebar .hui_overflow:hover::-webkit-scrollbar-thumb
{
	background: #D4DCE9;
}*/

.hui_overflow_top
{
	-webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0, 0, 0, .8) 50%,transparent 100%);
	background-color: transparent;
	background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, .2),rgba(0, 0, 0, .1) 30%,transparent);
	background-image: -moz-linear-gradient(top,rgba(0, 0, 0, .2),rgba(0, 0, 0, .1) 30%,transparent);
	background-image: -ms-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	background-image: -o-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	background-image: linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	/*border-top: 1px solid rgba(0, 0, 0, 0.4);*/
	height: 8px;
	position: relative;
	width: 100%;
	position: absolute;
	display: none;
}

.hui_overflow_bottom
{
	-webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0, 0, 0, .8) 50%,transparent 100%);
	background-color: transparent;
	background-image: -webkit-linear-gradient(bottom,rgba(0, 0, 0, .2),rgba(0, 0, 0, .1) 30%,transparent);
	background-image: -moz-linear-gradient(bottom,rgba(0, 0, 0, .2),rgba(0, 0, 0, .1) 30%,transparent);
	background-image: -ms-linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
	background-image: -o-linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
	background-image: linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
	/*border-top: 1px solid rgba(0, 0, 0, 0.4);*/
	height: 8px;
	position: relative;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: none;
}

.hui_overflow_shadow_white .hui_overflow_bottom
{
	height: 16px;
	-webkit-mask-box-image: none;
	background-image: -webkit-linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
}

.hui_overflow_shadow_white .hui_overflow_top
{
	height: 16px;
	-webkit-mask-box-image: none;
	background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
}


.hui_context_sidebar .hui_overflow_bottom
{
	background-image: -webkit-linear-gradient(bottom,rgba(0, 0, 100, .2),rgba(0, 0, 100, .1) 30%,transparent);
}

.hui_context_sidebar .hui_overflow_top
{
	background-image: -webkit-linear-gradient(top,rgba(0, 0, 100, .2),rgba(0, 0, 100, .1) 30%,transparent);
}