.hui_panel
{
	position: absolute;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	top: 0px;
	left: 0px;
	display: table;
}

/* Titlebar */

.hui_panel .titlebar
{
	height: 29px;
	padding-right: 16px;
	background: url('../gfx/panel_titlebar_right.png') bottom right no-repeat;
}

.hui_panel .titlebar div
{
	height: 29px;
	padding-left: 16px;
	background: url('../gfx/panel_titlebar_left.png') bottom left no-repeat;
}

.hui_panel .titlebar div div
{
	height: 29px;
	padding: 0px 10px 0px 0px;
	background: url('../gfx/panel_titlebar_bg.png') bottom left repeat-x;
	text-align: center;
}

.hui_panel .titlebar .close
{
	float: left;
	width: 15px;
	height: 15px;
	padding: 0px;
	background: url('../gfx/panel_close.png') center center no-repeat;
	margin-top: 10px;
	cursor: pointer;
}

.hui_panel .titlebar .close:hover
{
	background-image: url('../gfx/panel_close_hover.png')
}
.hui_panel .titlebar strong
{
	color: #fff;
	font-weight: normal;
	font-size: 9pt;
	line-height: 9pt;
	position: relative;
	top: 10px;
	cursor: default;
	text-shadow: 0px 0px 3px #000;
}
/* Body */

.hui_panel .body
{
	padding: 0px 6px 0px 0px;
	background: url('../gfx/panel_right.png') bottom right repeat-y;
}
.hui_panel .body .body
{
	padding: 0px 0px 0px 6px;
	background: url('../gfx/panel_left.png') bottom left repeat-y;
}
.hui_panel .body .body .body
{
	padding: 0px;
	background: url('../gfx/panel_bg.png');
}

.hui_panel .content
{
	overflow: auto;
}

/* Bottom */

.hui_panel .bottom
{
	font-size: 1px;
	height: 16px;
	padding-right: 16px;
	background: url('../gfx/panel_bottom_right.png') bottom right no-repeat;
}

.hui_panel .bottom div
{
	height: 16px;
	padding-left: 16px;
	background: url('../gfx/panel_bottom_left.png') bottom left no-repeat;
}

.hui_panel .bottom div div
{
	height: 16px;
	background: url('../gfx/panel_bottom.png') bottom left repeat-x;
}