@import url('calendar.css');

body.hui
{
	margin: 0px;
	font-size: 11pt;
	background: #fff;
	overflow: auto;
	min-height: 100%;
}

body.hui, textarea
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

td
{
	padding: 0px;
}

table
{
	border-spacing: 0px 0px;
}

tr.view_toolbar
{
	display: none;
}

div.hui_calendar_bar
{
	display: none;
}

table.hui_view
{
	width: 100%;
}