span.hui_segmented
{
	display: inline-block;
	vertical-align: middle;
}

span.hui_segmented a
{
	display: inline-block;
	height: 20px;
	vertical-align: top;
	text-decoration: none;
	color: #333;
	padding: 0 3px;
	border-radius: 2px;
	outline: none;
}

span.hui_segmented a:focus
{
	outline: 4px auto #2678ff;
}

span.hui_segmented a:hover
{
	background: #eee;
}

span.hui_segmented .hui_icon_16
{
	margin-top: 2px;
}

span.hui_segmented_text
{
	font-size: 12px;
	line-height: 20px;
	padding: 0 4px;
}



/* Standard variant */

span.hui_segmented_standard
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	border: 1px solid #AAAAAA;
	border-color: #ddd #ccc #aaa;
	font-size: 0;
	height: 20px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top, #fff, #eee);	
	background: -ms-linear-gradient(top, #fff, #eee);	
	background: -webkit-linear-gradient(top, #fff, #eee);	
	background: linear-gradient(top, #fff, #eee);	
}

span.hui_segmented_standard a.hui_segmented_selected,
span.hui_segmented_standard a.hui_segmented_selected:hover
{
	background: #ddd;
	background: -moz-linear-gradient(top, #EFF2F4, #C0C9CF);
	background: -webkit-gradient(linear, left top, left bottom, from(#EFF2F4), to(#C0C9CF));
	background: -webkit-linear-gradient(top, #EFF2F4, #C0C9CF);
	background: -ms-linear-gradient(top, #EFF2F4, #C0C9CF);
	background: linear-gradient(top, #EFF2F4, #C0C9CF);
}


/* Inset variant */

span.hui_segmented_inset
{
	font-size: 0;
	height: 20px;
}

span.hui_segmented_inset a
{
	height: 18px;
	line-height: 18px;
	border-radius: 10px;
	border: 1px solid #ddd;
	border-color: #ccc #ccc #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	margin: 0 2px;
}

span.hui_segmented_inset span.hui_segmented_text
{
	line-height: 18px;
	padding: 0 7px;
}

span.hui_segmented_inset a.hui_segmented_selected,
span.hui_segmented_inset a.hui_segmented_selected:hover
{
	border-color: #555 #666 #888;
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#99a));
	background: -moz-linear-gradient(top, #777, #99a);
	background: -webkit-linear-gradient(top, #777, #99a);
	background: -ms-linear-gradient(top, #777, #99a);
	background: linear-gradient(top, #777, #99a);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	color: #fff;
}
