div.hui_selection
{
	font-family: 'Lucida Grande','Verdana',sans-serif;
	font-size: 0;
}

.split_sidebar div.hui_selection
{
	padding: 5px 0px;
}

.hui_selection_item
{
	background: 7px center no-repeat;
	font-size: 9pt;
	min-height: 18px;
	padding: 1px 5px 1px 6px;
	overflow: hidden;
	word-break: break-word;
	word-wrap: break-word;
}

div.hui_selection span.hui_disclosure
{
	margin-right: 2px;
	opacity: .3;
}

div.hui_selection:hover span.hui_disclosure
{
	opacity: 1;
}

div.hui_selection_item span.hui_selection_label
{
	margin: 0 0 0 1px;
	padding: 1px 3px;
	vertical-align: middle;
}

strong.hui_selection_badge
{
	float: right;
	background: #bcd;
	color: #fff;
	font-size: 11px;
	padding: 0 4px;
	border-radius: 7px;
	min-width: 10px;
	text-align: center;
	height: 14px;
	margin-top: 2px;
}

div.hui_selection:hover strong.hui_selection_badge
{
	background: #89b;
}


div.hui_selection div.hui_selected strong.hui_selection_badge
{
	background: #fff;
	color: #3875d7;
}

.hui_selection_item:hover
{
	background-color: #eee;
	cursor: pointer;
}

.hui_context_sidebar .hui_selection_item:hover
{
	background-color: #d4dce9;
	cursor: pointer;
}

.hui_selection_item:hover .icon
{
	background-position: 0px -16px;
}

div.hui_selection div.hui_selected, div.hui_selection div.hui_selected:hover
{
	background-color: #3875d7;
	background: url('../gfx/selection_blue.png') left top repeat-x;
	background: -moz-linear-gradient(top, #92BCFA, #5580ee);
	background: -webkit-gradient(linear, left top, left bottom, from(#92BCFA), to(#5580ee));
	color: #fff;
	-webkit-box-shadow: inset 0 1px 0 #7FA9F6;
}

div.hui_selection div.hui_selected span.hui_selection_label
{
	text-shadow: 0 1px 0 #5070cc;
}

div.hui_selection_inline div.hui_selected span.hui_selection_label
{
	background-color: #3875d7;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: none;
}

.hui_selection_title
{
	background: url('../gfx/selection_separator.png') 3px 9px repeat-x;
	color: #A0A9AF;
	font-size: 13px;
	margin: 3px 5px;
	padding-left: 16px;
}
.hui_selection_title span
{
	background: #EBF0F7;
	padding: 0px 4px;
}

.hui_selection div.hui_drop, .hui_selection div.hui_drop:hover
{
	background: #779cd6 url('../gfx/hover_bg.png');
	/*-webkit-border-radius: 4px;*/
	cursor: default;
}

div.hui_selection_busy span.hui_selection_label
{
	color: #999;
}

div.hui_selection_busy div.hui_selected span.hui_selection_label
{
	color: #fff;
}

/** Layout specifics **/

td.hui_layout_left div.hui_selection
{
	margin-top: 4px;
}

td.hui_layout_left .hui_selection_title
{
	margin-top: 10px;
}

/********************** Dark ************************/

div.hui_window_dark div.hui_selection
{
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
}

div.hui_window_dark div.hui_selection_item
{
	color: #fff;
	background: url('../gfx/selection_dark.png');
	height: 24px;
}

div.hui_window_dark div.hui_selection_item:hover
{
	background: url('../gfx/selection_dark.png') left -24px;
}

div.hui_window_dark div.hui_selection div.hui_selected, div.hui_window_dark div.hui_selection div.hui_selected:hover
{
	background: #3875d7;
}

div.hui_window_dark .hui_selection_item span
{
	margin-top: 4px;
}