.tabbox
{
	width: 600px;
	position: relative;
	left: 50%;
	margin-left: -300px;
	margin-top: 30px;
}

.tabbox_body
{
	border: 4px solid #d4d9e1;
	border-width: 0px 4px;
	background: #fff;
	overflow: hidden;
}

.tabbox_bottom
{
	height: 8px;
	font-size: 0px;
	background: url('../gfx/tabbox_bottom_left.png') bottom left no-repeat;
	padding-left: 8px;
}

.tabbox_bottom div
{
	height: 8px;
	background: url('../gfx/tabbox_bottom_right.png') bottom right no-repeat;
	padding-right: 8px;
}

.tabbox_bottom div div
{
	padding: 0px;
	background: url('../gfx/tabbox_bottom.png') bottom left repeat-x;
}

.tabbox_top
{
	height: 30px;
	background: url('../gfx/tabbox_top_left.png') bottom left no-repeat;
	padding-left: 8px;
}

.tabbox_top div
{
	height: 30px;
	background: url('../gfx/tabbox_top_right.png') bottom right no-repeat;
	padding-right: 8px;
}

.tabbox_top div div
{
	padding: 0px;
	background: url('../gfx/tabbox_top.png') bottom left repeat-x;
}

.tabbox_tab_body
{
	width: 592px;
	float: left;
}

/********************************** Tabs ********************************/


.tabbox_top .tab
{
	float: left;
	height: 26px;
	background: #d4d9e1;
	margin-left: 5px;
	padding: 0px 8px;
	line-height: 23px;
}

.tabbox_top .tab_selected
{
	background: #fff;
}

.tabbox_top .tab a
{
	text-decoration: none;
	color: #666;
}