div.hui_window
{
	position: absolute;
	top: 50px;
	left: 300px;
	display: none;
	opacity: 0;
}

.hui_window_titlebar
{
	font-family: 'Lucida Grande','Verdana',sans-serif;
	background: url('../gfx/window_grey.png') left -27px no-repeat;
	font-size: 0;
	height: 27px;
	cursor: default;
	text-align: center;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

div.hui_window_dragging .hui_window_titlebar
{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

.hui_window_titlebar div
{
	height:27px;
	background: url('../gfx/window_grey.png') left -27px no-repeat;
	background-position: right -54px;
}

.hui_window_titlebar div div
{
	background-position: left 0px;
	background-repeat: repeat-x;
	margin: 0px 13px;
	line-height: 31px;
}

span.hui_window_title
{
	font-size: 10pt;
	vertical-align: middle;
	color: #333;
	text-shadow: 0 1px white;
}

span.hui_window_icon
{
	font-size: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	vertical-align: middle;
}

.hui_window_content
{
	background: url('../gfx/window_grey_middle_right.png') right top repeat-y;
	padding-right: 8px;
}

.hui_window_content .hui_window_content
{
	background: url('../gfx/window_grey_middle.png') top left repeat-y;
	padding: 0px 0px 0px 8px;
}

div.hui_window_body
{
	overflow: hidden;
	margin: 0 -3px;
}


.hui_window_bottom
{
	background: url('../gfx/window_grey.png') left -92px no-repeat;
	font-size: 0px;
	height: 11px;
}

.hui_window_bottom div
{
	background: url('../gfx/window_grey.png') right -103px no-repeat;
	height: 11px;
}

.hui_window_bottom div div
{
	background-position: left -81px;
	background-repeat: repeat-x;
	margin: 0px 13px;
}


.hui_window_close
{
	font-size: 0;
	position: absolute;
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin-left: 8px;
	margin-top: 7px;
	background: url('../gfx/window_close.png') top left no-repeat;
}

.hui_window_close:hover
{
	background-position: left -16px;
}

/*************************** Back ***********************/

div.hui_window_back
{
	position: absolute;
	width: 100%;
	background: #333 url('../gfx/backgrounds/brushed.png');
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	border: 1px solid #555;
}


/********************** Busy ********************/

.hui_window_busy
{
	position: absolute;
  top: 26px;
  bottom: 8px;
  left: 5px;
  right: 5px;
	background: rgba(233, 233, 234, .7);
  z-index: 1;
}

.hui_window_busy span
{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 30%;
	background:  url('../gfx/progress/spinner_white_32.gif') center top no-repeat;
	padding-top: 35px;
	font-size: 12px;
	text-shadow: 0 1px white;
}

/********************************** Light **************************/

div.hui_window_light
{
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 20px rgba(0,0,0,.1);
}

div.hui_window_light .hui_window_close
{
	margin-left: 6px;
	margin-top: 5px;
}

div.hui_window_light .hui_window_titlebar div div
{
	line-height: 26px;
}

div.hui_window_light div.hui_window_content
{
	padding: 0;
}

div.hui_window_light div.hui_window_body
{
	margin: 0;
}

div.hui_window_light div.hui_window_titlebar, div.hui_window_light div.hui_window_titlebar div
{
	background-image: none;
}

div.hui_window_light .hui_window_titlebar span
{
	color: #333;
}

div.hui_window_light div.hui_window_bottom
{
	display: none;
}

div.hui_window_light div.hui_window_content
{
	background-image: none;
}

div.hui_window_light div.hui_window_content div.hui_window_content
{
	background-image: none;
}

.hui_window_light .hui_window_busy
{
  top: 26px;
  bottom: 1px;
  left: 1px;
  right: 1px;
	background: rgba(255, 255, 255, .7);
}

/********************************** Dark **************************/

div.hui_window_dark div.hui_window_titlebar, div.hui_window_dark div.hui_window_titlebar div
{
	background-image: url('../gfx/window_dark.png');
}

div.hui_window_dark .hui_window_titlebar span
{
	color: #fff;
	text-shadow: none;
}

div.hui_window_dark div.hui_window_bottom
{
	background-image: url('../gfx/window_dark.png');
}

div.hui_window_dark div.hui_window_content
{
	background-image: url('../gfx/window_dark_middle_right.png');
}

div.hui_window_dark div.hui_window_content div.hui_window_content
{
	background-image: url('../gfx/window_dark_middle.png');
}

/********************************** News **************************/

div.hui_window_news div.hui_window_titlebar, div.hui_window_news div.hui_window_titlebar div
{
	background: none;
}

div.hui_window_news div.hui_window_bottom
{
	background-image: none;
	position: relative;
	height: 0;
}

div.hui_window_news div.hui_window_bottom div.hui_window_bottom
{
	position: absolute;
	margin-top: 1px;
	border: 1px solid #ccc;
	border-top: none;
	height: 2px;
	left: 2px;
	right: 2px;
	background: #eee;
}

div.hui_window_news div.hui_window_bottom div.hui_window_bottom div.hui_window_bottom
{
	margin: 0;
	top: 3px;
}

div.hui_window_news
{
	border: 1px solid #ddd;
	background: #fafafa url('../gfx/holes.png') left top repeat-y;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px;
}

div.hui_window_news div.hui_window_front
{
	background: url('../gfx/holes.png') right top repeat-y;
}

div.hui_window_news div.hui_window_content
{
	background: none;
	padding: 0;
}

div.hui_window_news div.hui_window_content div.hui_window_content
{
	background: none;
}

div.hui_window_news div.hui_window_body
{
	margin: 0;
}

.hui_window_news .hui_window_busy
{
	background: rgba(255, 255, 255, .7);
	left: 0;
  right: 0;
}