@media only screen and (max-width: 768px) {
  .title {
    font-size: 32pt;
    margin-left: 0;
    left: 20px; }

  .layout_top {
    height: auto;
    padding-bottom: 60%; }

  .layout_top_body {
    position: absolute;
    top: 0; } }
