@media only screen and (max-width: 768px) {
  .poster {
    height: auto;
    margin: 0 -20px;
    padding-bottom: 60%;
    position: relative; }

  .poster_block {
    padding: 10px 20px; }

  .poster_body {
    height: 100%; }

  .poster_title {
    font-size: 36pt; }

  .poster_text {
    font-size: 22pt; } }
@media only screen and (max-width: 500px) {
  .poster {
    padding-bottom: 80%;
    margin: 0 -10px; }

  .poster_block {
    padding: 5px 10px;
    width: 90%;
    left: 5%;
    box-sizing: border-box;
    bottom: auto;
    top: 5%; }

  .poster_block {
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    margin: 0; }

  .poster_title {
    font-size: 24pt; }

  .poster_text {
    font-size: 12pt;
    font-family: Georgia;
    line-height: 1.2; }

  .part_movie_text {
    margin-top: 50px; }

  .part_movie_text_inner {
    line-height: 30px;
    font-size: 24px;
    height: 34px; }

  .part_movie_poster:before {
    content: '\25B6';
    font-size: 50px;
    line-height: 90px;
    text-indent: 12px;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px; } }
