@media only screen and (max-width: 768px) {
  .title {
    font-size: 32pt;
    margin-left: 0;
    left: 20px; }

  .layout_top {
    height: auto;
    padding-bottom: 60%; }

  .layout_top_body {
    position: absolute;
    top: 0; }

  .document_column {
    width: auto !important;
    padding: 0 !important; }

  .part_image img {
    max-width: 100%;
    height: auto; }

  .poster {
    height: auto;
    margin: 0 -10px;
    padding-bottom: 60%;
    position: relative; }

  .poster_block {
    padding: 10px 20px; }

  .poster_body {
    height: 100%; }

  .poster_title {
    font-size: 36pt; }

  .poster_text {
    font-size: 22pt; } }
@media only screen and (max-width: 500px) {
  .poster {
    padding-bottom: 80%; }

  .poster_block {
    padding: 5px 10px;
    width: 90%;
    left: 5%;
    box-sizing: border-box;
    bottom: auto;
    top: 5%; }

  .poster_title {
    font-size: 24pt; }

  .poster_text {
    font-size: 16pt; } }
