@font-face { 
	font-family: 'Bell MT'; 
	src: url('../../basic/fonts/Bell-met/bell_mt.eot'); 
	src: url('../../basic/fonts/Bell-met/bell_mt.eot?#iefix') format('embedded-opentype'), 
	url('../../basic/fonts/Bell-met/bell_mt.svg#Bell MT') format('svg'), 
	url('../../basic/fonts/Bell-met/bell_mt.woff') format('woff'), 
	url('../../basic/fonts/Bell-met/bell_mt.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal;
}

body
{
	margin: 0;
	padding: 0;
	font-family: Georgia,Times,serif;
}




.layout_content {
	width: 940px;
	margin: 0 auto;
}

.layout_top {
	position: fixed;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 800px;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0);
}

.layout_top > div {
	background: url('../gfx/front.jpg');
	background-size: cover;
	height: 110%;
	width: 110%;
    -webkit-animation-name: effect;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
}

.title {
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	color: #fff;
	font-size: 52pt;
	margin: 0;
	position: absolute;
	top: 10px;
	left: 30px;
	z-index: 2;
	line-height: 1;
	text-shadow: 0 2px 4px rgba(2, 69, 143, 0.7);
}

.title_more {
	font-style: italic;
	font-size: .5em;
	font-weight: normal;
}

.layout_middle {
	background: #fff;
	position: absolute;
	top: 800px;
	right: 0;
	left: 0;
	z-index: 1;
	padding-top: 20px;
}


@-webkit-keyframes effect {
	0% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

.layout_content {
	position: relative;
	z-index: 2;
}