.layout_middle {
	background: #fff;
	z-index: 1;
	padding-top: 20px;
}



.layout_bottom {
	text-align: center;
	font-family: 'Annie Use Your Telescope', cursive;
}

.layout_bottom > p {
	margin: 0;
	padding: 20% 0;
}

.layout_humanise {
	text-decoration: none;
	font-size: 32pt;
	color: #333;
}


@media screen and (max-width: 800px) {
	.document_column {
		display: block;
	}
}