

.layout_top {
	height: 736px;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0);
}

.layout_top > div {
	background: url('../gfx/front.jpg') 50% 50% no-repeat;
	background-size: cover;
	height: 110%;
	width: 110%;
    -webkit-animation-name: effect;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
}


.layout_middle {
	background: #fff;
	z-index: 1;
	padding-top: 20px;
}


@-webkit-keyframes effect {
	0% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

.layout_bottom {
	text-align: center;
	font-family: 'Annie Use Your Telescope', cursive;
}

.layout_bottom > p {
	margin: 0;
	padding: 20% 0;
}

.layout_humanise {
	text-decoration: none;
	font-size: 32pt;
	color: #333;
}


@media screen and (max-width: 800px) {
	.document_column {
		display: block;
	}
}