.menu {
  background: #2E3840;
  font-family: Georgia; }

.menu_items {
  list-style: none;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 960px; }

.menu_item {
  display: inline-block; }

.menu_link {
  display: inline-block;
  color: #fff;
  padding: 0 10px;
  font-size: 24px;
  height: 42px;
  line-height: 42px;
  text-decoration: none; }
