a.common
{
	color: #ddd;
	cursor: pointer;
}

a.common span
{
	color: #0073b9;
}
	
a.common:hover, a.common:hover span
{
	color: #005aae;
}

.part_header
{
	margin: 0px;
	color: #000;
	font-family: 'Playfair Display', Georgia,"Book Antiqua", "Palatino",Times,serif;
	font-weight: normal;
}

h2.part_header {
	font-size: 32pt;
	line-height: 1.1;
}

p.common, ul.common
{
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
	font-size: 11pt;
	line-height: 160%;
	text-align: justify;
}

.common_font
{
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
}

.part_text
{
	font-size: 16px;
}

div.part_listing span.part_listing_first
{
	font-size: 11pt;
}

div.part_listing, textarea.part_listing {
	font-size: 10pt;
	color: #333;
}

.part_map_static_content {
	-webkit-filter: saturate(1.5) contrast(1.5) brightness(1.5);
}

.part_map_static_pin {
	z-index: 1;
}

.part_movie_text_inner {
	background: #000;
	background: rgba(0,0,0,.6);
	color: #fff;
	padding: 0 10px;
	font-family: 'Playfair Display', Georgia,"Book Antiqua", "Palatino",Times,serif;
    font-weight: normal;
	line-height: 40px;
	display: inline-block;
	font-size: 32px;
	height: 44px;
}