a.common
{
	color: #ddd;
	cursor: pointer;
}

a.common span
{
	color: #0073b9;
}
	
a.common:hover, a.common:hover span
{
	color: #005aae;
}

h1.common,h2.common,h3.common,h4.common,h5.common,h6.common
{
	margin: 0px;
	color: #000;
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
	font-weight: normal;
}

p.common, ul.common
{
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
	font-size: 11pt;
	line-height: 160%;
	text-align: justify;
}

.common_font
{
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
}

.part_text
{
	font-size: 11pt;
}

div.part_listing span.part_listing_first
{
	font-size: 11pt;
}

div.part_listing, textarea.part_listing {
	font-size: 10pt;
	color: #333;
}

.part_header
{
	color: #000;
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
	font-weight: normal;
}
