@charset "UTF-8";
.poster {
  height: 500px; }

.poster_body {
  position: absolute;
  height: 500px;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.poster_title {
  font-family: "Playfair Display", serif;
  text-rendering: geometricPrecision;
  font-weight: normal;
  font-size: 48pt;
  margin: 0 0 10px;
  color: #fff; }

.poster_block {
  position: absolute;
  background: #061516;
  background: rgba(6, 21, 22, 0.8);
  color: #fff;
  width: 400px;
  bottom: 20px;
  left: 5%;
  text-align: center;
  padding: 20px;
  line-height: 1; }

.poster_text {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 28pt;
  margin: 0; }

.poster_links {
  margin: 10px 0 0; }

.poster_link {
  font-family: "Playfair Display", serif;
  color: #00A3FF;
  text-decoration: none;
  font-size: 18pt;
  padding: 0 10px;
  display: inline-block;
  height: 34px;
  line-height: 32px;
  border-radius: 5px;
  background: #000; }
.poster_link:hover {
  background: #333; }
.poster_link:active {
  color: #5CC4FF;
  background: #444; }
.poster_link:after {
  content: ' »'; }

/** Havestue **/
.poster_body_havestue {
  background-image: url("../gfx/havestue.jpg"); }

/** Området **/
.poster_body_omraadet {
  background-image: url("../gfx/omraadet.jpg"); }

.poster_block_omraadet {
  left: auto;
  right: 5%;
  background: #1a120c;
  background: rgba(26, 18, 12, 0.8); }

.poster_link_omraadet {
  color: #E07133;
  background: #21221D; }
.poster_link_omraadet:hover {
  background: #2e3029; }
.poster_link_omraadet:active {
  color: #edaf8c;
  background: #3c3e34; }

/** Haven **/
.poster_body_haven {
  background-image: url("../gfx/haven.jpg");
  background-position: 20% 50%; }

.poster_block_haven {
  left: auto;
  right: 50%;
  bottom: 70px;
  margin-right: -220px; }

.poster_link_haven {
  color: #C2FF00;
  background: #162A16; }
.poster_link_haven:hover {
  background: #1f3b1f; }
.poster_link_haven:active {
  background: #284b28;
  color: #F2FFC9; }

/** Værelserne **/
.poster_body_vaerelserne {
  background-image: url("../gfx/vaerelserne.jpg"); }

.poster_block_vaerelserne {
  background: #dee5e7;
  background: rgba(222, 229, 231, 0.8);
  left: auto;
  right: 40%;
  margin-right: -220px; }
.poster_block_vaerelserne .poster_title, .poster_block_vaerelserne .poster_text {
  color: #000; }

.poster_link_vaerelserne {
  background: #C9CECF;
  color: #7A26A2; }
.poster_link_vaerelserne:hover {
  background: #d6dadb; }
.poster_link_vaerelserne:active {
  color: #ae57d7;
  background: #e4e7e7; }

/** Skoven **/
.poster_body_skoven {
  background-image: url("../gfx/skoven.jpg"); }

.poster_block_skoven {
  background: #cff1b4;
  background: rgba(207, 241, 180, 0.8);
  left: 20%;
  margin-right: -220px; }
.poster_block_skoven .poster_title, .poster_block_skoven .poster_text {
  color: #000; }

.poster_link_skoven {
  background: #C8DFAE;
  color: #4E5200; }
.poster_link_skoven:hover {
  background: #d4e6c0; }
.poster_link_skoven:active {
  color: #afb800;
  background: #e1edd3; }
