@charset "UTF-8";
/* line 3, ../sass/poster.scss */
.poster {
  height: 500px;
}

/* line 7, ../sass/poster.scss */
.poster_body {
  position: absolute;
  height: 500px;
  left: 0;
  right: 0;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 18, ../sass/poster.scss */
.poster_title {
  font-family: Georgia, "Book Antiqua", "Palatino", Times, serif;
  text-rendering: geometricPrecision;
  font-weight: normal;
  font-size: 48pt;
  margin: 0 0 10px;
  color: #fff;
}
/* line 26, ../sass/poster.scss */
.font_playfair .poster_title {
  font-family: "Playfair Display", Georgia, "Book Antiqua", "Palatino", Times, serif;
}

/* line 31, ../sass/poster.scss */
.poster_block {
  position: absolute;
  background: #061516;
  background: rgba(6, 21, 22, 0.8);
  color: #fff;
  width: 400px;
  bottom: 20px;
  left: 5%;
  text-align: center;
  padding: 20px;
  line-height: 1;
}

/* line 44, ../sass/poster.scss */
.poster_text {
  font-family: cursive;
  font-size: 28pt;
  margin: 0;
}

/* line 50, ../sass/poster.scss */
.font_annie .poster_text {
  font-family: 'Annie Use Your Telescope', cursive;
}

/* line 54, ../sass/poster.scss */
.poster_links {
  margin: 10px 0 0;
}

/* line 58, ../sass/poster.scss */
.poster_link {
  font-family: "Playfair Display", Georgia, "Book Antiqua", "Palatino", Times, serif;
  color: #00A3FF;
  text-decoration: none;
  font-size: 18pt;
  padding: 0 10px;
  display: inline-block;
  height: 34px;
  line-height: 32px;
  border-radius: 5px;
  background: #000;
}
/* line 70, ../sass/poster.scss */
.poster_link:hover {
  background: #333;
}
/* line 74, ../sass/poster.scss */
.poster_link:active {
  color: #5CC4FF;
  background: #444;
}
/* line 79, ../sass/poster.scss */
.poster_link:after {
  content: ' »';
}

/** Havestue **/
/* line 87, ../sass/poster.scss */
.poster_body_havestue {
  background-image: url("../gfx/havestue.jpg");
}

/** Området **/
/* line 94, ../sass/poster.scss */
.poster_body_omraadet {
  background-image: url("../gfx/omraadet.jpg");
}

/* line 98, ../sass/poster.scss */
.poster_block_omraadet {
  left: auto;
  right: 5%;
  background: #1a120c;
  background: rgba(26, 18, 12, 0.8);
}

/* line 105, ../sass/poster.scss */
.poster_link_omraadet {
  color: #E07133;
  background: #21221D;
}
/* line 109, ../sass/poster.scss */
.poster_link_omraadet:hover {
  background: #2e3029;
}
/* line 113, ../sass/poster.scss */
.poster_link_omraadet:active {
  color: #edaf8c;
  background: #3c3e34;
}

/** Haven **/
/* line 122, ../sass/poster.scss */
.poster_body_haven {
  background-image: url("../gfx/haven.jpg");
  background-position: 20% 50%;
}

/* line 127, ../sass/poster.scss */
.poster_block_haven {
  left: auto;
  right: 50%;
  bottom: 70px;
  margin-right: -220px;
}

/* line 134, ../sass/poster.scss */
.poster_link_haven {
  color: #C2FF00;
  background: #162A16;
}
/* line 139, ../sass/poster.scss */
.poster_link_haven:hover {
  background: #1f3b1f;
}
/* line 143, ../sass/poster.scss */
.poster_link_haven:active {
  background: #284b28;
  color: #F2FFC9;
}

/** Værelserne **/
/* line 151, ../sass/poster.scss */
.poster_body_vaerelserne {
  background-image: url("../gfx/vaerelserne.jpg");
}

/* line 155, ../sass/poster.scss */
.poster_block_vaerelserne {
  background: #dee5e7;
  background: rgba(222, 229, 231, 0.8);
  left: auto;
  right: 40%;
  margin-right: -220px;
}
/* line 162, ../sass/poster.scss */
.poster_block_vaerelserne .poster_title,
.poster_block_vaerelserne .poster_text {
  color: #000;
}

/* line 168, ../sass/poster.scss */
.poster_link_vaerelserne {
  background: #C9CECF;
  color: #7A26A2;
}
/* line 172, ../sass/poster.scss */
.poster_link_vaerelserne:hover {
  background: #d6dadb;
}
/* line 176, ../sass/poster.scss */
.poster_link_vaerelserne:active {
  color: #ae57d7;
  background: #e4e7e7;
}

/** Skoven **/
/* line 186, ../sass/poster.scss */
.poster_body_skoven {
  background-image: url("../gfx/skoven.jpg");
}

/* line 190, ../sass/poster.scss */
.poster_block_skoven {
  background: #cff1b4;
  background: rgba(207, 241, 180, 0.8);
  left: 20%;
  margin-right: -220px;
}
/* line 196, ../sass/poster.scss */
.poster_block_skoven .poster_title,
.poster_block_skoven .poster_text {
  color: #000;
}

/* line 202, ../sass/poster.scss */
.poster_link_skoven {
  background: #C8DFAE;
  color: #4E5200;
}
/* line 206, ../sass/poster.scss */
.poster_link_skoven:hover {
  background: #d4e6c0;
}
/* line 210, ../sass/poster.scss */
.poster_link_skoven:active {
  color: #afb800;
  background: #e1edd3;
}
