@import 'tools';

.poster {
	height: 500px;
}

.poster_body {
	position: absolute;
	height: 500px;
	left: 0;
	right: 0;
	background-size: cover;
	background-position: 50% 50%;
}

.poster_title {
	font-family: $serif-font;
	text-rendering: geometricPrecision;
	font-weight: normal;
	font-size: 48pt;
	margin: 0 0 10px;
	color: #fff;
}

.poster_block {
	position: absolute;
	background: rgba(6, 21, 22, 0.6);
	color: #fff;
	width: 400px;
	bottom: 20px;
	left: 5%;
	text-align: center;
	padding: 20px;
	line-height: 1;
}

.poster_text {
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 28pt;
	margin: 0;
}

.poster_links {
	margin: 10px 0 0;
}

.poster_link {
	font-family: $serif-font;
	color: #00A3FF;
	text-decoration: none;
	font-size: 18pt;
	padding: 0 10px;
	display: inline-block;
	height: 34px;
	line-height: 32px;
	border-radius: 5px;
	background: #000;
	
	&:hover {
		background: #333;		
	}
	
	&:active {
		color: #5CC4FF;	
		background: #444;	
	}
	
	&:after {
		content: ' »';
	}
}


/** Havestue **/

.poster_body_havestue {
	background-image: url('../gfx/havestue.jpg');
}


/** Området **/

.poster_body_omraadet {
	background-image: url('../gfx/omraadet.jpg');
}

.poster_block_omraadet {
	left: auto;
	right: 5%;
	background: rgba(26, 18, 12, 0.6);
}

.poster_link_omraadet {
	color: #E07133;
	background: #21221D;

	&:hover {
		background: lighten(#21221D,5%);
	}
	
	&:active {
		color: lighten(#E07133,20%);
		background: lighten(#21221D,10%);
	}
}


/** Haven **/

.poster_body_haven {
	background-image: url('../gfx/haven.jpg');
  background-position: 20% 50%;
}

.poster_block_haven {
	left: auto;
	right: 50%;
	bottom: 70px;
	margin-right: -220px;
}

.poster_link_haven {
	color: #C2FF00;
	background: #162A16;
	

	&:hover {
		background: lighten(#162A16,5%);
	}
	
	&:active {
		background: lighten(#162A16,10%);
	color: #F2FFC9;
	}
}

/** Værelserne **/

.poster_body_vaerelserne {
	background-image: url('../gfx/vaerelserne.jpg');
}

.poster_block_vaerelserne {
	background: rgba(222, 229, 231, 0.6);
	left: auto;
	right: 40%;
	margin-right: -220px;
	
	.poster_title,
	.poster_text {
		color: #000;
	}
}

.poster_link_vaerelserne {
	background: #C9CECF;
	color: #7A26A2;
	
	&:hover {
		background: lighten(#C9CECF,5%);
	}
	
	&:active {
		color: lighten(#7A26A2,20%);
		background: lighten(#C9CECF,10%);
	}
}



/** Skoven **/

.poster_body_skoven {
	background-image: url('../gfx/skoven.jpg');
}

.poster_block_skoven {
	background: rgba(207, 241, 180, 0.6);
	left: 20%;
	margin-right: -220px;
	
	.poster_title,
	.poster_text {
		color: #000;
	}
}

.poster_link_skoven {
	background: #C8DFAE;
	color: #4E5200;
	
	&:hover {
		background: lighten(#C8DFAE,5%);
	}
	
	&:active {
		color: lighten(#4E5200,20%);
		background: lighten(#C8DFAE,10%);
	}
}