span.hui_icon_1, span.hui_icon_16, a.hui_icon_16
{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

a.hui_icon_16:hover
{
	background-position: 0 -16px;
}

span.hui_icon_2, span.hui_icon_32, a.hui_icon_32
{
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

span.hui_icon_12, a.hui_icon_12
{
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}

span.hui_icon_24
{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

span.hui_icon_64
{
	display: inline-block;
	width: 64px;
	height: 64px;
	vertical-align: middle;
}

span.hui_icon_128
{
	display: inline-block;
	width: 128px;
	height: 128px;
	vertical-align: middle;
}

a.hui_icon_labeled
{
	display: inline-block;	
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

a.hui_icon_labeled strong
{
	display: block;
	color: #333;
	font-size: 12px;
	font-weight: normal;
	margin-top: 2px;
}

a.hui_icon_labeled_128 strong
{
	font-size: 18px;
}

a.hui_icon_labeled:hover span.hui_icon_64
{
	background-position: 0 -64px;
}

a.hui_icon_labeled:hover span.hui_icon_128
{
	background-position: 0 -128px;
}

div.hui_curtain
{
	width: 100%;
	background: #000;
	position: absolute;
	top: 0px;
	left: 0px;
}


.hui_imageviewer
{
	background: #fff;
	font: 10pt "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	text-align: left;
}

.hui_imageviewer_viewer
{
	width: 500px;
	height: 360px;
	overflow: hidden;
}

.hui_imageviewer_inner_viewer
{
	transform: translate3d(0,0,0);
}

.hui_imageviewer_status
{
	position: absolute;
	color: #666;
	margin-top: -21px;
	margin-left: 5px;
}

.hui_imageviewer_image
{
	float: left;
	background: url('../gfx/spinner.gif') center center no-repeat;
}

.hui_imageviewer_image_error, .hui_imageviewer_image_abort
{
	background: url('../gfx/sad_mac.png') center center no-repeat;
}

.hui_imageviewer_controller {
    height: 45px;
    width: 160px;
    position: absolute;
    margin-top: -70px;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 0 5px;
}

.hui_imageviewer_controller a
{
	float: left;
	width: 40px;
	height: 25px;
	margin: 10px 0px 0;
	background-image: url('../gfx/imageviewer_controls.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

.hui_imageviewer_previous
{
	background-position: 7px -75px;
}

.hui_imageviewer_next
{
	background-position: 7px -50px;
}

.hui_imageviewer_play
{
	background-position: 7px 0;
}

.hui_imageviewer_pause
{
	background-position: 7px -25px;
}

.hui_imageviewer_close
{
	background-position: 7px -100px;
}

.hui_imageviewer_text
{
	height: 20px;
	position: absolute;
	line-height: 20px;
	margin-left: 2px;
	margin-top: -22px;
	padding: 0 5px;
	background: #fff;
}

.hui_imageviewer_zoomer
{
	position: absolute;
	overflow: hidden;
	z-index: 100;
	cursor: crosshair;
	background: url('../gfx/spinner.gif') center center no-repeat;
}

textarea.hui_editor_header
{
	background: none;
	border: none;
	position: absolute;
	padding: 0px;
	display: block;
	outline: none;
}

textarea.hui_editor_html
{
	background: none;
	border: none;
	padding: 0px;
	display: block;
	width: 100%;
}

.hui_editor_part_active
{
	outline: 1px dashed #3875d7;
}

div.hui_overlay_icon:hover
{
	cursor: pointer;
	background-position: 0px -32px;
}

.hui_editor_part_hover
{
	/*background: url('../gfx/hover_bg.png');*/
	outline: 1px dashed rgba(0,0,0,.2);
}

.hui_editor_column_hover
{
	/*outline: 1px dashed #3875d7;*/
	outline: 1px dashed rgba(0,0,0,.2);
}

.hui_editor_column_edit
{
	outline: 2px dashed #3875d7 !important;
}

div.hui_editor_drop_placeholder
{
	position: relative;
	overflow: hidden;
	height: 0px;
}

div.hui_editor_drop_placeholder div
{
	height: 100%;
	border: 2px dashed #DDD;
	background: #F6F6F6;
	border-radius: 10px;
	box-sizing: border-box;
}

div.hui_editor_dragproxy
{
	text-align: left;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1001;
	-webkit-transform-origin: 0 0;
}

div.hui_editor_dropmarker
{
	position: absolute;
	height: 1px;
	background: #ABF;
	box-shadow: 0 0 4px 1px #abf;
	z-index: 1000;
}

div.hui_overlay
{
	display: none;
	position: absolute;
	height: 40px;
	background: url('../gfx/overlay_24.png') left top no-repeat;
	padding-left: 7px;
	font-size: 0;
}

div.hui_inner_overlay
{
	background: url('../gfx/overlay_24.png') right -40px no-repeat;
	padding-right: 7px;
	height: 40px;
	white-space: nowrap;
}

div.hui_inner_overlay div.hui_inner_overlay
{
	background: url('../gfx/overlay_24.png') left -80px repeat-x;
	padding: 0px;
}

div.hui_overlay_icon
{
	width: 32px;
	height: 32px;
	float: left;
	margin: 3px 1px 0px;
}

div.hui_overlay a.hui_button
{
	vertical-align: top;
	margin-top: 5px;
	margin-left: 2px;
}


div.hui_overlay a.hui_button, div.hui_overlay a.hui_button span
{
	background-image: url('../gfx/button_overlay.png');
	color: #fff;
}

div.hui_overlay a.hui_button_highlighted, div.hui_overlay a.hui_button_highlighted span
{
	background-image: url('../gfx/button_overlay_highlighted.png');
}

span.hui_overlay_text
{
	display: inline-block;
	line-height: 33px;
	vertical-align: top;
	height: 30px;
	padding: 0 10px;
	color: #fff;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 12px;
	margin-top: 2px;
	cursor: default;
}

/*** Light variant ***/

div.hui_overlay_light
{
	background: #fafafa;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 0 3px;
	height: 36px;
}

div.hui_overlay_light div.hui_inner_overlay
{
	background: none;
	padding: 0;
	height: 36px;
}

div.hui_overlay_light div.hui_overlay_icon
{
	margin-top: 2px;
}

/************************** Box *************************/

.hui_box
{
	margin: 0 auto;
	text-align: left;
}

.hui_box_close
{
	width: 29px;
	height: 31px;
	background: url('../gfx/box_close.png') left top no-repeat;
	position: absolute;
	margin: -10px 0 0 -10px;
	z-index: 200;
}

.hui_box_close:hover
{
	background-position: 0 -31px;
}

.hui_box_close:focus
{
	background-position: 0 -62px;
	outline: none;
}

.hui_box_close:focus:hover
{
	background-position: 0 -93px;
	outline: none;
}

.hui_box_absolute
{
	position: absolute;
	left: 50%;
	top: -10000px;
	margin-left: -1000px;
	visibility: hidden;
}

/****************************** Plain ****************************/

.hui_box_plain
{
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

.hui_box_close_plain
{
	margin: -15px 0 0 -15px;
}

/****************************** Standard ****************************/

.hui_box_top
{
	height: 5px;
	background: url('../gfx/box_shadow.png') left top no-repeat;
	padding-left: 18px;
}

.hui_box_top div
{
	height: 5px;
	background: url('../gfx/box_shadow.png') right -5px no-repeat;
	padding-right: 18px;
}

.hui_box_top div div
{
	background: url('../gfx/box_shadow.png') left -10px repeat-x;
	padding: 0px;
}

.hui_box_bottom
{
	height: 13px;
	background: url('../gfx/box_shadow.png') left -15px no-repeat;
	padding-left: 18px;
}

.hui_box_bottom div
{
	height: 13px;
	background: url('../gfx/box_shadow.png') right -28px no-repeat;
	padding-right: 18px;
}

.hui_box_bottom div div
{
	background: url('../gfx/box_shadow.png') left -41px repeat-x;
	padding: 0px;
}

.hui_box_middle
{
	background: url('../gfx/box_shadow.png') left -54px repeat-y;
	padding-left: 7px;
}

.hui_box_middle .hui_box_middle
{
	background: url('../gfx/box_shadow.png') right -54px repeat-y;
	padding: 0px 7px 0px 0px;
}

.hui_box_body
{
	padding: 0px;
	background: #fff;
}

.hui_box_textured .hui_box_body
{
	background: #f3f3f3;
	border: 1px solid #fff;
}

.hui_box_header
{
	height: 58px;
	background: url('../gfx/box_toolbar.png') left top repeat-x;
	border: 1px solid #b6c1d0;
	border-width: 0px 1px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

.hui_box_title
{
	float: left;
	height: 58px;
	line-height: 58px;
	font-size: 12pt;
	color: #44474c;
	font-weight: normal;
	padding: 0px 15px;
	text-shadow: rgba(255,255,255,.5) 0px 1px 0px;
}

.hui_box_header_toolbar .hui_box_title
{
	float: right;
}

.hui_box_header .hui_toolbar
{
	float: left;
}

.hui_box_header a.hui_toolbar_icon_selected
{
    background-color: rgba(119, 142, 169, 0.5);
}

/***************************** Rounded ************************/


.hui_box_rounded .hui_box_top,
.hui_box_rounded .hui_box_top div
{
	font-size: 0;
	background: url('../gfx/box_rounded.png') no-repeat;
	height: 7px;
	padding: 0;
}

.hui_box_rounded .hui_box_top div
{
	background-position: right -7px;
}

.hui_box_rounded .hui_box_top div div
{
	background-position: left -14px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

.hui_box_rounded .hui_box_bottom,
.hui_box_rounded .hui_box_bottom div
{
	font-size: 0;
	background: url('../gfx/box_rounded.png') left -21px no-repeat;
	height: 10px;
	padding: 0;
}

.hui_box_rounded .hui_box_bottom div
{
	background-position: right -31px;
	padding: 0;
}

.hui_box_rounded .hui_box_bottom div div
{
	background-position: left -41px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

.hui_box_rounded .hui_box_middle
{
	background: url('../gfx/box_rounded_middle.png') repeat-y;
	padding: 0;
}

.hui_box_rounded .hui_box_middle .hui_box_middle
{
	background: url('../gfx/box_rounded_middle.png') right repeat-y;
}

.hui_box_rounded .hui_box_body
{
	margin: 0 3px;
	background: #fff;
	padding: 1px 0;
	overflow: hidden;
}


div.hui_buttons
{
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
}

div.hui_buttons_right div.hui_buttons_body
{
	text-align: right;
}

div.hui_buttons_center div.hui_buttons_body
{
	text-align: center;
}

div.hui_buttons a.hui_button
{
	margin-right: 2px;
}

div.hui_buttons_right a.hui_button
{
	margin: 0px 0px 0px 2px;
}

div.hui_buttons_center a.hui_button
{
	margin: 0px 1px 0px 1px;
}


/**************** Standard button ************/

a.hui_button
{
	background: url('../gfx/button.png') top left no-repeat;
	color: #004a80;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
	text-decoration: none;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
}

a.hui_button span
{
	background-image: url('../gfx/button.png');	
	background-repeat: no-repeat;
	display: inline-block;
	background-position: right -56px;
	background-repeat: no-repeat;
	height: 28px;
}

a.hui_button span span
{
	background-position: 0px -28px;
	background-repeat: repeat-x;
	margin: 0px 5px;
	padding: 0px 5px;
}

em.hui_button_icon
{
	padding: 0px;
	margin: 6px 3px 0px -2px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: top;
}

em.hui_button_icon_notext
{
	margin: 6px -3px 0px -3px;
}

a.hui_button:hover em.hui_button_icon
{
	background-position: 0 -16px;
}

a.hui_button:hover
{
	background-position: 0px -84px;
}

a.hui_button:hover span
{
	background-position: 100% -140px;
}

a.hui_button:hover span span
{
	background-position: 0px -112px;
	background-repeat: repeat-x;
}

a.hui_button:active
{
	background-position: 0px -168px;
	outline: none;
}

a.hui_button:active span
{
	background-position: 100% -224px;
}

a.hui_button:active span span
{
	background-position: 0px -196px;
	background-repeat: repeat-x;
}

a.hui_button:focus
{
	background-position: 0px -252px;
	outline: none;
}

a.hui_button:focus span
{
	background-position: 100% -308px;
}

a.hui_button:focus span span
{
	background-position: 0px -280px;
	background-repeat: repeat-x;
}

a.hui_button:focus:hover
{
	background-position: 0px -336px;
	outline: none;
}

a.hui_button:focus:hover span
{
	background-position: 100% -392px;
}

a.hui_button:focus:hover span span
{
	background-position: 0px -364px;
	background-repeat: repeat-x;
}

a.hui_button:active:focus
{
	background-position: 0px -420px;
	outline: none;
}

a.hui_button:active:focus span
{
	background-position: 100% -476px;
}

a.hui_button:active:focus span span
{
	background-position: 0px -448px;
	background-repeat: repeat-x;
}

a.hui_button_highlighted, a.hui_button_highlighted span
{
	background-image: url('../gfx/button_highlighted.png');
	color: #152;
}

a.hui_button_disabled
{
	color: #666;
	opacity: .5;
	cursor: default;
}

a.hui_button_disabled:hover
{
	background-position: top left;
}

a.hui_button_disabled:hover span
{
	background-position: 100% -56px;
}

a.hui_button_disabled:hover span span
{
	background-position: 0px -28px;
}

a.hui_button_small
{
	height: 24px;
	background-image: url('../gfx/button_small.png');
	line-height: 0;
	font-size: 0;
}

a.hui_button_small span
{
	height: 24px;
	background-image: url('../gfx/button_small.png');
	background-position: right -24px;
}

a.hui_button_small span span
{
	background-position: left -48px;
	margin: 0 12px;
	padding: 0 3px;
	font-size: 12px;
	line-height: 23px;
	text-shadow: 0 1px 0 #FFFFFF;
}

a.hui_button_small:hover
{
	background-position: left -72px;
}

a.hui_button_small:hover span
{
	background-position: right -96px;
}

a.hui_button_small:hover span span
{
	background-position: left -120px;
}

a.hui_button_small:active
{
	background-position: left -144px;
}

a.hui_button_small:active span
{
	background-position: right -168px;
}

a.hui_button_small:active span span
{
	background-position: left -192px;
}


a.hui_button_small:focus
{
	background-position: left -216px;
}

a.hui_button_small:focus span
{
	background-position: right -240px;
}

a.hui_button_small:focus span span
{
	background-position: left -264px;
}

a.hui_button_small:focus:hover
{
	background-position: left -288px;
}

a.hui_button_small:focus:hover span
{
	background-position: right -312px;
}

a.hui_button_small:focus:hover span span
{
	background-position: left -336px;
}

a.hui_button_small:focus:active
{
	background-position: left -360px;
}

a.hui_button_small:focus:active span
{
	background-position: right -384px;
}

a.hui_button_small:focus:active span span
{
	background-position: left -408px;
}

a.hui_button_small_highlighted, a.hui_button_small_highlighted span
{
	background-image: url('../gfx/button_small_highlighted.png');
	color: #152;
}

a.hui_button_small em.hui_button_icon
{
	margin-left: -3px;
    margin-top: 4px;
}

a.hui_button_small em.hui_button_icon_notext
{
    margin-right: -4px;
    margin-left: -4px;
}

/*****************************************/
/*
a.hui_button_highlighted {
    -webkit-animation-name: hui_pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}



@-webkit-keyframes hui_pulse {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: .8;
	}
	100% {
	  opacity: 1;
	}
}*/

a.hui_button_light {
  margin: 2px;
}

a.hui_button_light, a.hui_button_light span
{
	background: none;
	height: 24px;
	line-height: 24px;
	font-family: Georgia,serif;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 13px;
}

a.hui_button_light, a.hui_button_light:focus
{
	border: 1px solid #ddd;
	border-radius: 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#fff), to(#f6f6f6));
	background: -moz-linear-gradient(top, #fff, #f6f6f6);
    filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f6f6f6);
	-webkit-background-clip: border-box;
	color: #333;
	/*-webkit-box-shadow: 0px 1px 3px #eee;*/
}

a.hui_button_light:hover
{
	border-color: #dadada;
    background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#fafafa), to(#eee));
	background: -moz-linear-gradient(top, #fafafa, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fafafa, endColorstr=#eeeeee);
}

a.hui_button_light:active
{
	border-color: #dadada;
  background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#eee), to(#fafafa));
	background: -moz-linear-gradient(top, #eee, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#eeeeee, endColorstr=#fafafa);
}

a.hui_button_light:focus
{
  border-color: rgb(0, 105, 255);
  box-shadow: 0 0 1px 1px rgba(1,105,255,0.6), inset 0 0 1px 1px rgba(1,105,255,0.6);
}



/** Icon **/

a.hui_button_light em.hui_button_icon
{
	margin-left: -6px;
    margin-right: 5px;
    margin-top: 5px;
}

a.hui_button_light em.hui_button_icon_notext
{
    margin-right: -5px;
}





/** Small light **/

a.hui_button_small_light, a.hui_button_small_light span
{
	height: 20px;
	line-height: 18px;
}

a.hui_button_small_light span span
{
	margin: 0;
	padding: 0 5px;
	font-size: 11px;
	line-height: 18px;
}





/** Mini light **/

a.hui_button_mini_light
{
	border-radius: 16px;
}

a.hui_button_mini_light, a.hui_button_mini_light span
{
	height: 16px;
	line-height: 16px;
	font-size: 0;
}

a.hui_button_mini_light span span
{
	margin: 0;
	padding: 0 10px;
	font-size: 10px;
	line-height: 16px;
}


/** Tiny light **/

a.hui_button_tiny_light
{
	border-radius: 14px;
}

a.hui_button_tiny_light, a.hui_button_tiny_light span
{
	height: 14px;
	line-height: 14px;
	font-size: 0;
}

a.hui_button_tiny_light span span
{
	margin: 0;
	padding: 0 8px;
	font-size: 10px;
	line-height: 14px;
}




.hui_context_dark a.hui_button,
.hui_context_dark a.hui_button span
{
	background-image: url('../gfx/button_overlay.png');
	color: #fff;
}

.hui_context_dark a.hui_button_highlighted, 
.hui_context_dark a.hui_button_highlighted span
{
	background-image: url('../gfx/button_overlay_highlighted.png');
}


/** Small bar **/

a.hui_button_bar
{
	border: 1px solid #ddd;
	border-radius: 3px;
	background: none;
	height: 26px;
	line-height: 26px;
	font-family: Georgia,serif;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 14px;
	border-color: #ccc #d7d7d7 #ccc;
    background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#fdfdfd), to(#e6e6e6));
	background: -moz-linear-gradient(top, #fafafa, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fafafa, endColorstr=#eeeeee);
}

a.hui_button_bar span
{
	background: none;
	color: #333;
}

a.hui_button_small_bar, a.hui_button_small_bar span
{
	height: 20px;
	line-height: 20px;
}

a.hui_button_small_bar span span
{
	margin: 0;
	padding: 0 7px;
	font-size: 11px;
	line-height: 17px;
	text-shadow: 0 1px 0 #fff;
}


form.hui_formula
{
	padding: 0px;
	margin: 0px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	text-align: left;
}

div.hui_formula_fieldset
{
	border: 1px solid #ddd;
	padding: 10px 10px 5px;
	margin-top: 4px;
	background: #fff;
}

strong.hui_formula_fieldset
{
	position: absolute;
	margin-top: -19px;
	background: #fff;
	font-size: 12px;
	padding: 0 4px;
	margin-left: -2px;
	color: #666;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.hui_window strong.hui_formula_fieldset
{
	background: #E7E7E7;
}

div.hui_window div.hui_formula_fieldset
{
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #DDDDDD inset;
}

.hui_formula_header
{
	color: #0077cd;
	font-size: 13pt;
	padding-bottom: 5px;
}

table.hui_formula_fields
{
	width: 100%;
	font-size: 0;
}

p.hui_formula_field_hint
{
	font-size: 9px;
	color: #999;
	margin: -5px 0 0 3px;
}

table.hui_formula_fields_above
{
	border-spacing: 0px;
}

form.hui_formula table.split
{
	border-spacing: 5px 0px;
}

td.hui_fields_buttons
{
	border-spacing: 0px;
}

label.hui_formula_field
{
	color: #004A80;
	font-size: 12px;
	font-weight: normal;
	line-height: 13px;
	display: inline-block;
	padding-left: 2px;
}


table.hui_formula_fields_above label.hui_formula_field
{
	line-height: 13px;
	display: inline-block;
	padding-left: 2px;
}

table.hui_formula_fields th label.hui_formula_field
{
	font-size: 9pt;
}

table.hui_formula_fields th
{
	width: 1%;
	vertical-align: top;
	padding: 5px 5px 0px 0px;
	text-align: right;
	white-space: nowrap;
}

table.hui_formula_fields th.hui_formula_middle
{
	vertical-align: middle;
	line-height: normal;
	padding-bottom: 5px;
	padding-top: 0;
}

table.hui_formula_fields_above th
{
	text-align: left;
}

table.hui_formula_fields_above div.hui_tokenfield
{
	margin-bottom: 2px;
}

form.hui_formula div.hui_field
{
	font-size: 0;
}

form.hui_formula select
{
	font-size: 9pt;
	margin: 0;
	width: 100%;
}

.hui_formula_text
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: -1px;
	font-size: 9pt;
	width: 100%;
	background: transparent;
	font-family: Verdana,sans-serif;
	outline: none;
}

div.hui_textarea_dummy
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 9pt;
	line-height:16px;
	position: absolute;
	visibility: hidden;
	left: -10000px;
	top: -10000px;
	word-wrap: break-word;
	padding: 1px 0px;
}

input.hui_formula_text
{
	height: 18px;
}

span.hui_formula_text_multiline
{
	display: block;
	font-size: 0;
}

textarea.hui_formula_text
{
	text-indent: 0;
	line-height: 16px;
	padding: 0px;
	margin: 0;
	padding: 1px 0px;
	resize: none;
	overflow-x: hidden;
}

textarea.hui_formula_text::-webkit-scrollbar
{  
	height: 14px;
	width: 14px;
}  
  
textarea.hui_formula_text::-webkit-scrollbar-thumb
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), to(rgb(240, 240, 240)));  
    border-radius: 7px;
	border: 1px solid #ddd;
}

td.hui_formula_field
{
	padding: 0;
}

div.hui_formula_field_body
{
	padding-bottom: 5px;
	font-size: 0;
	line-height: 0;
}

div.hui_formula_field_compact div.hui_formula_field_body
{
	padding: 0;
}

/*************************************** Field **********************************/

span.hui_field
{
	display: inline-block;
	vertical-align: middle;
}


span.hui_field_top, span.hui_field_top span
{
	display: block;
	font-size: 0;
	background: url('../gfx/field.png') left -5px no-repeat;
	height: 5px;
}

span.hui_field_top span
{
	background-position: 100% -10px;
}

span.hui_field_top span span
{
	background-position: 0 0;
	background-repeat: repeat;
	margin: 0 5px;
}

span.hui_field_bottom, span.hui_field_bottom span
{
	display: block;
	font-size: 0;
	background: url('../gfx/field.png') 0 -20px no-repeat;
	height: 5px;
}

span.hui_field_bottom span
{
	background-position: 100% -25px;
	background-repeat: no-repeat;
}

span.hui_field_bottom span span
{
	background-position: 0 -15px;
	background-repeat: repeat-x;
	margin: 0 5px;
}

span.hui_field_middle
{
	display: block;
	background: url('../gfx/field.png') 0 -30px no-repeat;
}

span.hui_field_middle span.hui_field_middle
{
	display: block;
	background: url('../gfx/field.png') 100% -427px no-repeat;
}

span.hui_field_content
{
	display: block;
	margin: 0 5px;
	background: #fff;
}

.hui_field_focused span.hui_field_top
{
	background-position: 0 -832px;
}

.hui_field_focused span.hui_field_top span
{
	background-position: 100% -837px;
}

.hui_field_focused span.hui_field_top span span
{
	background-position: 100% -827px;
}

.hui_field_focused span.hui_field_bottom
{
	background-position: 0 -847px;
}

.hui_field_focused span.hui_field_bottom span
{
	background-position: 100% -852px;
}

.hui_field_focused span.hui_field_bottom span span
{
	background-position: 100% -842px;
}

.hui_field_focused span.hui_field_middle
{
	background-position: 0 -857px;
}

.hui_field_focused span.hui_field_middle span.hui_field_middle
{
	background-position: 100% -1254px;
}

span.hui_field_singleline
{
	background: none;
	height: 16px;
	font-size: 0;
	display: block;
}

em.hui_field_placeholder
{
	position: absolute;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	color: #999;
	font-style: normal;
	font-size: 12px;
	margin-left: 7px;
	margin-top: 5px;
}

.hui_field_focused em.hui_field_placeholder, .hui_field_dirty em.hui_field_placeholder
{
	display: none;
}

/************************************** Buttons *********************************/

form.hui_formula div.hui_buttons_body
{
	float: right;
}

.hui_formula .hui_button
{
	margin-left: 2px;
	margin-right: 0px;
}

.hui_formula .hui_button_light
{
	margin-left: 4px;
	margin-right: 2px;
}

/******************************* Object list **************************/

table.hui_objectlist
{
	margin-top: 1px;
	width: 100%;
}

table.hui_objectlist th
{
	text-align: left;
	font-size: 11px;
	line-height: 13px;
	color: #004A80;
	font-weight: normal;
	padding-left: 4px;
}

table.hui_objectlist th.hui_objectlist1
{
	padding-left: 2px;
}

.hui_objectlist tbody input.text
{
	border-color: #ccc #ddd #eee #ddd;
	width: 100%;
}
.hui_objectlist tbody td
{
	padding: 0px 0px 0px 2px;
	vertical-align: top;
}

.hui_objectlist tbody td.first
{
	padding-left: 0px;
}

a.hui_datetime
{
	position: absolute;
	margin-left: -17px;
	margin-top: -1px;
	font-size: 0;
	cursor: pointer;
	padding: 2px;
}

a.hui_datetime span,
body .hui_context_dark a.hui_datetime span
{
	background: url('../icons/input/datetime14.png') no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
}

a.hui_datetime:hover span,
body .hui_context_dark a.hui_datetime:hover span
{
	background-position: 0 -14px;
}

/************************* Override for windows *******************/



div.hui_window label.hui_formula_field
{
	background: rgb(231,231,231);
}

div.hui_formula_fieldset label.hui_formula_field,
div.hui_window_news label.hui_formula_field
{
	background: none;
}

div.hui_window_light label.hui_formula_field
{
	color: #004A80;
	background: none;
}


body .hui_context_dark label.hui_formula_field, 
.hui_context_dark .hui_checkbox, 
.hui_context_dark span.hui_radiobutton_label, 
.hui_context_dark th.hui_objectlist
{
	color: #fff;
	background: none;
}

.hui_context_dark .hui_formula_text
{
	color: #fff;
}

.hui_context_dark div.hui_field span
{
	background-image: url('../gfx/field_dark.png');
}

.hui_context_dark div.hui_field span.hui_field_singleline, 
.hui_context_dark div.hui_field span.hui_formula_text_multiline
{
	background: none;
}

.hui_context_dark div.hui_field span.hui_field_content
{
	background: #222222;
}

.hui_context_dark div.hui_field span.hui_field_singleline
{
	background: none;
}

.hui_context_dark a.hui_checkbox
{
	color: #fff;
}


div.hui_message
{
	position: absolute;
	top: 40%;
	left: 50%;
	height: 40px;
	background: url('../gfx/overlay_24.png') left top no-repeat;
	padding-left: 7px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	line-height: 38px;
	font-size: 14px;
	color: #fff;
}

div.hui_message div
{
	background: url('../gfx/overlay_24.png') right -40px no-repeat;
	padding-right: 7px;
	height: 40px;
}

div.hui_message div div
{
	background: url('../gfx/overlay_24.png') left -80px repeat-x;
	padding: 0px 10px;
}

span.hui_message_busy
{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../gfx/progress/spinner_grey_24.gif');
	vertical-align: middle;
	margin-left: -5px;
	margin-top: -4px;
	margin-right: 5px;
}

div.hui_message span.hui_icon
{
	margin-left: -5px;
	margin-top: -4px;
	margin-right: 4px;
}

span.hui_searchfield
{
	display: inline-block;
	height: 25px;
	background: url('../gfx/search_field.png') left top no-repeat;
	text-align: left;
	position: relative;
	cursor: text;
	width: 100px;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
}

span.hui_searchfield span
{
	display: block;
	height: 25px;
	background: url('../gfx/search_field.png') right -25px no-repeat;
}

span.hui_searchfield span span
{
	height: 25px;
	background-position: right -50px;
	background-repeat: repeat-x;
	margin: 0 13px 0 21px;
	padding: 0 7px 0 2px;
}

span.hui_searchfield input
{
	border: none;
	background: none;
	font-size: 12px;
	height: 16px;
	margin: 5px 0 0;
	padding: 0;
	width: 100%;
	outline: none;
}

a.hui_searchfield_reset
{
	position: absolute;
	right: 6px;
	top: 6px;
	width: 13px;
	height: 13px;
	display: none;
	font-size: 0;
	background: url('../gfx/search_field.png') left -300px;
    cursor: pointer;
}

a.hui_searchfield_reset:hover
{
	background-position: 0 -313px;
}

span.hui_searchfield_dirty a, span.hui_searchfield_focus_dirty a
{
	display: block;
}

em.hui_searchfield_placeholder
{
	position: absolute;
	font-style: normal;
	color: #999;
	font-size: 11px;
	line-height: 17px;
	left: 25px;
	height: 17px;
	top: 4px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

span.hui_searchfield_dirty em,span.hui_searchfield_focus em, span.hui_searchfield_focus_dirty em
{
	display: none;
}

span.hui_searchfield_adaptive
{
	width: 100%;
	min-width: 30px;
}

/*** Focus ***/

span.hui_searchfield_focus
{
	background-position: 0 -75px;
}

span.hui_searchfield_focus span
{
	background-position: right -100px;
}

span.hui_searchfield_focus span span
{
	background-position: 0 -125px;
}



span.hui_searchfield_dirty
{
	background-position: 0 -150px;
}

span.hui_searchfield_dirty span
{
	background-position: right -175px;
}

span.hui_searchfield_dirty span span
{
	background-position: 0 -200px;
}



span.hui_searchfield_focus_dirty
{
	background-position: 0 -225px;
}

span.hui_searchfield_focus_dirty span
{
	background-position: right -250px;
}

span.hui_searchfield_focus_dirty span span
{
	background-position: 0 -275px;
}

a.hui_checkbox
{
	overflow: hidden;
	font-size: 10pt;
	line-height: 20px;
	cursor: pointer;
	color: #004A80;
	display: inline-block;
	outline: none;
	text-decoration: none;
	vertical-align: middle;
}

a.hui_checkbox span
{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 2px;
}

a.hui_checkbox span span
{
	background: url('../gfx/checkbox.png') no-repeat;
	margin: 0;
}

a.hui_checkbox:hover span span
{
	background-position: 0 -20px;
}

a.hui_checkbox:active span span
{
	background-position: 0 -40px;
}

a.hui_checkbox_focused
{
	text-shadow: #3366ff 0px 0px 2px;
	color: #002244;
}

a.hui_checkbox_focused span
{
	background: url('../gfx/checkbox.png') 0 -120px no-repeat;
}

a.hui_checkbox_selected span span
{
	background-position: 0px -60px;
}

a.hui_checkbox_selected:hover span span
{
	background-position: 0px -80px;
}

a.hui_checkbox_selected:active span span
{
	background-position: 0px -100px;
}

div.hui_checkboxes
{
	margin-bottom: 5px;
	font-size: 0;
}

div.hui_checkboxes a.hui_checkbox
{
	margin-right: 10px;
}

div.hui_checkboxes_vertical a.hui_checkbox
{
	display: block;
	padding: 1px 5px 0px 0px;
}

