.calendar
{
	font-family: Tahoma,Verdana,sans-serif;
}

.calendar .navigation
{
	text-align: center;
	font-size: 10pt;
	border: 1px solid #ddd;
	background: #eee;
	padding: 3px 8px 5px 8px;
	border-bottom: none;
	height: 20px;
}
.calendar .navigation .jumps
{
	float: right;
}
.calendar .navigation .views
{
	float: left;
	padding-left: 0px;
}

/****************************** Week view ****************************/

.weekview .navigation
{
	width: 550px;
	_width: 561px;
	margin-left: 35px;
}
.calendar .weekview table
{
	border: 1px solid #ccc;
	border-width: 0px 1px 0px 0px;
	width: 603px;
	_width: 596px;
	border-collapse: collapse;
}

.calendar .weekview table th
{
	border: 1px solid #ccc;
	border-width: 1px 0px 0px 1px;
	font: 11px Tahoma,Verdana,sans-serif;
	height: 20px;
	background-color: #eee;
	text-align: center;
}
.calendar .weekview table th.selected
{
	background-color: #dde;
}
.calendar .weekview table th a
{
	color: #333;
}
.calendar .weekview table th a:hover
{
	color: #3366FF;
}

.calendar .weekview table tbody td.day
{
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 500px;
	padding: 0px;
	background: url('../gfx/calendar_week_bg.gif') left 1px;
	vertical-align: top;
	width: 80px;
}

.calendar .weekview table tbody td.selected
{
	background-color: #eef;
}

.calendar .weekview table tbody td.time
{
	background: none;
	border: none;
	width: 35px;
	vertical-align: top;
}

.calendar .weekview table tbody td.time div
{
	position: absolute;
	font: 9px Verdana;
	color: #666;
}

.calendar .weekview table td .event .title
{
	background: #35f;
	color: #fff;
	font-weight: bold;
}
.calendar .weekview table td .event .body
{
	padding: 1px;
}

.calendar .weekview table td .event:hover
{
	opacity: 1;
	z-index: 1000;
	min-height: 100px;
}

.calendar .weekview table td .event:hover .calendar_title
{
	color: #fff;
}

.calendar_arrow
{
	position: absolute;
	background: url('../gfx/calendar_arrow_down.png') center center no-repeat;
	_background: url('../gfx/calendar_arrow_down.gif') center center no-repeat;
	width: 78px;
	height: 20px;
}


.calendar .weekview .event
{
	background: #46f;
	border: 1px solid #35f;
	opacity: .7;
	margin-left: 1px;
	margin-right: 1px;
	width: 76px;
	_width: 78px;
	position: absolute;
	font: 9px Verdana;
	color: #fff;
	overflow: hidden;
}

.calendar .weekview .event .calendar_title
{
	color: #abd;
}

.calendar .weekview .event1-2
{
	width: 65px;
}

.calendar .weekview .event2-2
{
	margin-left: 12px;
	width: 65px;
}


.calendar .weekview .event1-3
{
	width: 62px;
}

.calendar .weekview .event2-3
{
	margin-left: 7px;
	width: 62px;
}

.calendar .weekview .event3-3
{
	margin-left: 15px;
	width: 62px;
}


.calendar .weekview .event1-4
{
	width: 60px;
}

.calendar .weekview .event2-4
{
	margin-left: 6px;
	width: 60px;
}

.calendar .weekview .event3-4
{
	margin-left: 12px;
	width: 60px;
}

.calendar .weekview .event4-4
{
	margin-left: 17px;
	width: 60px;
}


.calendar .weekview .event1-5
{
	width: 55px;
}

.calendar .weekview .event2-5
{
	margin-left: 6px;
	width: 55px;
}

.calendar .weekview .event3-5
{
	margin-left: 11px;
	width: 55px;
}

.calendar .weekview .event4-5
{
	margin-left: 17px;
	width: 55px;
}

.calendar .weekview .event5-5
{
	margin-left: 22px;
	width: 55px;
}


.calendar .weekview .event1-6
{
	width: 55px;
}

.calendar .weekview .event2-6
{
	margin-left: 4px;
	width: 55px;
}

.calendar .weekview .event3-6
{
	margin-left: 8px;
	width: 55px;
}

.calendar .weekview .event4-6
{
	margin-left: 14px;
	width: 55px;
}

.calendar .weekview .event5-6
{
	margin-left: 18px;
	width: 55px;
}

.calendar .weekview .event6-6
{
	margin-left: 22px;
	width: 55px;
}

/****************************** List view ****************************/

.calendar .listview table
{
	width: 100%;
	font-size: 9pt;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

.calendar .listview caption
{
	background: #eee;
	border: 1px solid #ddd;
	font-weight: bold;
	font-size: 13px;
	text-align: left;
	padding: 2px 8px;
}

.calendar .listview td, .calendar .listview th
{
	border-bottom: 1px solid #ddd;
	vertical-align: top;
	font-weight: normal;
	text-align: left;
	padding: 2px 3px 4px 10px;
}

.calendar .listview th a
{
	color: #333;
}
.calendar .listview th a:hover
{
	color: #3366FF;
}
.calendar .listview td .time
{
	color: #777;
}
.calendar .listview td .from
{
	color: #333;
}





.calendar .listview tr.today td, .calendar .listview tr.today th
{
	font-weight: bold;
}

.calendar .listview tr.selected
{
	background: #eee;
}

.calendar .listview .collision
{
	color: #900;
}

.calendar .listview .calendar_title
{
	color: #999;
}

p.calendar_nodata
{
	text-align: center;
	font-size: 13pt;
	font-style: italic;
	color: #999;
}

/****************************** Month view ****************************/


.calendar .monthview table
{
	border: 1px solid #ccc;
	border-width: 0px 1px 1px 0px;
	width: 100%;
}

.calendar .monthview table th
{
	border: 1px solid #ccc;
	border-width: 1px 0px 0px 1px;
	font: 10pt Tahoma,Verdana,sans-serif;
	height: 20px;
	color: #666;
	background-color: #eee;
	padding-left: 3px;
}


.calendar .monthview table td.day
{
	border: 1px solid #ccc;
	border-width: 1px 0px 0px 1px;
	height: 80px;
	vertical-align: top;
	font-size: 9pt;
	padding: 1px 2px;
	width: 14%;
}

.calendar .monthview table td.selected
{
	background-color: #eef;
}

.calendar .monthview table td .monthday
{
	float: right;
	color: #aaa;
}
.calendar .monthview table td a.monthday:hover
{
	color: #3366FF;
}

.calendar .monthview .event
{
	font-size: 9px;
	margin-top: 2px;
}
.calendar .monthview .event .time
{
	color: #999;
}

.calendar .monthview .collision
{
	color: #900;
}

.calendar .monthview .calendar_title
{
	color: #999;
}