.document_row_container {
  margin: -10px;  
}

.document_row
{
	border-collapse: separate;
	border-spacing: 10px;
	width: 100%;
	display: table;
}

.document_row_body
{
	display: table-row;
}

.document_column
{
	display: table-cell;
	vertical-align: top;
}

.document_column_first
{
	padding-left: 0px;
}