h1.DocumentHeader {margin: 0px; margin-bottom: 20px; color: lightgrey; font-family: Tahoma,Verdana;}
h2.DocumentHeader {margin: 0px; color: lightgrey; font-family: Tahoma,Verdana;}
h3.DocumentHeader {margin: 0px; color: lightgrey; font-family: Tahoma,Verdana;}
h4.DocumentHeader {margin: 0px; color: lightgrey; font-family: Tahoma,Verdana;}
h5.DocumentHeader {margin: 0px; color: lightgrey; font-family: Tahoma,Verdana;}
h6.DocumentHeader {margin: 0px; color: lightgrey; font-family: Tahoma,Verdana;}

div.DocumentText{font-family: Tahoma,Verdana; font-size: 10pt; margin: 0px;}

ul.DocumentList {margin-top: 0px; margin-bottom: 0px; font-family: Tahoma,Verdana; font-size: 10pt;}
ol.DocumentList {margin-top: 0px; margin-bottom: 0px; font-family: Tahoma,Verdana; font-size: 10pt;}
li.DocumentList {margin-bottom: 10px;}
span.DocumentList {font-weight: bold}