div.guestbook form
{
	margin: 0;
	display: none;
}

div.guestbook label
{
	display: block;
	font-size: 10pt;
	margin-top: 5px;
}

div.guestbook input.text
{
	width: 300px;
}

div.guestbook textarea
{
	width: 300px;
}

div.guestbook a
{
	font-size: 10pt;
}

div.guestbook_list
{
	border-top: 1px solid #eee;
	margin-top: 10px;
}

div.guestbook_item
{
	border-bottom: 1px solid #eee;
	font-size: 10pt;
}

div.guestbook_item p
{
	margin: 5px 0;
}

span.guestbook_time
{
	color: #999;
	font-size: 10px;
}