.part_header
{
	margin: 0;
}

.part_header-1
{
	font-size: 20pt;
	line-height: 1.2em;
}

.part_header-2
{
	font-size: 15pt;
	line-height: 1.133333333em;
}

.part_header-3
{
	font-size: 13pt;
	line-height: 1.076923077em;
}

.part_header-4
{
	font-size: 12pt;
	line-height: 1.166666667em;
}

.part_header-5
{
	font-size: 11.5pt;
	line-height: 1.043478261em;
}

.part_header-6
{
	font-size: 11pt;
	line-height: 1,090909091em;
}

.part_section_header-1
{
	padding-bottom: 20px;
}

.part_section_header-2
{
	padding-top: 10px;
	padding-bottom: 5px;
}

.part_section_header-3
{
	padding-top: 10px;
}

.part_section_header-4
{
	padding-top: 10px;
}

.part_section_header-5
{
	padding-top: 10px;
}

.part_section_header-6
{
	padding-top: 10px;
}