.part_section_listing
{
	padding: 10px 0px;
}

div.part_listing, textarea.part_listing
{
	font-size: 8pt;
	color: #333;
}

div.part_listing ul
{
	margin: 0px;
	color: #abc;
	padding-left: 25px;
}

div.part_listing span.part_listing_first
{
	font-size: 9pt;
	font-weight: bold;
}

span.part_listing
{
	color: #333;
}

div.part_listing li
{
	margin-bottom: 5px;
}