.part_section_listing
{
	padding: 10px 0px;
  word-break: break-word;
}

.part_listing_list
{
	margin: 0px;
	padding-left: 25px;
}

.part_listing_list-decimal
{
  list-style-type: decimal;
}

.part_listing_list-disc
{
  list-style-type: disc;
}

.part_listing_list-square
{
  list-style-type: square;
}

.part_listing_list-circle
{
  list-style-type: circle;
}

.part_listing_list-loweralpha
{
  list-style-type: lower-alpha;
}

.part_listing_list-upperalpha
{
  list-style-type: upper-alpha;
}

.part_listing_list-lowerroman
{
  list-style-type: lower-roman;
}

.part_listing_list-upperroman
{
  list-style-type: upper-roman;
}

.part_listing_first
{
	font-weight: bold;
}

.part_listing_item
{
	margin-bottom: 5px;
}