.part_image
{
	font-size: 0;
}

.part_image_container
{
	display: inline-block;
	position: relative;
	width: 100%;
}

.part_image_image
{
	border-width: 0;
}

.part_image_adaptive {
	position: absolute;
	width: 100%;
	height: auto;	
}

div.part_image p, div.part_image textarea
{
	margin: 0px;
	font-size: 8pt;
	color: #999;
}

