div.part_file
{
	overflow: hidden;
}

div.part_file div
{
	background: url('../../basic/gfx/file_bg.png') top left repeat-x;
	height: 55px;
	float: left;
	clear: both;
	margin-bottom: 10px;
}

div.part_file div div
{
	background: url('../../basic/gfx/file_left.png') top left no-repeat;
	height: 55px;
}

div.part_file div div div
{
	background: url('../../basic/gfx/file_right.png') top right no-repeat;
	height: 55px;
	padding-right: 20px;
}

div.part_file p
{
	margin: 0px;
	padding-left: 60px;
}

div.part_file p.part_file_title
{
	margin-top: 10px;
	font-size: 10pt;
}

div.part_file p.part_file_info
{
	font-size: 10px;
	color: #888;
	padding-top: 2px;
}

div.part_file a
{
	color: #ccc;
}

div.part_file a span
{
	color: #004EFF;
}

div.part_file a:hover, div.part_file a:hover span
{
	color: #0033AA;
}