.part_formula_form
{
	margin: 0;
	display: block;
}

div.part_formula p
{
	margin: 0;
}

.part_formula_label
{
	margin: 0;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
}

.part_formula_required
{
	color: #f06;
	font-size: 21px;
	font-family: Georgia,'Times New Roman';
	position: absolute;
	margin: 4px 0 0 3px;
	font-weight: normal;
}

.part_formula_field
{
	margin-bottom: 5px;
}

.part_formula_hint
{
	margin: -1px 0 0;
	font-size: 9px;
	color: #999;
}

.part_formula_field_content
{
	font-size: 0;
}

.part_formula_fieldset
{
	margin-bottom: 10px;
}

.part_formula_fieldset_legend
{
	font-size: 12px;
	margin-bottom: 5px;
    font-weight: bold;
}

.part_formula_input, 
.part_formula_input
{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #eee;
	border-color: #ccc #ddd #eee;
	font-size: 11px;
	padding: 1px 0;
	margin: 0;
}

.part_formula_input_lines
{
	height: 100px;
}

.part_formula_columns
{
	border-spacing: 0;
	width: 100%;
}

.part_formula_column
{
    vertical-align: top;
	padding: 0 0 0 10px;
}

.part_formula_column_first
{
	padding: 0;
}