.part_section_text
{
	padding-bottom: 10px;
}

.part_text
{
	font-size: 9pt;
	line-height: 1.4em;
	color: #333;
  word-break: break-word;
}

.part_text_image
{
	overflow: hidden;
}

.part_text p
{
	margin: 10px 0px 0px;
}

p.part_text_first
{
	margin: 0;
}

.part_text_image_right
{
	float: right;
	margin: 0px 0px 10px 10px;
}

.part_text_image_left
{
	float: left;
	margin: 0px 10px 10px 0px;
}