.part_menu_header {
    margin: 0;
}

.part_menu_level {
    list-style: none;
    margin: 0;
    padding: 0;
}

.part_menu_level_sub {
    padding-left: 20px;
}

.part_menu-bar .part_menu_item {
	display: inline-block;
}