.part_image
{
	font-size: 0;
}

.part_image-center {
	text-align: center;
}

.part_image-right {
	text-align: right;
}

.part_image_image
{
	border-width: 0;
}

.part_image_adaptive_container {
  display: block;
}

.part_image_adaptive_container-center {
	margin: 0 auto;
}

.part_image_adaptive_container-right {
	margin: 0 0 0 auto;
}

.part_image_adaptive_inner
{
	display: inline-block;
	position: relative;
	width: 100%;
}

.part_image_adaptive {
	position: absolute;
	width: 100%;
	height: auto;
  left: 0;
}

.part_image_text
{
	margin: 0px;
	font-size: 8pt;
	color: #999;
}

