div.part_imagegallery
{
	overflow: hidden;
}

div.part_imagegallery a
{
	float: left;
	margin: 0px 10px 10px 0px;
	text-decoration: none;
}

div.part_imagegallery_framed a
{
	float: left;
	margin: 0px 10px 10px 0px;
	border: 1px solid #DDDDDD;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #eee;
	padding: 4px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	position: relative;
}

div.part_imagegallery span
{
	background: #fff;
	background: rgba(255,255,255,.5);
	position: absolute;
	color: #333333;
	font-size: 10px;
	padding: 1px 2px;
	position: absolute;
	line-height: 12px;
}

div.part_imagegallery img
{
	border: 0px;
}