.part_authentication {
	position: relative;
}

.part_authentication_busy:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,.5);
}

.part_authentication_label {
	display: block;
}