span.part_map
{
	font-size: 0;
}

span.part_map_static
{
	position: relative;
	display: inline-block;
}

span.part_map_static_effect
{
	position: absolute; width: 100%; height: 100%;
	background-size: 33.33333% 33.33333%;
	background: -webkit-linear-gradient(330deg,transparent 50%,rgba(0,0,0,0.15) 100%), -webkit-linear-gradient(300deg,rgba(255,255,255,.4) 0%,rgba(255,255,255,0) 50%);
}

a.part_map_static_pin
{
	background: url('../../basic/gfx/part_map_pin.png');
	position: absolute;
	width: 29px;
	height: 30px;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
}

span.part_map_static_content
{
	display: inline-block;
	overflow: hidden;
}

span.part_map_static_text
{
	position: absolute;
	white-space: pre;
	font-size: 12px;
	left: 0;
	top: 0;
	background: #fff;
	padding: 4px 7px;
	border: 1px solid #eee;
}

/** Interactive */

span.part_map_interactive
{
	display: inline-block;
}

div.part_map_bubble
{
	font-size: 12px;
	white-space: pre;
}