div.part_mailinglist_box
{
	border: 1px solid #eee;
	border-radius: 5px;
	background: #fafafa;
	padding: 10px;
}

div.part_mailinglist form
{
	margin: 0px;
}

div.part_mailinglist_subscribe
{
	margin-bottom: 10px;
}

div.part_mailinglist h2
{
	color:#000000;
	font-weight:normal;
	margin:0;
	font-size: 12pt;
}

div.part_mailinglist p.success, div.part_mailinglist p.error
{
	color: #605140;
	font-size: 10pt;
	overflow: hidden;
	padding: 5px 0;
	text-align: left;
}

div.part_mailinglist p.error
{
	color: #f00;
}

div.part_mailinglist p
{
	margin: 5px 0px 0px;
}

div.part_mailinglist label
{
	display: block;
	font-size: 9pt;
	color: #666;
}

div.part_mailinglist p.buttons
{
	text-align: right;
	padding-bottom: 3px;
}


div.part_mailinglist input.text
{
	background: none;
	font-size: 10pt;
	border: 1px solid #ddd;
	width: 100%;
	text-indent: 2px;
	padding: 2px 0px;
}