div.part_poster
{
	overflow: hidden;
	position: relative;
}

p.part_poster_title
{
	margin: 0;
	font-size: 14pt;
	font-weight: bold;
}

p.part_poster_text
{
	font-size: 12px;
	margin: 5px 0 5px;
}

p.part_poster_link
{
	font-size: 12px;
	margin: 5px 0 5px;
}

div.part_poster_navigator
{
	position: absolute;
	font-size: 0;
	width: 100%;
	text-align: center;
	margin-top: -15px;
}

div.part_poster_navigator a
{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #eee;
	margin-right: 3px;
}

div.part_poster_navigator a.part_poster_current
{
	background: #aaa;
}

div.part_poster_pages
{
	overflow: hidden;
}

div.part_poster_page_content
{
	padding: 10px;
	overflow: hidden;
}

div.part_poster_page img
{
	float: right;
	margin-left: 20px;
}


/*** Light frame **/

div.part_poster_light
{
	border: 1px solid #ddd;
	border-radius: 4px;	
}

/*** inset **/

div.part_poster_inset
{
	background: #FAFAFA;
	box-shadow: inset 0 1px 7px rgba(0, 0, 0, .07);	
	border-radius: 4px;
	padding: 5px;
}
