.part_header
{
	margin: 0;
}

h1.part_header, textarea.part_header_1
{
	font-size: 20pt;
	line-height: 1.2em;
}

h2.part_header, textarea.part_header_2
{
	font-size: 15pt;
	line-height: 1.133333333em;
}

h3.part_header, textarea.part_header_3
{
	font-size: 13pt;
	line-height: 1.076923077em;
}

h4.part_header, textarea.part_header_4
{
	font-size: 12pt;
	line-height: 1.166666667em;
}

h5.part_header, textarea.part_header_5
{
	font-size: 11.5pt;
	line-height: 1.043478261em;
}

h6.part_header, textarea.part_header_6
{
	font-size: 11pt;
	line-height: 1,090909091em;
}

.part_section_header_1
{
	padding-bottom: 20px;
}

.part_section_header_2
{
	padding-top: 10px;
	padding-bottom: 5px;
}

.part_section_header_3
{
	padding-top: 10px;
}

.part_section_header_4
{
	padding-top: 10px;
}

.part_section_header_5
{
	padding-top: 10px;
}

.part_section_header_6
{
	padding-top: 10px;
}