.part_news_box_top
{
	background: url('../../basic/gfx/box.png') left top repeat-x;
	height: 5px;
	font-size: 0px;
}

.part_news_box_top div
{
	background: url('../../basic/gfx/box.png') left -5px no-repeat;
	height: 5px;
	font-size: 0px;
}

.part_news_box_top div div
{
	background: url('../../basic/gfx/box.png') right -10px no-repeat;
}

.part_news_box_bottom
{
	background: url('../../basic/gfx/box.png') left -15px repeat-x;
	height: 5px;
	font-size: 0px;
}

.part_news_box_bottom div
{
	background: url('../../basic/gfx/box.png') left -20px no-repeat;
	height: 5px;
	font-size: 0px;
}

.part_news_box_bottom div div
{
	background: url('../../basic/gfx/box.png') right -25px no-repeat;
}

.part_news_box_middle
{
	border: 1px solid #e1e1e1;
	border-width: 0px 1px;
	padding: 0px 8px;
}

.part_news_title
{
	font-size: 12pt;
	color: #738fa5;
	padding-bottom: 3px;
}

.part_news_item
{
	font-size: 9pt;
	line-height: 13pt;
	border-top: 1px solid #eee;
	padding: 6px 0px;
	overflow: hidden;
}

.part_news_item_title
{
	color: #122f3f;
}

.part_news_item_description
{
	color: #7894a5;
}

.part_news_item_date
{
	float: left;
	font-size: 10px;
	color: #aaa;
}

.part_news_item_links
{
	color: #7894a5;
	text-align: right;
}

.part_news_item_links a
{
	margin-left: 2px;
}