.part_section_text
{
	padding-bottom: 10px;
}

div.part_text, textarea.part_text
{
	font-size: 9pt;
	line-height: 1.4em;
	color: #333;
}

div.part_text p
{
	margin: 10px 0px 0px;
}

div.part_text p.part_text_first
{
	margin: 0;
}