div.part_list_box
{
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	padding: 0 7px;
}

div.part_list_item
{
	padding: 5px 0;
	border-top: 1px solid #ddd;
}

div.part_list h2
{
	margin: 0;
	font-size: 12pt;
	font-weight: normal;
	padding-bottom: 3px;
}

div.part_list h3
{
	margin: 0;
	font-size: 13px;
	color: #333;
	padding-bottom: 3px;
}

p.part_list_text
{
	margin: 0px 0px 5px;
	font-size: 12px;
	color: #666;
}

p.part_list_nodata
{
	margin: 0;
	padding: 5px 0;
	font-size: 12px;
	color: #999;
	font-style: italic;
}

p.part_list_source
{
	margin: 0;
	font-size: 12px;
	color: #666;
}

p.part_list_date
{
	margin: 0;
	font-size: 11px;
	color: #999;
}


div.part_list_busy
{
	opacity: 0.5;
}