h1.Search {
	margin: 0px 0px 10px 0px;
	color: lightgrey;
	font-family: Tahoma,Verdana;
	}

p.Search {
	font-family: Tahoma,Verdana;
	font-size: 10pt;
	margin: 0px 0px 10px 0px;
	}

#SearchBox {
	background-color: #F8F8F8;
	border: solid 1px #DEDEDE;
	padding: 5px;
}
fieldset.SearchTypes {
	display: inline;
	border: solid 1px #DEDEDE;
	width: 120px;
	padding: 4px;
	margin-left: 10px;
	float: right;
}
div.SearchMethod {
	font-size: 10px;
	font-family: Tahoma,Verdana;
}
legend.SearchTypes {
	font-size: 10px;
	font-family: Tahoma,Verdana;
}
span.SearchTypes {
	font-size: 10px;
	font-family: Tahoma,Verdana;
}
input.SearchField {
	font-size: 12px;
	font-family: Tahoma,Verdana;
	border: solid 1px #bbb;
	padding: 3px;
	width: 200px;
}
input.SearchButton {
	font-size: 12px;
	font-family: Tahoma,Verdana;
	border: solid 1px #bbb;
	padding: 2px;
	margin-left: 3px;
}
form.Search {
	margin: 0px;
}
div.SearchResultBox {
	border: solid 1px #eee;
	padding: 3px 3px 0px 3px;
	margin-top: 20px;
}

div.SearchResult {
	border: solid 1px #eee;
	padding: 1px 1px 0px 1px;
	margin-bottom: 3px;
	margin-top: 3px;
}

div.SearchResultHeader {
	text-align: center;
	background-color: #eee;
	padding: 2px;
	font-family: Tahoma,Verdana;
	color: #aaa;
	font-size: 10px;
	}
div.SearchResultTitle {
	text-align: left;
	background-color: #f6f6f6;
	padding: 2px;
	font-family: Tahoma,Verdana;
	color: #000;
	font-size: 12px;
	height: 14px;
	}
div.SearchResultSummary {
	text-align: left;
	background-color: #fefefe;
	padding: 2px;
	font-family: Tahoma,Verdana;
	color: #555;
	font-size: 10px;
	padding-left: 20px;
	}
div.SearchResultDescription {
	text-align: left;
	background-color: #fefefe;
	padding: 2px;
	font-family: Tahoma,Verdana;
	font-size: 11px;
	}
a.SearchResultTitle {
	float: left;
	}
span.SearchResultProps {
	color: #666;
	font-family: Tahoma,Verdana;
	font-size: 9px;
	float: right;
	}
td.SearchResultPreview {
	padding: 3px;
}
strong.SearchHighlight {
	color: red;
	}