.search_header
{
	margin-bottom: 10px;
}

div.search form
{
	margin: 0;
	padding: 5px 0;
}

div.search form input.text
{
	width: 200px;
}

div.search form input.submit
{
	margin-left: 5px;
}

div.search_method
{
	padding-top: 3px;
	margin-left: 5px;
}

div.search_method label
{
	font-size: 9pt;
	vertical-align: middle;
	margin: 0px 10px 0px 0px;
}

div.search_method input
{
	vertical-align: middle;
	margin: 0px 3px 0px 0px;
}


div.search_types
{
	padding: 5px;
	font-size: 9pt;
	margin-top: 5px;
}

div.search_types input
{
	vertical-align: middle;
	margin: 0px 3px 0px 0px;
}

div.search_types label
{
	vertical-align: middle;
	margin-right: 10px;
}

/*********************** Group *********************/

div.search_result_group
{
	margin-top: 15px;
}

div.search_result_group h2
{
	font-size: 10pt;
	color: #333;
	margin: 0px 0px 0px 5px;
	padding-bottom: 5px;
}

p.search_result_count
{
	float: right;
	margin: -20px 5px 0px 0px;
	font-size: 9pt;
	color: #666;
}

div.search_result_group ol
{
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #eee;
}

/*********************** Items *********************/

li.search_result_item
{
	border-bottom: 1px solid #eee;
	padding: 5px 5px;
	overflow: hidden;
}

li.search_result_item h3
{
	font-size: 10pt;
	margin: 0px;
}

p.search_result_description
{
	font-size: 9pt;
	font-style: italic;
}

p.search_result_summary
{
	font-size: 9pt;
	margin: 5px 0px 0px;
}

p.search_result_note
{
	color: #666;
	font-size: 9pt;
	margin: 5px 0px 0px 20px;
	font-style: italic;
}

em.search_result_highlight
{
	background: #ff0;
	padding: 0px 3px;
	font-style: normal;
	-moz-border-radius: 2px;
}

p.search_result_metadata
{
	color: #666;
	margin: 0px;
	font-size: 9pt;
}

li.search_result_item img
{
	float: left;
	margin-right: 10px;
}

div.search_result_links
{
	margin-top: 5px;
	font-size: 9pt;
}