.shared_frame_adaptive
{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.shared_frame_light
{
	padding: 4px;
	border: 1px solid #DDDDDD;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #eee;
	background: #fff;
	display: inline-block;
}


/************************* Elegant ***************************/

.shared_frame_elegant
{
	display: inline-block;
}

.shared_frame_elegant_top
{
	display: block;
	height: 34px;
	padding-left: 34px;
	background: url('../../basic/gfx/frames/elegant.png') left top no-repeat;
}

.shared_frame_elegant_top_inner
{
	display: block;
	height: 34px;
	padding-right: 34px;
	background: url('../../basic/gfx/frames/elegant.png') right -34px no-repeat;
}

.shared_frame_elegant_top_innermost
{
	display: block;
	height: 34px;
	background: url('../../basic/gfx/frames/elegant.png') left -68px repeat-x;
}

.shared_frame_elegant_bottom
{
	display: block;
	height: 34px;
	padding-left: 34px;
	background: url('../../basic/gfx/frames/elegant.png') left -102px no-repeat;
}

.shared_frame_elegant_bottom_inner
{
	display: block;
	height: 34px;
	padding-right: 34px;
	background: url('../../basic/gfx/frames/elegant.png') right -136px no-repeat;
}

.shared_frame_elegant_bottom_innermost
{
	display: block;
	height: 34px;
	background: url('../../basic/gfx/frames/elegant.png') left -170px repeat-x;
}


.shared_frame_elegant_middle
{
	padding-left: 34px;
	background: url('../../basic/gfx/frames/elegant.png') left -204px no-repeat;
	font-size: 0px;
	display: block;
}

.shared_frame_elegant_middle_inner
{
	padding-left: 0;
	padding-right: 34px;
	background: url('../../basic/gfx/frames/elegant.png') right -1204px no-repeat;
	display: block;
}

.shared_frame_elegant_content
{
	display: block;
}




.shared_frame_shadow_slant_top
{
	display: block;
	height: 4px;
	padding-left: 5px;
	background: url('../../basic/gfx/frames/shadow.png') left top no-repeat;
}

.shared_frame_shadow_slant_top_inner
{
	display: block;
	height: 4px;
	padding-right: 5px;
	background: url('../../basic/gfx/frames/shadow.png') right -4px no-repeat;
}

.shared_frame_shadow_slant_top_innermost
{
	display: block;
	height: 4px;
	background: url('../../basic/gfx/frames/shadow.png') left -8px repeat-x;
}

.shared_frame_shadow_slant
{
	display: inline-block;
}

html.msie7 .shared_frame_shadow_slant
{
	display: block;
}

.shared_frame_shadow_slant_middle
{
	padding-left: 5px;
	background: url('../../basic/gfx/frames/shadow.png') 0% -32px;
	display: block;
}

.shared_frame_shadow_slant_middle_inner
{
	background: url('../../basic/gfx/frames/shadow.png') 100% -32px;
	padding-right: 5px;
	padding-left: 0;
	display: block;
}

.shared_frame_shadow_slant_content
{
	padding: 4px;
	display: block;
	background: #fff;
}

.shared_frame_shadow_slant_bottom
{
	display: block;
	position: relative;
	height: 10px;
	text-align: left; /* IE7 */
}

.shared_frame_shadow_slant_bottom_inner
{
	background: url('../../basic/gfx/frames/shadow.png') 0% -12px;
	width: 50%;
	display: block;
	height: 10px;
}

.shared_frame_shadow_slant_bottom_innermost
{
	position: absolute;
	background: #fff url('../../basic/gfx/frames/shadow.png') 100% -22px;
	width: 50%;
	display: block;
	height: 10px;
	padding-left: 1px;
	right: 0;
}

.shared_frame_polaroid
{
    background: url('../../basic/gfx/backgrounds/lightpaperfibers.png');
    display: inline-block;
    padding: 10px 10px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2); 
}

.shared_frame_polaroid_content
{
    display: inline-block;
    font-size: 0;
    position: relative;
    background: #fafafa;
}

.shared_frame_polaroid_content:before
{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: inset 0 0 3px rgba(0,0,0,.5);
}