body
{
	/*background: url('../gfx/blueprint_white.png');*/
	font-family: 'Helvetica Neue','Lucida Grande','Molengo', arial, serif;
	font-size: 12px;
}

div.layout
{
	min-width: 800px;
	max-width: 1000px;
	margin: 0 auto;
}

div.layout_top
{
	height: 60px;
}

div.layout_middle
{
	padding: 10px 0;
	overflow: hidden;
	position: relative;
}

div.layout_left
{
	float: left;
	width: 20%;
}

div.layout_center
{
	float: left;
	width: 60%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	padding: 0 20px;
	height: 100%;
}

div.layout_right
{
	float: left;
	width: 20%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 10px;
}

/************************ Navigaiton *********************/

div.layout_navigation
{
	background: #f9f9f9;
	border: 1px solid #eee;
	border-width: 1px 0;
}

div.layout_navigation ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

div.layout_navigation li
{
	display: inline-block;
}

div.layout_navigation a
{
	display: inline-block;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	text-decoration: none;
	color: #333;
}

div.layout_navigation li.selected a
{
	background: #eee;
}

/*************************** News ************************/

div.layout_news ul
{
	margin: 0;
	list-style: none;
	padding: 0;
}

div.layout_news h2
{
	margin: 0;
	border-bottom: 1px dashed #9af;
	padding: 5px;
}

div.layout_news li
{
	border-bottom: 1px dashed #9af;
	padding: 5px;
}

div.layout_news li:hover p
{
	max-height: 100px;
}

div.layout_news h3
{
	font-size: 12px;
	line-height: 14px;
	margin: 0;
	color: #333;
}

div.layout_news p
{
	overflow: hidden;
	margin: 0;
	font-size: 11px;
	line-height: 14px;
	-webkit-transition: max-height .5s ease-in-out;
	-moz-transition: max-height .5s ease-in-out;
	max-height: 42px;
	color: #666;
}