body
{
	background: url('../gfx/background.png');
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,Verdana,sans-serif;
}

div.layout
{
	width: 980px;
	margin: 0 auto;
	padding-top: 20px;
}

div.layout_top
{
	background: url('../gfx/header.png');
	height: 100px;
}

div.layout_bottom
{
	text-align: center;
	background: url('../gfx/footer.png');
	color: #fff;
	height: 33px;
	line-height: 33px;
	font-size: 12px;
	margin: 15px 0;
}

div.layout_front
{
	background: url('../gfx/front.jpg');
	height: 221px;
	margin: 3px 0;
}

/****************** Laguages ******************/

span.layout_languages
{
	position: absolute;
	right: 5px;
	top: 5px;
}

a.layout_language_en
{
	background: url('../../basic/gfx/flags/gb.gif') no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
}

a.layout_language_da
{
	background: url('../../basic/gfx/flags/dk.gif') no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
}

span.layout_languages span
{
	display: none;
}

/***************** Navigation *****************/

div.layout_navigation
{
	position: relative;
	height: 35px;
	background: url('../gfx/navigation.png');
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
}

ul.layout_navigation
{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 35px;
	font-size: 0;
}

ul.layout_navigation li
{
	height: 35px;
	float: left;
	line-height: 35px;
}

ul.layout_navigation a
{
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}

/********************** Content ******************/

div.layout_content
{
	margin: 0 230px;
}

div.layout_content_top
{
	background: url('../gfx/content.png');
	height: 20px;
}

div.layout_content_bottom
{
	background: url('../gfx/content.png') -520px top;
	height: 20px;
}

div.layout_content_middle
{
	background: url('../gfx/content.png') -1040px top repeat-y;
	padding: 0 20px;
}

div.layout_left
{
	float: left;
	width: 215px;
}

div.layout_right
{
	float: right;
	width: 215px;
}

/************************ Menu **********************/

div.layout_menu
{
	margin-bottom: 20px;
}

div.layout_menu_middle
{
	padding: 5px 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: url('../gfx/boxes.png') -430px top repeat-y;
}

div.layout_menu_top
{
	height: 10px;
	background: url('../gfx/boxes.png') left top no-repeat;
}

div.layout_menu_bottom
{
	height: 10px;
	background: url('../gfx/boxes.png') -215px top no-repeat;
}

div.layout_menu p
{
	margin: 0 0 5px;
	font-size: 22px;
	border-bottom: 2px solid #a14693;
	line-height: 30px;
	font-weight: normal;
	color: #fff;
}

div.layout_menu ul
{
	margin: 0;
	list-style: none;
	padding: 0;
}

div.layout_menu ul a
{
	color: #fff;
	text-decoration: none;
	line-height: 30px;
	font-size: 14px;
}

div.layout_menu ul a.selected
{
	color: #451a3e;
	font-weight: bold;
}

/************************ Box **********************/

div.layout_box
{
	margin-bottom: 20px;
}

div.layout_box_middle
{
	padding: 5px 20px;
	color: #fff;
	background: url('../gfx/boxes.png') -1075px top repeat-y;
}

div.layout_box_top
{
	height: 10px;
	background: url('../gfx/boxes.png') -645px top no-repeat;
}

div.layout_box_bottom
{
	height: 10px;
	background: url('../gfx/boxes.png') -860px top no-repeat;
}

div.layout_box blockquote
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 10px 0;
	font-style: italic;
	font-size: 13px;
}

div.layout_contact p
{
	margin: 0;
	font-size: 12px;
	line-height: 18px;
}

div.layout_contact strong
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
}