body
{
	margin: 0;
	padding: 0 20px;
}

div.layout
{
	width: 1000px;
	margin: 0 auto;
}

div.layout_content
{
	padding: 15px;
	margin-left: 260px;
	min-height: 300px;
	overflow: hidden;
	width: 710px;
}

div.layout_header
{
	height: 157px;
	background: #fff url('../gfx/header.jpg') center top no-repeat;
}

/**************************** Sidebar ************************/

div.layout_sidebar
{
	float: left;
	width: 230px;
	padding-top: 15px;
	padding-left: 10px;
}


/****************************** Menu **************************/

div.layout_menu
{
	background: url('../gfx/menu.jpg');
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
}

div.layout_menu ul
{
	margin: 0;
	padding: 0 0 0 20px;
	list-style-type: disc;	
	color: #666;
}

div.layout_menu ul ul
{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 5px;
}

div.layout_menu ul ul ul
{
	padding-left: 20px;
}

div.layout_sidebar li
{
}

div.layout_sidebar li a
{
	border-bottom: 1px dotted #eee;
	text-decoration: none;
	color: #000;
	font-size: 13pt;
	line-height: 28px;
	display: block;
}

div.layout_sidebar a.selected
{
	font-weight: bold;
	color: #1980AF;
}

div.layout_sidebar a.highlighted
{
	font-weight: bold;
}

div.layout_sidebar li a:hover
{
	text-decoration: underline;
}

div.layout_sidebar ul ul a
{
	font-size: 11pt;
	line-height: 16px;
	padding: 2px 0;
}

/********** Box **************/

div.layout_box
{
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 10px 15px;
	margin-top: 20px;
	color: #333;
}

div.layout_box h3
{
	margin: 0 0 10px;
	font-weight: normal;
	font-size: 24px;
}

div.layout_box p
{
	margin: 0;
	font-size: 10pt;
	line-height: 15pt;
}

div.layout_address
{
	font-style: italic;
}

div.layout_box a
{
	color: #666;
}

/************* Designed ***********/

div.layout_footer
{
	clear: both;
	border-top: 1px solid #ddd;
}

p.layout_designed
{
	text-align: center;
	margin: 0;
	padding: 40px 0;
}

p.layout_designed a
{
	display: inline-block;
	background: url('../gfx/in2isoft.png');
	width: 149px;
	height: 47px;
}

p.layout_designed span
{
	display: none;
}