html
{
	height: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
}

div.editor_body
{
	padding: 8px;
}

form {
	margin: 0px;
}

img.Minicon {
	margin: 1px;
}

td.colButtonCell {
	width: 10px;
	height: 10px;
}

td.column {
	border: 1px solid #eee;
	vertical-align: top;
}

td.columnSelected {
	border: 1px solid #33e;
	vertical-align: top;
}

td.columnDesign {
	border: 1px solid #ccc;
	vertical-align: top;
}

td.columnHover
{
	border: 1px solid #abf;
}

div.section_selected
{
	border: 1px solid #33e;
}

div.section
{
	border: 1px solid transparent;
}

div.section_hover
{
	border: dashed 1px #abf;
}

div.row {
	margin-bottom: 1px;
}


.Disabled {
	opacity: 0.5;
}

div.editor_part_highlighted
{
	border: 1px solid #CDF;
	box-shadow: 0 0 5px #ABF, inset 0 0 5px #ABF;
	border-radius: 4px;
}

body.editor_details span.editor_link_bound
{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: -12px;
	margin-top: 2px;
	position: absolute;
	background: url('../../../hui/icons/monochrome/lock12.png');
}