.in2igui_imageviewer
{
	background: #fff;
	font: 10pt "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	text-align: left;
}

.in2igui_imageviewer_viewer
{
	width: 500px;
	height: 360px;
	overflow: hidden;
}

.in2igui_imageviewer_inner_viewer
{
}

.in2igui_imageviewer_status
{
	position: absolute;
	color: #666;
	margin-top: -21px;
	margin-left: 5px;
}

.in2igui_imageviewer_image
{
	float: left;
	background: url('../gfx/spinner.gif') center center no-repeat;
}

.in2igui_imageviewer_image_error, .in2igui_imageviewer_image_abort
{
	background: url('../gfx/sad_mac.png') center center no-repeat;
}

div.in2igui_imageviewer_controller
{
	height: 50px;
	width: 180px;
	position: absolute;
	margin-top: -70px;
	background: url('../gfx/overlay.png') left top no-repeat;
}

div.in2igui_imageviewer_controller div
{
	height: 50px;
	background: url('../gfx/overlay.png') right -50px no-repeat;
}

div.in2igui_imageviewer_controller div div
{
	background: url('../gfx/overlay.png') left -100px repeat-x;
	margin: 0 10px;
}

div.in2igui_imageviewer_controller a
{
	float: left;
	width: 40px;
	height: 25px;
	margin: 10px 0px 0;
	background-image: url('../gfx/imageviewer_controls.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

.in2igui_imageviewer_previous
{
	background-position: 7px -75px;
}

.in2igui_imageviewer_next
{
	background-position: 7px -50px;
}

.in2igui_imageviewer_play
{
	background-position: 7px 0;
}

.in2igui_imageviewer_pause
{
	background-position: 7px -25px;
}

.in2igui_imageviewer_close
{
	background-position: 7px -100px;
}

div.in2igui_imageviewer_text
{
	height: 20px;
	position: absolute;
	line-height: 20px;
	margin-left: 2px;
	margin-top: -22px;
	padding: 0 5px;
	background: #fff;
}

div.in2igui_imageviewer_zoomer
{
	position: absolute;
	overflow: hidden;
	z-index: 100;
	cursor: crosshair;
	background: url('../gfx/spinner.gif') center center no-repeat;
}textarea.in2igui_editor_header
{
	background: none;
	border: none;
	position: absolute;
	padding: 0px;
	display: block;
	outline: none;
}

textarea.in2igui_editor_html
{
	background: none;
	border: none;
	padding: 0px;
	display: block;
	width: 100%;
}

div.in2igui_editor_dragproxy
{
	position: absolute;
	top: 0px;
	left: 0px;
}

.in2igui_editor_part_active
{
	outline: 1px dashed #3875d7;
}

div.in2igui_overlay_icon:hover
{
	cursor: pointer;
	background-position: 0px -32px;
}

.in2igui_editor_part_hover
{
	background: url('../gfx/hover_bg.png');
}

.in2igui_editor_column_hover
{
	border: 1px dashed #3875d7;
}

.in2igui_editor_column_edit
{
	outline: 2px dashed #3875d7 !important;
}div.in2igui_overlay
{
	display: none;
	position: absolute;
	height: 40px;
	background: url('../gfx/overlay_24.png') left top no-repeat;
	padding-left: 7px;
	font-size: 0;
}

div.in2igui_inner_overlay
{
	background: url('../gfx/overlay_24.png') right -40px no-repeat;
	padding-right: 7px;
	height: 40px;
	white-space: nowrap;
}

div.in2igui_inner_overlay div.in2igui_inner_overlay
{
	background: url('../gfx/overlay_24.png') left -80px repeat-x;
	padding: 0px;
}

div.in2igui_overlay_icon
{
	width: 32px;
	height: 32px;
	float: left;
	margin: 3px 1px 0px;
}

div.in2igui_overlay a.in2igui_button
{
	margin-top: 4px;
}
/*
div.in2igui_overlay a.in2igui_button
{
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}

div.in2igui_overlay a.in2igui_button:hover
{
    -webkit-transform: scale(1.2);
}*/

span.in2igui_overlay_text
{
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	height: 30px;
	padding: 0 10px;
	color: #fff;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 12px;
	margin-top: 2px;
	cursor: default;
}/************************** Box *************************/

div.in2igui_box
{
	margin: 0 auto;
	text-align: left;
}

a.in2igui_box_close
{
	width: 30px;
	height: 30px;
	background: url('../gfx/box_close.png') left top no-repeat;
	position: absolute;
	margin: -10px 0 0 -10px;
	z-index: 200;
}

div.in2igui_box_absolute
{
	position: absolute;
	left: 50%;
	top: -10000px;
	margin-left: -1000px;
	visibility: hidden;
}

div.in2igui_box_top
{
	height: 5px;
	background: url('../gfx/box_shadow.png') left top no-repeat;
	padding-left: 18px;
}

div.in2igui_box_top div
{
	height: 5px;
	background: url('../gfx/box_shadow.png') right -5px no-repeat;
	padding-right: 18px;
}

div.in2igui_box_top div div
{
	background: url('../gfx/box_shadow.png') left -10px repeat-x;
	padding: 0px;
}

div.in2igui_box_bottom
{
	height: 13px;
	background: url('../gfx/box_shadow.png') left -15px no-repeat;
	padding-left: 18px;
}

div.in2igui_box_bottom div
{
	height: 13px;
	background: url('../gfx/box_shadow.png') right -28px no-repeat;
	padding-right: 18px;
}

div.in2igui_box_bottom div div
{
	background: url('../gfx/box_shadow.png') left -41px repeat-x;
	padding: 0px;
}

div.in2igui_box_middle
{
	background: url('../gfx/box_shadow.png') left -54px repeat-y;
	padding-left: 7px;
}

div.in2igui_box_middle div.in2igui_box_middle
{
	background: url('../gfx/box_shadow.png') right -54px repeat-y;
	padding: 0px 7px 0px 0px;
}

div.in2igui_box_body
{
	padding: 0px;
	background: #fff;
}

div.in2igui_box_textured div.in2igui_box_body
{
	background: #f3f3f3;
	border: 1px solid #fff;
}

div.in2igui_box_header
{
	height: 58px;
	background: url('../gfx/box_toolbar.png') left top repeat-x;
	border: 1px solid #b6c1d0;
	border-width: 0px 1px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

strong.in2igui_box_title
{
	float: left;
	height: 58px;
	line-height: 58px;
	font-size: 12pt;
	color: #44474c;
	font-weight: normal;
	padding: 0px 15px;
	text-shadow: rgba(255,255,255,.5) 0px 1px 0px;
}

div.in2igui_box_header_toolbar strong.in2igui_box_title
{
	float: right;
}

div.in2igui_box_header div.in2igui_toolbar
{
	float: left;
}

div.in2igui_box_header div.in2igui_toolbar_icon_selected
{
	background: url('../gfx/box_toolbar.png') left -174px repeat-x;
}

div.in2igui_box_header div.in2igui_toolbar_icon_selected div.in2igui_toolbar_inner_icon
{
	background: url('../gfx/box_toolbar.png') left -58px no-repeat;
}

div.in2igui_box_header div.in2igui_toolbar_icon_selected div.in2igui_toolbar_inner_icon div.in2igui_toolbar_inner_icon
{
	background: url('../gfx/box_toolbar.png') right -116px no-repeat;
}

/***************************** Rounded ************************/


div.in2igui_box_rounded div.in2igui_box_top, div.in2igui_box_rounded div.in2igui_box_top div
{
	font-size: 0;
	background: url('../gfx/box_rounded.png') no-repeat;
	height: 7px;
	padding: 0;
}

div.in2igui_box_rounded div.in2igui_box_top div
{
	background-position: right -7px;
}

div.in2igui_box_rounded div.in2igui_box_top div div
{
	background-position: left -14px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

div.in2igui_box_rounded div.in2igui_box_bottom, div.in2igui_box_rounded div.in2igui_box_bottom div
{
	font-size: 0;
	background: url('../gfx/box_rounded.png') left -21px no-repeat;
	height: 10px;
	padding: 0;
}

div.in2igui_box_rounded div.in2igui_box_bottom div
{
	background-position: right -31px;
	padding: 0;
}

div.in2igui_box_rounded div.in2igui_box_bottom div div
{
	background-position: left -41px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

div.in2igui_box_rounded div.in2igui_box_middle
{
	background: url('../gfx/box_rounded_middle.png') repeat-y;
	padding: 0;
}

div.in2igui_box_rounded div.in2igui_box_middle div.in2igui_box_middle
{
	background: url('../gfx/box_rounded_middle.png') right repeat-y;
}

div.in2igui_box_rounded div.in2igui_box_body
{
	margin: 0 3px;
	background: #fff;
	padding: 1px 0;
	overflow: hidden;
}span.in2igui_searchfield
{
	display: inline-block;
	height: 25px;
	background: url('../gfx/search_field.png') left top no-repeat;
	text-align: left;
	position: relative;
	cursor: text;
	width: 100px;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
}

span.in2igui_searchfield span
{
	display: block;
	height: 25px;
	background: url('../gfx/search_field.png') right -25px no-repeat;
}

span.in2igui_searchfield span span
{
	height: 25px;
	background-position: right -50px;
	background-repeat: repeat-x;
	margin: 0 13px 0 21px;
	padding: 0 7px 0 2px;
}

span.in2igui_searchfield input
{
	border: none;
	background: none;
	font-size: 12px;
	height: 16px;
	margin: 5px 0 0;
	padding: 0;
	width: 100%;
	outline: none;
}

a.in2igui_searchfield_reset
{
	position: absolute;
	right: 6px;
	top: 6px;
	width: 13px;
	height: 13px;
	display: none;
	font-size: 0;
	background: url('../gfx/search_field.png') left -300px;
}

a.in2igui_searchfield_reset:hover
{
	background-position: 0 -313px;
}

span.in2igui_searchfield_dirty a, span.in2igui_searchfield_focus_dirty a
{
	display: block;
}

em.in2igui_searchfield_placeholder
{
	position: absolute;
	font-style: normal;
	color: #999;
	font-size: 11px;
	line-height: 17px;
	left: 25px;
	height: 17px;
	top: 4px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

span.in2igui_searchfield_dirty em,span.in2igui_searchfield_focus em, span.in2igui_searchfield_focus_dirty em
{
	display: none;
}

span.in2igui_searchfield_adaptive
{
	width: 100%;
}

/*** Focus ***/

span.in2igui_searchfield_focus
{
	background-position: 0 -75px;
}

span.in2igui_searchfield_focus span
{
	background-position: right -100px;
}

span.in2igui_searchfield_focus span span
{
	background-position: 0 -125px;
}



span.in2igui_searchfield_dirty
{
	background-position: 0 -150px;
}

span.in2igui_searchfield_dirty span
{
	background-position: right -175px;
}

span.in2igui_searchfield_dirty span span
{
	background-position: 0 -200px;
}



span.in2igui_searchfield_focus_dirty
{
	background-position: 0 -225px;
}

span.in2igui_searchfield_focus_dirty span
{
	background-position: right -250px;
}

span.in2igui_searchfield_focus_dirty span span
{
	background-position: 0 -275px;
}