@import '../../basic/scss/mixins';

$serif-font: 'Lora', Georgia, "Book Antiqua", "Palatino", Times, serif;
$serif-font-fallback: Georgia, "Book Antiqua", "Palatino", Times, serif;

$link-color: #ff3400;