$target: msie_lt9;

@import 'tools';

@import 'parts/all';


.layout {
  margin-top: -20px;
  min-width: 1000px;  
}

.poster_body {
  min-width: 1000px;  
}

.layout_content {
  padding-top: 20px;
}

.document {
  overflow: hidden;
}

.quote_text {
  padding-left: 180px;
}