@import url("part_news.css");
@import url("part_person.css");
@import url("part_richtext.css");
@import url("part_horizontalrule.css");
@import url("part_listing.css");

td.FrontPageCell {
	/*border: solid 1px #eee;*/
}

div.FrontPageCellTitle {
	border-bottom: solid 1px #99CC33;
	font-size: 13pt;
	color: #0079D6;
	font-family: Tahoma,Verdana,sans-serif;
	padding: 2px;
}

td.FrontPageCellBox {
	border: solid 1px #eee;
	background-color: #f7f7f7;
	padding: 1px 2px 2px 2px;
}

div.FrontPageCellBoxTitle {
	border-top: solid 2px #fbfbfb;
	border-bottom: solid 1px #f3f3f3;
	font-size: 13pt;
	color: #0079D6;
	font-family: Tahoma,Verdana,sans-serif;
	padding: 3px 3px 4px 4px;
	text-align: left;
}

div.FrontPageSection {
	padding: 2px 2px 0 3px;
}


/************ Text-Part **************/

div.FrontPageSection div.PartText {
	font-size: 10pt;
	font-family: Tahoma,Verdana,sans-serif;
}