.guestbook
{
	font-family: Tahoma,Verdana;
}
	
.guestbook h1
{
	margin: 0px;
}

.guestbook table
{
	margin-top: 15px;
}

.guestbook .list th
{
	border-bottom:1px solid #CCCCCC;
	color:#AAAAAA;
	font-size:10pt;
	font-weight:normal;
	padding-left:4px;
	text-align:left;
}

.guestbook .list td
{
	border-bottom: solid 1px #eee;
	font-size: 9pt;
	padding: 2px 2px 3px 4px;
	vertical-align: top;
}

.guestbook .list td.time
{
	white-space: nowrap;
}

/* Link */

.guestbook a, .guestbook input.button, .guestbook input.submit
{
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	color: #3080CB;
	border: solid 1px #ddd;
	background-color: #eee;
	background-image: url('../grafik/ButtonBG.gif');
	height: 22px;
	cursor: pointer;
	padding: 1px 6px 2px 6px;
}

.guestbook a:hover, .guestbook input.button:hover, .guestbook input.submit:hover
{
	background-image: url('../grafik/ButtonBGHover.gif');
	text-decoration: none;
	color: #3080CB;
	border: solid 1px #ddd;
}

/* New item */


.guestbook .new_item {
	width: 1%;
}

.guestbook .new_item th {
	font-size: 10pt;
	vertical-align: top;
	font-family: Tahoma,Verdana,sans-serif;
	text-align: right;
	width: 100px;
	color: #74ae04;
	padding-right: 5px;
	padding-left: 5px;
}

.guestbook .new_item input.text, .guestbook .new_item textarea {
	font-size: 10pt;
	font-family: Tahoma,Verdana,sans-serif;
	width: 400px;
	border: solid 1px #ccc;
	border-color: #ccc #eee #eee #ccc;
}

.guestbook .buttons {
	text-align: right;
}

.guestbook .buttons input {
	margin-left: 5px;
}