body
{
	background-color: #e5ecee;
	background-image: url('../grafik/BackgroundGradient.gif');
	background-repeat: repeat-x;
	padding: 0px;
	margin: 0px;
}
body,html
{
	height: 100%;
}

.clear
{
	clear: both;
}

form
{
	margin: 0px;
}

table.FrameBase
{
	width: 90%;
	height: 100%;
	position: absolute;
	left: 5%;
}

body.Small table.FrameBase, body.Tiny table.FrameBase
{
	width: 100%;
	position: static;
	left: auto;
	margin-left: 0px;
}

body.Tiny td.FrameRightShadow, body.Tiny td.FrameLeftShadow
{
	display: none;
}

.FrameLeftShadow
{
	background: url('../grafik/ShadowLeft.gif');
	width: 14px;
	vertical-align: top;
}

.FrameRightShadow
{
	background: url('../grafik/ShadowRight.gif');
	width: 14px;
	vertical-align: top;
}

.FrameRightShadow div, .FrameLeftShadow div
{
	width: 14px;
	height: 210px;
}

.FrameLeftShadow div
{
	background-image: url('../grafik/ShadowLeftTop.gif');
}

.FrameRightShadow div
{
	background-image: url('../grafik/ShadowRightTop.gif');
}
.FrameContent
{
	padding: 15px 18px 10px 15px;
	vertical-align: top;
}

body.Tiny .FrameContent
{
	padding: 5px 8px 5px 5px;
}

/* ===================== Common ====================== */
	
a.common, a.common
{
	color: #3366ff;
	text-decoration: none;
	border-bottom: solid 1px #A9D61D;
}
	
a.common:hover, a.common:hover
{
	color: #0000aa;
	border-bottom-color: #3366ff;
}

h1.common, h2.common, h3.common, h4.common, h5.common, h6.common
{
	margin: 0px;
	color: #3080CB;
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	font-weight: normal;
}

p.common, ul.common
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	line-height: 160%;
	text-align: justify;
}

/* ===================== Search ===================== */

body.Small form.FrameSearch
{
	position: absolute;
	right: 15px;
	top: 103px;
}

body.Tiny form.FrameSearch
{
	position: absolute;
	right: 10px;
	top: 70px;
	padding: 0px;
}

body.Tiny input.FrameSearchButton
{
	margin-right: 0px;
}

input.FrameSearchField
{
	border: solid 1px #ddd;
	background-color: white;
	width: 100px;
	margin: 4px 4px 0px 0px;
	padding-left: 2px;
	color: #000;
}

form.FrameSearch input.placeholder
{
	color: #74ae04;
}

input.FrameSearchButton
{
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	border: solid 1px #ddd;
	background-color: #eee;
	background-image: url('../grafik/ButtonBG.gif');
	color: #3080CB;
	margin: 4px 21px 0px 0px;
	height: 20px;
	cursor: pointer;
	font-size: 10pt;
}

input.FrameSearchButton:hover
{
	background-image: url('../grafik/ButtonSmallBGHover.gif');
}



/* ====================== Top bar ==================== */


td.FrameTopBar
{
	background: url('../grafik/TopBG.gif') top left repeat-x;
	height: 29px;
	padding: 0px 10px 0px 10px;
	vertical-align: top;
}

td.FrameTopBar span
{
	/*opacity: 0.7;*/
}

td.FrameTopBar:hover span
{
	/*opacity: 1;*/
}

body.Tiny td.FrameTopBar
{
	padding-left: 3px;
}

/* =================== Bottom bar ================== */


td.FrameBottomBar
{
	background: #fff url('../grafik/BottomBG.gif') bottom repeat-x;
	vertical-align: bottom;
	height: 22px;
	padding: 0px 10px 4px 16px;
}



/* ======================= Text ===================== */


span.FrameTextBottom
{
	float: left;
	font-family: Tahoma,Verdana;
	font-size: 12px;
	color: #999;
}



/* ==================== Brand bar =================== */


.BrandBar
{
	padding: 0px 17px 0px 18px;
	height: 71px;
	background-image: url('../grafik/BrandBG.gif');
	background-color: #E5ECF1;
}

body.Tiny .BrandBar
{
	padding: 0px 7px 0px 10px;
}

.BrandBar div
{
	background: url('../grafik/Slogan.gif') top left no-repeat;
	height: 71px;
}

/* =================== User status ================== */


.FrameUserStatus
{
	float: right;
	padding: 1px 3px 2px 3px;
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 9pt;
	margin-top: 10px;
	color: #c3cfde;
}

.FrameUserStatus a
{
	color: #3080CB;
	margin-left: 6px;
	background-image: url('../grafik/ButtonSmallBG.gif');
	border: solid 1px #ddd;
	padding: 2px 6px 3px 6px;
	text-decoration: none;
}

.FrameUserStatus a:hover
{
	background-image: url('../grafik/ButtonSmallBGHover.gif');
}



/* ====================== Menubar ====================== */


td.FrameMenuBar
{
	background-color: #f4f7f9;
	height: 30px;
	border-top: solid 1px #c3cfde;
	border-bottom: solid 1px #e7eef2;
	padding-left: 12px;
}

body.Tiny td.FrameMenuBar
{
	padding-left: 6px;
}

td.FrameMenuBar a
{
	color: #74ae04;
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	text-decoration: none;
	font-size: 11.5pt;
	height: 20px;
	padding: 4px 8px 2px 8px;
	float: left;
	font-weight: bold;
}

body.Small td.FrameMenuBar a
{
	font-size: 10.5pt;
	padding: 6px 5px 2px 5px;
	letter-spacing: -0.5px;
}

body.Tiny td.FrameMenuBar a
{
	font-size: 10pt;
	padding: 6px 4px 2px 4px;
	letter-spacing: -0.7px;
	font-weight: normal;
}

td.FrameMenuBar a:hover
{
	text-decoration: underline;
}
	
td.FrameMenuBar a.FrameMenuBarSelected
{
	color: #e97e04;
}
	
td.FrameMenuBar a.FrameMenuBarHilited
{
	color: #e97e04;
}



/* ========================== Sidebar ====================== */

	
td.FrameSidebar
{
	width: 180px;
	vertical-align: top;
	padding: 20px 20px 0 0;
}

body.Small td.FrameSidebar
{
	width: 150px;
}

body.Tiny td.FrameSidebar
{
	width: 150px;
	padding: 10px 10px 0 0;
}


/* ========================= Navigation ==================== */


div.FrameNavigation
{
	margin-bottom: 15px;
	padding: 8px;
	background-color: #f4f7f9;
	border: solid 1px #e7eef2;
}

div.FrameNavigationTitle
{
	color: #74ae04;
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	padding-left: 3px;
	padding-bottom: 8px;
}

a.FrameNavigation
{
	display: block;
	font-size: 14px;
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	color: #74ae04;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
}

body.Small a.FrameNavigation
{
	font-size: 12px;
}

a.FrameNavigation:hover span
{
	text-decoration: underline;
}

a.FrameNavigationSub
{
	font-size: 12px;
	color: #3080CB;
	padding-top: 1px;
	padding-bottom: 1px;
}

body.Small a.FrameNavigationSub
{
	font-size: 11px;
}

a.FrameNavigationSub:hover
{
	text-decoration: underline;
}

div.FrameNavigation span
{
	color: #3080CB;
}

a.FrameNavigationSelected
{
	color: #e97e00;
}

a.FrameNavigationSelected span {
	color: #e97e00;
}



/* ======================= Links ==================== */

span.FrameLinksTop
{
	display: block;
	text-align: right;
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	color: #bce;
	padding: 5px 10px 0px 0px;
	float: right;
}

body.Tiny span.FrameLinksTop
{
	position: absolute;
	top: 0px;
	right: 0px;
}

span.FrameLinksBottom
{
	float: right;
	text-align: right;
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 12px;
	color: #bbb;
	padding-right: 10px;
}

span.FrameLinksTop a.FrameLink
{
	color: #fff;
	float: left;
}

span.FrameLinksTop span
{
	float: left;
}

a.FrameLink img
{
	float: left; margin-right: 3px; border: 0px;
}

span.FrameLinksBottom a.FrameLink
{
	color: #666;
}

span.FrameLinksBottom a.FrameLink:hover
{
	color: #000;
}

a.FrameLink
{
	text-decoration: none;
}

a.FrameLink:hover
{
	text-decoration: underline;
}







/* ======================== News ==================== */


div.NewsBlock
{
	margin-bottom: 15px;
	padding: 8px;
	background-color: #f4f7f9;
	border: solid 1px #e7eef2;
}

div.NewsBlockTitle
{
	color: #74ae04;
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	padding-left: 3px;
}

div.FrameNews
{
	padding: 13px 4px 4px 4px;
	font-family: Tahoma,Verdana,sans-serif;
}

div.FrameNewsTitle
{
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	color: #3080CB;
	font-weight: bold;
	padding-bottom: 3px;
}

body.Small div.FrameNewsTitle
{
	font-size: 9pt;
	letter-spacing: -1px;
}

div.FrameNewsNote
{
	font-size: 8pt;
	color: #89a;
	max-height: 50px;
	overflow: hidden;
}

div.FrameNews:hover div.FrameNewsNote
{
	max-height: 100%;
	overflow: visible;
	color: #347;
}

span.FrameNewsDate
{
	font-weight: normal;
	color: #bcd5e6;
	float: right;
	font-size: 15pt;
	padding-left: 4px;
}

div.FrameNewsLinks
{
	text-align: right;
	font-size: 8pt;
	margin-top: 3px;
}

a.FrameNewsLink {
	}
	
a.FrameNewsLink:hover {
}