@import url("part_text.css");
@import url("part_news.css");
@import url("part_person.css");
@import url("part_html.css");
@import url("part_header.css");
@import url("part_listing.css");
@import url("part_richtext.css");
@import url("part_horizontalrule.css");

/* Boxes */

td.CellBox {
	border: solid 1px #eee;
	background-color: #f7f7f7;
	padding: 1px 2px 2px 2px;
}

td.CellBox div.Title {
	border-top: solid 2px #fbfbfb;
	border-bottom: solid 1px #f3f3f3;
	font-size: 13pt;
	color: #0079D6;
	font-family: Tahoma,Verdana;
	padding: 3px 3px 4px 4px;
	text-align: left;
}

td.Cell div.Title {
	border-bottom: solid 1px #99CC33;
	font-size: 13pt;
	color: #0079D6;
	font-family: Tahoma,Verdana;
	padding: 2px;
}