@font-face {
  font-family: 'Lotte-Munk';
  src: url("../fonts/Lotte-Munk_v2/fonts/Lotte-Munk.eot?firdjk");
  src: url("../fonts/Lotte-Munk_v2/fonts/Lotte-Munk.eot?firdjk#iefix") format("embedded-opentype"), url("../fonts/Lotte-Munk_v2/fonts/Lotte-Munk.ttf?firdjk") format("truetype"), url("../fonts/Lotte-Munk_v2/fonts/Lotte-Munk.woff?firdjk") format("woff"), url("../fonts/Lotte-Munk_v2/fonts/Lotte-Munk.svg?firdjk#Lotte-Munk") format("svg");
  font-weight: normal;
  font-style: normal;
}
