@media screen and (min-width: 1586px) {

	header
	{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
	}
}

@media screen and (max-width: 1200px) {
	
	#video
	{
		height: auto;
	}
	
	#video iframe
	{
		width: 100%;
	}
	
	#video article
	{
		position: static;
		margin: 0;
		background: #000;
	}
	
	#video article h2 span
	{
		display: inline;
	}
	
	#video article h2
	{
		padding: 20px 0;
	}
	
	#video article p
	{
		margin: -10px 0 10px;
	}

	
	#video_poster {
		height: 480px;
		width: 100%;
	}
}




body.small #video
{
	height: auto;
}

body.small #video iframe
{
	width: 100%;
}

body.small #video article
{
	position: static;
	margin: 0;
	background: #000;
}

body.small #video_poster {
    height: 480px;
    width: 100%;
}


body.small #video article h2 span
{
	display: inline;
}

body.small #video article h2
{
	padding: 20px 0;
}

body.small #video article p
{
	margin: -10px 0 10px;
}






@media screen and (max-width: 1000px) {
	#pressphotos h2 {
		font-size: 42pt;
	}
}

@media screen and (max-width: 900px) {
	
	#pressphotos h2 {
		font-size: 28pt;
	}
	
	body.front header nav a
	{
		font-size: 12pt;
	}
}

@media screen and (max-width: 800px) {
	
	body.front header h1,
	body.front header p {
		width: 340px;
	}
	
	#pressphotos h2 {
		font-size: 24pt;
	}
	
	body.front header nav a
	{
		padding: 0 10px;
	}
	
}

@media screen and (max-width: 700px) {
}


@media screen and (max-width: 640px){
	html {
		font-size: 100%;
	}
	body.front
	{
		padding-top: 0;
	}
	
	body.front header
	{
		position: static;
		height: auto;
		background: #000;
		margin: 0;
	}
	
	body.front header h1 {
		position: static;
	}
	
	body.front #job {
		position: static;
		width: auto;
		left: 0;
		top: 0;
		display: block;
		font-size: 1.3em;
		margin: -10px 0 8px;
		line-height: 1em;
		color: #948fa3;
	}
	
	body.front #navigation {
		position: static;
		background: none;
		text-align: center;
		padding-bottom: 10px;
		background: #000;
	}
	
	#title {
		color: #fff;
		text-shadow: none;
	}
	
	#job {
		display: none;
	}
	
	
	/** Broen **/
	
	#broen {
		height: auto;
	}
	
	.broen_text {
		padding: 20px 0;
	}
	
	.broen_text h2 {
		margin: 0;
	}
	
	#broen div.left {
		float: none;
		width: auto;
	}
	
	body.front header nav
	{
		height: auto;
	}
	
	body.front header h1#title
	{
		width: 100%;
		left: 0;
		font-size: 32pt;
		top: 0;
		line-height: 1.3em;
	}
	
	
	/* Languages */
	
	.front .layout_languages {
		position: static;
		text-align: center;
	}
	
	.front .layout_language {
		display: inline-block;
	}
	
	/* About */
	
	#about p.text
	{
		font-size: 11pt;
		margin: 0 5%;
	}
	
	ul.icons {
		margin: 50px 0 0;		
	}
	
	ul.icons a
	{
		margin-left: 10px;
		margin-right: 10px;
		color: #2585c9;
	}
	
	#about
	{
		padding: 0 0 40px;
	}
	
	#about div.contact {
		display: inline-block;
		text-align: left;
	}
	
	#about div.contact p
	{
		display: block;
		margin: 0 0;
		padding-right: 0;
	}
	
	#pressphotos {
		margin: 100px 0;
	}
	
	#pressphotos div.block {
		height: auto;
	}
	
	
	/** Photos **/
	
	#pressphotos div.press_right,
	#pressphotos div.press_left
	{
		position: static;
		width: auto;
		height: 300px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;	
	}
	
	#pressphotos article {
		margin: 0;
		height: 200px;
	}
	
	#pressphotos h2 {
		font-size: 30pt;
		padding-top: 35px;
	}
	
	
	
	/** Video **/
	
	#reel {
		display: none;
	}
	
	#video {
		margin-bottom: 100px;
	}
	
	#video article {
		padding: 10px 0;
	}
	
	#video article h2 {
		font-size: 4em;
		padding: 20px 20px 40px;
	}
	
	#video article h2 span {
		display: block;
		height: 0;
		visibility: hidden;
	}
	
	#video iframe {
		height: 240px;
	}
	
	#video_poster {
		height: 240px;
		width: 100%;
	}
	
	#video_poster p span {
		display: block;
	}



	/** Theater **/
	
	#theater {
		height: 520px;
	}
	
	#theater div.photo {
		opacity: 1;
		bottom: 70px;
		width: 342px;
		height: 197px;
		margin-left: -170px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;	
	}
	
	#theater p.link {
		bottom: 25px;
	}
	
	#theater article {
		left: 10px;
		right: 10px;
	}
	
	#theater p {
		line-height: 1.2em;
	}
	
	
	/** Communication **/
	
	#communication {
		margin-top: 100px;
		padding: 0;
		margin-bottom: 50px;
	}
	
	#communication h2 {
		font-size: 2.2em;
		line-height: 1em;
	}
	
	#communication p {
		margin: 0 5%;
		font-size: 1.2em;
		line-height: 1.3em;
	}
	
	#communication h2 span {
		display: block;
	}
	
	#communication a.button {
		padding: 0 10px;
		font-size: .9em;
	}
	
	#communication figure {
		height: 205px;
		width: 175px;
		margin: 0 auto;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;	
	}
	
	
	#handmade {
		width: 149px;
		height: 74px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;	
	}
	
	#humanise.visible {
		height: 300px;
		background-position: 0 50%;
	}
	
	#humanise article {
		font-size: 1em;
		padding: 10px 50% 0 10px;
		text-align: center;
	}
	
	body.front footer {
		padding: 50px 0;
	}
}