section,header,h,p
{
	display: block;
	margin: 0;
}

html
{
	font-size: 100%;
}

body
{
	font-size: 87.5%;
	margin: 0;
	padding: 0;
	font-family: Merriweather;
	font-weight: 300;
	padding-top: 246px;
	height: 5000px;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	background-color: #fff;
}

body.dark
{
	background-color: #000;
}

body.full header
{
	margin-top: -100px;
}

h1, h2
{
	font-family: Cinzel;
	margin: 0;
}

header
{
	height: 246px;
	background: #333;
	background: url('../gfx/header.jpg') 50% 50%;
	color: #351a38;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	-webkit-transform: translate-3d(0,0,0);
	-webkit-transition: margin-top 2s ease-in-out;
	-moz-transition: margin-top 2s ease-in-out;
}

header h1
{
	font-size: 80px;
	width: 400px;
	display: block;
	text-align: center;
	line-height: .9em;
	position: absolute;
	left: 10px;
	top: 28px;
	text-shadow: 0 0 30px #fff; 
}

header p
{
	position: absolute;
	left: 10px;
	top: 170px;
	font-size: 30px;
	width: 400px;
	margin: 0;
	text-align: center;
	text-shadow: 0 0 30px #fff; 
}

section
{
	height: 360px;
	width: 100%;
	overflow: hidden;
}

div.col40
{
	vertical-align: top;
	display: inline-block;
	width: 40%;
	height: 100%;
}

div.col30
{
	vertical-align: top;
	display: inline-block;
	width: 30%;
	height: 100%;
}

div.vert50
{
	height: 50%;
}





/************ Broen ************/

#broen
{
	background: #462758;
	background-image: linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);
	background-image: -o-linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(49,39,87)),
		color-stop(0.77, rgb(70,39,88))
	);
	text-align: right;
}

#broen div.left
{
	vertical-align: top;
	float: left;
	width: 40%;
	height: 100%;
}

#broen div.middle,
#broen div.right
{
	vertical-align: top;
	float: right;
	width: 30%;
	height: 100%;
}


div.broen_text
{
}

div.broen_text h2
{
	font-size: 4em;
	text-align: center;
	color: rgba(255,255,255,.8);
	margin-top: 74px;
	line-height: 1em;
}

div.broen_text p
{
	padding: 0 20px;
	font-size: 1em;
	margin: 10px 0;
	text-align: center;
	color: rgba(255,255,255,.5);
}

div.broen_text a
{
	margin-top: 10px;
	display: inline-block;
	color: rgba(255,255,255,.8);
	text-decoration: none;
}

div.broen_text a:hover
{
	text-decoration: underline;
}

div.broen_photo1
{
	background: url('../gfx/broen1.jpg') 70% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
}

div.broen_photo2
{
	background: url('../gfx/broen2.jpg') 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
}

div.broen_photo3
{
	background: url('../gfx/broen3.jpg') 30% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
}




/************ Om mig ************/

#about
{
	text-align: center;
	height: auto;
}

#about h2
{
	font-size: 36pt;
	color: #005952;
	padding: 40px 0 10px;
	font-weight: normal;
}

#about p
{
	font-size: 18pt;
	color: #999;
	padding: 0 10%;
	-webkit-transform: scale(.7) translate(0,-50px);
	-webkit-transition: -webkit-transform .5s ease-in-out;
	-moz-transform: scale(.7) translate(0,-50px);
	-moz-transition: all .5s ease-in-out;
}

#about.visible p
{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	color: #666;
}

div.icons
{
	text-align: center;
	margin-top: 30px;
}

div.icons a
{
	font-size: 48px;
	text-decoration: none;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
}

div.icons a
{
	margin-left: 40px;
	margin-right: 40px;
	color: #fff;
}

#about.visible div.icons a
{
	margin-left: 10px;
	margin-right: 10px;
	color: #2585c9;
}

#about.visible div.icons a:hover
{
	color: #1d689e;
}


/************ Presse ************/


#pressphotos
{
	margin: 250px 0;
	background: url('../gfx/eyes.jpg') 50% 50%;
	-webkit-filter: saturate(0);
	-webkit-transition: all .5s ease-in-out;
	-moz-filter: saturate(0);
	-moz-transition: all .5s ease-in-out;
	opacity: 0;
	position: relative;
}

#pressphotos.saturated
{
	-webkit-filter: saturate(1);
	opacity: 1;
}

#pressphotos article
{
	height: 100%;
	margin: 0 240px;
	background: #005952;
	background-image: linear-gradient(bottom, rgb(0,81,87) 9%, rgb(0,89,82) 78%);
	background-image: -o-linear-gradient(bottom, rgb(0,81,87) 9%, rgb(0,89,82) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(0,81,87) 9%, rgb(0,89,82) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,81,87) 9%, rgb(0,89,82) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(0,81,87) 9%, rgb(0,89,82) 78%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, rgb(0,81,87)),
		color-stop(0.78, rgb(0,89,82))
	);
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
}

#pressphotos h2
{
	font-size: 5em;
	line-height: 1em;
	text-align: center;
	color: rgba(255,255,255,.8);
	padding-top: 74px;	
}

#pressphotos.visible article
{
	opacity: 1;
}

#pressphotos p
{
	text-align: center;
	font-size: 1.3em;
	color: #fff;
	margin: 20px 0 0;
}

#pressphotos p a
{
	text-decoration: none;
	color: rgba(255,255,255,.2);
	-webkit-font-smoothing: subpixel-antialiasing;
}

#pressphotos p a span
{
	color: #fff;
}



#pressphotos div.press_right
{
	position: absolute;
	right: -240px;
	top: 0;
	width: 240px;
	height: 360px;
	background: url('../gfx/press2.jpg');
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

#pressphotos div.press_left
{
	position: absolute;
	left: -240px;
	top: 0;
	width: 240px;
	height: 360px;
	background: url('../gfx/press1.jpg');
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

#pressphotos.visible div.press_left
{
	left: 0px;	
}

#pressphotos.visible div.press_right
{
	right: 0px;
}



/***** Video *****/


#video
{
	height: 480px;
	margin: 200px 0;
	background: #462758;
	background-image: linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);
	background-image: -o-linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(49,39,87) 5%, rgb(70,39,88) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(49,39,87)),
		color-stop(0.77, rgb(70,39,88))
	);
	position: relative;
}

#video iframe
{
	width: 852px;
}

#video article
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 852px;
}

#video article h2
{
	color: #fff;
	text-align: center;
	font-size: 5em;
	padding-top: 50px;
	line-height: 1em;
}

#video article h2 span
{
	display: block;
	line-height: .3em;
	opacity: .5;
}


/***** Theater *****/

#theater
{
	height: 300px;
	background: #000;
	position: relative;
}

#theater h2
{
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 52pt;
	position: absolute;
	left: 0;
	right: 0;
	top: 5%;
}

#theater p
{
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 12pt;
	position: absolute;
	left: 20%;
	right: 20%;
	top: 20%;
	z-index: 1;
}

#theater div.photo
{
	position: absolute;
	width: 683px;
	height: 394px;
	bottom: 10%;
	left: 50%;
	margin: -197px 0 0 -342px;
	background: url('../gfx/theater.jpg');
	opacity: 0;
}

