.front {
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -ms-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
.front .document_row,
.front .document_row_body,
.front .document_column {
  display: block;
}
.front .document_row_container {
  margin: 0;
}

.is-dark {
  background-color: #000;
}

@media screen and (min-width: 600px) {
  .desktop .front {
    padding-top: 286px;
  }
}
