.header {
  background: #000;
  margin: 0;
}

.header_title {
  font-family: Cinzel;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
  line-height: 1;
  padding-top: 5px;
  text-rendering: geometricPrecision;
  letter-spacing: 2px;
}

.header_job {
  color: #948fa3;
  text-align: center;
  text-align: center;
  font-size: 20px;
  line-height: 1em;
}

.header_navigation {
  margin-top: 10px;
}

.header_menu {
  display: block;
  margin: 0 10px;
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid #333;
}

.header_menu_item {
  display: inline-block;
}

.header_menu_link {
  display: inline-block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  text-decoration: none;
  font-size: 16px;
}

@media screen and (min-width: 600px) {
  .header {
    height: 100px;
    background: #333 url("../gfx/header.jpg") 50% 50%;
    background-size: cover;
    color: #351a38;
    position: relative;
    margin-bottom: 40px;
  }

  .header_title {
    font-size: 50px;
    width: 360px;
    padding: 0 0 0 10px;
    line-height: .9;
    position: absolute;
    left: 0;
    top: 28px;
    text-shadow: 0 0 10px #fff;
    font-family: Cinzel;
    color: #351A38;
    margin: 0;
    font-weight: normal;
  }

  .header_job {
    left: 260px;
    top: 45px;
    position: absolute;
    font-size: 24px;
    width: 360px;
    margin: 0;
    text-align: center;
    text-shadow: 0 0px 10px black;
    color: #fff;
  }

  .header_navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 0 -40px;
    background-color: #1a2128;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1a2128), to(#0d0d0d));
    background-image: -webkit-linear-gradient(top, #1a2128, #0d0d0d);
    background-image: -moz-linear-gradient(top, #1a2128, #0d0d0d);
    background-image: -ms-linear-gradient(top, #1a2128, #0d0d0d);
    background-image: -o-linear-gradient(top, #1a2128, #0d0d0d);
    background-image: linear-gradient(top, #1a2128, #0d0d0d);
    filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#1a2128', end-colourStr='#0d0d0d');
  }

  .header_menu {
    text-align: left;
    margin: 0;
    border: none;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header_menu_link {
    display: inline-block;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 5px;
    text-decoration: none;
  }

  .front .header {
    height: 246px;
    z-index: 3;
    top: 0;
    width: 100%;
  }
  .front .header_title {
    font-size: 80px;
  }
  .front .header_job {
    left: 10px;
    top: 180px;
  }

  .desktop .front .header {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 2s ease-in-out;
    -moz-transition: -moz-transform 2s ease-in-out;
    -ms-transition: -ms-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
  }

  .desktop .is-full .header {
    -webkit-transform: translate3d(0, -100px, 0);
    -moz-transform: translate3d(0, -100px, 0);
    -ms-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  .desktop .is-full .header_menu_link {
    color: #aaa;
  }
}
@media screen and (min-width: 760px) {
  .header_menu_link {
    font-size: 18px;
    padding: 0 15px;
  }
}
.layout_content {
  padding: 20px 10px 10px;
}
.layout_content .part_section_header_1 {
  padding-right: 60px;
}

.layout_languages {
  text-align: right;
  position: absolute;
  right: 10px;
  margin: 0;
}

.layout_language {
  color: #333;
  text-decoration: none;
  font-size: 12pt;
  display: inline-block;
  background: url("../gfx/flags.png") 0 0 no-repeat;
  line-height: 39px;
  height: 39px;
  padding-left: 45px;
}
.layout_language > span {
  display: none;
}

.layout_language_da {
  background-position: 0 -39px;
}

@media screen and (min-width: 600px) {
  .layout_languages {
    right: 20px;
  }

  .layout_language > span {
    display: inline;
  }

  .layout_content {
    padding: 30px 20px;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
  }
  .layout_content .part_section_header_1 {
    padding-right: 180px;
  }
}
@media screen and (min-width: 900px) {
  .layout_content {
    padding: 60px 20px;
  }

  .layout_languages {
    right: 20px;
  }
  .front .layout_languages {
    top: auto;
  }
}
.layout_footer {
  text-align: center;
  padding: 20px 0 40px;
  background: #fff;
}

.layout_footer_link {
  display: inline-block;
  width: 149px;
  height: 74px;
  background: url("../gfx/humanise.png") 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.layout_footer_text {
  position: absolute;
  left: -1000px;
  top: -1000px;
}

@media screen and (min-width: 600px) {
  .layout_footer_link {
    display: inline-block;
    width: 300px;
    height: 150px;
  }
}
.humanise {
  height: 0px;
  background: url("../gfx/hand.jpg") 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
  -webkit-transition: height 1s cubic-bezier(0.48, 0, 0.21, 1);
  -moz-transition: height 1s cubic-bezier(0.48, 0, 0.21, 1);
  -ms-transition: height 1s cubic-bezier(0.48, 0, 0.21, 1);
  transition: height 1s cubic-bezier(0.48, 0, 0.21, 1);
}
.humanise.visible {
  height: 600px;
}
.humanise p {
  margin-bottom: 20px;
}
.humanise a {
  color: #679;
  text-decoration: none;
}

.humanise_body {
  font-family: 'Gloria Hallelujah', cursive;
  padding: 30px;
  font-size: 1.8em;
  line-height: 1.5em;
}

section, header, p, header, footer, figure {
  display: block;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: 87.5%;
  margin: 0;
  padding: 0;
  font-family: Merriweather;
  font-weight: 300;
  background: #fff;
}

@media screen and (max-width: 700px) {
  .document_row_container {
    margin: 0;
  }

  .document_row,
  .document_row_body,
  .document_column {
    display: block;
  }

  .document_column {
    width: auto !important;
    padding: 0 !important;
  }

  .part_image_image {
    max-width: 100%;
    height: auto;
  }

  .part_section_image {
    float: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (min-width: 700px) {
  .document_row {
    display: table;
    width: 100%;
  }

  .document_row_body {
    display: table-row;
  }

  div.document_column {
    display: table-cell;
    vertical-align: top;
  }
}
