section,header,p,header,footer,figure
{
	display: block;
	margin: 0;
}

html
{
	font-size: 100%;
}

body
{
	font-size: 87.5%;
	margin: 0;
	padding: 0;
	font-family: Merriweather;
	font-weight: 300;
	background: #fff;
}

header
{
	height: 100px;
	background: #333;
	background: url('../gfx/header.jpg') 50% 50%;
	color: #351a38;
	position: relative;
	margin-bottom: 40px;
}

header h1
{
	font-size: 50px;
	width: 400px;
	display: block;
	text-align: center;
	line-height: .9em;
	position: absolute;
	left: 10px;
	top: 28px;
	text-shadow: 0 0 10px #fff; 
	font-family: Cinzel;
	margin: 0;
	font-weight: normal;
}

header p
{
	left: 270px;
	top: 37px;
	position: absolute;
	font-size: 30px;
	width: 400px;
	margin: 0;
	text-align: center;
	text-shadow: 0 0 5px rgba(0,0,0,.5);
	color: #fff;
}


header nav
{
	height: 40px;
	background: #1a2128; /* Old browsers */

	background: -moz-linear-gradient(top,  #1a2128 0%, #0d0d0d 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a2128), color-stop(100%,#0d0d0d)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #1a2128 0%,#0d0d0d 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #1a2128 0%,#0d0d0d 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #1a2128 0%,#0d0d0d 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #1a2128 0%,#0d0d0d 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2128', endColorstr='#0d0d0d',GradientType=0 ); /* IE6-9 */

	
	position: absolute;
	bottom: -40px;
	right: 0;
	width: 100%;
}

header nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav li
{
	display: inline-block;
}

header nav a
{
	text-decoration: none;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	color: #fff;
	text-transform: uppercase;
	font-family: Cinzel;
	font-size: 14pt;
}

header nav a:hover
{
	background: #123;
}

footer
{
	text-align: center;
}


div.layout_content
{
	padding: 20px 0;
	width: 900px;
	margin: 0 auto;
}