a.common {
  color: #ddd;
  cursor: pointer;
}
a.common span {
  color: #0073b9;
}
a.common:hover, a.common:hover span {
  color: #005aae;
}

.part_header {
  font-family: "Merriweather", Georgia, "Book Antiqua", "Palatino", Times, serif;
  word-break: break-word;
  margin: 0px;
  color: #000;
  font-weight: normal;
}

.part_header-1,
.part_header-2,
.part_header-3 {
  font-family: "Lora", Georgia, "Book Antiqua", "Palatino", Times, serif;
}

.part_header-1 {
  font-size: 32px;
  line-height: 1;
}

.part_header-2 {
  font-size: 26px;
  line-height: 1;
}

.part_header-3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

.part_text,
.part_richtext,
.part_listing {
  font-family: "Merriweather", Georgia, "Book Antiqua", "Palatino", Times, serif;
  font-size: 16px;
  line-height: 1.4em;
  color: #333;
  font-weight: 400;
}

.part_listing {
  font-size: 10pt;
  color: #ddd;
}

.part_listing_text {
  color: #333;
}

.part_table {
  overflow: auto;
}
.part_table table {
  font-size: 1em;
  border-spacing: 0;
  border-collapse: collapse;
}
.part_table thead th {
  border-bottom: 1px solid #eee;
  padding: 3px;
  text-align: left;
}
.part_table tfoot th {
  border-bottom: 1px solid #eee;
  padding: 3px;
  text-align: left;
}
.part_table td {
  border-bottom: 1px solid #eee;
  padding: 3px;
}

.part_horizontalrule {
  border: none;
  border-bottom: solid 1px #ddd;
  margin: 20px 0;
}

.part_movie_text {
  font-weight: normal;
  font-size: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.part_movie_text_inner {
  background: none;
  padding: 10px 0;
  display: block;
  font-size: 16px;
  line-height: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 600px) {
  .part_header-1 {
    font-size: 42px;
    line-height: 1;
  }

  .part_header-2 {
    font-size: 32px;
  }

  .part_horizontalrule {
    margin: 30px 0;
  }

  .part_text,
  .part_richtext,
  .part_listing {
    font-size: 18px;
    line-height: 1.6em;
  }
}
@media screen and (min-width: 760px) {
  .part_section_header-1 {
    padding: 0 0 30px;
  }

  .part_header-1 {
    font-size: 52px;
  }

  .part_horizontalrule {
    margin: 40px 0;
  }
}
