@charset "UTF-8";
.button {
  display: inline-block;
  height: 36px;
  line-height: 38px;
  padding: 0 15px;
  border-radius: 18px;
  text-decoration: none;
  text-decoration: none;
  border: 1px solid #eee;
  color: #36a;
  font-size: 16px;
  font-weight: 400;
}
.button:hover {
  background: rgba(0, 0, 0, 0.05);
  border-color: #ddd;
}
.button-right {
  padding-right: 15px;
}
.button-right:after {
  font-family: 'Lotte-Munk';
  content: "";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  position: relative;
  line-height: 36px;
  right: -5px;
}
.button-dense {
  font-size: 12px;
}
.is-dark .button, .button-dark {
  border: 2px solid #999;
  height: 34px;
  color: #fff;
}
.is-dark .button:hover, .button-dark:hover {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 500px) {
  .button-dense {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) {
  .button {
    height: 40px;
    line-height: 42px;
    padding: 0 20px;
    border-radius: 20px;
    font-size: 20px;
  }
  .button:after {
    line-height: 38px;
  }
  .is-dark .button, .button-dark {
    height: 38px;
  }
}
.block {
  margin: 60px 0;
}

.block_title {
  font-size: 30px;
  font-family: "Lora", Georgia, "Book Antiqua", "Palatino", Times, serif;
  font-style: italic;
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  .block_title {
    font-size: 40px;
  }
}
@media screen and (min-width: 760px) {
  .block {
    margin: 100px 0;
  }

  .block_title {
    font-size: 50px;
  }
}
@media screen and (min-width: 960px) {
  .block {
    margin: 120px 0;
  }

  .block_title {
    font-size: 60px;
  }
}
.about {
  margin: 20px 0;
  text-align: center;
  position: relative;
  padding-top: 210px;
}
.about:before {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  background: url("../gfx/avatar2.jpg") 50% 0 no-repeat;
  background-size: contain;
  left: 50%;
  margin-left: -100px;
  top: 0;
}

.about_title {
  font-size: 28pt;
  color: #733392;
  margin: 0 0 15px;
}

.about_text {
  font-size: 18px;
  line-height: 1.4em;
  color: #777;
  padding: 0 20px;
  margin: 0 auto 20px;
  max-width: 700px;
}

.about_button {
  background: #733392;
  color: #fff;
  border: none;
}
.about_button:hover {
  background: #572D6B;
  border: none;
}

.about_icons {
  text-align: center;
  margin: 50px 0 0;
  list-style: none;
  padding: 0;
  font-size: 0;
}

.about_icons_item {
  display: inline-block;
  vertical-align: top;
}

.about_icon {
  margin: 0 5px;
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  color: #733392;
  cursor: pointer;
  position: relative;
}
.about_icon:hover {
  background: #eee;
}
.about_icon-linkedin:before {
  font-family: 'Lotte-Munk';
  content: "";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about_icon-facebook:before {
  font-family: 'Lotte-Munk';
  content: "";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about_icon-wikipedia:before {
  font-family: 'Lotte-Munk';
  content: "";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about_icon-youtube:before {
  font-family: 'Lotte-Munk';
  content: "";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about_icon:before {
  font-size: 30px;
  line-height: 54px;
}
.about_icon-wikipedia:before {
  line-height: 60px;
}
.about_icon-youtube:before {
  font-size: 32px;
  line-height: 52px;
}

.about_icon_text {
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 90px;
  margin: 5px 0 0 -45px;
  background: #77687D;
  color: #fff;
  border-radius: 30px;
  line-height: 24px;
  height: 22px;
  opacity: 0;
  font-weight: 400;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.about_icon:hover .about_icon_text {
  opacity: 1;
}

.about_contact {
  margin-top: 40px;
  padding: 0 20px;
}

.about_contact_item {
  vertical-align: middle;
  position: relative;
  line-height: 1.3;
  margin-bottom: .7em;
}

.about_contact_link {
  color: #0076a3;
  text-decoration: none;
}

.about_email,
.about_phone {
  font-size: 1.6em;
}

.about_phone {
  color: #999;
}

.about_phone strong {
  color: #333;
}

@media screen and (min-width: 600px) {
  .about_title {
    font-size: 36pt;
  }

  .about {
    margin: 40px 0;
    padding-top: 270px;
  }
  .about:before {
    width: 254px;
    height: 254px;
    margin-left: -127px;
  }
}
@media screen and (min-width: 760px) {
  .about {
    padding: 0 40px 0 280px;
    max-width: 960px;
    margin: 60px auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
    position: relative;
    min-height: 320px;
  }
  .about:before {
    margin: 0;
    width: 200px;
    height: 200px;
    left: 40px;
  }

  .about_icon {
    margin: 0 0 0 10px;
  }

  .about_button {
    padding: 0 15px;
  }

  .about_text {
    padding: 0;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 30px;
  }

  .about_icons {
    margin: 0;
    text-align: right;
    margin-top: -48px;
  }

  .about_contact {
    width: 240px;
    font-size: .9em;
    margin: 20px 0 0;
    text-align: center;
    position: absolute;
    left: 20px;
    top: 200px;
    padding: 0;
  }
}
@media screen and (min-width: 860px) {
  .about_button {
    padding: 0 20px;
  }

  .about_icons {
    margin-top: -52px;
  }

  .about_icon {
    width: 60px;
    height: 60px;
  }
  .about_icon:before {
    font-size: 30px;
    line-height: 60px;
  }
  .about_icon-wikipedia:before {
    line-height: 66px;
  }
  .about_icon-youtube:before {
    font-size: 36px;
    line-height: 58px;
  }
}
@media screen and (min-width: 960px) {
  .about {
    padding: 0 20px 0 320px;
    min-height: 400px;
  }
  .about:before {
    margin: 0;
    width: 254px;
    height: 254px;
    left: 20px;
  }

  .about_contact {
    width: 254px;
    margin: 20px 0 0;
    left: 20px;
    top: 254px;
    font-size: 1em;
  }

  .about_text {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.photography {
  text-align: center;
  font-size: 0;
  position: relative;
  padding: 0 10px;
}

.photography_title {
  margin: 0 auto 20px;
}

.photography_effect {
  position: absolute;
  top: -50px;
  left: -50px;
  background: url("../gfx/photo_effect.png") no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  padding: 20%;
  background-size: cover;
}
.photography_effect-alt {
  background-image: url("../gfx/photo_effect_2.png");
}

.photography_item {
  display: none;
}
.photography_item-center {
  display: block;
}

.photography_photo {
  display: block;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.photography_photo-center {
  padding-bottom: 149.76077%;
}
.photography_photo_img {
  position: absolute;
  left: 0;
  width: 100%;
}

.photography_actions {
  max-width: 900px;
  margin: 20px auto 0;
}

.photography_action {
  margin: 0 5px;
}

@media screen and (min-width: 500px) {
  .photography_photo {
    padding-bottom: 160%;
  }
  .photography_photo-center {
    padding-bottom: 149.76077%;
  }

  .photography_title {
    max-width: 900px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin: 0 auto 40px;
  }

  .photography_actions {
    border-top: 1px solid #eee;
    padding: 40px 0 0;
    margin: 45px auto 0;
  }

  .photography_action {
    margin: 0 10px;
  }

  .photography_item {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  }
  .photography_item-center {
    width: 25%;
    margin: 0 5%;
  }
}
@media screen and (min-width: 600px) {
  .photography_title {
    padding-bottom: 20px;
  }
}
.movies {
  text-align: center;
  background-color: #e7ede6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7ede6), to(#ebece8));
  background-image: -webkit-linear-gradient(top, #e7ede6, #ebece8);
  background-image: -moz-linear-gradient(top, #e7ede6, #ebece8);
  background-image: -ms-linear-gradient(top, #e7ede6, #ebece8);
  background-image: -o-linear-gradient(top, #e7ede6, #ebece8);
  background-image: linear-gradient(top, #e7ede6, #ebece8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7ede6', endColorstr='#ebece8');
  padding: 20px 0;
}

.movies_title {
  margin: 0 0 10px;
  color: #1d3e50;
}

.movies_text {
  font-family: "Merriweather", Georgia, "Book Antiqua", "Palatino", Times, serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 10px 0 20px;
  color: #1d3e50;
}

.movies_body {
  max-width: 960px;
  margin: 0 auto;
}

.movies_video {
  padding-bottom: 56.25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}
.movies_video-broen {
  background-image: url("../gfx/video-broen.jpg");
}
.movies_video-hvidsten {
  background-image: url("../gfx/video-hvidsten.jpg");
}
.movies_video-forbrydelsen {
  background-image: url("../gfx/video-forbrydelsen.jpg");
}
.movies_video-showreel {
  background-image: url("../gfx/video-showreel.jpg");
}
.movies_video:before {
  content: '';
  background-image: url("../gfx/play.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.movies_item:first-child .movies_video {
  padding-bottom: 55%;
}
.movies_item:first-child .movies_video:before {
  background-position: 60% 50%;
  background-size: 50%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 20%;
  height: auto;
  padding-bottom: 20%;
  bottom: auto;
  right: auto;
  top: 50%;
  left: 50%;
  margin: -10% 0 0 -10%;
  opacity: .8;
}

.movies_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.movies_video_title {
  font-family: "Merriweather", Georgia, "Book Antiqua", "Palatino", Times, serif;
  line-height: 1;
  color: #fff;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  left: 5px;
  right: 40px;
  text-align: left;
}
.movies_item:first-child .movies_video_title {
  font-size: 18px;
  left: 10px;
  bottom: 8px;
}

.movies_more {
  margin: 5px 1px 0;
  font-size: 0;
}

.movies_item {
  display: inline-block;
  width: 33.33333%;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 2px 1px 0;
}
.movies_item:first-child {
  display: block;
  width: auto;
  padding: 0;
  margin: 0 -1px;
}

.movies_actions {
  margin-top: 20px;
}

.movies_button {
  border-color: #d6d6cd;
  background: #F3F5F1;
  color: #01507b;
  margin: 0 5px;
}

@media screen and (min-width: 400px) {
  .movies_more {
    margin: 5px 5px 0;
  }

  .movies_item {
    padding: 5px 5px 0;
  }
  .movies_item:first-child {
    padding: 0 0 5px;
    margin: 0 -5px;
  }

  .movies_video:before {
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 10px;
  }
}
@media screen and (min-width: 500px) {
  .movies_video_title {
    font-size: 14px;
    bottom: 10px;
    left: 10px;
  }
  .movies_item:first-child .movies_video_title {
    font-size: 24px;
    left: 20px;
    bottom: 15px;
  }
}
@media screen and (min-width: 760px) {
  .movies {
    padding: 40px 0;
  }

  .movies_title {
    margin: 0 0 30px;
  }

  .movies_text {
    font-size: 18px;
  }

  .movies_more {
    margin: 5px 10px 0;
  }

  .movies_item {
    padding: 10px 10px 0;
  }
  .movies_item:first-child {
    padding: 0 0 10px;
    margin: 0 -10px;
  }

  .movies_actions {
    margin: 40px 0 0;
  }
}
@media screen and (min-width: 1000px) {
  .movies {
    padding: 60px 0;
  }

  .movies_button {
    margin: 0 10px;
  }

  .movies_text {
    font-size: 24px;
    font-weight: 300;
    margin: 20px 0;
  }

  .movies_more {
    margin: 10px -15px 0;
    font-size: 0;
  }

  .movies_video_title {
    font-size: 16px;
  }

  .movies_item {
    padding: 10px 15px 10px;
  }
  .movies_item:first-child {
    padding: 15px;
    margin: 0;
  }
}
.communication {
  text-align: center;
}

.communication_title {
  color: #005952;
  margin: 0 0 20px;
  line-height: 1;
}
.is-dark .communication_title {
  color: #fff;
}

.communication_title_part {
  display: block;
}

.communication_text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5em;
  max-width: 700px;
  padding: 0 20px;
}
.is-dark .communication_text {
  color: #fff;
}

.communication_actions {
  margin: 10px 0;
}

.communication_image {
  background: url("../gfx/train.png") 50% 50% no-repeat;
  height: 410px;
  background-size: contain;
  margin: 0 40px;
}

@media screen and (min-width: 500px) {
  .communication_title_part {
    display: inline;
  }
}
@media screen and (min-width: 700px) {
  .communication_text {
    font-size: 18px;
  }

  .communication_actions {
    margin: 40px 0;
  }
}
@media screen and (min-width: 960px) {
  .communication {
    padding: 120px 0;
  }
}
/***** Theater *****/
.theater {
  background: #000;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 40px 0;
}

.theater_title {
  color: #fff;
  margin: 0;
  font-size: 42pt;
  font-weight: normal;
  font-family: Cinzel;
  text-rendering: geometricPrecision;
}

.theater_text {
  color: #fff;
  margin: 0 20px 20px;
  font-size: 1.3em;
  line-height: 1.3;
}

.theater_photo {
  background: url("../gfx/theater.jpg") no-repeat;
  background-size: contain;
  background-position: 50%;
  height: 300px;
  margin: 0 -70px;
}

.theater_stages {
  display: none;
}

@media screen and (min-width: 760px) {
  .theater {
    height: 700px;
    padding: 60px 0;
  }

  .theater_title {
    font-size: 52pt;
  }

  .theater_body {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 5%;
    z-index: 2;
  }

  .theater_photo {
    position: absolute;
    width: 683px;
    height: 394px;
    bottom: 15%;
    left: 50%;
    margin: -197px 0 0 -342px;
    background: url("../gfx/theater.jpg");
    opacity: 0;
  }

  .theater_actions {
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .theater_stages {
    color: #ddd;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    font-size: 2em;
    z-index: 1;
    font-family: Cinzel;
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    display: block;
  }

  .theater_stage {
    position: absolute;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-duration: 15s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
  }

  .theater_stage-1 {
    top: 50%;
    right: 2%;
  }

  .theater_stage-2 {
    top: 40%;
    left: 2%;
  }

  .theater_stage-3 {
    top: 10%;
    right: 6%;
  }

  .theater_stage-4 {
    bottom: 5%;
    left: 5%;
  }

  .theater_stage-5 {
    bottom: 5%;
    right: 5%;
  }

  .theater_stage-6 {
    top: 5%;
    left: 5%;
  }

  .theater.is-final .theater_stages {
    opacity: 1;
  }
  .theater.is-final .theater_stage-1, .theater.is-final .theater_stage-2 {
    -webkit-animation-name: zero;
    -moz-animation-name: zero;
  }
  .theater.is-final .theater_stage-3, .theater.is-final .theater_stage-4 {
    -webkit-animation-name: two;
    -moz-animation-name: two;
  }
  .theater.is-final .theater_stage-5, .theater.is-final .theater_stage-6 {
    -webkit-animation-name: one;
    -moz-animation-name: one;
  }
}
@-webkit-keyframes zero {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
  50% {
    opacity: .2;
    -webkit-transform: scale(0.7) rotate(-5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}
@-webkit-keyframes one {
  0% {
    opacity: .2;
    -webkit-transform: scale(0.7) rotate(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-5deg);
  }
  100% {
    opacity: .2;
    -webkit-transform: scale(0.7) rotate(0deg);
  }
}
@-webkit-keyframes two {
  0% {
    opacity: .2;
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(7deg);
  }
  100% {
    opacity: .2;
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
}
@-moz-keyframes zero {
  0% {
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
  }
  50% {
    opacity: .2;
    -moz-transform: scale(0.7) rotate(-5deg);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
  }
}
@-moz-keyframes one {
  0% {
    opacity: .2;
    -moz-transform: scale(0.7) rotate(0deg);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1) rotate(-5deg);
  }
  100% {
    opacity: .2;
    -moz-transform: scale(0.7) rotate(0deg);
  }
}
@-moz-keyframes two {
  0% {
    opacity: .2;
    -moz-transform: scale(0.9) rotate(-3deg);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1) rotate(7deg);
  }
  100% {
    opacity: .2;
    -moz-transform: scale(0.9) rotate(-3deg);
  }
}
