Config/Setup.php
CVS
.DS_Store
.project
.settings
.cvsignore
files
public/*
!files/.htaccess
images
data
!images/.htaccess
local/cache/images/*
local/cache/temp/*
local/cache/urls/*
local/logs/*
.svn
.htaccess
style/karenslyst/.sass-cache