Config/Setup.php
Config/dev.json
CVS
.DS_Store
.project
.settings
.cvsignore
Config/scripts
/files
/public/*
!files/.htaccess
/images
/data
!images/.htaccess
/local/cache/images/*
/local/cache/temp/*
/local/cache/urls/*
/local/logs/*
.svn
.htaccess
.sass-cache
/node_modules
/hui/node_modules
/hui

profile_prepend.php
profile_append.php