Options +FollowSymLinks

RewriteEngine On
RewriteBase /
RewriteCond	%{REQUEST_FILENAME}	!-f 
RewriteCond	%{REQUEST_FILENAME}	!-d 
RewriteRule ^([_0-9a-z/\.\-]+)$ /~jbm/onlinepublisher/index.php?path=$1 [QSA]
#RewriteRule ^([0-9]+).html /~jbm/Publisher/src/index.php?id=$1 [QSA]