.part-section-news{padding-bottom: 10px;}

div.PartNewsBlock {
	border: solid 1px #eee;
	background-color: #f7f7f7;
	padding: 1px 2px 2px 2px;
	}

div.PartNewsBlockTitle {
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	color: #f00;
	font-size: 14pt;
	text-align: left;
	border-top: solid 2px #fbfbfb;
	border-bottom: solid 1px #f3f3f3;
	padding: 4px 4px 6px 6px;
}

div.PartNewsItem {
	padding: 3px 6px 3px 6px;
}

div.PartNewsTitle {
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	font-size: 11pt;
	color: #3080CB;
}

div.PartNewsNote {
	font-size: 9pt;
	font-family: Tahoma,Verdana;
	color: #333;
}
