html
{
	height: 100%;
}

body
{
	margin: 0px;
	min-height: 100%;
}

div.editor_body
{
	padding: 40px 15px 40px;
}

form {
	margin: 0px;
}

td.editor_column
{
	border: 1px solid #eee;
	vertical-align: top;
   	-webkit-transition-property : border-color;	
  	-webkit-transition-duration: 200ms;
   	-moz-transition-property : border-color;	
  	-moz-transition-duration: 200ms;
   	-ms-transition-property : border-color;	
  	-ms-transition-duration: 200ms;
}

table.editor_row_highlighted
{
	border: 1px solid #0065FF;
	box-shadow: 0 0 5px #0065FF, inset 0 0 5px #0065FF;
}

td.editor_column_highlighted
{
	border: 1px solid #0065FF;
	box-shadow: 0 0 5px #0065FF, inset 0 0 5px #0065FF;
}

td.editor_column_hover
{
	border: 1px solid #abf;
  	-webkit-transition-delay: 1000ms;
  	-webkit-transition-duration: 400ms;
}

div.section_selected
{
	border: 1px solid #0065FF;
	border-radius: 3px;
	margin: -1px;
	box-shadow: 0 0 5px #0065FF, inset 0 0 5px #0065FF;
}

div.editor_section
{
	border: 1px solid transparent;
   	-webkit-transition-property : border-color;	
  	-webkit-transition-duration: 200ms;
	min-height: 10px;
}

div.editor_section_inactive
{
	-webkit-filter: saturate(0);
	opacity: .5;
}

div.editor_section_hover
{
	border: dashed 1px #abf;
  	-webkit-transition-delay: 300ms;
  	-webkit-transition-duration: 400ms;
}

a.editor_link_highlighted
{
	box-shadow: 0 0 5px #0065FF, inset 0 0 5px #0065FF;
}

div.editor_part_highlighted
{
	border: 1px solid #0065FF;
	margin: -1px;
	box-shadow: 0 0 5px #0065FF, inset 0 0 5px #0065FF;
	border-radius: 3px;
}

body.editor_details span.editor_link_bound
{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: -12px;
	margin-top: 2px;
	position: absolute;
	background: url('../../../../hui/icons/monochrome/lock12.png');
}

.editor_drop
{
	background: url('../../../../hui/gfx/hover_bg.png');
}

div.editor_error
{
	color: #aaa;
	font-size: 12px;
}

div.editor_section_adder_container
{
	position: relative;
}

div.editor_section_adder
{
	width: 100%;
	margin-top: -5px;
	position: absolute;
	padding: 2px 0;
	cursor: pointer;
	z-index: 10;
}

div.editor_section_adder div
{
	height: 4px;
	border-radius: 2px;
	position: relative;
	opacity: 0;
   	-webkit-transition-property : opacity;
  	-webkit-transition-duration: 200ms;
  	-webkit-transition-delay: 100ms;
}

div.editor_section_adder div span
{
	display: none;
	background: #0065FF;
	/*background: #3a3;*/
	position: absolute;
	width: 18px;
	height: 18px;
	line-height: 20px;
	font-size: 0;
	font-family: Arial;
	border-radius: 50%;
	margin: -8px 0 0 -10px;
	color: #fff;
	left: 50%;
}

div.editor_section_adder em
{
	width: 2px;
	height: 10px;
	background: #fff;
	position: absolute;
	margin: 4px 0 0 8px;
}

div.editor_section_adder strong
{
	width: 10px;
	height: 2px;
	background: #fff;
	position: absolute;
	margin: 8px 0 0 4px;
}

div.editor_section_adder:hover div
{
	/*background: #3a3;*/
	background: #0065FF;
	opacity: .5;
  	-webkit-transition-duration: 500ms;
}

div.editor_section_adder:hover div span,
div.editor_section_adder_sticky div span
{
	display: block;
}

div.editor_section_adder_sticky div,
div.editor_section_adder_sticky:hover div
{
	background: #0065FF;
	box-shadow: 0 0 5px #0065FF;
	opacity: .7;
}