@include when {

	.call-to-action {
	    background: #fafafa;
	    border: 1px solid #eee;
	    border-radius: 3px;
	    padding: 20px 10px;
	    text-align: center;
	}

	.call-to-action-text {
	    margin: -5px 0 0;
	    color: #666;
	    font-weight: 300;
	    font-size: 32px;
	    line-height: 1;
	}

	.call-to-action-button {
	    background: #3080CB;
	    color: #fff;
	    height: 34px;
	    line-height: 34px;
	    padding: 0 20px;
	    box-sizing: border-box;
	    border: none;
	    border-radius: 3px;
	    display: inline-block;
	    font-size: 18px;
	    margin-top: 20px;
	    text-decoration: none;
	    cursor: pointer;
	}

	.call-to-action-button:hover {
	    background: #206AB0;
	}

	.call-to-action-button:active {
	    -webkit-transform: scale(0.95);
	    outline: none;
	}	

}