@include if((target: inline)) {

  .layout_menu {
    margin: 0;
    padding: 5px;
    list-style: none;
  }

  .layout_menu_item {
    display: inline-block;
  }

  .layout_menu_link {
    padding: 0 5px;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    color: $color;
    font-weight: 300;
  }

  .layout_menu_link-highlighted {
    color: $highlight-color;
  }

  .layout_menu_link-selected {
    color: $highlight-color;
    font-weight: bold;
  }

  .layout_menu_item-first {
    display: block;
  }

  .layout_menu_link-first {
    background: url("../gfx/graphics.png") 0 -636px;
    display: inline-block;
    width: 160px;
    height: 40px;
    > span {
      display: none;
    }
  }

  @media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .layout_menu_link-first {
      background-image: url('../gfx/graphics_2x.png');
      background-size: 400px 907px;
    }
  }

}

@include if((width: 760px, target: inline)) {

  .layout_menu {
    padding: 5px 10px;

    > li {
      vertical-align: top;
    }
  }

  .layout_menu_link {
    font-size: 20px;
    line-height: 44px;
    padding: 0 10px;
  }

  .layout_menu_item-first {
    display: inline-block;
  }

}

@include if((width: 1000px, target: inline)) {

  .layout_menu {
    padding: 5px 0;
  }

}

@include if((target: msie_lt8)) {

  .layout_menu_item {
    display: inline;
  }

}