@include when(all,inline) {
  .layout_middle,
  .layout_head_body,
  .layout_base {
  	position: relative;
    max-width: 980px;
    margin: 0 auto;
  }

  .layout_head_body {
    position: relative;
  }

  .layout_head {
  	background: #f6f6f9;
  }
  
  .layout_sub_navigation {
  	margin: 0;
  	padding: 5px 5px;
  	list-style: none;
  	border-bottom: 1px solid $line-color;
	
  	> li {
  		display: inline-block;
		
  		> a {
  			padding: 0 5px;
  			height: 32px;
  			line-height: 32px;
  			text-decoration: none;
  			color: #333;
  		}
  	}
  }

  .layout_side_navigation {
  	margin: 0;
  	padding: 5px 5px;
  	list-style: none;
  	border-bottom: 1px solid $line-color;
	
  	> li {
  		display: inline-block;
		
  		> a {
  			padding: 0 5px;
  			height: 32px;
  			line-height: 32px;
  			text-decoration: none;
  			color: #333;
  		}
  	}
  }

  .layout_inner_content {
  	padding: 10px;
  }
}

@include when {
  .layout_design {
  	background: url('/style/in2isoft/gfx/graphics.png') -172px -709px;
  	text-indent: -10000px;
  	width: 177px;
  	height: 191px;
  	display: block;
  	margin: 0 auto;
  	margin-bottom: 10px;
    
    .retina & {
    	background-image: url('../gfx/graphics_2x.png');
    	background-size: 400px 907px;
    }
  }  
}

@include when(560px,inline) {
	
	.layout_inner_content {
		padding: 20px;
	}
	
	.layout_sub_navigation {
		padding: 5px 15px;
	}
}

@include when(760px,inline) {
  
	.layout_inner_content_sidebar {
		margin-right: 30%;
	}
	
	.layout_sidebar {
		width: 30%;
		float: right;
	}
}

@include when(760px) {
	
	.layout_side_navigation
	{
		list-style: none;
		margin: 20px 0 30px 15px;
		padding: 0 10px;
		font-size: 12pt;
		line-height: 26px;
		border-bottom: none;
    border-left: 1px solid $line-color;
		
		> li {
			display: block;
		}
		
		a {
			color: #333;
			text-decoration: none;
			padding: 1px 5px;
		}
	}

	.layout_side_navigation_selected a
	{
		color: #999;
	}

	.layout_side_navigation_selected:hover a
	{
		color: $color;
	}

	.layout_side_navigation a:hover
	{
		color: #000;
		text-decoration: underline;
	}

	ul.layout_side_navigation a.selected
	{
		color: #0072BC;
		font-weight: bold;
	}

	ul.layout_side_navigation a.highlighted
	{
		font-weight: bold;
	}

	ul.layout_side_navigation ul
	{
		list-style: none;
		padding-left: 15px;
	}
}

@include when(980px) {
	
	body, html {
		height: 100%;
	}
	
	.layout_middle,
	.layout_head_body,
	.layout_base {
		position: relative;
		min-height: 100%;
	}
	
	.layout_body {
		min-height: 400px;
	}
	
	.layout_base {
		padding-bottom: 220px;
	}
	
	.layout_footer
	{
		margin-top: -210px;
	}
}

@include when(1000px,inline) {
	
  .layout_sub_navigation, .layout_inner_content {
    padding-left: 0px;
  }
  .layout_sub_navigation li:first-child {
  margin-left: -5px;
  }
}

@include when(1000px) {
	
	.layout_sub_navigation,
	.layout_inner_content {
		padding-left: 0px;
	}
	
	.layout_sub_navigation li:first-child {
		margin-left: -5px;
	}

}