@include if((target: inline)) {
  .layout_search {
    margin: 0;
    font-size: 0;
    display: block;
    height: 0;
  }

  .layout_search_body {
    display: none;
  }

  .layout_search_icon {
    position: absolute;
    top: 14px;
    right: 12px;
    display: inline-block;
    width: 24px;
    height: 24px;

    > path {
      fill: #aaa;
    }
  }
}

@include if {
  .layout_search_body {
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
    right: 150px;
    padding: 4px;
  }

  .layout_search_active {
    .layout_search_body {
      display: block;
    }
  }

  .layout_search_reset {
    background: #f6f6f9 url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NjggNzY4Ij4NCjxwYXRoIGQ9Ik02MDggMTI4cTEzLjc1IDAgMjIuODc1IDkuMTI1dDkuMTI1IDIyLjg3NXEwIDEzLjUtOS4yNSAyMi43NWwtMjAxLjUgMjAxLjI1IDIwMS41IDIwMS4yNXE5LjI1IDkuMjUgOS4yNSAyMi43NSAwIDEzLjc1LTkuMTI1IDIyLjg3NXQtMjIuODc1IDkuMTI1cS0xMy41IDAtMjIuNzUtOS4yNWwtMjAxLjI1LTIwMS41LTIwMS4yNSAyMDEuNXEtOS4yNSA5LjI1LTIyLjc1IDkuMjUtMTMuNzUgMC0yMi44NzUtOS4xMjV0LTkuMTI1LTIyLjg3NXEwLTEzLjUgOS4yNS0yMi43NWwyMDEuNS0yMDEuMjUtMjAxLjUtMjAxLjI1cS05LjI1LTkuMjUtOS4yNS0yMi43NSAwLTEzLjc1IDkuMTI1LTIyLjg3NXQyMi44NzUtOS4xMjVxMTMuNSAwIDIyLjc1IDkuMjVsMjAxLjI1IDIwMS41IDIwMS4yNS0yMDEuNXE5LjI1LTkuMjUgMjIuNzUtOS4yNXoiLz4NCjwvc3ZnPg==");
    border: none;
    position: absolute;
    font-size: 0;
    right: -145px;
    width: 42px;
    height: 42px;
    top: 3px;
  }

  .layout_search_icon {
    cursor: pointer;
  }

  .layout_search_text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 3px;
    -webkit-appearance: none;

    &::-ms-clear {
      width : 0;
      height: 0;
    }
  }

  .layout_search_submit {
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    background: #3080CB;
    color: #fff;
    position: absolute;
    right: -100px;
    top: 4px;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    -webkit-appearance: none;
  }
}

@include if((width: 560px)) {

  .layout_search_icon:hover {
    > path {
      fill: #333;
    }
  }

  .layout_search_body {
    overflow: hidden;
    display: block;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .2s, width .5s;
    -moz-transition: opacity .2s, width .5s;
    -ms-transition: opacity .2s, width .5s;
    -o-transition: opacity .2s, width .5s;
    left: auto;
    width: 0px;
    height: auto;
    top: 9px;
    right: 8px;
    background: none;
    padding: 0;
  }

  .layout_search_text {
    border-radius: 3px;
    border: 1px solid #eee;
    height: 36px;
    font-size: 16px;
    padding: 0 4px 0 30px;

    &:focus {
      outline: none;
    }
  }

  .layout_search_submit {
    font-size: 0;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE5cHgiIGhlaWdodD0iMTlweCIgdmlld0JveD0iMCAwIDE5IDE5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxOSAxOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjNzc3Nzc3IiBkPSJNMTcuNjMyLDE2Ljk1NWwtNC43NjEtNC43NjJjMS4xMDktMS4xODgsMS43OTUtMi43NzYsMS43OTUtNC41MjdjMC0zLjY2Ny0yLjk4Mi02LjY0OC02LjY0OS02LjY0OA0KCWMtMy42NjcsMC02LjY0OSwyLjk4MS02LjY0OSw2LjY0N2MwLDMuNjY3LDIuOTgyLDYuNjQ3LDYuNjQ5LDYuNjQ3YzEuMzkxLDAsMi42ODItMC40MzQsMy43NS0xLjE2NGw0LjgzNCw0LjgzNEwxNy42MzIsMTYuOTU1eg0KCSBNMi44MjQsNy42NjZjMC0yLjg2MiwyLjMzLTUuMTkxLDUuMTkyLTUuMTkxYzIuODY0LDAsNS4xOTIsMi4zMjksNS4xOTIsNS4xOTFjMCwyLjg2MS0yLjMyOCw1LjE5MS01LjE5Miw1LjE5MQ0KCUM1LjE1NCwxMi44NTUsMi44MjQsMTAuNTI3LDIuODI0LDcuNjY2eiIvPg0KPC9zdmc+DQo=");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    right: auto;
    background-color: transparent;
    width: 32px;
    height: 36px;
    cursor: pointer;
    top: 0;
  }

  .layout_search_reset {
    top: 6px;
    right: 4px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    opacity: .5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .layout_search_active {
    .layout_search_body {
      width: 200px;
      opacity: 1;
    }
  }
}

@include if((target: msie_lt9)) {
  .layout_search_icon {
    background: url('../gfx/search.png');
    display: inline-block;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 10px;
    right: 10px;
  }

  .layout_search_text {
    padding: 8px 6px 0;
    box-sizing: border-box;
  }
}