@include if((target: inline)) {
  .layout_head_body,
  .layout_base {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
  }

  .layout_head_body {
    position: relative;
  }

  .layout_head {
    background: #f6f6f9;

    &-hero {
      background: #00a8e6;

      .layout_menu_link {
        color: #fff;
        &-first {
          background-position: -200px -636px;
          .scroll & {
            background-position: 0 -636px;
          }
        }
      }
      .layout_search_icon > path {
        fill: #fff;
      }
    }
  }

  .layout_content-sidebar {
    max-width: 980px;
    margin: 0 auto;
  }

  .layout_inner_content {
    padding-top: 20px;
  }
}

@include if {
  .layout_design {
    background: url('../gfx/graphics.png') -172px -709px;
    text-indent: -10000px;
    width: 177px;
    height: 191px;
    display: block;
    margin: 20px auto 10px;
  }

  @include retina {
    .layout_design {
      background-image: url('../gfx/graphics_2x.png');
      background-size: 400px 907px;
    }
  }
}

@include if((width: 760px, target:inline)) {

  .layout_inner_content-sidebar {
    margin-right: 30%;
    overflow: hidden;
    padding-right: 0;
  }

  .layout_sidebar {
    width: 30%;
    float: right;
  }

  .layout_body {
    overflow: hidden;
  }

  .layout {
    padding-top: 54px;
  }

  .layout_head {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
}

@include if((width: 760px)) {
  .layout_head {
    transition: background-color .3s;
    -moz-transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -ms-transition: background-color .3s;
  }

  .scroll {
    .layout_head {
      background: rgba(255,255,255,.95);
      box-shadow: 0 0 7px rgba(0,0,0,.2);

      .layout_menu_link {
        color: $color;
      }

      .layout_search_icon > path {
        fill: #aaa;
      }
    }

    .layout_body {
      min-height: 500px;
    }
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .layout_head {
      -webkit-backdrop-filter: blur(8px);
      //-webkit-backdrop-filter: blur(8px) brightness(1.15);
    }
    .scroll {
      .layout_head {
        background: rgba(255,255,255,0.6);
      }

      .layout_menu_link {
        text-shadow: 0 0 10px #fff;
      }
    }
  }
}



@include if((width: 980px)) {

  body, html {
    height: 100%;
  }

  .layout_middle,
  .layout_head_body,
  .layout_base {
    position: relative;
    min-height: 100%;
  }

  .layout_body {
    min-height: 400px;
  }

  .layout_base {
    padding-bottom: 220px;
  }

  .layout_footer
  {
    margin-top: -230px;
  }
}

@include if((target: msie_lt9)) {
  .layout_head_body, .layout_base {
    width: 980px;
    padding-left: 20px;
    padding-right: 20px;
  }
}