@include when(all,inline) {
	.common_header {
		margin: 0px;
		color: #333;
		font-weight: 300;
	}

	.part_text
	{
		font-size: 12pt;
		font-weight: 300;
		word-spacing: 1px;
	}
}

@include when(all,async) {
  /************ Headers ***********/


  .part_header_1
  {
  	font-size: 38px;
  	line-height: 1;
  }

  .part_header_2
  {
  	font-size: 19pt;
  	line-height: 1.105263158em;
    font-weight: 400;
  }


  .part_header_3
  {
  	font-size: 14pt;
  	line-height: 1.142857143em;
  	font-weight: 400;
  }

  .part_header_4,
  .part_header_5,
  .part_header_6
  {
  	font-weight: 400;
  }

  .part_section_header_3
  {
  	padding-bottom: 5px;
  }

  .windows .part_header
  {
  	font-weight: normal;
  }

  .windows .part_header_1
  {
  	font-weight: 300;
  }

  /************** Poster ************/

  .part_poster_text
  {
  	font-size: 14px;
  	font-weight: 300;
  }

  .part_poster_link
  {
  	font-size: 14px;
  }

  .part_poster_title
  {
  	font-weight: 400;
  }


  /*************** text *************/

  .part_text,
  .part_richtext
  {
  	font-size: 12pt;
  	font-weight: 300;
  	/*letter-spacing: 1px;*/
  	word-spacing: 1px;
  }

  .part_text strong,
  .part_richtext strong
  {
  	color: #000;
  	font-weight: 400;
  }

  .part_richtext p
  {
  	margin: 10px 0;
  }

  /** Listing **/

  .part_listing
  {
  	font-size: 11pt;
  	font-weight: 300;
  	word-spacing: 1px;
  }

  .part_listing_first
  {
  	font-size: 12pt;
  	font-weight: normal;
  }

  .part_list h3
  {
  	font-weight: normal;
  }

  .part_horizontalrule {
  	border: none;
  	border-bottom: solid 1px $line-color;
  }

  .part_news_item_title
  {
  	font-size: 10pt;
  	font-weight: 400;

    .windows & {
      font-weight: bold;
    }
  }

  .part_news_item_description
  {
  	font-size: 10pt;
  	font-weight: 300;

    .windows & {
      font-weight: 400;
    }
  }

  /** Menu **/

  .part_menu-bar {
	  display: inline-block;
    font-size: 0;
  }

  .part_menu_item {
    margin-right: -1px;
  }

  .part_menu_link-bar {
	  line-height: 22px;
	  font-size: 16px;
	  padding: 6px 10px;
	  display: block;
	  text-decoration: none;
    color: #666;
	  border: 1px solid #ddd;
  }

  .part_menu_link-bar:hover {
    background: #f3f3f3;
  }

  .part_menu_link-bar-first {
    border-radius: 4px 0 0 4px;
  }

  .part_menu_link-bar-last {
    border-radius: 0 4px 4px 0;
  }

  .part_menu_link-bar-selected {
	  color: $highlight-color;
    background: #f3f3f3;
    border-color: #ccc;
  }

}