@include when(all,inline) {
	#poster {
  	display: none;	  
	}
}

@include when(700px,inline) {
	#poster
	{
		display: block;
		height: 310px;
		background: #333;
    margin-top: 20px;
		position: relative;
	}
  
	#poster_loader
	{
		background: #000;
		color: #FFFFFF;
		left: 50%;
		margin-left: -25px;
		position: absolute;
		text-align: center;
		top: 150px;
		width: 50px;
		height: 24px;
		line-height: 22px;
	}	
  
}

@include when(700px) {
	#poster
	{
		background: #333 url('../gfx/poster_bg.png');
		cursor: pointer;
		overflow: hidden;
	}

	#poster_left
	{
		position: absolute;
    top: 0;
    left: 0;
		height: 100%;
		width: 48%;
		overflow: hidden;
    margin-left: -50%;
		background: 100% 0px no-repeat;
	}

	#poster_right
	{
		position: absolute;
    top: 0;
    right: 0;
		height: 100%;
		width: 48%;
		overflow: hidden;
    margin-right: -50%;
		background: 0 0px no-repeat;
	}

}