@include when(all,inline) {
	#poster {
  	display: none;	  
	}
}

@include when(1000px,inline) {
	#poster
	{
		display: block;
		width: 980px;
		height: 310px;
		background: #333;
    margin-top: 20px;
	}
  
	#poster_loader
	{
		background: #000;
		color: #FFFFFF;
		left: 50%;
		margin-left: -25px;
		position: absolute;
		text-align: center;
		top: 150px;
		width: 50px;
		height: 24px;
		line-height: 22px;
	}	
  
}

@include when(1000px) {
	#poster
	{
		background: #333 url('../gfx/poster_bg.png');
		cursor: pointer;
		overflow: hidden;
	}

	#poster_body
	{
		width: 990px;
		position: relative;
		left: 50%;
		margin-left: -495px;
	}

	#poster_left
	{
		float: left;
		height: 310px;
		width: 495px;
		overflow: hidden;
	}

	#poster_right
	{
		float: left;
		height: 310px;
		width: 495px;
		overflow: hidden;
	}

	#poster_left_inner
	{
		width: 990px;
		height: 310px;
		background: 245px 0px no-repeat;
	}

	#poster_right_inner
	{
		width: 990px;
		height: 310px;
		background: 495px 0px no-repeat;
	}

}