@include if((target: inline)) {

	.submenu {
		margin: 0 auto;
		padding: 5px;
		list-style: none;
		border-bottom: 1px solid $line-color;
    max-width: 980px;
	}
	.submenu_item {
		display: inline-block;
	}

	.submenu_link {
		padding: 0 5px;
		height: 32px;
		line-height: 32px;
		text-decoration: none;
		color: #333;
	}

	.submenu_link-highlighted {
		color: $highlight-color;
	}

	.submenu_link-selected {
		color: $highlight-color;
		font-weight: bold;
	}
}


@include if((width: 760px, target: inline)) {

	.submenu {
		padding: 5px 10px;
	}

	.submenu_link {
		padding: 0 10px;
	}
}

@include if((width: 1000px, target: inline)) {

	.submenu {
		padding-left: 0px;
		padding-right: 0;
	}

	.submenu li:first-child {
		margin-left: -10px;
	}
}

@include if((target: msie_lt8)) {

	.submenu_item {
		display: inline;
	}

}