/* default.css */
body
{
	font: 12px "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
a
{
	-webkit-text-stroke-color: #eee;
	text-decoration: none;
	color: #36f;
}

#header
{
	clear: both;
	background-color: #fafafa;
	padding: 8px;
	border-bottom: 1px solid #eee;
	color: #3080CB;
	font-size: 14pt;
	text-align: right;
}

#header
{
	position: absolute;
	background: none;
	border: none;
	right: 5px;
	color: #999;
}

h1
{
	font-size: 200%;
	font-weight: normal;
	color: #3080CB;
	padding: 0;
	margin: 0 0 0 .3em;
}

hr
{
	border: none 0;
	border-top: 1px solid #ddd;
	margin: 20px 0;
	height: 1px;
}

pre.code
{
	display: block;
	padding: 8px;
	border: 1px dashed #ccc;
}

#index
{
	float: left;
	width: 190px;
	position: absolute;
	background-color: #f6f6f6;
	border-right: 1px solid #eee;
	padding: 8px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
}

#index a
{
	color: #666;
}

#content
{
	margin-left: 220px;
	padding-top: 20px;
}

.classList
{
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 8px;
	font-family: arial, sans-serif;
	font-size: 1em;
	overflow: auto;
}

.classList li
{
	padding: 0;
	margin: 0 0 8px 0;
}

.summaryTable { width: 100%; }

h1.classTitle
{
	font-size:170%;
	line-height:130%;
}

h2 { font-size: 110%; }
caption, div.sectionTitle
{
	margin-top: 30px;
	color: #999;
	font-size:130%;
	text-align: left;
	padding: 2px 6px 5px 0;
	border-bottom: 1px #eee solid;
}

div.sectionTitle { margin-bottom: 8px; }
.summaryTable thead { display: none; }

.summaryTable td
{
	vertical-align: top;
	padding: 8px;
	border-bottom: 1px #eee solid;
	border-right: 1px #eee solid;
}

/*col#summaryAttributes {}*/
.summaryTable td.attributes
{
	border-left: 1px #eee solid;
	width: 140px;
	text-align: right;
}

td.attributes, .fixedFont
{
	line-height: 15px;
	color: #002EBE;
	font-family: "Courier New",Courier,monospace;
	font-size: 13px;
}

.summaryTable td.nameDescription
{
	text-align: left;
	font-size: 13px;
	line-height: 15px;
}

.summaryTable td.nameDescription
{
	line-height: 15px;
	padding: 8px 4px 8px 12px;
}

.description
{
	padding-left: 14px;
}

.summaryTable { margin-bottom: 8px; }

ul.inheritsList
{
	list-style: square;
	margin-left: 20px;
	padding-left: 0;
}

.detailList {
	margin-left: 20px; 
	line-height: 15px;
}
.detailList dt { margin-left: 20px; }

.detailList .heading
{
	font-weight: bold;
	padding-bottom: 6px;
	margin-left: 0;
}

.light, td.attributes, .light a:link, .light a:visited
{
	color: #777;
	font-style: italic;
}

.fineprint
{
	text-align: right;
	font-size: 10px;
	padding: 20px;
	color: #999;
}

.fineprint a
{
	color: #999;
}