html
{
	height: 100%;
}

body
{
	margin: 0;
	background: #efe8d4 url('../gfx/background.jpg');
	min-height: 100%;
}

div.layout
{
	padding-bottom: 50px;
}

div.layout_middle
{
	width: 1048px;
	margin: 0 auto;
}

div.layout_content
{
	margin-top: 30px;
	margin-left: 260px;
	min-height: 300px;
	width: 778px;
	background: url('../gfx/paper.png') -791px top repeat-y;
}

div.layout_content_top
{
	height: 19px;
	width: 786px;
	position: absolute;
	background: url('../gfx/paper.png');
	margin-left: -6px;
	margin-top: -19px;
}

div.layout_content_bottom
{
	height: 23px;
	width: 786px;
	position: absolute;
	background: url('../gfx/paper.png') left 23px;
}

div.layout_content_left
{
	width: 15px;
	height: 500px;
	position: absolute;
	background: url('../gfx/paper_vertical.png') left 0;
	margin-left: -11px;
}

div.layout_content_right
{
	position: absolute;
	width: 19px;
	height: 500px;
	background: url('../gfx/paper_vertical.png') -15px bottom;
	margin-left: 774px;
	margin-top: -500px;
}

div.layout_content_middle
{
	padding: 15px 30px;
	margin: 0 4px;
	background: #fff;
	min-height: 500px;
}

div.layout_header
{
	height: 140px;
	background: #fff url('../gfx/header.jpg') 30% top repeat-x;
}

div.layout_header p
{
	text-indent: -10000px;
	height: 119px;
	width: 500px;
	background: url('../gfx/logo.png');
	margin: 0;
	position: absolute;
	left: 50%;
	top: 4px;
	margin-left: -500px;
}

/**************************** Sidebar ************************/

div.layout_sidebar
{
	width: 252px;
	padding-top: 15px;
	padding-left: 10px;
	position: absolute;
	z-index: 20;
	padding-bottom: 200px;
}


/****************************** Menu **************************/

div.layout_menu
{
	width: 252px;
	background: url('../gfx/menu.jpg');
	margin-left: 2px;
}

div.layout_menu_top
{
	height: 20px;
	background: url('../gfx/menu.png');
}

div.layout_menu_bottom
{
	height: 20px;
	background: url('../gfx/menu.png') left bottom;
}

div.layout_menu_middle
{
	background: url('../gfx/menu.png') -252px top repeat-y;
}

div.layout_menu ul
{
	margin: 0;
	margin-left: 4px;
	padding: 0 0 0 0;
	list-style: none;
	line-height: 23px;
	padding-bottom: 6px;
}

div.layout_menu ul ul
{
	padding-left: 0px;
	margin: 0;
	padding-bottom: 0;
}

div.layout_menu ul ul ul
{
}

div.layout_sidebar li
{
}

div.layout_sidebar li a
{
	text-decoration: none;
	color: #543;
	font-size: 12pt;
	display: block;
	padding-left: 45px;
}

div.layout_sidebar ul ul a
{
	padding-left: 60px;
}

div.layout_sidebar ul ul ul a
{
	padding-left: 75px;
}

div.layout_sidebar a.selected
{
	font-weight: bold;
	color: red;
	background: url('../gfx/menu_selection.png') 17px 0px no-repeat;
}

div.layout_sidebar a.highlighted
{
	color: #000;
}

div.layout_sidebar li a:hover
{
	background-color: #f2f1d6;
	background-color: rgba(130,100,0,.1);
	padding-bottom: 1px;
	margin-bottom: -1px;
}

div.layout_sidebar ul ul a
{
	font-size: 10pt;
}

body div.layout_contact
{
	margin-top: 40px;
}

/********** Box **************/

div.layout_box
{
	margin-top: 20px;
	color: #333;
	width: 246px;
}

div.layout_box_top
{
	height: 40px;
	background: url('../gfx/note.png') no-repeat;
}

div.layout_box_bottom
{
	height: 30px;
	background: url('../gfx/note.png') left bottom no-repeat;
}

div.layout_box_middle
{
	background: url('../gfx/note.png') -246px top repeat-y;
	padding: 0px 30px 1px;
}

div.layout_box h3
{
	position: relative;
	top: -10px;
	margin: 0 0 0;
	font-weight: normal;
	font-size: 24px;
	line-height: 21px;
}

div.layout_box p
{
	margin: 0;
	font-size: 10pt;
	line-height: 21px;
}

div.layout_address
{
	font-style: italic;
}

div.layout_box a
{
	color: #666;
}

/************* Footer ***********/

div.layout_footer
{
	clear: both;
	height: 296px;
	background: url('../gfx/footer.jpg');
	position: absolute;
	width: 100%;
}

div.layout_footer_text
{
	font-family: Helvetica,Arial,sans-serif;
	padding-top: 120px;
	text-align: center;
	color: #cabcaf;
	font-size: 12px;
}

div.layout_footer_text strong
{
	font-size: 18px;
	color: #e0d0c1;
	font-weight: normal;
}

div.layout_footer_text p
{
	margin: 0 0 3px;
}

p.layout_designed
{
	text-align: center;
	margin: 0;
	padding: 40px 0 0;
}

p.layout_designed a
{
	display: inline-block;
	background: url('../gfx/in2isoft.png');
	width: 166px;
	height: 66px;
}

p.layout_designed span
{
	display: none;
}