body
{
	font-family: Georgia,'Times New Roman',Palatino,Times,sans-serif;
}

.common_font
{
	font-family: Georgia,'Times New Roman',Palatino,Times,sans-serif;
}

a.common
{
	color: #ddd;
	cursor: pointer;
}

a.common span
{
	color: #349;
}
	
a.common:hover, a.common:hover span
{
	color: #12f;
}

h1.common,h2.common,h3.common,h4.common,h5.common,h6.common
{
	margin: 0px;
	color: #555;
	font-weight: normal;
}

p.common, ul.common
{
	font-size: 9pt;
	line-height: 160%;
	text-align: justify;
}

hr.part_horizontalrule
{
	border-bottom: 1px dotted #ccc;
}

.part_header
{
	color: #555;
}

div.part_listing ul
{
	color: #ccc;
}

.part_text
{
	font-size: 10pt;
	line-height: 1.5em;
}