/* Header */
textarea.HeaderEditor{font-weight: normal; font-family: Tahoma,Verdana; color: #73A2C9; margin: 0px;}
textarea.HeaderEditor1{font-size: 24pt; color: #003CB6;}
textarea.HeaderEditor2{font-size: 18pt;}
textarea.HeaderEditor3{font-size: 14pt;}
textarea.HeaderEditor4{font-size: 12pt;}
textarea.HeaderEditor5{font-size: 10pt;}
textarea.HeaderEditor6{font-size: 9pt;}
td.sectionTDheader1{padding-bottom: 20px;}
td.sectionTDheader2 {padding-bottom: 15px; padding-top: 5px;}
td.sectionTDheader3 {padding-bottom: 10px; padding-top: 5px;}
td.sectionTDheader4 {padding-bottom: 10px; padding-top: 5px;}
td.sectionTDheader5 {padding-bottom: 10px; padding-top: 5px;}
td.sectionTDheader6 {padding-bottom: 10px; padding-top: 5px;}

.HeaderDisplay{font-weight: normal; font-family: Tahoma,Verdana; color: #73A2C9; margin: 0px;}
h1.HeaderDisplay{font-size: 24pt; border-bottom: solid 1px #ddd; font-weight: normal; color: #003CB6;}
h2.HeaderDisplay{font-size: 18pt;}
h3.HeaderDisplay{font-size: 14pt;}
h4.HeaderDisplay{font-size: 12pt;}
h5.HeaderDisplay{font-size: 10pt;}
h6.HeaderDisplay{font-size: 9pt;}

/* Text */
textarea.TextEditor{font-family: Tahoma,Verdana; font-size: 10.5pt; line-height: 160%; text-align: justify;}
div.TextDisplay{font-family: Tahoma,Verdana; font-size: 10.5pt; line-height: 160%; text-align: justify;}
td.sectionTDtext{padding-bottom: 10px;}

/* Image */
img.ImageEditor{}
img.ImageDisplay{}

/* List */
textarea.ListEditor{font-family: Tahoma,Verdana; font-size: 10pt;}
div.ListDisplay{font-family: Tahoma,Verdana; font-size: 10pt;}
.List {margin-top: 0px; margin-bottom: 0px; font-family: Tahoma,Verdana;}
li.ListItem {margin-bottom: 10px;}
span.ListItemFirst {font-weight: bold; color: #99CC33;}

/* News */
td.sectionTDnews{padding-bottom: 10px;}

div.NewsBlock {
	border: solid 1px #FFBB00;
	}

div.NewsBlockTitle {
	font-weight: bold;
	font-size: 10pt;
	color: #fff;
	font-family: Tahoma,Verdana;
	background-color: #FFBB00;
	padding: 2px;
	text-align: center;
}

div.NewsItem {
	padding: 3px 3px 3px 4px;
}

div.NewsTitle {
	font-size: 11pt;
	color: #73A2C9;
	font-family: Tahoma,Verdana;
}

div.NewsNote {
	font-size: 9pt;
	font-family: Tahoma,Verdana;
	color: #333;
}

/* Links */
a.TextLink {
	color: #69f;
	text-decoration: none;
	border-bottom: solid 1px #2c4;
	}

a.TextLink:hover {
	color: #0066FF;
	border-bottom-color: #8D9Cff;
}