div.hui_gallery
{
	overflow: hidden;
	min-height: 100%;
}

div.hui_gallery_drop
{
	background: #fff url('../gfx/hover_bg.png');
}

div.hui_gallery_item
{
	float: left;
	border: 3px solid transparent;
	margin: 4px;
}

div.hui_gallery
{
	text-align: center;
}

div.hui_gallery_item
{
	display: inline-block;
	float: none;
}

div.hui_gallery_item_busy
{
	background: url('../gfx/progress/spinner_white_16.gif') center center no-repeat;
}

div.hui_gallery_item img
{
	display: block;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}

div.hui_gallery_item_busy img
{
	visibility: hidden;
}

div.hui_gallery_item_error
{
	border: 3px dashed rgb(255,0,0);
	border: 3px dashed rgba(255,0,0,.5);
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.hui_gallery_item_error img
{
	display: none;
}

div.hui_gallery_item:hover
{
	border-color: #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*background: url('../gfx/hover_bg.png');*/
}

div.hui_gallery_item_selected, div.hui_gallery_item_selected:hover
{
	border-color: #3875d7;
	background: url('../gfx/hover_bg.png');
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.hui_gallery_busy div.hui_gallery_item
{
	opacity: .5;
}

div.hui_gallery_progress
{
	height: 32px;
	width: 32px;
	background: #fff url('../gfx/progress/spinner_white_32.gif') center center no-repeat;
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -17px 0 0 -17px;
	z-index: 1;
}

div.hui_gallery_busy div.hui_gallery_progress
{
	display: block;
}