/******************************* Radio button **************************/

span.hui_radiobuttons
{
	vertical-align: middle;
	display: inline-block;
	font-size: 0;
}

a.hui_radiobutton
{
	overflow: hidden;
	margin-right: 10px;
	font-size: 10pt;
	cursor: default;
	color: #004A80;
	display: inline-block;
	cursor: pointer;
}

span.hui_radiobutton_button
{
	vertical-align: top;
	display: inline-block;
	background: url('../gfx/radiobutton.png') no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 3px;
}

span.hui_radiobutton_button span
{
	display: inline-block;
	width: 20px;
	height: 20px;
}

a.hui_radiobutton:hover span.hui_radiobutton_button
{
	background-position: 0 -20px;
}

a.hui_radiobutton:active span.hui_radiobutton_button
{
	background-position: 0 -40px;
}

a.hui_radiobutton:focus
{
	outline: none;
}


a.hui_radiobutton:focus span.hui_radiobutton_label
{
	text-shadow: #3366ff 0px 0px 2px;
	color: #002244;
}

a.hui_radiobutton:focus span.hui_radiobutton_button
{
	background-position: 0 -60px;
}

a.hui_radiobutton:hover:focus span.hui_radiobutton_button
{
	background-position: 0 -80px;
}

a.hui_radiobutton:actve:focus span.hui_radiobutton_button
{
	background-position: 0 -100px;
}

span.hui_radiobutton_label
{
	vertical-align: top;
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

a.hui_radiobutton_selected span.hui_radiobutton_button span
{
	background: url('../gfx/radiobutton.png') 0 -120px no-repeat;
}

span.hui_radiobuttons_disabled
{
	opacity: .5;
}