$color: #324d60;

$highlight-color: #007AC5;

$link-color: #00A8A8;

$link-color: #0094FF;

$line-color: #eee;

@mixin when($size:all,$type:'async') {
	@if ($target=='nomediaqueries' and $size!='all') {
		@content;
	}
	@else {
		@if ($target==$type or $target==editor) {
			@if ($size=='all') {
				@content;
			}
			@else {
				@media screen and (min-width: $size) {
					@content;
				}    
			}
		}
	}
}

@mixin retina {
  @media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}