$target: inline;

@import 'tools';

@import 'parts/all';


/////////////////// Document ////////////////

div.document_column
{
	display: block;
}

@media screen and (max-width: 700px) {
	.document_column {
		width: auto !important;
		padding: 0 !important;
	}
}

@media screen and (min-width: 700px) {
	.document_row {
		display: table;
		width: 100%;
	}
	.document_row_body {
		display: table-row;
	}
	div.document_column {
		display: table-cell;
		vertical-align: top;
	}
}
