@import 'tools';

body
{
	padding: 0px;
	margin: 0px;
  font-family: Arial,'Helvetica',sans-serif;
}

body.font
{
	font-family: Lato,'Helvetica Neue','Helvetica','Arial','Lucida Grande','Lucida Sans Unicode', sans-serif;
}


#poster {
	display: none;
}

.layout_middle,
.layout_head_body,
.layout_base {
	position: relative;
  max-width: 980px;
  margin: 0 auto;
}

.layout_head_body {
  position: relative;
}

.layout_head {
	background: #f6f6f9;
}

///////// Menu /////////

.layout_menu {
	margin: 0;
	padding: 5px 10px;
	list-style: none;
	text-align: center;
}

.layout_menu_item {
	display: inline-block;
}

.layout_menu_link {
	padding: 0 5px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
	color: #333;
}

.layout_menu_item_first {
	display: block;
	text-align: center;
}

.layout_menu_link_first {
	background: url("/style/humanise/gfx/graphics.png") -139px -636px;
	display: inline-block;
	width: 160px;
	height: 40px;
	> span {
		display: none;
	}
}
.layout_sub_navigation {
	margin: 0;
	padding: 5px 5px;
	list-style: none;
	border-bottom: 1px solid #eee;
	
	> li {
		display: inline-block;
		
		> a {
			padding: 0 5px;
			height: 32px;
			line-height: 32px;
			text-decoration: none;
			color: #333;
		}
	}
}

.layout_side_navigation {
	margin: 0;
	padding: 5px 5px;
	list-style: none;
	border-bottom: 1px solid #eee;
	
	> li {
		display: inline-block;
		
		> a {
			padding: 0 5px;
			height: 32px;
			line-height: 32px;
			text-decoration: none;
			color: #333;
		}
	}
}

.layout_inner_content {
	padding: 10px;
}

.layout_search {
	margin: 0;
	font-size: 0;
}

.layout_search_body {
	display: none;
}

.layout_search_icon {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	
	> path {
		fill: #aaa;
	}
}

@include breakpoint(760px) {
  
	
	.layout_menu {
		text-align: left;
		
		> li {
			vertical-align: top;
		}
	}
  
  .layout_menu_link {
		font-size: 20px;
		line-height: 44px;
		padding: 0 10px;
		color: $color;
  }

	.layout_menu_item_first {
		display: inline-block;
	}
  
	.layout_inner_content_sidebar {
		margin-right: 30%;
	}
	
	.layout_sidebar {
		width: 30%;
		float: right;
	}
}

@include breakpoint(1000px) {
	
	.layout_menu {
		padding: 5px 0;
	}
  .layout_sub_navigation, .layout_inner_content {
    padding-left: 0px;
  }
  .layout_sub_navigation li:first-child {
  margin-left: -5px;
  }
}



///////////////////// Common //////////////////

.common_header {
	margin: 0px;
	color: #333;
	font-weight: 300;
}

.part_text
{
	font-size: 12pt;
	font-weight: 300;
	word-spacing: 1px;
}

/////////////////// Document ////////////////

div.document_column
{
	display: block;
}

@media screen and (max-width: 700px) {
	.document_column {
		width: auto !important;
		padding: 0 !important;
	}
}

@media screen and (min-width: 700px) {
	.document_row {
		display: table;
		width: 100%;
	}
	.document_row_body {
		display: table-row;
	}
	div.document_column {
		display: table-cell;
    vertical-align: top;
	}
}
