$target: inline;

@import 'tools';

@import 'parts/all';




///////// Menu /////////









///////////////////// Common //////////////////

.common_header {
	margin: 0px;
	color: #333;
	font-weight: 300;
}

.part_text
{
	font-size: 12pt;
	font-weight: 300;
	word-spacing: 1px;
}

/////////////////// Document ////////////////

div.document_column
{
	display: block;
}

@media screen and (max-width: 700px) {
	.document_column {
		width: auto !important;
		padding: 0 !important;
	}
}

@media screen and (min-width: 700px) {
	.document_row {
		display: table;
		width: 100%;
	}
	.document_row_body {
		display: table-row;
	}
	div.document_column {
		display: table-cell;
    vertical-align: top;
	}
}
