.layout_searching {
	.layout_search_body {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #fafafa;
		right: 150px;
		height: 50px;
		padding: 4px;
	}
}

.layout_search_icon {
	cursor: pointer;
}

.layout_search_text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	border: 1px solid #aaa;
}

.layout_search_submit {
	width: 100px;
	height: 40px;
	box-sizing: border-box;
	display: inline-block;
	background: #abc;
	color: #fff;
	position: absolute;
	right: -100px;
	top: 4px;
	border: none;
	font-size: 14px;
}


/********************** Base ***********************/


body.msie div.layout_info
{
	box-shadow: inset 0px 1px 4px 0px #DDD;
}

form
{
	margin: 0px;
}
img
{
	border: none;
}

a {
    word-break: break-word;
}


/******** Translation ********/

span.layout_languages
{
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: 12px;
	line-height: 16px;
}

p.layout_translation
{
	margin: -5px 0 0 0;
	font-size: 11px;
}

span.layout_languages a,
p.layout_translation a
{
	color: #ddd;
}

span.layout_languages a span,
p.layout_translation a span
{
	color: #666;
}

span.layout_languages a:hover ,
p.layout_translation a:hover ,
span.layout_languages a:hover span,
p.layout_translation a:hover span
{
	color: #0169B2;
}



/******** Footer ********/

div.layout_footer span
{
	color: #666;
}

a.layout_design
{
	background: url('/style/in2isoft/gfx/graphics.png') -172px -709px;
	text-indent: -10000px;
	width: 177px;
	height: 191px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

div.layout_links
{
	height: 30px;
}

div.layout_links a span
{
	color: #666;
}














/*********************** Info **********************/

.layout_info
{
	overflow: hidden;
	padding: 10px;
}

div.layout_info h2
{
	font-family: Lato,"Lucida Grande","Lucida Sans Unicode", sans-serif;
	font-weight: 300;
	font-size: 28px;
	margin: 0px 20px 10px 0;
	height: 28px;
	color: #666;
}


div.layout_info p
{
	margin: 0 20px 0 0;
}

div.layout_info div.about p
{
	font-family: Lato,"Lucida Grande","Lucida Sans Unicode", sans-serif;
	font-weight: 300;
	font-size: 12pt;
	line-height: 16pt;
	margin-top: 11px;
	color: #666;
}

body.windows div.layout_info div.about p, body.windows div.layout_info div.about p
{
	font-weight: normal;
}


div.layout_info div.contact p
{
	font-size: 9pt;
	color: #666;
	line-height: 16pt;
}

div.layout_info div.contact p.name
{
	color: #999;
	font-size: 12pt;
}

div.layout_info div.contact p.name strong
{
	font-weight: normal;
}

div.layout_info div.about p.more
{
	line-height: 11px;
	font-size: 11pt;
	margin-top: 24px;
}

div.layout_info a span
{
	color: #666;
}

div.layout_info:hover h2
{
	color: #000;
}

div.layout_info:hover div.about p
{
	color: #333;
}

div.layout_info:hover a span
{
	color: #0079CD;
}

div.layout_info:hover div.contact p.name
{
	color: #333;
}


