@import 'tools.scss';

@mixin breakpoint($size) {
	@content;
}

@import 'adaption';

div.layout_middle, div.layout_info
{
	border: 1px solid #eee;
	width: 990px;
}

ul.layout_navigation li.normal a:hover
{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
	border: 1px solid #eee;
	margin: -1px 4px -1px -1px;
}

ul.layout_navigation li.selected a, ul.layout_navigation li.highlighted a
{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedfe0', endColorstr='#f4f4f4',GradientType=0 );
	border: 1px solid #ddd;
	border-color: #ccc #ddd #ddd;
	margin: -1px 4px -1px -1px;
}