/********************* Common *******************/
	
a.common
{
	color: #3366ff;
}
	
a.common:hover
{
	color: #0000aa;
}

h1.common, h2.common, h3.common, h4.common, h5.common, h6.common
{
	margin: 0px;
	color: #D96B11;
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	font-weight: normal;
}

p.common, ul.common
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	line-height: 160%;
	text-align: justify;
}

/********************** Base ***********************/

body
{
	font-family: Tahoma,Verdana,sans-serif;
	background-color: #f5f8fa;
	padding: 0px;
	margin: 0px;
}
body,html
{
	height: 100%;
}

form
{
	margin: 0px;
}

.base
{
	position: relative;
	left: 50%;
	top: 20px;
	margin-left: -400px;
	width: 800px;
	background: #fff url('../graphics/BaseLeft.gif') repeat-y left;
}

.base .base
{
	position: static;
	margin: 0px;
	background: url('../graphics/BaseRight.gif') repeat-y right;
}

.body
{
	padding: 0px 17px;
}

.content
{
	background: #f3f2e4;
	padding: 20px 20px 20px 20px;
	height: 100%;
}

.top
{
	background: url('../graphics/BaseTop.gif') repeat-x top;
	height: 10px;
	width: 100%;
}

.top .left
{
	background: url('../graphics/BaseTopLeft.gif') no-repeat top left;
	height: 15px;
}

.top .right
{
	background: url('../graphics/BaseTopRight.gif') no-repeat top right;
	height: 15px;
	font-size: 1px;
}
.bottom
{
	background: #fff url('../graphics/BaseBottom.gif') repeat-x bottom;
	height: 15px;
	width: 100%;
	margin-bottom: 20px;
}

.bottom .left
{
	background: url('../graphics/BaseBottomLeft.gif') no-repeat top left;
	height: 15px;
}

.bottom .right
{
	background: url('../graphics/BaseBottomRight.gif') no-repeat top right;
	height: 15px;
	font-size: 1px;
}

.brand
{
	background: #fff url('../graphics/BrandBG.gif') repeat-x bottom;
	height: 104px;
	margin: 6px 17px 0px 17px;
}

/***************** Standard tabs *************/


ul.tabs
{
	margin: 0px;
	padding: 0px;
	position: relative;
	float: right;
	top: 62px;
	right: 5px;
}

ul.tabs li
{
	float: left;
	background: #fff url('../graphics/TabBG.gif') repeat-x bottom;
	list-style: none;
}

ul.tabs li a
{
	display: block;
	background: url('../graphics/TabLeft.gif') no-repeat bottom left;
	color: #2c7515;
	text-decoration: none;
	font: 11pt "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

ul.tabs li a span
{
	padding: 15px 10px 0px 10px;
	height: 27px;
	display: block;
	background: url('../graphics/TabRight.gif') no-repeat bottom right;
}


ul.tabs li.hover a
{
	color: #fff;
}

/***************** Selected tabs *************/

ul.tabs li.selected, ul.tabs li.hilited, ul.tabs li.hover
{
	background: #fff url('../graphics/TabBGSelected.gif') repeat-x bottom;
}

ul.tabs li.selected a, ul.tabs li.hilited a, ul.tabs li.hover a
{
	background: url('../graphics/TabLeftSelected.gif') no-repeat bottom left;
}

ul.tabs li.selected a
{
	color: #e97e00;
}

ul.tabs li.selected a span, ul.tabs li.hilited a span, ul.tabs li.hover a span
{
	background: url('../graphics/TabRightSelected.gif') no-repeat bottom right;
}



/*********************** Box **********************/

div.box
{
	background: url('../graphics/BoxBG.gif') repeat-y top left;
	width: 224px;
}

div.box strong.title
{
	display: block;
	color: #c1b182;
	font: normal 12pt "Trebuchet MS",Tahoma,Verdana,sans-serif;
	padding-bottom: 8px;
}

div.box div.top, div.box div.bottom
{
	display: block;
	float: none;
	height: auto;
}

div.box div.top
{
	background: url('../graphics/BoxTop.gif') no-repeat top left;
}

div.box div.bottom
{
	background: url('../graphics/BoxBottom.gif') no-repeat bottom left;
	padding: 20px;
	width: 184px;
	margin: 0px;
}




/************************* User status ***********************/


.userstatus
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 9pt;
	color: #74ae04;
}

.userstatus em
{
	color: #e97e00;
}

.userstatus a
{
	margin-left: 5px;
}


/********************** Navigation *******************/


div.navigation
{
	margin-bottom: 15px;
	padding: 8px;
	background-color: #f4f7f9;
	border: solid 1px #e7eef2;
}

a.navigation
{
	display: block;
	font-size: 14px;
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	color: #74ae04;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
}

a.navigation:hover span
{
	text-decoration: underline;
}

a.navigation_sub
{
	font-size: 12px;
	color: #3080CB;
	padding-top: 1px;
	padding-bottom: 1px;
}

a.navigation_sub:hover
{
	text-decoration: underline;
}

div.navigation span
{
	color: #3080CB;
}

a.navigation_selected
{
	color: #e97e00;
}

a.navigation_selected span {
	color: #e97e00;
}



/****************** Links ********************/

.links_top
{
	color: #ddd;
	position: absolute;
	left: 50%;
	top: 8px;
	margin-left: -375px;
	text-align: right;
	display: block;
	width: 750px;
	z-index: 1;
	font-size: 10pt;
}

.footer
{
	color: #ddd;
	position: relative;
	left: 50%;
	top: -5px;
	margin-left: -375px;
	text-align: right;
	display: block;
	width: 750px;
	z-index: 1;
	font-size: 10pt;
	padding-bottom: 10px;
}

.footer .text
{
	float: left;
	color: #888;
}

.links_top a, .links_bottom a
{
	color: #888;
}

.links_top a:hover, .links_bottom a:hover
{
	color: #24f;
}



/************************** Search *********************/

form.search
{
	position: absolute;
	margin-left: 610px;
	margin-top: 5px;
}

form.search .field
{
	border: solid 1px #ddd;
	background-color: white;
	width: 100px;
	margin: 4px 4px 0px 0px;
	padding-left: 2px;
	color: #000;
}

form.search .button
{
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	border: solid 1px #ddd;
	background-color: #eee;
	color: #3080CB;
	margin: 4px 21px 0px 0px;
	height: 20px;
	cursor: pointer;
	font-size: 10pt;
}










/* ======================== News ==================== */


div.news
{
	padding: 4px 2px 8px 2px;
	font-family: Tahoma,Verdana,sans-serif;
}

div.news .title
{
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	color: #3080CB;
	font-weight: bold;
	padding-bottom: 3px;
}

div.news .note
{
	font-size: 8pt;
	color: #89a;
	max-height: 50px;
	overflow: hidden;
}

div.news:hover div.note
{
	max-height: 100%;
	overflow: visible;
	color: #347;
}

div.news span.date
{
	font-weight: normal;
	color: #bcd5e6;
	float: right;
	font-size: 15pt;
	padding-left: 4px;
}

div.news .links
{
	text-align: right;
	font-size: 8pt;
	margin-top: 3px;
}