div.header
{
	background: url('../../Resources/large_logo.png') 20px 10px no-repeat;
	height: 70px;
	border-bottom: 1px solid #ddd;
}

div.header span.date
{
	float: left;
	margin-left: 415px;
	margin-top: 34px;
	font-size: 14px;
	color: #aaa;
}