@import 'tools';

$target: 'async';

@include if {

  .common_link
  {
    color: rgba(0,0,0,.2);
    cursor: pointer;

    &_text {
      color: #e44800;
    }

    &:hover, &:hover &_text {
      color: #3c69ff;
    }
  }

  .common_header {
    color: #3D494C;
    font-family: $effect-font;
    font-weight: normal;
    margin: 0;
    text-align: center;

    &-1 {
      font-size: 50pt;
    }

    &-2 {
      font-size: 32pt;
    }

    &-3 {
      font-size: 28pt;
    }

    &-4 {
      font-size: 24pt;
    }

    &-5 {
      font-size: 20pt;
    }

    &-6 {
      font-size: 16pt;
    }
  }
}

@include if(( width: 700px )) {

  .common_header {

    &-1 {
      font-size: 70pt;
    }

    &-2 {
      font-size: 32pt;
    }

    &-3 {
      font-size: 28pt;
    }

    &-4 {
      font-size: 24pt;
    }

    &-5 {
      font-size: 20pt;
    }

    &-6 {
      font-size: 16pt;
    }
  }

}