/********************* Common *******************/
	
a.common
{
	color: #999;
}

a.common span
{
	color: #62b1ee;
}
	
a.common:hover, a.common:hover span
{
	color: #0169b2;
}

h1.common,h2.common,h3.common,h4.common,h5.common,h6.common
{
	margin: 0px;
	color: #ceff65;
	font-family: "Lucida Grande","Lucida Sans Unicode", sans-serif;
	font-weight: normal;
}

p.common, ul.common
{
	font-family: "Lucida Grande","Lucida Sans Unicode", sans-serif;
	font-size: 9pt;
	line-height: 160%;
	text-align: justify;
}

.clear
{
	clear: both;
}

/********************** Base ***********************/


img
{
	border: none;
}

body
{
	font-family: "Lucida Grande","Lucida Sans Unicode", sans-serif;
	padding: 0px;
	margin: 0px;
	background: #282828;
	text-align: center;
}

body,html
{
	height: 100%;
}

form
{
	margin: 0px;
}

div.layout
{
	min-height: 100%;
	position: relative;
}

div.layout_head
{
	overflow: hidden;
	height: 107px;
	background: url('../gfx/header.jpg') 30% top;
}

div.layout_head div.layout_container
{
	position: relative;
}

span.layout_languages
{
	position: absolute;
	top: 28px;
	right: 0;
}

span.layout_languages a
{
	display: inline-block;
	height: 40px;
	background-image: url('../gfx/flags.png');
	background-repeat: no-repeat;
	line-height: 40px;
	color: white;	
}

span.layout_languages a span
{
	display: inline-block;
	padding-left: 44px;
	text-shadow: 0 1px 4px black;
}

a.layout_language_en
{
	background-position: 0 -40px;
}

a.layout_logo
{
	background: url('../gfx/logo.png') no-repeat;
	width: 409px;
	height: 98px;
	position: absolute;
	margin-top: 2px;
	margin-left: 0;
}

div.layout_container
{
	margin: 0px auto;
	width: 906px;
	text-align: left;
}

div.layout_middle
{
	padding-bottom: 100px;
}

div.layout_middle_body
{
	background: #383c3a url('../gfx/footer.jpg') center bottom repeat-x;
	padding-bottom: 90px;
}

div.layout_middle_body div.layout_container
{
	overflow: hidden;
}

div.layout_content
{
	overflow: hidden;
	min-height: 400px;
}

div.layout_sidebar
{
	float: right;
	width: 220px;
	padding-top: 20px;
	padding-right: 15px;
}

div.layout_inner_content
{
	padding: 20px;
}

div.layout_content_sidebar div.layout_inner_content
{
	width: 410px;
}

/******** Footer ********/

div.layout_footer
{
	font-size: 9pt;
	height: 90px;
	position: relative;
	margin-top: -90px;
}

div.layout_footer span
{
	color: #666;
}

a.layout_design
{
	background: url('../gfx/designedby.png');
	text-indent: -10000px;
	width: 149px;
	height: 47px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

div.layout_links
{
	height: 30px;
}

/***************** Top navigation *************/

div.layout_navigation_bar
{
	float: left;
	width: 200px;
	padding-bottom: 20px;
	padding-right: 20px;
}

ul.layout_navigation
{
	margin: 0px;
	padding: 20px 0 0 0;
	display: block;
	overflow: hidden;
	cursor: default;
}

ul.layout_navigation li
{
	list-style: none;
	width: 100%;
}

ul.layout_navigation li a
{
	font-family: "Lucida Grande","Lucida Sans Unicode", sans-serif;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	height: 33px;
	line-height: 31px;
	margin-right: 5px;
	cursor: pointer;
}

ul.layout_navigation li a:hover
{
	background: #303231 url('../gfx/graphics.png') left -152px no-repeat;
}

ul.layout_navigation li a:hover span
{
	background: url('../gfx/graphics.png') right -185px no-repeat;
}

ul.layout_navigation li span
{
	display: block;
	height: 33px;
	padding: 0 8px 0 30px;
	white-space: nowrap;
}

ul.layout_navigation a.highlighted
{
	color: #CEFF65;
}

ul.layout_navigation a.selected, ul.layout_navigation a.selected:hover
{
	color: #CEFF65;
	background: #282828 url('../gfx/graphics.png') left -86px no-repeat;
}

ul.layout_navigation a.selected span, ul.layout_navigation a.selected:hover span
{
	background: url('../gfx/graphics.png') right -119px no-repeat;
}

ul.layout_navigation ul
{
	padding-left: 20px;
	padding-top: 5px;
	margin: 0;
}

/********************** Box *********************/

div.layout_box
{
	background: #282828;
}

div.layout_box_top, div.layout_box_top div, div.layout_box_bottom, div.layout_box_bottom div
{
	font-size: 0;
	background: url('../gfx/box.png') left top no-repeat;
	height: 5px;
}

div.layout_box_top div
{
	background-position: right -5px;
}

div.layout_box_bottom
{
	background-position: left -10px;
}

div.layout_box_bottom div
{
	background-position: right -15px;
}


/************************* Contact ***********************/

div.layout_contact
{
	margin-top: 20px;
}

div.layout_contact div.layout_box_middle
{
	padding: 5px 0 5px 15px;
}

div.layout_contact h2
{
	color: #CEFF65;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 18px;
}

div.layout_contact p
{
	color: #fff;
	font-size: 13px;
	margin: 0;
	line-height: 22px;
}

div.layout_contact a
{
	color: #888;
}

div.layout_contact a span
{
	color: #fff;
}

div.layout_contact a:hover span
{
	color: #CEFF65;
}

/************************** Search *********************/

form.layout_search
{
	background: #171717 url('../gfx/graphics.png') left -26px no-repeat;
	margin-right: 15px;
	margin-top: 32px;
	float: right;
	height: 30px;
	font-size: 0px;
}

form.layout_search div
{
	background: url('../gfx/graphics.png') right -56px no-repeat;
	height: 30px;
	padding-left: 12px;
	padding-right: 12px;
}

form.layout_search input.text
{
	border: none;
	background: none;
	margin-top: 5px;
	font-size: 11pt;
	color: #999;
	width: 200px;
	font: Verdana, Tahoma,sans-serif;
}

form.search input.text:focus
{
	color: #333;
}

form.layout_search input.submit
{
	position: absolute;
	top: 0px;
	left: -1000px;
	width: 1px;
	display: none;
}










/********** News **********/

div.layout_news
{
	padding: 0 0 10px;
}

div.layout_news h2
{
	font-weight: normal;
	margin: 0 0 5px;
	font-size: 11pt;
	color: #CEFF65;
	padding: 0 0 3px;
}

div.layout_news_item
{
	padding: 4px 0 8px;
	overflow: hidden;
}

div.layout_news_item h3
{
	font-size: 9pt;
	color: #fff;
	font-weight: normal;
	padding-bottom: 3px;
	margin: 0;
}

p.layout_news_text
{
	color:#aaa;
	font-size:8pt;
	line-height:10pt;
	margin: 0 0 3px;
}

p.layout_news_date
{
	font-weight: normal;
	color: #bbb;
	font-size: 8pt;
	margin: 2px 0 0;
	float: left;
}

p.layout_news_links
{
	text-align: right;
	font-size: 8pt;
	margin-top: 3px;
	margin: 0;
}