div.layout
{
	height: 100%;
}

form.layout_search div
{
	float: left;
}

div.layout_content
{
	float: left;
	width: 680px;
}

div.layout_sidebar
{
	margin-right: 5px;
	width: 240px;
}

div.document, div.layout_inner_content, div.layout_middle_body, div.layout_middle
{
	zoom: 1;
}

div.layout_content_sidebar div.layout_inner_content
{
	width: 440px;
}