body
{
	padding: 20px;
}

div.description
{
	font-family: Arial;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

div.description h1
{
	margin: 0;
	font-weight: normal;
	font-size: 18pt;
}

div.description p
{
	font-size: 11pt;
	margin: 10px 0 0;
}

hr
{
	border: none;
	border-top: 1px solid #ddd;
}