/******** Footer ********/

div.layout_footer
{
	background: #eee url('../gfx/footer.jpg') center top no-repeat;
	height: 154px;
	margin: -154px auto 0;
	font-size: 9pt;
	text-align: center;
}

div.layout_footer span
{
	color: #666;
}