
/********************** Base ***********************/


img
{
	border: none;
}

body
{
	font-family: "Arial","Helvetica", sans-serif;
	margin: 0px;
	text-align: center;
}

body,html
{
	height: 100%;
}

form
{
	margin: 0px;
}

div.case
{
	text-align: center;
	min-height: 100%;
}

div.case_body
{
	text-align: left;
	width: 900px;
	margin: 0 auto;
	padding-bottom: 170px;
	padding-top: 10px;
}

/*************** head **************/

div.case_head
{
	height: 96px;
	background: url('../gfx/header_bg.png') left bottom repeat-x;
	border-bottom: 1px solid #ddd;
}

div.case_head_body
{
	height: 96px;
	background: url('../gfx/header.jpg') center top no-repeat;
	position: relative;
	width: 900px;
	margin: 0 auto;
}

div.case_content
{
	min-height: 250px;
}

/************* Sidebar ************/


div.case_sidebar
{
	float: right;
	width: 260px;
	padding-top: 10px;
}

div.case_sidebar_content
{
	border-right: 1px solid #DDDDDD;
	margin-right: 260px;
	padding: 10px 20px;
}

/************ Contact *********/

div.case_contact
{
	padding: 0 20px 0 20px;
}

div.case_contact h2
{
	font-size: 12pt;
	margin: 0;
}

div.case_contact p
{
	font-size: 10pt;
	margin: 5px 0;
}

div.case_contact em
{
	font-style: normal;
	color: #999;
}

div.case_contact a
{
	color: #ddd;
}

div.case_contact a span
{
	color: #000;
}

div.case_contact a:hover, div.case_contact a:hover span
{
	color: #36f;
}

div.case_contact blockquote
{
	text-indent: -8px;
	margin: 25px 8px;
	font-size: 14pt;
	line-height: 30px;
	font-style: italic;
	color: #666;
}



a.case_design
{
	background: url('../gfx/designedby.png');
	text-indent: -10000px;
	width: 149px;
	height: 47px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

div.case_links
{
	height: 30px;
}










/********** News **********/

div.chrome_news
{
	padding: 0 5px 10px;
}

div.chrome_news h2
{
	font-weight: normal;
	margin: 0 0 5px;
	font-size: 11pt;
	color: #999;
	border-bottom: 1px solid #ddd;
	padding: 0 10px 3px;
}

div.chrome_news_item
{
	padding: 4px 10px 8px;
	overflow: hidden;
}

div.chrome_news_item h3
{
	font-size: 9pt;
	color: #456;
	font-weight: normal;
	padding-bottom: 3px;
	margin: 0;
}

p.chrome_news_text
{
	color:#678;
	font-size:8pt;
	line-height:10pt;
	margin: 0 0 3px;
}

p.chrome_news_date
{
	font-weight: normal;
	color: #bbb;
	font-size: 8pt;
	margin: 2px 0 0;
	float: left;
}

p.chrome_news_links
{
	text-align: right;
	font-size: 8pt;
	margin-top: 3px;
	margin: 0;
}