/***************** Top navigation *************/


ul.case_navigation
{
	margin: 0;
	display: block;
	padding: 0;
	overflow: hidden;
	cursor: default;
	font-family: Arial;
	font-size: 12px;
	position: absolute;
	left: 15px;
	text-align: right;
	top: 54px;
}

ul.case_navigation li
{
	display: inline-block;
	list-style: none;
	margin-left: 1px;
}

ul.case_navigation li a
{
	text-decoration: none;
	font-size: 10pt;
	height: 37px;
	cursor: pointer;
	display: inline-block;
}

ul.case_navigation li a span
{
	display: inline-block;
	height: 37px;
	line-height: 37px;
	color: #fff;
}

/******** First *******/

ul.case_navigation li.first a
{
	background: url('../gfx/navigation.png') left top no-repeat;
}

ul.case_navigation li.first span
{
	background: url('../gfx/navigation.png') right -148px no-repeat;
}

ul.case_navigation li.first span span
{
	background: url('../gfx/navigation.png') left -74px repeat-x;
	margin: 0 10px;
	padding: 0 8px 0 12px;
}

/******** Last *******/

ul.case_navigation li.last a
{
	background: url('../gfx/navigation.png') right -37px no-repeat;
}

ul.case_navigation li.last span
{
	background: url('../gfx/navigation.png') left -111px no-repeat;
}

ul.case_navigation li.last span span
{
	background: url('../gfx/navigation.png') left -74px repeat-x;
	margin: 0 10px;
	padding: 0 12px 0 8px;
}

/******** Middle *******/

ul.case_navigation li.middle a
{
	background: url('../gfx/navigation.png') left -111px no-repeat;
}

ul.case_navigation li.middle span
{
	background: url('../gfx/navigation.png') right -148px no-repeat;
}

ul.case_navigation li.middle span span
{
	background: url('../gfx/navigation.png') left -74px repeat-x;
	margin: 0 10px;
	padding: 0 8px;
}

/******** Selected *******/

ul.case_navigation li.selected a
{
	background: url('../gfx/navigation.png') left -259px repeat-x;
}

ul.case_navigation li.selected span span
{
	margin: 0 10px;
	padding: 0 8px;
	color: #393e45;
}

/******** First selected *******/

ul.case_navigation li.first_selected a
{
	background: url('../gfx/navigation.png') left -185px no-repeat;
}

ul.case_navigation li.first_selected span span
{
	background: url('../gfx/navigation.png') left -259px repeat-x;
	margin: 0 0 0 10px;
	padding: 0 22px 0 8px;
	color: #393e45;
}

/******** Last selected *******/

ul.case_navigation li.last_selected a
{
	background: url('../gfx/navigation.png') right -222px no-repeat;
}

ul.case_navigation li.last_selected span span
{
	background: url('../gfx/navigation.png') left -259px repeat-x;
	margin: 0 10px 0 0;
	padding: 0 12px 0 18px;
	color: #393e45;
}

/***************** Sub navigation *************/


ul.case_sub_navigation
{
	margin: -10px 0 0 -8px;
	padding: 0 0 10px;
	display: block;
	overflow: hidden;
	height: 25px;
	line-height: 24px;
	list-style: none;
	font-size: 10pt;
	cursor: default;
}

ul.case_sub_navigation li
{
	float: left;
}

ul.case_sub_navigation a
{
	text-decoration: none;
	color: #333;
	height: 25px;
	display: inline-block;
	margin-right: 4px;
	cursor: pointer;
}

ul.case_sub_navigation a span
{
	display: inline-block;
	height: 25px;
	padding: 0 8px;
}

ul.case_sub_navigation a.selected
{
	font-weight: bold;
}

/***************** Side navigation *************/

ul.case_side_navigation
{
	list-style: none;
	margin: 0 0 30px 15px;
	padding: 0px;
	font-size: 13px;
	line-height: 22px;
}

ul.case_side_navigation a
{
	color: #333;
	text-decoration: none;
	padding: 1px 5px;
}

ul.case_side_navigation a:hover
{
	color: #0169b2;
	text-decoration: underline;
}

ul.case_side_navigation a.selected
{
	color: #0072BC;
	font-weight: bold;
}

ul.case_side_navigation a.highlighted
{
	font-weight: bold;
}

ul.case_side_navigation ul
{
	list-style: none;
	padding-left: 15px;
}