*, body
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10.5pt;
	color: #333;
}

a
{
	color: #3366ff;
	text-decoration: none;
	border-bottom: solid 1px #A9D61D;
}
	
a:hover
{
	color: #0000aa;
	border-bottom-color: #3366ff;
}

p
{
	margin: 0px 0px 5px 0px;
	line-height: 160%;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0px;
	color: #3080CB;
	font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
	font-weight: normal;
}

h1 { font-size: 24pt; margin-bottom: 20px; }
h2 { font-size: 21pt; margin-bottom: 15px; }
h3 { font-size: 18pt; margin-bottom: 10px; }
h4 { font-size: 16pt; margin-bottom: 10px; }
h5 { font-size: 14pt; margin-bottom: 10px; }
h6 { font-size: 13pt; margin-bottom: 10px; }
