@import url('webkit.css');

.clear
{
	clear: both;
}

/********************** Base ***********************/


img
{
	border: none;
}

body
{
	padding: 0px;
	margin: 0px;
	text-align: center;
}

body,html
{
	height: 100%;
}

form
{
	margin: 0px;
}

div.chrome
{
	min-height: 100%;
	position: relative;
	text-align: left;
}

div.chrome_sidebar
{
}

div.chrome_base
{
	padding-bottom: 110px;
	width: 100%;
}

div.chrome_header
{
	height: 90px;
}

div.chrome_header_content
{
	width: 960px;
	background: url('../gfx/logo.png') 0px center no-repeat;
	height: 90px;
	margin: 0 auto;
}

div.chrome_content
{
	overflow: hidden;
	min-height: 400px;
	width: 960px;
	margin: 10px auto;
}

div.chrome_content_sidebar
{
	background: url('../gfx/line.png') 775px top repeat-y;
	padding-right: 0;
}

div.chrome_inner_content
{
	padding: 0px 10px;
}

div.chrome_content_sidebar div.chrome_inner_content
{
	width: 735px;
}

div.chrome_sidebar
{
	width: 185px;
	float: right;
	font-size: 11pt;
}

/******** Footer ********/

div.chrome_footer
{
	font-size: 9pt;
	position: relative;
	top: -110px;
	height: 100px;
	padding-top: 10px;
	background: url('../gfx/line.png') 0 top repeat-x;
}

div.chrome_footer span
{
	color: #666;
}

a.chrome_design
{
	background: url('../gfx/designedby.png');
	text-indent: -10000px;
	width: 149px;
	height: 47px;
	display: block;
	margin: 0 auto;
	position: relative;
}

div.chrome_links
{
	height: 30px;
}

/***************** Top navigation *************/

div.chrome_bar
{
	height: 43px;	
	background: url('../gfx/bar.png');
}

ul.chrome_navigation
{
	margin: 0px;
	padding: 0;
	display: block;
	height: 43px;
	overflow: hidden;
	cursor: default;
	list-style: none;
	width: 960px;
	margin: 0 auto;
}

ul.chrome_navigation li
{
	float: left;
	height: 43px;
}

ul.chrome_navigation li a
{
	display: block;
	color: #333;
	text-decoration: none;
	font-size: 13pt;
	height: 43px;
	line-height: 42px;
	cursor: pointer;
}

ul.chrome_navigation li span
{
	display: block;
	height: 43px;
}

ul.chrome_navigation li span span
{
	padding: 0px 15px;
}

ul.chrome_navigation li.selected a, ul.chrome_navigation li.highlighted a
{
	background: url('../gfx/bar.png') right -86px repeat-x;
}

ul.chrome_navigation li.selected a
{
	color: #f00;
}

ul.chrome_navigation li.selected a span, ul.chrome_navigation li.highlighted a span
{
	background: url('../gfx/bar.png') left -43px no-repeat;
}

ul.chrome_navigation li.selected a span span, ul.chrome_navigation li.highlighted a span span
{
	background: url('../gfx/bar.png') right -43px no-repeat;
}

ul.chrome_navigation img
{
	width: 110px;
	height: 31px;
	margin: -5px 10px 0 0;
}

/***************** Sub navigation *************/


ul.chrome_sub_navigation
{
	margin: 3px auto 0;
	padding: 0px 0 0 8px;
	display: block;
	overflow: hidden;
	height: 28px;
	line-height: 28px;
	list-style: none;
	font-size: 10pt;
	cursor: default;
	border-bottom: 1px solid #DDDDDD;
	width: 960px;
}

ul.chrome_sub_navigation li
{
	float: left;
}

ul.chrome_sub_navigation a
{
	text-decoration: none;
	color: #333;
	height: 25px;
	display: inline-block;
	margin-right: 4px;
	cursor: pointer;
}

ul.chrome_sub_navigation a span
{
	display: inline-block;
	height: 25px;
	padding: 0 8px;
}

ul.chrome_sub_navigation a:hover
{
	background: url('../gfx/menu_sub_selection.png');
}

ul.chrome_sub_navigation a:hover span
{
	background: url('../gfx/menu_sub_selection.png') right -25px no-repeat;
}

ul.chrome_sub_navigation a.selected, ul.chrome_sub_navigation a.highlighted
{
}

ul.chrome_sub_navigation a.selected, ul.chrome_sub_navigation a.highlighted
{
	color: #f00;
}

ul.chrome_sub_navigation a.selected span, ul.chrome_sub_navigation a.highlighted span
{
}

/***************** Side navigation *************/

ul.chrome_side_navigation
{
	list-style: none;
	margin: 0 0 30px 15px;
	padding: 0px;
	font-size: 10pt;
	line-height: 22px;
}

ul.chrome_side_navigation a
{
	color: #333;
	text-decoration: none;
	padding: 1px 5px;
}

ul.chrome_side_navigation a:hover
{
	color: #0169b2;
	text-decoration: underline;
}

ul.chrome_side_navigation a.selected
{
	color: #f00;
	font-weight: bold;
}

ul.chrome_side_navigation a.highlighted
{
	font-weight: bold;
}

ul.chrome_side_navigation ul
{
	list-style: none;
	padding-left: 15px;
}

/********************** Box *********************/

div.chrome_box_top, div.chrome_box_top div
{
	font-size: 0;
	background: url('../gfx/chrome_box.png') no-repeat;
	height: 7px;
}

div.chrome_box_top div
{
	background-position: right -7px;
}

div.chrome_box_top div div
{
	background-position: left -14px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

div.chrome_box_bottom, div.chrome_box_bottom div
{
	font-size: 0;
	background: url('../gfx/chrome_box.png') left -21px no-repeat;
	height: 10px;
}

div.chrome_box_bottom div
{
	background-position: right -31px;
}

div.chrome_box_bottom div div
{
	background-position: left -41px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

div.chrome_box_middle
{
	background: url('../gfx/chrome_box_middle.png') repeat-y;
}

div.chrome_box_middle div.chrome_box_middle
{
	background: url('../gfx/chrome_box_middle.png') right repeat-y;
}

div.chrome_box_body
{
	margin: 0 3px;
	background: #fff;
	padding: 1px 0;
	overflow: hidden;
}

div.chrome_box_head
{
	border-bottom: 1px solid #ddd;
	height: 27px;
}

div.chrome_box_foot
{
	border-top: 1px solid #ddd;
	height: 27px;
}


/*********************** Info **********************/

div.chrome_info
{
	padding-top: 10px;
	width: 960px;
	margin: 0 auto;
}

div.chrome_info h2
{
	margin: 0px 0px 10px;
	height: 26px;
}

div.chrome_info div.about
{
	padding: 10px 20px;
}

div.chrome_info div.about p
{
	font-size: 11pt;
	line-height: 16pt;
	margin: 11px 0 0;
}

div.chrome_info div.contact
{
	float: left;
	width: 260px;
	padding: 10px 20px;
}

div.chrome_info div.contact h2
{
	background-position: left -27px;
}

div.chrome_info div.contact p
{
	margin: 0px 0px;
	font-size: 9pt;
	color: #666;
	line-height: 16pt;
}

div.chrome_info div.contact p.name
{
	color: #333;
	font-size: 12pt;
}

div.chrome_info div.contact p.name strong
{
	font-weight: normal;
}

div.chrome_info div.about p.more
{
	line-height: 11px;
	font-size: 12px;
	margin-top: 24px;
}

/********************** Poster *********************/

#poster
{
	width: 900px;
	height: 310px;
	background: url('../gfx/poster_bg.png');
	cursor: pointer;
}
#poster .left
{
	float: left;
	height: 310px;
	width: 450px;
	overflow: hidden;
}

#poster .right
{
	float: left;
	height: 310px;
	width: 450px;
	overflow: hidden;
}

#poster .left div
{
	width: 900px;
	height: 310px;
	background: 200px 0px no-repeat;
}
#poster .right div
{
	width: 900px;
	height: 310px;
	background: 450px 0px no-repeat;
}

#poster_loader
{
	background: #000;
	color:#FFFFFF;
	left: 50%;
	margin-left: -25px;
	padding: 2px 5px;
	position: absolute;
	text-align: center;
	top: 200px;
	width: 50px;
}


/************************** Search *********************/

form.search
{
	background: url('../gfx/search.png') top left repeat-x;
	margin-right: 13px;
	margin-top: 13px;
	float: right;
	height: 24px;
	font-size: 0px;
}

form.search div
{
	background: url('../gfx/search.png') bottom right no-repeat;
	height: 24px;
	padding-left: 8px;
}

form.search input.text
{
	border: none;
	background: none;
	padding-top: 4px;
	font-size: 9pt;
	color: #999;
	width: 140px;
	font: Verdana, tahoma,sans-serif;
}

form.search input.text:focus
{
	color: #333;
}

form.search .submit
{
	position: absolute;
	top: 0px;
	left: -1000px;
	width: 1px;
	display: none;
}










/********** News **********/

div.chrome_news
{
	padding: 0 5px 10px;
}

div.chrome_news h2
{
	font-weight: normal;
	margin: 0 0 5px;
	font-size: 11pt;
	color: #999;
	border-bottom: 1px solid #ddd;
	padding: 0 10px 3px;
}

div.chrome_news_item
{
	padding: 4px 10px 8px;
	overflow: hidden;
}

div.chrome_news_item h3
{
	font-size: 9pt;
	color: #456;
	font-weight: normal;
	padding-bottom: 3px;
	margin: 0;
}

p.chrome_news_text
{
	color:#678;
	font-size:8pt;
	line-height:10pt;
	margin: 0 0 3px;
}

p.chrome_news_date
{
	font-weight: normal;
	color: #bbb;
	font-size: 8pt;
	margin: 2px 0 0;
	float: left;
}

p.chrome_news_links
{
	text-align: right;
	font-size: 8pt;
	margin-top: 3px;
	margin: 0;
}