div.chrome_header, div.chrome_bar, div.chrome_sub_bar, div.chrome_base
{
	text-align: center;
}

div.chrome_content
{
	text-align: left;
}

div.chrome_inner_content
{
	height: 300px;
}

ul.chrome_navigation li *
{
	float: left;
}

ul.chrome_navigation
{
	margin: 0;
}

ul.chrome_sub_navigation
{
	margin: 3px 0 0;
}

div.chrome_box_body, div.chrome_head
{
	zoom: 1;
}

form.search div
{
	float: right;
}

form.search
{
	width: 140px;
	margin-right: 5px;
	margin-top: 10px;
}

*
{
	zoom: 1;
}