# 5 minutes = A300
# 1 hour = A3600
# 1 day = A86400
# 1 week = A604800

<IfModule mod_headers.c>
Header set Cache-Control "public"
Header unset Cookie
Header unset Pragma
</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault A604800
</IfModule>

SetEnv session.use_cookies='0';