div.chrome
{
	height: 100%;
}

form.chrome_search div
{
	float: left;
}

div.chrome_content
{
	float: left;
	width: 700px;
}

div.chrome_sidebar
{
	margin-right: 5px;
	width: 240px;
}

div.document, div.chrome_inner_content, div.chrome_middle_body, div.chrome_middle
{
	zoom: 1;
}

div.chrome_content_sidebar div.chrome_inner_content
{
	width: 440px;
}