@include when {
  .broen
  {
  	background: #462758;
    @include vertical-gradient(rgb(70,39,88), rgb(49,39,87));
  	text-align: right;
  }

  .broen_left
  {
  	vertical-align: top;
  	height: 100%;
  }

  .broen_middle,
  .broen_right
  {
  	vertical-align: top;
  	float: right;
  	width: 30%;
  	height: 100%;
  }

  .broen_right_photo {
    height: 50%;
  }

  .broen_title
  {
  	font-size: 4em;
  	text-align: center;
  	color: #fff;
  	color: rgba(255,255,255,.8);
  	margin: 0;
  	line-height: 1em;
  	font-family: Cinzel;
  	font-weight: normal;
  }
  
  .broen_text {
		padding: 20px 0;
    
    p {
    	padding: 0 20px;
    	font-size: 1em;
    	margin: 10px 0;
    	text-align: center;
    	color: #fff;
    	color: rgba(255,255,255,.5);
    }
    a.button {
    	margin-top: 20px;
    	color: #fff;
    	color: rgba(255,255,255,.8);
    	background: none;
    	border: 1px solid rgba(255,255,255,.2);
      
      &:hover {
      	background: rgba(255,255,255,.1);
      	border: 1px solid rgba(255,255,255,.2);
      }
    }
  }

  .broen_photo
  {
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;	
  
    &-1 {
    	background-image: url('../gfx/broen1.jpg');
      background-position: 70% 50%;
    }

    &-2 {
      background-image: url('../gfx/broen2.jpg');
      background-position: 50% 50%;
    }
  
    &-3 {
    	background-image: url('../gfx/broen3.jpg');
      background-position: 30% 50%;
    }
  }
}

@include when(640px) {
	/** Broen **/
	
	.broen {
  	height: 360px;
	}
	
	.broen_text {
		padding: 0;
	}
	
	.broen_title {
		margin: 74px 0 20px;
	}
	
	.broen_left {
  	float: left;
  	width: 40%;
	}
}