@include when {
  .communication
  {
  	text-align: center;
  	height: auto;
  	padding: 60px 0;
  }

  .communication_title
  {
    font-family: $header-font;
    font-style: italic;
  	font-size: 36pt;
  	color: #005952;
  	padding: 40px 0 10px;
  	font-weight: normal;
    
    .is-dark & {
      color: #fff;
    }
  }

  .communication_text
  {
  	margin: 0 auto;
  	font-size: 1.3em;
  	line-height: 1.5em;
    max-width: 700px;
    padding: 0 20px;

    .is-dark & {
      color: #fff;
    }
  }

  #communication p.link
  {
  	margin: 20px 0;
  	font-size: 1.1em;
  }

  .communication_image
  {
  	background: url('../gfx/train.png') 50% 50% no-repeat;
  	height: 410px;
  }
}

@include when {

  .communication
  {
  	padding: 120px 0;
  }

}