@include when {

  .layout_content
  {
    padding: 20px 10px 10px;
    
    .part_section_header_1 {
      padding-right: 60px;
    }
  }

  .layout_languages {
    text-align: center;
    margin: 20px 0;
  }

  .layout_language {
  	color: #333;
  	text-decoration: none;
  	font-size: 12pt;
  	display: inline-block;
  	background: url('../gfx/flags.png') 0 0 no-repeat;
  	line-height: 39px;
  	height: 39px;
  	padding-left: 39px;
  }
  
  .layout_language_text {
    padding-left: 5px;
  }

  .layout_language_da {
  	background-position: 0 -39px;
  }
  
}

@include when(500px) {
  .layout_languages {
    position: absolute;
    right: 10px;
    top: 18px;
    margin: 0;
    font-size: 0;
  }
  
  .layout_language_text {
    display: none;
  }
}

@include when(600px) {
  
  .layout_content
  {
  	padding: 30px 20px;
  	max-width: 900px;
  	margin: 0 auto;
  	position: relative;
    
    .part_section_header_1 {
      padding-right: 180px;
    }
  }
}

@include when(900px) {

  .layout_content
  {
  	padding: 60px 20px;
  }
}

@include when(960px) {
  .layout_languages {
    right: 50%;
    margin-right: -480px;
  }
}