@include when {
  .movies {
    text-align: center;
    @include vertical-gradient(#e7ede6,#ebece8);
    padding: 20px 0;
  }
  
  .movies_title {
    margin: 0 0 10px;
    color: #1d3e50;
  }
  
  .movies_text {
    font-family: $summary-font;
    font-size: 16px;
    line-height: 1.2;
    margin: 10px 0 20px;
    color: #1d3e50;
  }
  
  .movies_body {
    max-width: 960px;
    margin: 0 auto;
  }

  .movies_video {
    padding-bottom: 9/16 * 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    
    &-broen {
      background-image: url('../gfx/video-broen.jpg');
    }

    &-hvidsten {
      background-image: url('../gfx/video-hvidsten.jpg');
    }

    &-forbrydelsen {
      background-image: url('../gfx/video-forbrydelsen.jpg');
    }

    &-showreel {
      background-image: url('../gfx/video-showreel.jpg');
    }
    
    &:before {
      content: '';
      background-image: url('../gfx/play.svg');
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      bottom: 10px;
    };
    
    .movies_item:first-child & {
      padding-bottom: 528/960 * 100%;
      
      &:before {
        background-position: 60% 50%;
        background-size: 50%;
        border-radius: 50%;
        border: 2px solid rgba(255,255,255,.5);
        width: 20%;
        height: auto;
        padding-bottom: 20%;
        bottom: auto;
        right: auto;
        top: 50%;
        left: 50%;
        margin: -10% 0 0 -10%;
        opacity: .8;        
      }
    }
  }
  
  .movies_iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .movies_video_title {
    font-family: $summary-font;
    line-height: 1;
    color: #fff;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    left: 5px;
    right: 40px;
    text-align: left;
    
    .movies_item:first-child & {
      font-size: 18px;
      left: 10px;
      bottom: 8px;
    }
  }
  
  .movies_more {
    margin: 5px 5px 0;
    font-size: 0;
  }
  
  .movies_item {
    display: inline-block;
    width: 1/3 * 100%;
    vertical-align: top;
    @include border-box;
    padding: 5px 5px 0;
    
    &:first-child {
      display: block;
      width: auto;
      padding: 0 0 5px;
      margin: 0 -5px;
    }
  }
  
  .movies_actions {
    margin-top: 20px;
  }
  
  .movies_button {
    border-color: #d6d6cd;
    background: none;
    color: #01507b;
    margin: 0 5px;
  }
}

@include when(500px) {

  
  .movies_video_title {
    font-size: 14px;
    bottom: 10px;
    left: 10px;
    
    .movies_item:first-child & {
      font-size: 24px;
      left: 20px;
      bottom: 15px;
    }
  }
}

@include when(760px) {

  .movies {
    padding: 40px 0;
  }
  
  .movies_text {
    font-size: 18px;
  }
  
  .movies_more {
    margin: 5px 10px 0;
  }
  
  .movies_item {
    padding: 10px 10px 0;
    
    &:first-child {
      padding: 0 0 10px;
      margin: 0 -10px;
    }
  }
}

@include when(1000px) {
  .movies {
    padding: 60px 0;
  }
  
  .movies_button {
    margin: 0 10px;
  }
  
  .movies_text {
    font-size: 24px;
    font-weight: 300;
    margin: 20px 0;
  }
  
  .movies_more {
    margin: 10px -15px 0;
    font-size: 0;
  }
  
  .movies_video_title {
    font-size: 16px;
  }
  
  .movies_item {
    padding: 10px 15px 10px;
    
    &:first-child {
      padding: 15px;
      margin: 0;
    }
  }
}