@include when {
  .photos {
    position: relative;
    margin: 100px 0;    
  }
  
  .photos_photo {
    padding-bottom: 100%;
    background-size: cover;
    background-position: 50% 20%;
    
    &-left {
    	background-image: url('../gfx/press2.jpg');
    }

    &-right {
    	background-image: url('../gfx/press1.jpg');
    }
  }
  
  .photos_middle {
    @include vertical-gradient(rgb(0,89,82),rgb(0,81,87));
    height: 200px;
  }
  
  .photos_title {
  	font-size: 38px;
  	line-height: 1em;
  	text-align: center;
  	color: #fff;
  	color: rgba(255,255,255,.8);
  	padding-top: 45px;	
  	font-family: Cinzel;
  	font-weight: normal;
    margin: 0;
  }

  .photos_items {
    display: block;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
  }
  
  .photos_item {
    display: inline-block;
    margin: 0 10px;
  }

  .photos_link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05);
    
    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.35);
      background: rgba(255, 255, 255, 0.1);
    }

    &:active {
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: rgba(255, 255, 255, 0.3);
    }
  }
}


@include when(600px) {
  
  .photos_middle {
    margin: 0 20%;
    height: 300px;
  }
  
  .photos_photo {
    position: absolute;
    padding-bottom: 0;
    width: 20%;
    top: 0;
    height: 300px;
    
    &-left {
    	left: 0;
    }

    &-right {
    	right: 0;
    }
  }
  
  .photos_title {
  	padding-top: 80px;
  }
  
  .photos_item {
    display: block;
    margin: 20px 10px;
  }
}

@include when(760px) {
  
  .photos_title {
  	font-size: 48px;
  }
}

@include when(1000px) {
  
  .photos_middle {
    height: 400px;
  }
  
  .photos_photo {
    height: 400px;
  }
  
  .photos_title {
  	padding-top: 80px;
    font-size: 56px;
  }
  
  .photos_item {
    display: inline-block;
  }

  .photos_link {
    height: 44px;
    line-height: 46px;
    font-size: 18px;
    padding: 0 20px;
  }
}

@include when(1300px) {

  .photos_title {
    font-size: 92px;
  }
}