@include when {
  /***** Theater *****/

  .theater
  {
  	background: #000;
  	position: relative;
    overflow: hidden;
    text-align: center;
    padding: 40px 0;
  }

  .theater_title
  {
  	color: #fff;
  	margin: 0;
  	font-size: 42pt;
    font-weight: normal;
    font-family: Cinzel;
    text-rendering: geometricPrecision;
  }

  .theater_text
  {
  	color: #fff;
  	margin: 0 20px 20px;
  	font-size: 1.3em;
    line-height: 1.3;
  }

  .theater_photo
  {
  	background: url('../gfx/theater.jpg') no-repeat;
    background-size: contain;
    background-position: 50%;
  	height: 300px;
    margin: 0 -70px;
  }
  
  .theater_stages {
    display: none;
  }
}

@include when(700px) {

  .theater {
  	height: 700px;
  }

  .theater_title
  {
  	font-size: 52pt;
  }

  .theater_body
  {
  	position: absolute;
  	left: 20%;
  	right: 20%;
  	top: 5%;
  	z-index: 2;
  }

  .theater_photo
  {
  	position: absolute;
  	width: 683px;
  	height: 394px;
  	bottom: 12%;
  	left: 50%;
  	margin: -197px 0 0 -342px;
  	background: url('../gfx/theater.jpg');
  	opacity: 0;
  }

  .theater_actions
  {
  	position: absolute;
  	bottom: 5%;
  	left: 0;
  	right: 0;
  	z-index: 1;
  }

  .theater_stages
  {
  	color: #ddd;
  	color: rgba(255,255,255,.7);
  	position: absolute;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	height: 100%;
  	width: 100%;
    top: 0;
  	font-size: 2em;
  	z-index: 1;
  	font-family: Cinzel;
  	opacity: 0;
  	-webkit-transition: opacity 2s ease-in;
  	-moz-transition: opacity 2s ease-in;
    display: block;
  }

  

  .theater_stage
  {
  	position: absolute;
  	-webkit-animation-duration: 15s;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-timing-function: ease-in-out;
  	-moz-animation-duration: 15s;
  	-moz-animation-iteration-count: infinite;
  	-moz-animation-timing-function: ease-in-out;
  }

  .theater_stage-1
  {
  	top: 50%;
  	right: 2%;
  }

  .theater_stage-2
  {
  	top: 40%;
  	left: 2%;
  }

  .theater_stage-3
  {
  	top: 10%;
  	right: 6%;
  }

  .theater_stage-4
  {
  	bottom: 5%;
  	left: 5%;
  }

  .theater_stage-5
  {
  	bottom: 5%;
  	right: 5%;
  }

  .theater_stage-6
  {
  	top: 5%;
  	left: 5%;
  }
  
  .theater.is-final
  {
    .theater_stages {
    	opacity: 1;      
    }

    .theater_stage-1, .theater_stage-2 {
    	-webkit-animation-name: zero;
    	-moz-animation-name: zero;
    }

    .theater_stage-3, .theater_stage-4 {
    	-webkit-animation-name: two;
    	-moz-animation-name: two;
    }

    .theater_stage-5, .theater_stage-6 {
    	-webkit-animation-name: one;
    	-moz-animation-name: one;
    }
  }
}




@-webkit-keyframes zero {
	0% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
	50% {
		opacity: .2;
		-webkit-transform: scale(.7) rotate(-5deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}

@-webkit-keyframes one {
	0% {
		opacity: .2;
		-webkit-transform: scale(.7) rotate(0deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(-5deg);
	}
	100% {
		opacity: .2;
		-webkit-transform: scale(.7) rotate(0deg);
	}
}



@-webkit-keyframes two {
	0% {
		opacity: .2;
		-webkit-transform: scale(.9) rotate(-3deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(7deg);
	}
	100% {
		opacity: .2;
		-webkit-transform: scale(.9) rotate(-3deg);
	}
}

@-moz-keyframes zero {
	0% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
	50% {
		opacity: .2;
		-moz-transform: scale(.7) rotate(-5deg);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}

@-moz-keyframes one {
	0% {
		opacity: .2;
		-moz-transform: scale(.7) rotate(0deg);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1) rotate(-5deg);
	}
	100% {
		opacity: .2;
		-moz-transform: scale(.7) rotate(0deg);
	}
}



@-moz-keyframes two {
	0% {
		opacity: .2;
		-moz-transform: scale(.9) rotate(-3deg);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1) rotate(7deg);
	}
	100% {
		opacity: .2;
		-moz-transform: scale(.9) rotate(-3deg);
	}
}