div.chrome_box_body, div.chrome_head
{
	zoom: 1;
}

form.search div
{
	float: right;
}

form.search
{
	width: 140px;
	margin-right: 5px;
	margin-top: 10px;
}

div.chrome_box_top, div.chrome_box_top div, div.chrome_box_bottom, div.chrome_box_bottom div
{
	background-image: url('../gfx/chrome_box.gif');
}

div.chrome_box_middle, div.chrome_box_middle div.chrome_box_middle
{
	background-image: url('../gfx/chrome_box_middle.gif');
}

div.part_imagegallery
{
	zoom: 1;
}