.authentication h1
{
	margin:  0 0 20px 0;
}

.authentication  form
{
	text-align: right;
	margin: 10px 0 10px 0;
	border: solid 1px #eee;
	background-color: #f9f9f9;
	padding: 10px;
	width: 302px;
	_width: 312px;
}

.authentication label
{
	font-family: Tahoma,Verdana,sans-serif;
	display: block;
	float: left;
	width: 80px;
	font-size: 10pt;
	color: #3080CB;
	text-align: right;
	padding-right: 5px;
	position: relative;
	top: 1px;
}

.authentication input.textfield
{
	border: solid 1px #ddd;
	border-top-color:  #ccc;
	border-bottom-color:  #eee;
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	margin-bottom: 5px;
	width: 210px;
	_width: 180px;
}

.authentication input.button
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	color: #3080CB;
	border: solid 1px #ddd;
	padding: 2px 6px 2px 6px;
	cursor: pointer;
}

.authentication div.message
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	color: #a00;
	width: 312px;
	padding: 5px;
	margin: 10px 0 0px 0;
	text-align: center;
	border: solid 1px #FFEB7D;
	background-color: #FFFDC0;
}

.authentication div.status
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	color: #666;
	border: solid 1px #eee;
	background-color: #f9f9f9;
	width: 312px;
	padding: 5px;
	margin: 10px 0 0px 0;
}

.authentication div.status strong
{
	color: #3080CB;
	font-weight: normal;
}

.authentication div.status a
{
	font-size: 9pt;
	color: #3080CB;
	text-decoration: none;
	border: solid 1px #ddd;
	margin-left: 6px;
	padding: 2px 6px 3px 6px;
}