@import url('webkit.css');


/********************** Base ***********************/


img
{
	border: none;
}

body
{
	font-family: "Lucida Grande","Lucida Sans Unicode", sans-serif;
	background: #fff url('../gfx/footer.png') center bottom no-repeat;
	margin: 0px;
	text-align: center;
}

body,html
{
	min-height: 100%;
}

form
{
	margin: 0px;
}

div.case
{
	background: url('../gfx/header.png') center top no-repeat;
	margin: 0px auto;
	width: 930px;
	position: relative;
	text-align: left;
	padding: 0 0 120px;
}

div.case_head
{
	height: 70px;
}

div.case_head h1
{
	display: none;
}

div.case_content
{
	padding: 20px 0 20px 20px;
	margin-right: 260px;
	min-height: 250px;
	/*background: rgba(255, 255, 255, 0.7);*/
}

/************* Sidebar ************/


div.case_sidebar
{
	float: right;
	width: 260px;
	padding-top: 100px;
}

/***************** Contact ************/

div.case_contact
{
	font-family: Arial;
	font-size: 12px;
	background: url('../gfx/info_box.png') left top no-repeat;
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: 220px;
	width: 256px;
}

div.case_contact div
{
	background: url('../gfx/info_box.png') -256px bottom no-repeat;
	padding: 40px 0;
}

div.case_contact div div
{
	background: url('../gfx/info_box.png') -512px top repeat-y;
	padding: 0 45px;
}

div.case_contact h2
{
	margin: 0;
	font-size: 11pt;
	color: #2F5078;
}

div.case_contact p
{
	font-size: 10pt;
	margin: 5px 0 0;
}

/******** Footer ********/

div.case_footer
{
	width: 960px;
	margin: 0 auto;
	border-top: 1px solid #aaa;
	font-size: 9pt;
	text-align: center;
	padding-top: 20px;
}

div.case_footer span
{
	color: #666;
}

a.case_design
{
	background: url('../gfx/designedby.png');
	text-indent: -10000px;
	width: 149px;
	height: 47px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

div.case_links
{
	height: 30px;
}

/***************** Top navigation *************/


ul.case_navigation
{
	margin: 0px;
	display: block;
	padding: 0 0 0 10px;
	overflow: hidden;
	cursor: default;
	font-family: Arial;
}

ul.case_navigation li
{
	float: left;
	list-style: none;
}

ul.case_navigation li a
{
	display: block;
	float: left;
	color: #333;
	text-decoration: none;
	font-size: 11pt;
	height: 32px;
	line-height: 31px;
	margin-right: 5px;
	cursor: pointer;
}

ul.case_navigation li span
{
	display: block;
	float: left;
	height: 32px;
	padding: 0px 10px;
}

ul.case_navigation li.highlighted, ul.case_navigation li.selected
{
	font-weight: bold;
}

/***************** Sub navigation *************/


ul.case_sub_navigation
{
	margin: -2px 0 0 0;
	padding: 0 0 0 13px;
	display: block;
	overflow: hidden;
	height: 28px;
	line-height: 24px;
	list-style: none;
	font-size: 10pt;
	cursor: default;
}

ul.case_sub_navigation li
{
	float: left;
}

ul.case_sub_navigation a
{
	text-decoration: none;
	color: #333;
	height: 25px;
	display: inline-block;
	margin-right: 4px;
	cursor: pointer;
}

ul.case_sub_navigation a span
{
	display: inline-block;
	height: 25px;
	padding: 0 8px;
}

ul.case_sub_navigation a.selected
{
	font-weight: bold;
}

/***************** Side navigation *************/

ul.chrome_side_navigation
{
	list-style: none;
	margin: 0 0 30px 15px;
	padding: 0px;
	font-size: 9pt;
	line-height: 22px;
}

ul.chrome_side_navigation a
{
	color: #333;
	text-decoration: none;
	padding: 1px 5px;
}

ul.chrome_side_navigation a:hover
{
	color: #0169b2;
	text-decoration: underline;
}

ul.chrome_side_navigation a.selected
{
	color: #0072BC;
	font-weight: bold;
}

ul.chrome_side_navigation a.highlighted
{
	font-weight: bold;
}

ul.chrome_side_navigation ul
{
	list-style: none;
	padding-left: 15px;
}

/********************** Box *********************/

div.chrome_box_top, div.chrome_box_top div
{
	font-size: 0;
	background: url('../gfx/chrome_box.png') no-repeat;
	height: 7px;
}

div.chrome_box_top div
{
	background-position: right -7px;
}

div.chrome_box_top div div
{
	background-position: left -14px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

div.chrome_box_bottom, div.chrome_box_bottom div
{
	font-size: 0;
	background: url('../gfx/chrome_box.png') left -21px no-repeat;
	height: 10px;
}

div.chrome_box_bottom div
{
	background-position: right -31px;
}

div.chrome_box_bottom div div
{
	background-position: left -41px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

div.chrome_box_middle
{
	background: url('../gfx/chrome_box_middle.png') repeat-y;
}

div.chrome_box_middle div.chrome_box_middle
{
	background: url('../gfx/chrome_box_middle.png') right repeat-y;
}

div.chrome_box_body
{
	margin: 0 3px;
	background: #fff;
	padding: 1px 0;
	overflow: hidden;
}

div.chrome_box_head
{
	border-bottom: 1px solid #ddd;
	height: 27px;
}

div.chrome_box_foot
{
	border-top: 1px solid #ddd;
	height: 27px;
}

/********************** Poster *********************/

#poster
{
	width: 900px;
	height: 310px;
	background: url('../gfx/poster_bg.png');
	cursor: pointer;
}
#poster .left
{
	float: left;
	height: 310px;
	width: 450px;
	overflow: hidden;
}

#poster .right
{
	float: left;
	height: 310px;
	width: 450px;
	overflow: hidden;
}

#poster .left div
{
	width: 900px;
	height: 310px;
	background: 200px 0px no-repeat;
}
#poster .right div
{
	width: 900px;
	height: 310px;
	background: 450px 0px no-repeat;
}

#poster_loader
{
	background: #000;
	color:#FFFFFF;
	left: 50%;
	margin-left: -25px;
	padding: 2px 5px;
	position: absolute;
	text-align: center;
	top: 200px;
	width: 50px;
}


/************************** Search *********************/

form.search
{
	background: url('../gfx/search.png') top left repeat-x;
	margin-right: 13px;
	margin-top: 13px;
	float: right;
	height: 24px;
	font-size: 0px;
}

form.search div
{
	background: url('../gfx/search.png') bottom right no-repeat;
	height: 24px;
	padding-left: 8px;
}

form.search input.text
{
	border: none;
	background: none;
	padding-top: 4px;
	font-size: 9pt;
	color: #999;
	width: 140px;
	font: Verdana, tahoma,sans-serif;
}

form.search input.text:focus
{
	color: #333;
}

form.search .submit
{
	position: absolute;
	top: 0px;
	left: -1000px;
	width: 1px;
	display: none;
}










/********** News **********/

div.chrome_news
{
	padding: 0 5px 10px;
}

div.chrome_news h2
{
	font-weight: normal;
	margin: 0 0 5px;
	font-size: 11pt;
	color: #999;
	border-bottom: 1px solid #ddd;
	padding: 0 10px 3px;
}

div.chrome_news_item
{
	padding: 4px 10px 8px;
	overflow: hidden;
}

div.chrome_news_item h3
{
	font-size: 9pt;
	color: #456;
	font-weight: normal;
	padding-bottom: 3px;
	margin: 0;
}

p.chrome_news_text
{
	color:#678;
	font-size:8pt;
	line-height:10pt;
	margin: 0 0 3px;
}

p.chrome_news_date
{
	font-weight: normal;
	color: #bbb;
	font-size: 8pt;
	margin: 2px 0 0;
	float: left;
}

p.chrome_news_links
{
	text-align: right;
	font-size: 8pt;
	margin-top: 3px;
	margin: 0;
}