@include if((target:'inline')) {
  
	form, p {
		margin: 0px;
	}

	img {
		border: none;
	}
  
	body
	{
		padding: 0px;
		margin: 0px;
		font-family: $serif-font-fallback;
	}

	body.font_lora
	{
		font-family: $serif-font;
	}


	a {
		word-break: break-word;
	}
  
  .common_link {
    color: #eee;
    color: rgba(0,0,0,.1);
  }
  
  .common_link_text {
    color: $link-color;
  }
}

