@include when(all,inline) {

  .header {
    background: url('../gfx/header.jpg') 50% 50%;
    background: url('../gfx/header_straight.jpg') 50% 50%;
    background-size: cover;
    padding-bottom: 250px;
    position: relative;
  }
  
  .header_info {
    background: rgba(25, 25, 33, 0.9);
    padding: 20px 30px;
    position: absolute;
    right: 30px;
    top: 20px;
    color: #fff;
    text-align: center;
    line-height: 1;
  }

  .header_title {
    font-size: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    padding-top: 25%;
    font-size: 0;
    background: url('../gfx/logo.svg') no-repeat;
    background-size: contain;
  }

  .header_title_more {
    display: block;
    font-style: italic;
    font-size: 18px;
    margin-top: 5px;
    font-weight: normal;
  }
  
  .header_info_address {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  
  .header_info_phone_number {
    color: #ff9578;
    font-family: $serif-font-fallback;
    font-size: 30px;
    text-decoration: none;
  }
  
  .header_info_phone {
    margin-bottom: 10px;    
  }
  
  .header_info_road {
    font-size: 28px;
    margin-bottom: 5px;
  }
}

@include when(769px,inline) {
  .header {
    padding-bottom: 250 / 786 * 100%;
  }
  
  .header_info {
    width: 21.5%;
    top: 10%;
  }
}

@include when(1000px,inline) {

  .header_title_more {
    font-size: 24px;
  }

  .header_info_phone_number {
    font-size: 40px;
  }
}