@include when(all,inline) {

  .header {
    background: url('../gfx/header.jpg') 50% 50%;
    background: url('../gfx/header_straight.jpg') 50% 50%;
    background: url('../gfx/top.jpg') 50% 50%;
    background-size: cover;
    padding-bottom: 674 / 1536 * 100%;
    position: relative;
  }

  .header_title {
    position: absolute;
    width: 50%;
    top: 0;
    margin-top: 2%;
    left: 2%;
    font-weight: bold;
    padding-top: 89 / 370 * 50%;
    font-size: 0;
    background: url('../gfx/logo.outline.svg') no-repeat;
    background-size: contain;
  }

  .header_title_more {
    display: block;
    font-style: italic;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 2px 4px #4C1A1E;
    text-align: center;
  }
}

@include when(500px,inline) {
  .header_title {
    width: 250px;
    padding-top: 89 / 370 * 250px;
  }

  .header_title_more {
    font-size: 20px;
  }

  .header {
    padding-bottom: 674 / 1536 * 100%;
  }
}

@include when(700px,inline) {

  .header_title_more {
    font-size: 24px;
  }
}

@include when(1000px,inline) {
  .header_title {
    left: 50%;
    margin-left: -480px;
    width: 25%;
    padding-top: 89 / 370 * 25%;
  }

  .header_info_phone_number {
    font-size: 40px;
  }
}

@include when(1200px,inline) {
  .header {
    padding-bottom: 674 / 1536 * 1200px;
  }

  .header_title {
    width: 300px;
    padding-top: 72px;
  }
  
}


@include when(msie_lt9) {
  .header_title {
    background-image: url('../gfx/logo.outline.png');
    width: 370px;
    padding-top: 89px;
  }
}