html,body,div.chrome
{
	text-align: center;
	height: 100%;
}

div.chrome_frame
{
	text-align: left;
	height: auto;
}

div.chrome_contact
{
	text-align: left;
	width: 164px;
}

div.chrome_content
{
	height:490px;
}

div.chrome_photos
{
	text-align: left;
}


div.chrome_contact
{
	background: url('../gfx/paper.gif') no-repeat;
}


div.chrome_photos
{
	background: url('../gfx/photos_frame.gif') no-repeat;
}


div.chrome_frame
{
	background: url('../gfx/shadow.gif') left top repeat-y;
}

div.chrome_frame_bottom
{
	background: url('../gfx/shadow.gif') -735px top repeat-y;
}

div.chrome_footer
{
	background: url('../gfx/ornament.gif') 15px center no-repeat;
}

a.chrome_powered
{
	background: url('../gfx/poweredby.gif') no-repeat;
}