body.is-front {
  background: #666; }

.layout_navigation {
  position: fixed;
  width: 50%;
  z-index: 2;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0; }
.layout_title {
  background: url("../gfx/logo_light.svg") 0% no-repeat;
  font-size: 0;
  background-position: 50%;
  height: 100px;
  margin: 10px auto;
  max-width: 80%; }
.layout_menu {
  list-style: none;
  padding: 0;
  font-family: "Amatic SC", sans-serif;
  margin: -33px 0 0 55px;
  margin: 0; }
.layout_menu_item {
  display: block; }
.layout_menu_link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 7px;
  color: #fff;
  line-height: 1.5;
  font-size: 42px; }
.layout_content {
  padding: 15px 15px 50px;
  margin: 0 auto;
  max-width: 960px; }

@media screen and (min-width: 600px) {
  .layout_navigation {
    background: #ccced0 url("../gfx/menu2.jpg") 50%;
    background: #ccced0 url("../gfx/menu3.jpg") 50%;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: none;
    width: 300px; }
  .layout_title {
    background-position: 50%;
    height: 100px;
    margin: 30px auto;
    max-width: 80%; }
  .layout_menu {
    text-align: center;
    margin: 0; }
  .layout_menu_item {
    display: block; } }
@media screen and (min-width: 760px) {
  .layout_menu_link {
    font-size: 46px; } }
@media screen and (min-width: 900px) {
  .layout_menu_link {
    font-size: 50px; } }
.layout_header {
  background: #387960 url("../gfx/header.jpg") 50%;
  background-size: cover;
  padding: 10px 0 5px;
  position: relative; }
  .layout_header:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 10px;
    background: url("../gfx/cutout.svg") repeat-x;
    background-position: 50% 100%; }
  .layout_header_title {
    font-size: 0;
    background: url("../gfx/logo_light.svg") no-repeat;
    background-position: 50%;
    height: 60px;
    margin: 0; }
  .layout_header_menu {
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center; }
    .layout_header_menu_item {
      display: inline-block; }
    .layout_header_menu_link {
      color: #fff;
      text-decoration: none;
      padding: 5px 5px;
      font-size: 16px;
      display: inline-block;
      font-weight: 500; }

@media screen and (min-width: 500px) {
  .layout_header_menu_link {
    padding: 10px; } }
@media screen and (min-width: 768px) {
  .layout_header {
    height: 136px;
    padding: 0; }
    .layout_header_title {
      position: absolute;
      width: 230px;
      height: 90px;
      top: 20px;
      left: 20px; }
    .layout_header_menu {
      margin: 0;
      padding: 80px 0 0; }
      .layout_header_menu_link {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px; } }
@media screen and (min-width: 1000px) {
  .layout_header_title {
    left: 50%;
    margin-left: -480px; } }
body.exhibit {
  margin: 0;
  background-size: cover;
  background-position: 50%;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Raleway';
  overflow: hidden; }
  body.exhibit-concrete {
    background-image: url("../gfx/exhibition/background_concrete.jpg"); }
    body.exhibit-concrete.is-wide .exhibit_wall {
      margin-top: -20%; }
  body.exhibit-simple {
    background-image: url("../gfx/exhibition/background_simple.jpg"); }
  body.exhibit-light {
    background-image: url("../gfx/exhibition/background_light.jpg"); }

.exhibit_spaces {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 0; }
  .exhibit_spaces_option {
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 400; }
    .exhibit_spaces_option.is-selected {
      font-weight: 600; }
.exhibit_control {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px; }
.exhibit_back {
  position: absolute;
  bottom: 5%;
  width: 100px;
  color: #000;
  text-align: center;
  text-decoration: none;
  left: 5%;
  letter-spacing: 1px;
  font-size: 14px; }
.exhibit_wall {
  position: absolute;
  opacity: 0;
  transition: opacity .5s;
  top: 22%;
  left: 2%;
  right: 2%;
  bottom: 44%; }
  .is-layout .exhibit_wall {
    opacity: 1; }
  .is-wide .exhibit_wall {
    top: 50%;
    margin-top: -25%;
    left: 7%;
    width: 86%;
    padding-bottom: 30%;
    bottom: auto;
    right: auto; }
.exhibit_viewer {
  display: none;
  position: absolute;
  z-index: 2; }
  .exhibit_viewer_inner {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%; }
  .exhibit_viewer_image {
    position: absolute; }
  .exhibit_viewer.is-small {
    display: block; }
  .exhibit_viewer.is-full {
    display: block;
    top: 10px !important;
    bottom: 10px !important;
    right: 10px !important;
    left: 10px !important; }
.exhibit_paintings {
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 0;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(33.33333%);
  -webkit-scroll-snap-points-x: repeat(33.33333%); }
  .exhibit_paintings_page {
    width: 100%;
    position: relative;
    height: 100%;
    display: inline-block; }
.exhibit_painting {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
      /*
      transition: transform .3s;

      &:active {
        transform: scale(.9);
      };*/ }
  .exhibit_painting-left {
    left: 2%;
    width: 60%;
    top: 0;
    bottom: 0; }
  .exhibit_painting-center {
    right: 2%;
    width: 32%;
    top: 0;
    bottom: 55%; }
  .exhibit_painting-right {
    right: 2%;
    width: 32%;
    top: 55%;
    bottom: 0; }

@media screen and (min-width: 600px) {
  .exhibit_painting {
    top: 0;
    bottom: 0;
    width: 24%; }
    .exhibit_painting-left {
      left: 5%;
      right: auto; }
    .exhibit_painting-center {
      left: 38%;
      right: auto; }
    .exhibit_painting-right {
      right: 5%; } }
/*************** Header *************/
.part_section_header-1 {
  padding-bottom: 15px; }
.part_section_header-2 {
  padding-top: 10px;
  padding-bottom: 5px; }
.part_section_header-3 {
  padding-top: 10px; }
.part_section_header-4 {
  padding-top: 10px; }
.part_section_header-5 {
  padding-top: 10px; }
.part_section_header-6 {
  padding-top: 10px; }

/*************** Text *************/
.part_text {
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #333; }
  .part_text p {
    margin: 10px 0px 0px; }
    .part_text p:first-child {
      margin-top: 0; }

.part_horizontalrule {
  border: none;
  background: url("../gfx/stroke_2.svg") 50% no-repeat;
  background-size: contain;
  padding-bottom: 3%; }

@media screen and (min-width: 700px) {
  .part_header-1 {
    font-size: 70pt; }
  .part_header-2 {
    font-size: 32pt; }
  .part_header-3 {
    font-size: 28pt; }
  .part_header-4 {
    font-size: 24pt; }
  .part_header-5 {
    font-size: 20pt; }
  .part_header-6 {
    font-size: 16pt; } }
