.layout_navigation.is-front {
  position: fixed;
  width: 50%;
  z-index: 2;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0; }
.layout_title {
  background: url("../gfx/logo_dark.svg") 0% no-repeat;
  height: 70px;
  font-size: 0;
  margin: 10px; }
  .layout_title.is-front {
    background-image: url("../gfx/logo_light.svg");
    background-position: 50%;
    height: 100px;
    margin: 30px auto;
    max-width: 80%; }
.layout_menu {
  list-style: none;
  padding: 0;
  font-family: "Amatic SC", sans-serif;
  margin: -33px 0 0 55px; }
  .layout_menu.is-front {
    margin: 0; }
.layout_menu_item {
  display: inline-block; }
  .layout_menu_item.is-front {
    display: block; }
.layout_menu_link {
  display: block;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  font-size: 24px;
  padding: 0 7px; }
  .layout_menu_link.is-front {
    color: #fff;
    line-height: 1.5;
    font-size: 50px; }
.layout_content {
  padding: 10px; }

@media screen and (min-width: 600px) {
  .layout_content {
    margin-right: 25%;
    padding: 20px; }
  .layout_navigation {
    width: 25%;
    background: #ccced0 url("../gfx/menu2.jpg") 50%;
    background: #ccced0 url("../gfx/menu3.jpg") 50%;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0; }
    .layout_navigation.is-front {
      background: none;
      width: 25%; }
  .layout_title {
    background-position: 50%;
    height: 100px;
    margin: 30px auto;
    max-width: 80%; }
  .layout_menu {
    text-align: center;
    margin: 0; }
  .layout_menu_item {
    display: block; }
  .layout_menu_link, .layout_menu_link.is-front {
    font-size: 30px;
    line-height: 1.5; } }
@media screen and (min-width: 760px) {
  .layout_menu_link, .layout_menu_link.is-front {
    font-size: 40px; } }
@media screen and (min-width: 900px) {
  .layout_menu_link, .layout_menu_link.is-front {
    font-size: 50px; } }
