/********************** Base ***********************/
img {
  border: none; }

body {
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  margin: 0px;
  background: #fff; }

body, html {
  min-height: 100%;
  width: 100%;
  height: 100%; }

form {
  margin: 0px; }

div.case {
  margin: 0px auto;
  width: 930px;
  position: relative;
  text-align: left;
  padding: 0 0 40px; }

/****************** Front *****************/
div.case_front {
  margin-top: 50px;
  background: url("../gfx/easel.jpg") 40px 10px no-repeat;
  min-height: 580px;
  position: relative; }

div.case_front_content {
  background: url("../gfx/front_title.png") left top no-repeat;
  margin-left: 400px;
  padding-right: 160px;
  padding-top: 65px; }

.easel {
  left: 39px;
  top: 69px;
  position: absolute;
  width: 250px;
  height: 250px; }
  .easel_painting {
    width: 250px;
    height: 250px;
    display: none;
    position: absolute; }
    .easel_painting-1 {
      background: url("../gfx/painting1.jpg"); }
    .easel_painting-2 {
      background: url("../gfx/painting2.jpg"); }
    .easel_painting-3 {
      background: url("../gfx/painting3.jpg"); }
    .easel_painting-4 {
      background: url("../gfx/painting4.jpg"); }
    .easel_painting-5 {
      background: url("../gfx/painting5.jpg"); }
    .easel_painting-6 {
      background: url("../gfx/painting6.jpg"); }
    .easel_painting-7 {
      background: url("../gfx/painting7.jpg"); }
    .easel_painting-8 {
      background: url("../gfx/painting8.jpg"); }
    .easel_painting-9 {
      background: url("../gfx/painting9.jpg"); }

/*************** head **************/
div.case_head {
  height: 80px;
  background: url("../gfx/header.png") left bottom no-repeat; }

div.case_head h1 {
  display: none; }

div.case_content {
  min-height: 250px; }

/************* Sidebar ************/
div.case_sidebar {
  float: right;
  width: 260px;
  padding-top: 10px; }

div.case_sidebar_content {
  border-right: 1px solid #DDDDDD;
  margin-right: 260px;
  padding: 20px; }

/************ Contact *********/
div.case_contact {
  padding: 0 20px 0 20px; }

div.case_contact h2 {
  font-size: 12pt;
  margin: 0; }

div.case_contact p {
  font-size: 10pt;
  margin: 5px 0; }

div.case_contact em {
  font-style: normal;
  color: #999; }

div.case_contact a {
  color: #ddd; }

div.case_contact a span {
  color: #000; }

div.case_contact a:hover, div.case_contact a:hover span {
  color: #36f; }

div.case_contact blockquote {
  text-indent: -8px;
  margin: 25px 8px;
  font-size: 14pt;
  line-height: 30px;
  font-style: italic;
  color: #666; }

/******** Footer ********/
div.case_footer {
  background: url("../gfx/footer.png") no-repeat;
  width: 960px;
  height: 40px;
  margin: 0 auto;
  font-size: 9pt;
  text-align: center;
  padding-top: 20px; }

div.case_footer span {
  color: #666; }

a.case_design {
  background: url("../gfx/designedby.png");
  text-indent: -10000px;
  width: 149px;
  height: 47px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px; }

div.case_links {
  height: 30px; }

/***************** Top navigation *************/
ul.case_navigation {
  margin: 0;
  position: absolute;
  left: 280px;
  top: 30px;
  display: block;
  padding: 0 0 0 10px;
  overflow: hidden;
  cursor: default;
  font-family: Palatino; }

ul.case_navigation li {
  float: left;
  list-style: none; }

ul.case_navigation li a {
  display: block;
  float: left;
  color: #333;
  text-decoration: none;
  font-size: 12pt;
  height: 32px;
  line-height: 31px;
  margin-right: 5px;
  cursor: pointer; }

ul.case_navigation li span {
  display: block;
  float: left;
  height: 32px;
  padding: 0px 10px; }

ul.case_navigation li.highlighted, ul.case_navigation li.selected {
  font-weight: bold; }

/***************** Sub navigation *************/
ul.case_sub_navigation {
  margin: -2px 0 0 0;
  padding: 0 0 0 13px;
  display: block;
  overflow: hidden;
  height: 28px;
  line-height: 24px;
  list-style: none;
  font-size: 10pt;
  cursor: default; }

ul.case_sub_navigation li {
  float: left; }

ul.case_sub_navigation a {
  text-decoration: none;
  color: #333;
  height: 25px;
  display: inline-block;
  margin-right: 4px;
  cursor: pointer; }

ul.case_sub_navigation a span {
  display: inline-block;
  height: 25px;
  padding: 0 8px; }

ul.case_sub_navigation a.selected {
  font-weight: bold; }
