/********************** Base ***********************/
img {
  border: none; }

body {
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  margin: 0px;
  background: #fff; }

body, html {
  min-height: 100%;
  width: 100%;
  height: 100%; }

form {
  margin: 0px; }

/****************** Front *****************/
.easel {
  left: 39px;
  top: 69px;
  position: absolute;
  width: 250px;
  height: 250px; }
  .easel_painting {
    width: 250px;
    height: 250px;
    display: none;
    position: absolute; }
    .easel_painting-1 {
      background: url("../gfx/painting1.jpg"); }
    .easel_painting-2 {
      background: url("../gfx/painting2.jpg"); }
    .easel_painting-3 {
      background: url("../gfx/painting3.jpg"); }
    .easel_painting-4 {
      background: url("../gfx/painting4.jpg"); }
    .easel_painting-5 {
      background: url("../gfx/painting5.jpg"); }
    .easel_painting-6 {
      background: url("../gfx/painting6.jpg"); }
    .easel_painting-7 {
      background: url("../gfx/painting7.jpg"); }
    .easel_painting-8 {
      background: url("../gfx/painting8.jpg"); }
    .easel_painting-9 {
      background: url("../gfx/painting9.jpg"); }
