@import 'shared';

.common_link {
	color: #ddd;
	color: rgba(0,0,0,.1);
  
  &_text {
  	color: #0D589C;    
  }

  &:hover,
  &_text:hover {
  	color: #2D8BE0;
  }
}
	
.part_header
{
	color: #333;
	font-weight: normal;
	font-family: $font;
  
  &-1 {
    font-size: 42px;
    font-weight: 100;
  }
  &-2 {
    font-size: 32px;
    font-weight: 300;
  }
  &-3 {
    font-size: 16px;
    font-weight: bold;
  }
  &-4 {
    font-size: 16px;
    font-weight: bold;
  }
  &-5 {
    font-size: 16px;
    font-weight: bold;
  }
  &-6 {
    font-size: 16px;
    font-weight: bold;
  }
}

.part_horizontalrule
{
	border: none;
	border-bottom: solid 1px #eee;
	margin: 10px -20px;
}

.part_text {
	font-family: $font;
  font-size: 16px;
}

.part_listing {
	font-family: $font;
  font-size: 16px;
  
  &_item {
    color: #ccc;
  }

  &_text {
    color: #333;
  }

}
