div.hui_alert
{
	width: 500px;
	border: 1px solid #ddd;
	border-bottom-color: #d3d3d3;
	border-top-color: #e3e3e3;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -250px;
	margin-top: 0px;
	background: #fafafa;
	-moz-box-shadow:0 5px 20px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 5px 20px rgba(0, 0, 0, 0.1);
	display: none;
	opacity: 0;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

div.hui_alert_body
{
	min-height: 135px;
	padding: 13px 15px;
	overflow: hidden;
	text-align: left;
	border: 1px solid #fff;
}

div.hui_alert_content
{
	min-height: 105px;
	overflow: hidden;
}

div.hui_alert .smile
{
	padding-left: 160px;
	background: url('../gfx/smiley_large_smile.png') no-repeat scroll 10px 10px;
}

div.hui_alert .gasp
{
	padding-left: 160px;
	background: url('../gfx/smiley_large_gasp.png') no-repeat scroll 10px 10px;
}

div.hui_alert h1
{
	color: #123;
	font-size: 18px;
	margin: 0px 0px 10px;
	font-weight: bold;
	text-align: left;
}

div.hui_alert p
{
	color: #123;
	font-size: 13px;
	margin: 0px 0px 10px;
	line-height: 14pt;
	min-height: 57px;
}