div.hui_boundpanel
{
	position: absolute;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	top: 0px;
	left: 0px;
}

div.hui_boundpanel_arrow
{
	position: absolute;
	width: 18px;
	height: 37px;
	z-index: 10;
	margin-top: 17px;
	background: url('../gfx/boundpanel_arrow.png');
}

div.hui_boundpanel_arrow_left
{
	background-position: 0 0;
}

div.hui_boundpanel_arrow_right
{
	background-position: -18px 0;
}

div.hui_boundpanel_arrow_top
{
	width: 36px;
	height: 18px;
	background-position: 0 -37px;
}

div.hui_boundpanel_arrow_bottom
{
	width: 36px;
	height: 18px;
	background-position: 0 -55px;
}

div.hui_boundpanel_content
{
	/*width: 200px;*/
	overflow: hidden;
}

/* Top */

div.hui_boundpanel_top
{
	height: 8px;
	padding-left: 10px;
	background: url('../gfx/bound_top_left.png') top left no-repeat;
}

div.hui_boundpanel_top div
{
	height: 8px;
	padding-right: 10px;
	background: url('../gfx/bound_top_right.png') top right no-repeat;
}

div.hui_boundpanel_top div div
{
	height: 8px;
	background: url('../gfx/bound_top.png') top left repeat-x;
}

/* body */

div.hui_boundpanel_body
{
	padding-left: 10px;
	background: url('../gfx/bound_left.png') top left repeat-y;
}

div.hui_boundpanel_body div.hui_boundpanel_body
{
	padding-left: 0px;
	padding-right: 10px;
	background: url('../gfx/bound_right.png') top right repeat-y;
}

div.hui_boundpanel_body div.hui_boundpanel_body div.hui_boundpanel_body
{
	padding: 0px;
	background: #f2f2f2;
}

/* Bottom */

div.hui_boundpanel_bottom
{
	height: 12px;
	padding-left: 10px;
	background: url('../gfx/bound_bottom_left.png') top left no-repeat;
}

div.hui_boundpanel_bottom div
{
	height: 12px;
	padding-right: 10px;
	background: url('../gfx/bound_bottom_right.png') top right no-repeat;
}

div.hui_boundpanel_bottom div div
{
	height: 12px;
	background: url('../gfx/bound_bottom.png') top left repeat-x;
}

/*************** Light variant **************/

div.hui_boundpanel_light div.hui_boundpanel_bottom, div.hui_boundpanel_light div.hui_boundpanel_top
{
	display: none;
}

div.hui_boundpanel_light div.hui_boundpanel_body
{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}

div.hui_boundpanel_light div.hui_boundpanel_body  div.hui_boundpanel_body
{
	background: none;
	padding: 0;
	border: none;
	box-shadow: none;
}

div.hui_boundpanel_light div.hui_boundpanel_content
{
	padding: 4px;
}

div.hui_boundpanel_light div.hui_boundpanel_arrow_left
{
	height: 23px;
	width: 12px;
	background-position: 0 -78px;
}

div.hui_boundpanel_light div.hui_boundpanel_arrow_right
{
	height: 23px;
	width: 12px;
	background-position: -24px -78px;
}

div.hui_boundpanel_light div.hui_boundpanel_arrow_top
{
	width: 23px;
	height: 12px;
	background-position: -8px -100px;
}

div.hui_boundpanel_light div.hui_boundpanel_arrow_bottom
{
	width: 23px;
	height: 12px;
	background-position: -8px -115px;
}