/************************** Box *************************/

.hui_box
{
	margin: 0 auto;
	text-align: left;
}

.hui_box_close
{
	width: 29px;
	height: 31px;
	background: url('../gfx/box_close.png') left top no-repeat;
	position: absolute;
	margin: -10px 0 0 -10px;
	z-index: 200;
}

.hui_box_close:hover
{
	background-position: 0 -31px;
}

.hui_box_close:focus
{
	background-position: 0 -62px;
	outline: none;
}

.hui_box_close:focus:hover
{
	background-position: 0 -93px;
	outline: none;
}

.hui_box_absolute
{
	position: absolute;
	left: 50%;
	top: -10000px;
	margin-left: -1000px;
	visibility: hidden;
}

/****************************** Plain ****************************/

.hui_box_plain
{
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

.hui_box_close_plain
{
	margin: -15px 0 0 -15px;
}

/****************************** Standard ****************************/

.hui_box_top
{
	height: 5px;
	background: url('../gfx/box_shadow.png') left top no-repeat;
	padding-left: 18px;
}

.hui_box_top div
{
	height: 5px;
	background: url('../gfx/box_shadow.png') right -5px no-repeat;
	padding-right: 18px;
}

.hui_box_top div div
{
	background: url('../gfx/box_shadow.png') left -10px repeat-x;
	padding: 0px;
}

.hui_box_bottom
{
	height: 13px;
	background: url('../gfx/box_shadow.png') left -15px no-repeat;
	padding-left: 18px;
}

.hui_box_bottom div
{
	height: 13px;
	background: url('../gfx/box_shadow.png') right -28px no-repeat;
	padding-right: 18px;
}

.hui_box_bottom div div
{
	background: url('../gfx/box_shadow.png') left -41px repeat-x;
	padding: 0px;
}

.hui_box_middle
{
	background: url('../gfx/box_shadow.png') left -54px repeat-y;
	padding-left: 7px;
}

.hui_box_middle .hui_box_middle
{
	background: url('../gfx/box_shadow.png') right -54px repeat-y;
	padding: 0px 7px 0px 0px;
}

.hui_box_body
{
	padding: 0px;
	background: #fff;
}

.hui_box_textured .hui_box_body
{
	background: #f3f3f3;
	border: 1px solid #fff;
}

.hui_box_header
{
	height: 58px;
	background: url('../gfx/box_toolbar.png') left top repeat-x;
	border: 1px solid #b6c1d0;
	border-width: 0px 1px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

.hui_box_title
{
	float: left;
	height: 58px;
	line-height: 58px;
	font-size: 12pt;
	color: #44474c;
	font-weight: normal;
	padding: 0px 15px;
	text-shadow: rgba(255,255,255,.5) 0px 1px 0px;
}

.hui_box_header_toolbar .hui_box_title
{
	float: right;
}

.hui_box_header .hui_toolbar
{
	float: left;
}

.hui_box_header a.hui_toolbar_icon_selected
{
    background-color: rgba(119, 142, 169, 0.5);
}

/***************************** Rounded ************************/


.hui_box_rounded .hui_box_top,
.hui_box_rounded .hui_box_top div
{
	font-size: 0;
	background: url('../gfx/box_rounded.png') no-repeat;
	height: 7px;
	padding: 0;
}

.hui_box_rounded .hui_box_top div
{
	background-position: right -7px;
}

.hui_box_rounded .hui_box_top div div
{
	background-position: left -14px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

.hui_box_rounded .hui_box_bottom,
.hui_box_rounded .hui_box_bottom div
{
	font-size: 0;
	background: url('../gfx/box_rounded.png') left -21px no-repeat;
	height: 10px;
	padding: 0;
}

.hui_box_rounded .hui_box_bottom div
{
	background-position: right -31px;
	padding: 0;
}

.hui_box_rounded .hui_box_bottom div div
{
	background-position: left -41px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

.hui_box_rounded .hui_box_middle
{
	background: url('../gfx/box_rounded_middle.png') repeat-y;
	padding: 0;
}

.hui_box_rounded .hui_box_middle .hui_box_middle
{
	background: url('../gfx/box_rounded_middle.png') right repeat-y;
}

.hui_box_rounded .hui_box_body
{
	margin: 0 3px;
	background: #fff;
	padding: 1px 0;
	overflow: hidden;
}