/************************** Box *************************/

div.hui_box
{
	margin: 0 auto;
	text-align: left;
}

a.hui_box_close
{
	width: 30px;
	height: 30px;
	background: url('../gfx/box_close.png') left top no-repeat;
	position: absolute;
	margin: -10px 0 0 -10px;
	z-index: 200;
}

div.hui_box_absolute
{
	position: absolute;
	left: 50%;
	top: -10000px;
	margin-left: -1000px;
	visibility: hidden;
}

div.hui_box_top
{
	height: 5px;
	background: url('../gfx/box_shadow.png') left top no-repeat;
	padding-left: 18px;
}

div.hui_box_top div
{
	height: 5px;
	background: url('../gfx/box_shadow.png') right -5px no-repeat;
	padding-right: 18px;
}

div.hui_box_top div div
{
	background: url('../gfx/box_shadow.png') left -10px repeat-x;
	padding: 0px;
}

div.hui_box_bottom
{
	height: 13px;
	background: url('../gfx/box_shadow.png') left -15px no-repeat;
	padding-left: 18px;
}

div.hui_box_bottom div
{
	height: 13px;
	background: url('../gfx/box_shadow.png') right -28px no-repeat;
	padding-right: 18px;
}

div.hui_box_bottom div div
{
	background: url('../gfx/box_shadow.png') left -41px repeat-x;
	padding: 0px;
}

div.hui_box_middle
{
	background: url('../gfx/box_shadow.png') left -54px repeat-y;
	padding-left: 7px;
}

div.hui_box_middle div.hui_box_middle
{
	background: url('../gfx/box_shadow.png') right -54px repeat-y;
	padding: 0px 7px 0px 0px;
}

div.hui_box_body
{
	padding: 0px;
	background: #fff;
}

div.hui_box_textured div.hui_box_body
{
	background: #f3f3f3;
	border: 1px solid #fff;
}

div.hui_box_header
{
	height: 58px;
	background: url('../gfx/box_toolbar.png') left top repeat-x;
	border: 1px solid #b6c1d0;
	border-width: 0px 1px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

strong.hui_box_title
{
	float: left;
	height: 58px;
	line-height: 58px;
	font-size: 12pt;
	color: #44474c;
	font-weight: normal;
	padding: 0px 15px;
	text-shadow: rgba(255,255,255,.5) 0px 1px 0px;
}

div.hui_box_header_toolbar strong.hui_box_title
{
	float: right;
}

div.hui_box_header div.hui_toolbar
{
	float: left;
}

div.hui_box_header div.hui_toolbar_icon_selected
{
	background: url('../gfx/box_toolbar.png') left -174px repeat-x;
}

div.hui_box_header div.hui_toolbar_icon_selected div.hui_toolbar_inner_icon
{
	background: url('../gfx/box_toolbar.png') left -58px no-repeat;
}

div.hui_box_header div.hui_toolbar_icon_selected div.hui_toolbar_inner_icon div.hui_toolbar_inner_icon
{
	background: url('../gfx/box_toolbar.png') right -116px no-repeat;
}

/***************************** Rounded ************************/


div.hui_box_rounded div.hui_box_top, div.hui_box_rounded div.hui_box_top div
{
	font-size: 0;
	background: url('../gfx/box_rounded.png') no-repeat;
	height: 7px;
	padding: 0;
}

div.hui_box_rounded div.hui_box_top div
{
	background-position: right -7px;
}

div.hui_box_rounded div.hui_box_top div div
{
	background-position: left -14px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

div.hui_box_rounded div.hui_box_bottom, div.hui_box_rounded div.hui_box_bottom div
{
	font-size: 0;
	background: url('../gfx/box_rounded.png') left -21px no-repeat;
	height: 10px;
	padding: 0;
}

div.hui_box_rounded div.hui_box_bottom div
{
	background-position: right -31px;
	padding: 0;
}

div.hui_box_rounded div.hui_box_bottom div div
{
	background-position: left -41px;
	background-repeat: repeat-x;
	margin: 0 8px;
}

div.hui_box_rounded div.hui_box_middle
{
	background: url('../gfx/box_rounded_middle.png') repeat-y;
	padding: 0;
}

div.hui_box_rounded div.hui_box_middle div.hui_box_middle
{
	background: url('../gfx/box_rounded_middle.png') right repeat-y;
}

div.hui_box_rounded div.hui_box_body
{
	margin: 0 3px;
	background: #fff;
	padding: 1px 0;
	overflow: hidden;
}