
div.hui_buttons
{
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
}

div.hui_buttons_right div.hui_buttons_body
{
	text-align: right;
}

div.hui_buttons_center div.hui_buttons_body
{
	text-align: center;
}

div.hui_buttons a.hui_button
{
	margin-right: 2px;
}

div.hui_buttons_right a.hui_button
{
	margin: 0px 0px 0px 2px;
}

div.hui_buttons_center a.hui_button
{
	margin: 0px 1px 0px 1px;
}


/**************** Standard button ************/

a.hui_button
{
	background: url('../gfx/button.png') top left no-repeat;
	color: #004a80;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
	text-decoration: none;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
}

a.hui_button span
{
	background-image: url('../gfx/button.png');	
	background-repeat: no-repeat;
	display: inline-block;
	background-position: right -56px;
	background-repeat: no-repeat;
	height: 28px;
}

a.hui_button span span
{
	background-position: 0px -28px;
	background-repeat: repeat-x;
	margin: 0px 5px;
	padding: 0px 5px;
}

em.hui_button_icon
{
	padding: 0px;
	margin: 6px 3px 0px -2px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: top;
}

em.hui_button_icon_notext
{
	margin: 6px -3px 0px -3px;
}

a.hui_button:hover em.hui_button_icon
{
	background-position: 0 -16px;
}

a.hui_button:hover
{
	background-position: 0px -84px;
}

a.hui_button:hover span
{
	background-position: 100% -140px;
}

a.hui_button:hover span span
{
	background-position: 0px -112px;
	background-repeat: repeat-x;
}

a.hui_button:active
{
	background-position: 0px -168px;
	outline: none;
}

a.hui_button:active span
{
	background-position: 100% -224px;
}

a.hui_button:active span span
{
	background-position: 0px -196px;
	background-repeat: repeat-x;
}

a.hui_button:focus
{
	background-position: 0px -252px;
	outline: none;
}

a.hui_button:focus span
{
	background-position: 100% -308px;
}

a.hui_button:focus span span
{
	background-position: 0px -280px;
	background-repeat: repeat-x;
}

a.hui_button:focus:hover
{
	background-position: 0px -336px;
	outline: none;
}

a.hui_button:focus:hover span
{
	background-position: 100% -392px;
}

a.hui_button:focus:hover span span
{
	background-position: 0px -364px;
	background-repeat: repeat-x;
}

a.hui_button:active:focus
{
	background-position: 0px -420px;
	outline: none;
}

a.hui_button:active:focus span
{
	background-position: 100% -476px;
}

a.hui_button:active:focus span span
{
	background-position: 0px -448px;
	background-repeat: repeat-x;
}

a.hui_button_highlighted, a.hui_button_highlighted span
{
	background-image: url('../gfx/button_highlighted.png');
	color: #152;
}

a.hui_button_disabled
{
	color: #666;
	opacity: .5;
	cursor: default;
}

a.hui_button_disabled:hover
{
	background-position: top left;
}

a.hui_button_disabled:hover span
{
	background-position: 100% -56px;
}

a.hui_button_disabled:hover span span
{
	background-position: 0px -28px;
}

a.hui_button_small
{
	height: 24px;
	background-image: url('../gfx/button_small.png');
	line-height: 0;
	font-size: 0;
}

a.hui_button_small span
{
	height: 24px;
	background-image: url('../gfx/button_small.png');
	background-position: right -24px;
}

a.hui_button_small span span
{
	background-position: left -48px;
	margin: 0 12px;
	padding: 0 3px;
	font-size: 12px;
	line-height: 23px;
	text-shadow: 0 1px 0 #FFFFFF;
}

a.hui_button_small:hover
{
	background-position: left -72px;
}

a.hui_button_small:hover span
{
	background-position: right -96px;
}

a.hui_button_small:hover span span
{
	background-position: left -120px;
}

a.hui_button_small:active
{
	background-position: left -144px;
}

a.hui_button_small:active span
{
	background-position: right -168px;
}

a.hui_button_small:active span span
{
	background-position: left -192px;
}


a.hui_button_small:focus
{
	background-position: left -216px;
}

a.hui_button_small:focus span
{
	background-position: right -240px;
}

a.hui_button_small:focus span span
{
	background-position: left -264px;
}

a.hui_button_small:focus:hover
{
	background-position: left -288px;
}

a.hui_button_small:focus:hover span
{
	background-position: right -312px;
}

a.hui_button_small:focus:hover span span
{
	background-position: left -336px;
}

a.hui_button_small:focus:active
{
	background-position: left -360px;
}

a.hui_button_small:focus:active span
{
	background-position: right -384px;
}

a.hui_button_small:focus:active span span
{
	background-position: left -408px;
}

a.hui_button_small_highlighted, a.hui_button_small_highlighted span
{
	background-image: url('../gfx/button_small_highlighted.png');
	color: #152;
}

a.hui_button_small em.hui_button_icon
{
	margin-left: -3px;
    margin-top: 4px;
}

a.hui_button_small em.hui_button_icon_notext
{
    margin-right: -4px;
    margin-left: -4px;
}

/*****************************************/
/*
a.hui_button_highlighted {
    -webkit-animation-name: hui_pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}



@-webkit-keyframes hui_pulse {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: .8;
	}
	100% {
	  opacity: 1;
	}
}*/

a.hui_button_light {
  margin: 2px;
}

a.hui_button_light, a.hui_button_light span
{
	background: none;
	height: 24px;
	line-height: 24px;
	font-family: Georgia,serif;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 13px;
}

a.hui_button_light, a.hui_button_light:focus
{
	border: 1px solid #ddd;
	border-radius: 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#fff), to(#f6f6f6));
	background: -moz-linear-gradient(top, #fff, #f6f6f6);
    filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f6f6f6);
	-webkit-background-clip: border-box;
	color: #333;
	/*-webkit-box-shadow: 0px 1px 3px #eee;*/
}

a.hui_button_light:hover
{
	border-color: #dadada;
    background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#fafafa), to(#eee));
	background: -moz-linear-gradient(top, #fafafa, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fafafa, endColorstr=#eeeeee);
}

a.hui_button_light:active
{
	border-color: #dadada;
  background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#eee), to(#fafafa));
	background: -moz-linear-gradient(top, #eee, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#eeeeee, endColorstr=#fafafa);
}

a.hui_button_light:focus
{
  border-color: rgb(0, 105, 255);
  box-shadow: 0 0 1px 1px rgba(1,105,255,0.6), inset 0 0 1px 1px rgba(1,105,255,0.6);
}



/** Icon **/

a.hui_button_light em.hui_button_icon
{
	margin-left: -6px;
    margin-right: 5px;
    margin-top: 5px;
}

a.hui_button_light em.hui_button_icon_notext
{
    margin-right: -5px;
}





/** Small light **/

a.hui_button_small_light, a.hui_button_small_light span
{
	height: 20px;
	line-height: 18px;
}

a.hui_button_small_light span span
{
	margin: 0;
	padding: 0 5px;
	font-size: 11px;
	line-height: 18px;
}





/** Mini light **/

a.hui_button_mini_light
{
	border-radius: 16px;
}

a.hui_button_mini_light, a.hui_button_mini_light span
{
	height: 16px;
	line-height: 16px;
	font-size: 0;
}

a.hui_button_mini_light span span
{
	margin: 0;
	padding: 0 10px;
	font-size: 10px;
	line-height: 16px;
}


/** Tiny light **/

a.hui_button_tiny_light
{
	border-radius: 14px;
}

a.hui_button_tiny_light, a.hui_button_tiny_light span
{
	height: 14px;
	line-height: 14px;
	font-size: 0;
}

a.hui_button_tiny_light span span
{
	margin: 0;
	padding: 0 8px;
	font-size: 10px;
	line-height: 14px;
}




.hui_context_dark a.hui_button,
.hui_context_dark a.hui_button span
{
	background-image: url('../gfx/button_overlay.png');
	color: #fff;
}

.hui_context_dark a.hui_button_highlighted, 
.hui_context_dark a.hui_button_highlighted span
{
	background-image: url('../gfx/button_overlay_highlighted.png');
}


/** Small bar **/

a.hui_button_bar
{
	border: 1px solid #ddd;
	border-radius: 3px;
	background: none;
	height: 26px;
	line-height: 26px;
	font-family: Georgia,serif;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 14px;
	border-color: #ccc #d7d7d7 #ccc;
    background: -webkit-gradient(linear, 0% 0%, 0% 100% , from(#fdfdfd), to(#e6e6e6));
	background: -moz-linear-gradient(top, #fafafa, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fafafa, endColorstr=#eeeeee);
}

a.hui_button_bar span
{
	background: none;
	color: #333;
}

a.hui_button_small_bar, a.hui_button_small_bar span
{
	height: 20px;
	line-height: 20px;
}

a.hui_button_small_bar span span
{
	margin: 0;
	padding: 0 7px;
	font-size: 11px;
	line-height: 17px;
	text-shadow: 0 1px 0 #fff;
}
