span.hui_colorinput input
{
	border: 1px solid #ddd;
	border-color: #eee #ddd #ccc;
	box-shadow: inset 0 2px 3px #eee;
	border-radius: 3px;
}

a.hui_colorinput
{
	position: absolute;
	width: 16px;
	height: 16px;
	background: red;
}