span.hui_colorinput input
{
	border-color:#BBBBBB #CCCCCC #DDDDDD;
	border-style:solid;
	border-width:1px;
	width: 100px;
	margin: 0;
	padding: 1px 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 3px #ddd;
	font-size: 12px;
	height: 16px;
}

span.hui_colorinput input:focus
{
	outline: none;
	-webkit-box-shadow: inset 0 1px 3px #ddd, 0 0 5px #68f;
}

a.hui_colorinput
{
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #CCC;
	margin-left: 3px;
	margin-top: 1px;
}