span.hui_colorinput
{
	width: 120px;
	display: inline-block;
	position: relative;
}

span.hui_colorinput input
{
	border: 0px;
	font-size: 9pt;
	width: 110px;
	border: none;
	margin: 0;
	margin-top: -1px;
	padding: 0;
	height: 18px;
}

span.hui_colorinput input:focus
{
	outline: none;
}

a.hui_colorinput
{
	top: 1px;
	right: -22px;
	position: absolute;
	width: 19px;
	height: 19px;
	border: 1px solid #CCC;
	margin-left: 3px;
	margin-top: 1px;
}