div.hui_colorpicker
{
	margin-bottom: -3px;
	border: 1px solid #ddd;
}

div.hui_colorpicker_preview
{
	height: 24px;
	background: #fff;
	border: 1px solid #ddd;
	border-width: 1px 0 0;
}

div.hui_colorpicker_pages
{
	width: 256px;
	height: 256px;
	padding: 10px;
	background: #fff;
	border-top: 1px solid #ddd;
}

div.hui_colorpicker_page
{
	width: 256px;
	height: 256px;
	display: none;
}

div.hui_colorpicker_wheel1
{
	background-image: url('../gfx/colorwheel1.png');
	cursor: crosshair;
	display: block;
}

div.hui_colorpicker_wheel2
{
	background-image: url('../gfx/colorwheel2.png');
	cursor: crosshair;
}

div.hui_colorpicker_wheel3
{
	background-image: url('../gfx/colorwheel3_2.png');
	cursor: crosshair;
}

input.hui_colorpicker
{
	margin: 3px 3px 0 0;
	width: 50px;
	color: #999;
	padding: 0 2px;
	border: 1px solid #ccc;
	font-size: 11px;
	font-family: monospace;
	height: 16px;
	float: right;
}

div.hui_colorpicker_swatches
{
	font-size: 0;
	width: 260px;
	margin-left: -2px;
	margin-top: -2px;
	cursor: crosshair;
}

div.hui_colorpicker_swatches a
{
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
}