div.hui_datepicker
{
	/*padding-left: 1px;*/
}

div.hui_datepicker table
{
	border-collapse: collapse;
	width: 100%;
}

div.hui_datepicker th
{
	font-size: 8pt;
	line-height: 18px;
	padding: 0px;
	width: 14.2%;
	font-weight: normal;
	color: #999;
}

div.hui_datepicker td
{
	border: 1px solid #ddd;
	height: 22px;
	padding: 0px;
	text-align: center;
	font-size: 11px;
	line-height: 12px;
	cursor: pointer;
	background: #fff;
}

div.hui_datepicker td:hover
{
	background: #eee;
}

td.hui_datepicker_dimmed
{
	color: #aaa;
}

div.hui_datepicker td.hui_datepicker_selected
{
	background: #3875d7;
	color: #fff;
}

td.hui_datepicker_today
{
	font-weight: bold;
}

div.hui_datepicker_header
{
	font-size: 9pt;
	overflow: hidden;
	line-height: 13px;
	height: 16px;
}

div.hui_datepicker_header strong
{
	display: block;
	text-align: center;
	font-family: Helvetica;
	color: rgb(64, 71, 77);
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}

a.hui_datepicker_previous
{
	float: left;
	background: url('../icons/monochrome/previous16.png') -1px -2px no-repeat;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	cursor: pointer;
}

a.hui_datepicker_next
{
	float: right;
	background: url('../icons/monochrome/next16.png') -3px -2px no-repeat;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	cursor: pointer;
}