div.hui_diagram
{
	position: relative;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	overflow: hidden;
}

.hui_diagram_dragable
{
	cursor: move;
	cursor: -webkit-grab;
}

.hui_diagram_dragging
{
	cursor: move;
	cursor: -webkit-grabbing;
}


.hui_diagram_line_label
{
	position: absolute;
	font-size: 11px;
	line-height: 11px;
	height: 13px;
	background: #fff;
	padding: 2px;
	color: #888;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*** Icon ***/

div.hui_diagram_icon
{
	position: absolute;
	padding: 2px;
	z-index: 1;
}

div.hui_diagram_icon strong
{
	position: absolute;
	font-weight: normal;
	top: 36px;
	font-size: 10px;
	width: 100px;
	left: 0;
	margin-left: -32px;
	text-align: center;
}

div.hui_diagram_icon_selected
{
	border: 2px solid #2678ff;
	margin: -2px 0 0 -2px;
	border-radius: 5px;
}


/*** Box ***/

div.hui_diagram_box
{
	position: absolute;
	border: 1px solid #eee;
	border-radius: 3px;
	background: #fff;
	top: 0;
	left: 0;
	z-index: 1;
	max-width: 400px;
	overflow: hidden;
}

div.hui_diagram_box_selected
{
	border: 3px solid #2678ff;
	margin: -2px 0 0 -2px;
	border-radius: 5px;
}

div.hui_diagram_box h1
{
	margin: 0;
	font-size: 12px;
	text-align: center;
	background: #fafafa;
	border-bottom: 1px solid #eee;
	border-radius: 2px 2px 0 0;
	padding: 3px 5px;
	color: #333;
}

div.hui_diagram_box table
{
	font-size: 10px;
	margin: 0 5px;
}

div.hui_diagram_box th
{
	font-weight: normal;
	color: #999;
	text-align: right;
}

div.hui_diagram_box td em
{
	color: #999;
	margin-left: 3px;
}