table.in2igui_dock
{
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

table.in2igui_dock thead td
{
	height: 78px;
	padding: 0;
}

table.in2igui_dock tfoot.in2igui_dock_tabs td
{
	height: 78px;
	padding: 0;
}

table.in2igui_dock tfoot td div.in2igui_toolbar
{
}

table.in2igui_dock tbody td
{
	font-size: 0px;
	padding: 0;
	vertical-align: top;
	position: relative;
}

table.in2igui_dock iframe
{
	height: 100%;
	width: 100%;
	border: none;
	font-size: 0px;
	background: #fff;
	display: block;
}

div.in2igui_dock_progress
{
	position: absolute;
	height: 100%;
	width: 100%;
	background: url('../gfx/progress/spinner_white_48.gif') center center no-repeat;
	/* rgba(243,245,247,.5) */
}