div.hui_dragproxy
{
	position: absolute;
	top: 0px;
	left: 0px;
	background: left top no-repeat;
	padding-left: 18px;
	height: 16px;
	font-size: 9pt;
}

div.hui_dragproxy span
{
	padding: 1px 3px;
	background: rgba(255,255,255,.8);
}