textarea.hui_editor_header
{
	background: none;
	border: none;
	position: absolute;
	padding: 0px;
	display: block;
	outline: none;
}

textarea.hui_editor_html
{
	background: none;
	border: none;
	padding: 0px;
	display: block;
	width: 100%;
}

.hui_editor_part_active
{
	outline: 1px dashed #3875d7;
}

div.hui_overlay_icon:hover
{
	cursor: pointer;
	background-position: 0px -32px;
}

.hui_editor_part_hover
{
	/*background: url('../gfx/hover_bg.png');*/
	outline: 1px dashed rgba(0,0,0,.2);
}

.hui_editor_column_hover
{
	/*outline: 1px dashed #3875d7;*/
	outline: 1px dashed rgba(0,0,0,.2);
}

.hui_editor_column_edit
{
	outline: 2px dashed #3875d7 !important;
}

div.hui_editor_drop_placeholder
{
	position: relative;
	overflow: hidden;
	height: 0px;
}

div.hui_editor_drop_placeholder div
{
	height: 100%;
	border: 2px dashed #DDD;
	background: #F6F6F6;
	border-radius: 10px;
	box-sizing: border-box;
}

div.hui_editor_dragproxy
{
	text-align: left;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1001;
	-webkit-transform-origin: 0 0;
}

div.hui_editor_dropmarker
{
	position: absolute;
	height: 1px;
	background: #ABF;
	box-shadow: 0 0 4px 1px #abf;
	z-index: 1000;
}