/*************** Flip ****************/

.hui_flip_container
{
	-webkit-perspective: 1000;
}

.hui_flip_back, .hui_flip_front
{
	-webkit-transform-style : preserve-3d;
   	-webkit-transition-property : -webkit-transform;
	-webkit-backface-visibility : hidden;
	/*-webkit-transition-duration : 1s;*/
	-webkit-transform : rotate(2deg);
}

.hui_flip_back
{
	-webkit-transform : rotateY(180deg);
}

.hui_flip_flipped .hui_flip_back
{
	-webkit-transform : rotateY(360deg);
}

.hui_flip_front
{
	-webkit-transform : rotateY(0deg);
}

.hui_flip_flipped .hui_flip_front
{
	-webkit-transform : rotateY(180deg);
}

/** Leacy **/

.hui_flip_back_legacy
{
	display: none;
}

.hui_flip_flipped_legacy .hui_flip_back_legacy
{
	display: block;
}

.hui_flip_flipped_legacy .hui_flip_front_legacy
{
	display: none;
}

/********** Cubic *********/

.hui_effect_cube
{
	-webkit-transform-style : preserve-3d; 
	-webkit-transition-property : -webkit-transform;
	-webkit-perspective: 1000;
	-webkit-backface-visibility : hidden;
}

.hui_effect_cube_face
{
  -webkit-transition-duration: 1000ms;
	position: absolute;
}

.hui_effect_cube_run .hui_effect_cube_face
{
  -webkit-transition-duration: 1000ms;
}

.hui_effect_cube_face_out
{
  -webkit-transform: translateZ(-256px) rotateY(0deg) translateZ(256px);
}

.hui_effect_cube_face_in
{
  -webkit-transform: translateZ(-256px) rotateY(90deg) translateZ(256px);
}

.hui_effect_cube_run .hui_effect_cube_face_out
{
  -webkit-transform: translateZ(-256px) rotateY(-90deg) translateZ(256px);
}

.hui_effect_cube_run .hui_effect_cube_face_in
{
  -webkit-transform: translateZ(-256px) rotateY(0deg) translateZ(256px);
}

/*********** Wiggle ***********/

@-webkit-keyframes hui_wiggle {
	0% {-webkit-transform:rotate(2deg);}
	20% {-webkit-transform:rotate(-4deg);}
	30% {-webkit-transform:rotate(3deg);}
	40% {-webkit-transform:rotate(-1deg);}
	50% {-webkit-transform:rotate(4deg);}
	60% {-webkit-transform:rotate(-3deg);}
	70% {-webkit-transform:rotate(2deg);}
	80% {-webkit-transform:rotate(-4deg);}
	90% {-webkit-transform:rotate(1deg);}
	100% {-webkit-transform:rotate(2deg);}
}

@-moz-keyframes hui_wiggle {
	0% {-moz-transform:rotate(4deg);}
	20% {-moz-transform:rotate(-4deg);}
	30% {-moz-transform:rotate(4deg);}
	40% {-moz-transform:rotate(-4deg);}
	50% {-moz-transform:rotate(4deg);}
	60% {-moz-transform:rotate(-4deg);}
	70% {-moz-transform:rotate(4deg);}
	80% {-moz-transform:rotate(-4deg);}
	90% {-moz-transform:rotate(4deg);}
	100% {-moz-transform:rotate(4deg);}
}

.hui_effect_wiggle
{
	-webkit-animation: hui_wiggle 1s infinite;
	-moz-animation: hui_wiggle 1s infinite;
	animation: hui_wiggle 1s infinite;
}

/********* Spin ***********/


@-webkit-keyframes hui_spin {
	from { -webkit-transform: rotateY(0); }
	to   { -webkit-transform: rotateY(360deg); }
}

@-moz-keyframes hui_spin {
	from { -moz-transform: rotateY(0); }
	to   { -moz-transform: rotateY(360deg); }
}

.hui_effect_spin
{
	-webkit-perspective : 1000;
	-webkit-transform-style: preserve-3d;
	-webkit-animation: hui_spin 3.5s infinite ease;
	-moz-perspective : 1000;
	-moz-transform-style: preserve-3d;
	-moz-animation: hui_spin 3.5s infinite ease;
}

/*********** Wobble **********/

@-webkit-keyframes hui_wobble {
  0% { -webkit-transform: translateX(0%); }
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
  30% { -webkit-transform: translateX(20%) rotate(3deg); }
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
  60% { -webkit-transform: translateX(10%) rotate(2deg); }
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
  100% { -webkit-transform: translateX(0%); }
}

@-moz-keyframes hui_wobble {
  0% { -moz-transform: translateX(0%); }
  15% { -moz-transform: translateX(-25%) rotate(-5deg); }
  30% { -moz-transform: translateX(20%) rotate(3deg); }
  45% { -moz-transform: translateX(-15%) rotate(-3deg); }
  60% { -moz-transform: translateX(10%) rotate(2deg); }
  75% { -moz-transform: translateX(-5%) rotate(-1deg); }
  100% { -moz-transform: translateX(0%); }
}

@-ms-keyframes hui_wobble {
  0% { -ms-transform: translateX(0%); }
  15% { -ms-transform: translateX(-25%) rotate(-5deg); }
  30% { -ms-transform: translateX(20%) rotate(3deg); }
  45% { -ms-transform: translateX(-15%) rotate(-3deg); }
  60% { -ms-transform: translateX(10%) rotate(2deg); }
  75% { -ms-transform: translateX(-5%) rotate(-1deg); }
  100% { -ms-transform: translateX(0%); }
}

@-o-keyframes hui_wobble {
  0% { -o-transform: translateX(0%); }
  15% { -o-transform: translateX(-25%) rotate(-5deg); }
  30% { -o-transform: translateX(20%) rotate(3deg); }
  45% { -o-transform: translateX(-15%) rotate(-3deg); }
  60% { -o-transform: translateX(10%) rotate(2deg); }
  75% { -o-transform: translateX(-5%) rotate(-1deg); }
  100% { -o-transform: translateX(0%); }
}

@keyframes hui_wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

.hui_effect_wobble {
	-webkit-animation-name: hui_wobble;
	-moz-animation-name: hui_wobble;
	-ms-animation-name: hui_wobble;
	-o-animation-name: hui_wobble;
	animation-name: hui_wobble;
}


/**************** Shake ***************/

@-webkit-keyframes hui_shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes hui_shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-ms-keyframes hui_shake {
	0%, 100% {-ms-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-ms-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-ms-transform: translateX(10px);}
}

@-o-keyframes hui_shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes hui_shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.hui_effect_shake
{
	-webkit-animation-name: hui_shake;
	-moz-animation-name: hui_shake;
	-ms-animation-name: hui_shake;
	-o-animation-name: hui_shake;
	animation-name: hui_shake;
}

.hui_effect_wobble, .hui_effect_shake, .hui_effect_tada
{
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/*** TADA ***/

@-webkit-keyframes hui_effect_tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes hui_effect_tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.hui_effect_tada {
  -webkit-animation-name: hui_effect_tada;
  animation-name: hui_effect_tada;
}