div.hui_fontpicker
{
	background: #fff;
	width: 200px;
	border: 1px solid #ddd;
	border-width: 1px 1px 0;
	max-height: 200px;
	overflow: auto;
}

div.hui_fontpicker_item
{
	border-bottom: 1px solid #ddd;
	padding: 4px 8px;
	font-size: 12pt;
	position: relative;
	color: #333;
}

div.hui_fontpicker_item:hover
{
	background: #EBF0F7;
	cursor: pointer;
}

div.hui_fontpicker_item a.hui_icon
{
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -8px;
	display: none;
}

div.hui_fontpicker_item:hover a.hui_icon
{
	display: block;
}

/*********** Example ***********/

div.hui_fontpicker_example
{
	max-width: 400px;
	max-height: 400px;
	overflow: auto;
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
}

div.hui_fontpicker_example h1
{
	font-weight: normal;
	margin: 0 0 10px;
}

div.hui_fontpicker_example table
{
	cell-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #eee;
}

div.hui_fontpicker_example td
{
	border: 1px solid #eee;
	padding: 2px 6px 3px;
	vertical-align: top;
}

div.hui_fontpicker_example th
{
	border: 1px solid #eee;
	padding: 2px 6px 3px;
	font-size: 11px;
}