span.hui_fontinput
{
	display: inline-block;
	vertical-align: middle;
}

a.hui_fontinput
{
	background: #fff;
	border: 1px solid #ddd;
	line-height: 18px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 18px;
	text-align: center;
	color: #333;
	text-decoration: none;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-left: 2px;
	border-radius: 3px;
	overflow: hidden;
}

a.hui_fontinput:hover
{
	background: #eee;
	border: 1px solid #ccc;
}

a.hui_fontinput:focus
{
	/*border-color: #2678ff;*/
	outline: 4px auto #2678ff;
}