form.hui_formula
{
	padding: 0px;
	margin: 0px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	text-align: left;
}

div.hui_formula_fieldset
{
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 4px;
	background: #f6f6f6;
}

strong.hui_formula_fieldset
{
	position: absolute;
	margin-top: -19px;
	background: #f3f3f3;
	font-size: 12px;
	padding: 0 4px;
	margin-left: -2px;
	color: #666;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.hui_window strong.hui_formula_fieldset
{
	background: #E7E7E7;
}

div.hui_window div.hui_formula_fieldset
{
	background: #eee;
	border: 1px solid #ccc;
}

.hui_formula_header
{
	color: #0077cd;
	font-size: 13pt;
	padding-bottom: 5px;
}

table.hui_formula_group
{
	width: 100%;
	font-size: 0;
}

table.hui_formula_group_above
{
	border-spacing: 0px;
}

form.hui_formula table.split
{
	border-spacing: 5px 0px;
}

table.hui_formula_group label
{
	color: #004A80;
	font-size: 12px;
	font-weight: normal;
}

table.hui_formula_group_above label
{
	line-height: 13px;
	display: inline-block;
	padding-left: 2px;
}

table.hui_formula_group th label
{
	font-size: 9pt;
}

table.hui_formula_group th
{
	width: 1%;
	vertical-align: top;
	padding: 0px 5px 0px 0px;
	text-align: right;
	line-height: 20px;
	white-space: nowrap;
}

table.hui_formula_group th.hui_formula_middle
{
	vertical-align: middle;
	line-height: normal;
	padding-bottom: 5px;
}

table.hui_formula_group_above th
{
	text-align: left;
}

table.hui_formula_group_above div.hui_tokenfield
{
	margin-bottom: 2px;
}

form.hui_formula div.hui_field
{
	font-size: 0;
}

form.hui_formula select
{
	font-size: 9pt;
	margin: 0;
	width: 100%;
}

.hui_formula_text
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: -1px;
	font-size: 9pt;
	width: 100%;
	background: transparent;
	font-family: Verdana,sans-serif;
	outline: none;
}

div.hui_textarea_dummy
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 9pt;
	line-height:16px;
	position: absolute;
	visibility: hidden;
	left: -10000px;
	top: -10000px;
	word-wrap: break-word;
	padding: 1px 0px;
}

input.hui_formula_text
{
	height: 18px;
}

textarea.hui_formula_text
{
	text-indent: 0;
	line-height: 16px;
	padding: 0px;
	margin: 0;
	padding: 1px 0px;
	resize: none;
	overflow-x: hidden;
}

textarea.hui_formula_text::-webkit-scrollbar
{  
	height: 14px;
	width: 14px;
}  
  
textarea.hui_formula_text::-webkit-scrollbar-thumb
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), to(rgb(240, 240, 240)));  
    -webkit-border-radius: 7px;
	border: 1px solid #ddd;
}

form.hui_formula fieldset
{
	border: 1px solid #ccc;
	margin: 0px;
	padding: 0px 8px 5px 6px;
}

form.hui_formula fieldset legend
{
	font-size: 9pt;
	color: #999;
}

td.hui_formula_group
{
	padding: 0;
}

div.hui_formula_item
{
	padding-bottom: 5px;
	font-size: 0;
	line-height: 0;
}

/*************************************** Field **********************************/

span.hui_field
{
	display: inline-block;
	vertical-align: middle;
}


span.hui_field_top, span.hui_field_top span
{
	display: block;
	font-size: 0;
	background: url('../gfx/field.png') left -5px no-repeat;
	height: 5px;
}

span.hui_field_top span
{
	background-position: 100% -10px;
}

span.hui_field_top span span
{
	background-position: 0 0;
	background-repeat: repeat;
	margin: 0 5px;
}

span.hui_field_bottom, span.hui_field_bottom span
{
	display: block;
	font-size: 0;
	background: url('../gfx/field.png') 0 -19px no-repeat;
	height: 4px;
}

span.hui_field_bottom span
{
	background-position: 100% -23px;
	background-repeat: no-repeat;
}

span.hui_field_bottom span span
{
	background-position: 0 -15px;
	background-repeat: repeat-x;
	margin: 0 5px;
}

span.hui_field_middle
{
	display: block;
	background: url('../gfx/field.png') 0 -27px no-repeat;
}

span.hui_field_middle span.hui_field_middle
{
	display: block;
	background: url('../gfx/field.png') 100% -427px no-repeat;
}

span.hui_field_content
{
	display: block;
	margin: 0 5px;
	background: #fff;
}

.hui_field_focused span.hui_field_top
{
	background-position: 0 -832px;
}

.hui_field_focused span.hui_field_top span
{
	background-position: 100% -837px;
}

.hui_field_focused span.hui_field_top span span
{
	background-position: 100% -827px;
}

.hui_field_focused span.hui_field_bottom
{
	background-position: 0 -846px;
}

.hui_field_focused span.hui_field_bottom span
{
	background-position: 100% -850px;
}

.hui_field_focused span.hui_field_bottom span span
{
	background-position: 100% -842px;
}

.hui_field_focused span.hui_field_middle
{
	background-position: 0 -854px;
}

.hui_field_focused span.hui_field_middle span.hui_field_middle
{
	background-position: 100% -1254px;
}

span.hui_field_singleline
{
	background: none;
	height: 16px;
	font-size: 0;
	display: block;
}

em.hui_field_placeholder
{
	position: absolute;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	color: #999;
	font-style: normal;
	font-size: 12px;
	margin-left: 7px;
	margin-top: 5px;
}

.hui_field_focused em.hui_field_placeholder, .hui_field_dirty em.hui_field_placeholder
{
	display: none;
}

/*********************************** Number **********************************/

span.hui_number
{
	display: inline-block;
	background: url('../gfx/number.png') -11px top no-repeat;
	height: 25px;
	position: relative;
}

span.hui_number span
{
	display: inline-block;
	background: url('../gfx/number.png') right -50px no-repeat;
	height: 25px;
}

span.hui_number span span
{
	margin: 0 17px 0 6px;
	background: url('../gfx/number.png') left -25px repeat-x;
	line-height: 0;
}

span.hui_number input
{
	border: none;
	background: none;
	width: 80px;
	font-family: Verdana, sans-serif;
	font-size: 9pt;
	padding: 0 4px 0;
	height: 16px;
	margin: 5px 0;
	text-align: right;
	line-height: 16px;
	vertical-align: top;
}

span.hui_number input:focus
{
	outline: none;
}

a.hui_number_up
{
	position: absolute;
	width: 15px;
	height: 10px;
	right: 2px;
	top: 2px;
}

a.hui_number_down
{
	position: absolute;
	width: 15px;
	height: 10px;
	right: 2px;
	bottom: 3px;
}

span.hui_number_focused
{
	background-position: -11px -75px;
}

span.hui_number_focused span
{
	background-position: right -125px;
}

span.hui_number_focused span span
{
	background-position: left -100px;
}

em.hui_number_units
{
	vertical-align: middle;
}

span.hui_number_adaptive
{
	width: 100%;
}

span.hui_number_adaptive input
{
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	margin-left: -2px;
}

/******* Special lenght for style *******/

span.hui_style_length input
{
	width: 50px;
}

/************************************** Buttons *********************************/

form.hui_formula div.hui_buttons_body
{
	float: right;
}

form.hui_formula a.hui_button
{
	margin-left: 2px;
	margin-right: 0px;
}

/******************************* Radio button **************************/

div.hui_radiobuttons
{
	overflow: hidden;
	margin-bottom: 5px;
	padding-top: 4px;
}

div.hui_radiobutton
{
	overflow: hidden;
	margin-right: 10px;
	font-size: 10pt;
	cursor: default;
	color: #004A80;
	float: left;
	line-height: 15px;
}

div.hui_radiobutton div
{
	float: left;
	background: url('../gfx/radiobutton.png') no-repeat;
	width: 18px;
	height: 18px;
	margin-right: 3px;
	cursor: pointer;
}

div.hui_radiobuttons div.hui_selected div
{
	background-position: 0px -18px;
}

/******************************* Object list **************************/

table.hui_objectlist
{
	margin-top: 1px;
	width: 100%;
}

table.hui_objectlist th
{
	text-align: left;
	font-size: 11px;
	line-height: 13px;
	color: #004A80;
	font-weight: normal;
	padding-left: 4px;
}

table.hui_objectlist th.hui_objectlist1
{
	padding-left: 2px;
}

.hui_objectlist tbody input.text
{
	border-color: #ccc #ddd #eee #ddd;
	width: 100%;
}
.hui_objectlist tbody td
{
	padding: 0px 0px 0px 2px;
	vertical-align: top;
}

.hui_objectlist tbody td.first
{
	padding-left: 0px;
}



/************************* Override for windows *******************/


div.hui_window table.hui_formula_group label
{
	background: rgb(231,231,231);
	padding: 0px 2px;
}

div.hui_window_light table.hui_formula_group label
{
	color: #004A80;
	background: rgb(229,229,229);
}


div.hui_window_dark table.hui_formula_group label, div.hui_window_dark div.hui_checkbox, div.hui_window_dark div.hui_radiobutton, div.hui_window_dark th.hui_objectlist
{
	color: #fff;
	background: none;
}

div.hui_window_dark .hui_formula_text
{
	color: #fff;
}

div.hui_window_dark div.hui_field span
{
	background-image: url('../gfx/field_dark.png');
}

div.hui_window_dark div.hui_field span.hui_formula_text_singleline, div.hui_window_dark div.hui_field span.hui_formula_text_multiline
{
	background: none;
}

div.hui_window_dark div.hui_field span.hui_field_content
{
	background: #222222;
}

div.hui_window_dark div.hui_field span.hui_field_singleline
{
	background: none;
}

div.hui_window_dark a.hui_checkbox
{
	color: #fff;
}