.hui_imageinput
{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	cursor: pointer;
	background: #fff center center no-repeat;
	margin-top: 2px;
	padding: 1px;
	position: relative;
}

.hui_imageinput:focus
{
	outline: none;
	border-color: #2678ff;
	outline: 4px auto #2678ff;
}

.hui_imageinput_clear {
	position: absolute;
	width: 16px;
	height: 16px;
	background: url('../icons/common/delete16.png');
	top:-8px;
	right: -8px;
	display: none;
	outline: none;
}

.hui_imageinput_clear:hover {
	background-position: 0 -16px;
}

.hui_imageinput_full:hover > .hui_imageinput_clear {
	display: block;
}

.hui_imageinput_thumbs
{
	width: 200px;
	height: 200px;
	overflow: auto;
	margin-bottom: 5px;
}


.hui_imageinput_thumbnail
{
	float: left;
	width: 52px;
	height: 52px;
	border: 1px solid #ddd;
	margin: 1px 5px 5px 1px;
	cursor: pointer;
	background: #fff center center no-repeat;
}

.hui_imageinput_thumbnail:hover
{
	border-color: #3875d7;
}