div.hui_infoview
{
	overflow-y: hidden;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

div.hui_infoview_busy
{
	background: url('../gfx/spinner_large.gif') center center no-repeat;
}

div.hui_infoview table
{
	width: 100%;
	font-size: 8pt;
	line-height: 14px;
}

div.hui_infoview th
{
	vertical-align: top;
	text-align: right;
	padding: 2px 8px 0px 0px;
	color: #666;
	font-weight: bold;
	width: 50%;
}

div.hui_infoview td
{
	vertical-align: top;
	padding: 2px 0px 0px 0px;
}

div.hui_infoview th.hui_infoview_header
{
	font-size: 13px;
	padding-bottom: 5px;
	text-align: center;
	color: #333;
	line-height: 19px;
	padding-top: 0px;
}

div.hui_infoview_click:hover
{
	cursor: pointer;
	text-decoration: underline;
}

