/************************ overflow **********************/


.hui_overflow
{
	overflow: auto;
	width: 100%;
	position: relative;
}
/*
.hui_overflow::-webkit-scrollbar
{  
	height: 14px;
	width: 14px;
}  
  
.hui_overflow::-webkit-scrollbar-thumb
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), to(rgb(240, 240, 240)));  
    -webkit-border-radius: 7px;
	border: 1px solid #ddd;
	min-height: 50px;
}

.hui_overflow::-webkit-scrollbar-thumb:horizontal
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(rgb(240, 240, 240)));  
}

.hui_overflow::-webkit-scrollbar-thumb:hover
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(245, 245, 245)), to(rgb(235, 235, 235)));
}

.hui_overflow::-webkit-scrollbar-thumb:horizontal:hover
{
    background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(245, 245, 245)), to(rgb(235, 235, 235)));
}


.hui_context_sidebar .hui_overflow::-webkit-scrollbar-thumb
{
	border: 2px solid #EBF0F7;
	background: #dfe5ee;
	width: 10px;
	height: 10px;
}

.hui_context_sidebar .hui_overflow:hover::-webkit-scrollbar-thumb
{
	background: #D4DCE9;
}*/

div.hui_overflow_top
{
	-webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0, 0, 0, .8) 50%,transparent 100%);
	background-color: transparent;
	background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, .2),rgba(0, 0, 0, .1) 30%,transparent);
	background-image: -moz-linear-gradient(top,rgba(0, 0, 0, .2),rgba(0, 0, 0, .1) 30%,transparent);
	background-image: -ms-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	background-image: -o-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	background-image: linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	/*border-top: 1px solid rgba(0, 0, 0, 0.4);*/
	height: 8px;
	position: relative;
	width: 100%;
	position: absolute;
	display: none;
}

div.hui_overflow_bottom
{
	-webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0, 0, 0, .8) 50%,transparent 100%);
	background-color: transparent;
	background-image: -webkit-linear-gradient(bottom,rgba(0, 0, 0, .2),rgba(0, 0, 0, .1) 30%,transparent);
	background-image: -moz-linear-gradient(bottom,rgba(0, 0, 0, .2),rgba(0, 0, 0, .1) 30%,transparent);
	background-image: -ms-linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
	background-image: -o-linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
	background-image: linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
	/*border-top: 1px solid rgba(0, 0, 0, 0.4);*/
	height: 8px;
	position: relative;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: none;
}

div.hui_overflow_shadow_white div.hui_overflow_bottom
{
	height: 16px;
	-webkit-mask-box-image: none;
	background-image: -webkit-linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: linear-gradient(bottom,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
}

div.hui_overflow_shadow_white div.hui_overflow_top
{
	height: 16px;
	-webkit-mask-box-image: none;
	background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
	background-image: linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, .5) 70%,rgba(255, 255, 255, 0));
}


.hui_context_sidebar div.hui_overflow_bottom
{
	background-image: -webkit-linear-gradient(bottom,rgba(0, 0, 100, .2),rgba(0, 0, 100, .1) 30%,transparent);
}

.hui_context_sidebar div.hui_overflow_top
{
	background-image: -webkit-linear-gradient(top,rgba(0, 0, 100, .2),rgba(0, 0, 100, .1) 30%,transparent);
}

/******************** Columns *********************/

table.hui_columns
{
	border-spacing: 0;
	width: 100%;
	table-layout: fixed; 
}

td.hui_columns_column
{
	vertical-align: top;
}

/******************** Header *********************/

h2.hui_header
{
	font-weight: normal;
	margin: 0;
	color: #666;
	height: 32px;
	line-height: 32px;
	font-size: 20px;
}

h2.hui_header span.hui_icon_2
{
	margin-right: 3px;
	vertical-align: top;
}

/********************** Layout ******************/

table.hui_layout
{
	height: 100%;
	width: 100%;
	border-spacing: 0;
}

thead.hui_layout
{
	height: 1%;
}

div.hui_layout_top
{
	background: url('../gfx/layout.png') left top no-repeat;
}

div.hui_layout_top div.hui_layout_top
{
	background: url('../gfx/layout.png') right -100px no-repeat;
}

div.hui_layout_top div.hui_layout_top div.hui_layout_top
{
	background: url('../gfx/layout.png') left -200px repeat-x;
	margin: 0 9px;
}

td.hui_layout_top
{
	padding: 0;
}

td.hui_layout_top div.hui_toolbar
{
	height: 56px;
}

table.hui_layout_middle
{
	height: 100%;
	width: 100%;
	border-spacing: 0;
	background: #fff;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

tr.hui_layout_middle
{
	background: url(../gfx/layout_middle.png) repeat-y scroll 100% 0;
}

td.hui_layout_middle
{
	padding: 0;
	background: url(../gfx/layout_middle.png) repeat-y scroll 0 0;
	padding: 0 3px;
}

td.hui_layout_left
{
	background: #EBF0F7 none repeat scroll 0 0;
	border-right: 1px solid #BBBBBB;
	vertical-align: top;
	padding: 0;
	width: 200px;
}

div.hui_layout_left
{
	width: 200px;
	font-size: 0;
	line-height: 0;
}

td.hui_layout_center
{
	background: #fff;
	vertical-align: top;
	padding: 0;
	width:100%;
	height: auto;
}

tfoot.hui_layout
{
	height: 1%;
}


div.hui_layout_bottom
{
	background: url('../gfx/layout.png') left 230px repeat-y;
	min-height: 30px;
}

div.hui_layout_bottom div.hui_layout_bottom
{
	background: url('../gfx/layout.png') right 130px repeat-y;
}

div.hui_layout_bottom div.hui_layout_bottom div.hui_layout_bottom
{
	background: url('../gfx/layout.png') left -570px repeat-x;
	margin: 0 9px;
}

td.hui_layout_bottom
{
	padding: 0;
}