div.hui_links
{
	border-top: 1px solid #eee;
	background: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
}

div.hui_links_row
{
	padding: 2px 3px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

div.hui_links_row:hover
{
	background-color: #EBF0F7;
}

div.hui_links_text
{
	margin-left: 20px;
	font-size: 11px;
	line-height: 11px;
}

div.hui_links_info
{
	margin-left: 20px;
	font-size: 9px;
	line-height: 11px;
	color: #aaa;
}

div.hui_links span.hui_icon
{
	float: left;
}

div.hui_links_row_selected
{
	background-color: #3875d7;
	background: -moz-linear-gradient(top, #92BCFA, #5580ee);
	background: -webkit-gradient(linear, left top, left bottom, from(#92BCFA), to(#5580ee));
}

div.hui_links_row_selected div
{
	color: #fff;
	text-shadow: 0 1px 2px #5070cc;
}

span.hui_links_remove
{
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -8px;
	display: none;
}

span.hui_links_remove:hover
{
	cursor: pointer;
	background-position: 0 -16px;
}

div.hui_links_row:hover span.hui_links_remove
{
	display: inline-block;
}