div.hui_markupeditor
{
	border: 1px solid #eee;
	height: 200px;
	background: #fff;
	outline: none;
	cursor: text;
}

.hui_markupeditor_highlighted
{
	box-shadow: 0 0 5px #abf, 0 0 5px #abf;
	border-radius: 3px;
}

div.hui_markupeditor_path
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 12px;
}