
.hui_picker
{
	background: #b9bec6;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
}

.hui_picker_middle
{
	background: url('../gfx/picker_bg_middle.png') right 0px repeat-y;
	padding-right: 3px;
}

.hui_picker_middle .hui_picker_middle
{
	background: url('../gfx/picker_bg_middle.png') left 0px repeat-y;
	padding: 0px 3px 0px 6px;
}

div.hui_picker_title
{
	font-size: 10pt;
	color: #2c3a52;
	padding: 2px 10px;
	text-align: center;
}



.hui_picker_container
{
	overflow: hidden;
}

.hui_picker_item
{
	float: left;
	background: center center no-repeat;
	cursor: pointer;
	padding: 5px;
	margin: 1px 2px 0px;
	font-size: 0;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.hui_picker_item strong
{
	font-size: 10px;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	padding: 0 5px;
	background: #FAFcFF;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #eee;
	font-weight: normal;
	color: #456;
}

.hui_picker_item:hover
{
	background: url('../gfx/hover_bg.png');
}

.hui_picker_item_selected, .hui_picker_item_selected:hover
{
	background-color: #3875D7;
	background-color: rgba(56,117,215,.7);
}

div.hui_picker_shadow div.hui_picker_item_selected
{
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.hui_picker_shadow div.hui_picker_item div
{
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	-ms-box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

div.hui_picker_shadow div.hui_picker_item_middle
{
	background: url('../gfx/picker_item.png') left -12px no-repeat;
	padding-left: 2px;
}


div.hui_picker_bottom, div.hui_picker_top
{
	display: none;
}

.hui_picker_middle, .hui_picker_middle .hui_picker_middle
{
	background: none;
	padding: 0;
}

div.hui_picker
{
	padding: 10px 0;
	box-shadow: inset 0 2px 10px rgba(0,0,0,.3);
	background: url('../gfx/picker_bg_middle.png');
	background: url('../gfx/backgrounds/brushed_lighter.png');
}

div.hui_picker_content
{
	padding: 0 8px;
}

div.hui_picker_pages
{
	text-align: center;
}

div.hui_picker_pages a
{
	display: inline-block;
	min-width: 12px;
	padding: 0 2px;
	height: 16px;
	line-height: 16px;
	font-size: 11px;
	cursor: pointer;
	border-radius: 8px;
	background: rgba(0,0,0,.1);
	color: #666;
	margin: 0 2px;
}

div.hui_picker_pages a.hui_picker_page_selected
{
	background: rgba(0,0,0,.2);
	color: #fff;
}

div.hui_picker_pages a:hover
{
	background: rgba(0,0,0,.2);
}