
.hui_picker
{
	background: #b9bec6;
}

.hui_picker_top, .hui_picker_top div
{
	font-size: 1px;
	height: 7px;
	background: url('../gfx/picker_bg.png') left -14px repeat-x;
}

.hui_picker_top div
{
	background: url('../gfx/picker_bg.png') left 0px no-repeat;
}

.hui_picker_top div div
{
	background: url('../gfx/picker_bg.png') right -7px no-repeat;
}

.hui_picker_bottom, .hui_picker_bottom div
{
	font-size: 1px;
	height: 7px;
	background: url('../gfx/picker_bg.png') left -35px repeat-x;
}

.hui_picker_bottom div
{
	background: url('../gfx/picker_bg.png') left -21px no-repeat;
}

.hui_picker_bottom div div
{
	background: url('../gfx/picker_bg.png') right -28px no-repeat;
}

.hui_picker_middle
{
	background: url('../gfx/picker_bg_middle.png') right 0px repeat-y;
	padding-right: 3px;
}

.hui_picker_middle .hui_picker_middle
{
	background: url('../gfx/picker_bg_middle.png') left 0px repeat-y;
	padding: 0px 3px 0px 6px;
}

div.hui_picker_title
{
	font-family: 'Lucida Grande','Verdana',sans-serif;
	font-size: 10pt;
	color: #2c3a52;
	padding: 2px 10px;
	text-align: center;
}



.hui_picker_container
{
	overflow: hidden;
}

.hui_picker_item
{
	float: left;
	background: center center no-repeat;
	cursor: pointer;
	padding: 5px;
	margin: 1px 2px 0px;
	font-size: 0;
}

.hui_picker_item strong
{
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 10px;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	padding: 0 5px;
	background: #FAFcFF;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #eee;
	font-weight: normal;
	color: #456;
}

.hui_picker_item:hover
{
	background: url('../gfx/hover_bg.png');
}

.hui_picker_item_selected, .hui_picker_item_selected:hover
{
	background-color: #3875D7;
	background-color: rgba(56,117,215,.7);
	-moz-border-radius: 5px;
}

div.hui_picker_shadow div.hui_picker_item_selected
{
	-moz-border-radius: 3px;
}

div.hui_picker_shadow div.hui_picker_item
{
	padding: 4px 3px 1px;
}

div.hui_picker_shadow div.hui_picker_item_middle
{
	background: url('../gfx/picker_item.png') left -12px no-repeat;
	padding-left: 2px;
}

div.hui_picker_shadow div.hui_picker_item_middle div.hui_picker_item_middle
{
	padding: 0px 2px 0px 0px;
	background-position: right -12px;
}

div.hui_picker_shadow div.hui_picker_item_bottom
{
	background: url('../gfx/picker_item.png') left 0px no-repeat;
	font-size: 0px;
	height: 4px;
	padding-left: 4px;
}

div.hui_picker_shadow div.hui_picker_item_bottom div
{
	background: url('../gfx/picker_item.png') right -4px no-repeat;
	height: 4px;
	padding-right: 4px;
}

div.hui_picker_shadow div.hui_picker_item_bottom div div
{
	background: url('../gfx/picker_item.png') right -8px repeat-x;
	padding: 0px;
}

