div.hui_progressbar
{
	height: 22px;
	border: 1px solid #ccc;
	border-width: 0px 1px;
	background: url("../gfx/progress_bg.png") repeat-x 0 -28px;
}

div.hui_progressbar div
{
	height: 22px;
	background: url('../gfx/progress_animation.gif');
	width: 0%;
}

div.hui_progressbar_complete div
{
	background: url('../gfx/progress_bg.png') left -50px;
}

div.hui_progressbar_waiting
{
	background: url('../gfx/progress_animation_indeterminate.gif');
}

div.hui_progressbar_small
{
	background: url('../gfx/progress_bg.png');
	height: 14px;
}

div.hui_progressbar_small div
{
	background: url('../gfx/progress_animation_small.gif');
	height: 14px;
}

div.hui_progressbar_small_waiting
{
	background: url('../gfx/progress_animation_small_indeterminate.gif');
	height: 14px;
}

div.hui_progressbar_small_complete div
{
	background: url('../gfx/progress_bg.png') left -14px;
}