/******************************* Radio button **************************/

div.hui_radiobuttons
{
	overflow: hidden;
	margin-bottom: 5px;
	padding-top: 4px;
}

a.hui_radiobutton
{
	overflow: hidden;
	margin-right: 10px;
	font-size: 10pt;
	cursor: default;
	color: #004A80;
	display: inline-block;
	line-height: 15px;
}

a.hui_radiobutton span
{
	float: left;
	background: url('../gfx/radiobutton.png') no-repeat;
	width: 18px;
	height: 18px;
	margin-right: 3px;
	cursor: pointer;
}

div.hui_radiobuttons a.hui_radiobutton
{
	margin-bottom: 3px;
}

div.hui_radiobuttons a.hui_radiobutton_selected span
{
	background-position: 0px -18px;
}

div.hui_radiobuttons_disabled a.hui_radiobutton
{
	color: #999;
}

div.hui_radiobuttons_disabled a.hui_radiobutton span
{
	opacity: .5;
}