div.hui_rendering
{
	font-family: 'Lucida Grande', sans-serif;
	font-family: Helvetica;
	font-size: 12px;
}
div.hui_rendering p
{
	margin: 0;
}
.hui_rendering_dimmed
{
	color: #999;
}
.hui_rendering_minor
{
	font-size: 10px;
}