.hui_skeleton {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.hui_skeleton_navigation {
  position: absolute;
  width: 20%;
  top: 0;
  left: 0;
  bottom: 0;
  background: #EBF0F7;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-right: 1px solid #ddd;
  overflow: hidden;
}

.hui_skeleton_resize {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  z-index: 1;
  cursor: col-resize;
}
.hui_skeleton_resize:hover {
  background: rgba(0, 0, 0, 0.1);
}

.hui_skeleton_results {
  position: absolute;
  width: 20%;
  top: 0;
  left: 20%;
  bottom: 0;
  background: #fff;
  overflow: hidden;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.hui_skeleton_actions {
  position: absolute;
  top: 0;
  background: #fff;
  right: 0;
  left: 40%;
}

.hui_skeleton_content {
  position: absolute;
  top: 41px;
  background: #fff;
  right: 0;
  left: 40%;
  bottom: 0;
}
