div.hui_structure
{
	height: 100%;
	position: relative;
}

div.hui_structure_top
{
	min-height: 26px;
	border: 1px solid #ccc;
	border-radius: 6px 6px 0 0;
	padding: 0 5px;
	background: #fff;
	background: #CCC -webkit-gradient(linear, 0% 0%, 0% 100% , from(white), to(#F0F0F0));
	background: -moz-linear-gradient(top, white, #F0F0F0);
	background: -webkit-linear-gradient(top, white, #F0F0F0);
	background: -ms-linear-gradient(top, white, #F0F0F0);
	background: linear-gradient(top, white, #F0F0F0);
	filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=white, endColorstr=#F0F0F0);
}

div.hui_structure_bottom
{
	height: 26px;
	border: 1px solid #ccc;
	border-radius:  0 0 6px 6px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	background: #CCC -webkit-gradient(linear, 0% 0%, 0% 100% , from(white), to(#F0F0F0));
	background: -moz-linear-gradient(top, white, #F0F0F0);
	background: -webkit-linear-gradient(top, white, #F0F0F0);
	background: -ms-linear-gradient(top, white, #F0F0F0);
	background: linear-gradient(top, white, #F0F0F0);
	filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=white, endColorstr=#F0F0F0);
}

div.hui_structure_middle
{
	position: absolute;
	bottom: 28px;
	top: 58px;
	left: 0;
	right: 0;
	background: #fff;
}

div.hui_structure_full div.hui_structure_middle
{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

div.hui_structure_center
{
	height: 100%;
	margin-left: 201px;
}

div.hui_structure_left
{
	background: #EBF0F7 none repeat scroll 0 0;
	border-right: 1px solid #BBBBBB;
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	width: 200px;
}