div.hui_tabs_tab_light
{
	background: #fff;
}

div.hui_tabs_bar
{
	padding-top: 4px;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 0;
}

div.hui_tabs_bar ul
{
	line-height: 25px;
	height: 32px;
	background: url('../gfx/tabs.png') left top repeat-x;
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-left: 4px;
}

div.hui_tabs_bar li
{
	display: inline-block;
}

div.hui_tabs_bar_centered ul
{
	text-align: center;
}

div.hui_tabs_bar a
{
	float: left;
	font-size: 10pt;
	margin-right: 4px;
	line-height: 26px;
	color: #123;
	text-decoration: none;
	cursor: pointer;
	background: url('../gfx/tabs.png') left -128px no-repeat;
	height: 32px;
	outline: none;
}

div.hui_tabs_bar li span
{
	background: url('../gfx/tabs.png') right -160px no-repeat;
	float: left;
	height: 32px;
}

div.hui_tabs_bar li span span
{
	margin: 0px 4px;
	background: url('../gfx/tabs.png') left -192px repeat-x;
	padding: 0px 6px;
}

div.hui_tabs_bar li.hui_tabs_selected a
{
	background: url('../gfx/tabs.png') left -32px no-repeat;
}

div.hui_tabs_bar li.hui_tabs_selected span
{
	background: url('../gfx/tabs.png') right -64px no-repeat;
}

div.hui_tabs_bar li.hui_tabs_selected span span
{
	background: url('../gfx/tabs.png') right -96px repeat-x;
	color: #fff;
}

/************************* Small ************************/

div.hui_tabs_bar_small
{
	padding: 0;
}

div.hui_tabs_bar_small ul
{
	background: url('../gfx/tabs_small.png');
	height: 26px;
}

div.hui_tabs_bar_small ul li a
{
	background: url('../gfx/tabs_small.png');
	background-position: left -26px;
	background-repeat: no-repeat;
	font-size: 12px;
	line-height: 22px;
	height: 26px;
}

div.hui_tabs_bar_small li span
{
	background: url('../gfx/tabs_small.png') right -52px no-repeat;
	height: 26px;
}

div.hui_tabs_bar_small li span span
{
	background: url('../gfx/tabs_small.png') right -78px repeat-x;
	margin: 0 3px;
}

div.hui_tabs_bar_small li a:hover
{
	background-position: left -104px;
	background-repeat: no-repeat;
}

div.hui_tabs_bar_small li a:hover span
{
	background-position: right -130px;
	background-repeat: no-repeat;
}

div.hui_tabs_bar_small li a:hover span span
{
	background-position: right -156px;
	background-repeat: repeat-x;
}

div.hui_tabs_bar_small li.hui_tabs_selected a
{
	background: url('../gfx/tabs_small.png') left -182px no-repeat;
}

 div.hui_tabs_bar_small li.hui_tabs_selected a span
{
	background: url('../gfx/tabs_small.png') right -208px no-repeat;
}

div.hui_tabs_bar_small li.hui_tabs_selected a span span
{
	background: url('../gfx/tabs_small.png') right -234px repeat-x;
}

/************************* Small below ************************/

div.hui_tabs_bar_small_below
{
	padding: 0;
}

div.hui_tabs_bar_small_below ul
{
	background: url('../gfx/tabs_small_below.png');
	height: 26px;
}

div.hui_tabs_bar_small_below li a
{
	background: url('../gfx/tabs_small_below.png');
	background-position: left -26px;
	background-repeat: no-repeat;
	font-size: 12px;
	line-height: 29px;
	height: 26px;
	overflow: hidden;
}

div.hui_tabs_bar_small_below li span
{
	background: url('../gfx/tabs_small_below.png') right -52px no-repeat;
	height: 26px;
}

div.hui_tabs_bar_small_below li span span
{
	background: url('../gfx/tabs_small_below.png') right -78px repeat-x;
	margin: 0 3px;
}

div.hui_tabs_bar_small_below li a:hover
{
	background-position: left -104px;
	background-repeat: no-repeat;
}

div.hui_tabs_bar_small_below li a:hover span
{
	background-position: right -130px;
	background-repeat: no-repeat;
}

div.hui_tabs_bar_small_below li a:hover span span
{
	background-position: right -156px;
	background-repeat: repeat-x;
}

div.hui_tabs_bar_small_below li.hui_tabs_selected a
{
	background: url('../gfx/tabs_small_below.png') left -182px no-repeat;
}

 div.hui_tabs_bar_small_below li.hui_tabs_selected a span
{
	background: url('../gfx/tabs_small_below.png') right -208px no-repeat;
}

div.hui_tabs_bar_small_below li.hui_tabs_selected a span span
{
	background: url('../gfx/tabs_small_below.png') right -234px repeat-x;
}