/******************************** Token field *************************/

div.hui_tokenfield
{
	overflow: hidden;
	padding-left:3px;
	padding-top:3px;
}

input.hui_tokenfield_token
{
	border-color:#BBBBBB #CCCCCC #DDDDDD;
	border-style:solid;
	border-width:1px;
	width: 50px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	padding: 1px 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 3px #ddd;
	font-size: 9pt;
}

input.hui_tokenfield_token:focus
{
	border-color: #68f;
}

div.hui_window_dark input.hui_tokenfield_token
{
	background: #222;
	border: 1px solid #444;
	color: #fff;
}