div.hui_tooltip
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 31px;
	background: url('../gfx/tooltip.png') -7px top no-repeat;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	line-height: 28px;
	color: #433909;
	font-size: 8pt;
	opacity: 0;
	cursor: default;
}

div.hui_tooltip div
{
	background: url('../gfx/tooltip.png') right -62px no-repeat;
	height: 31px;
}

div.hui_tooltip div div
{
	background: url('../gfx/tooltip.png') left -31px repeat-x;
	margin: 0px 18px 0px 11px;
}