div.hui_upload
{
	overflow: hidden;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 0;
}

div.hui_upload div.hui_buttons
{
	padding: 5px 0px 0px 0px;
}

div.hui_upload_items
{
	overflow: auto;
	max-height: 200px;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #ddd #eee;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: none;
}

div.hui_upload_item
{
	font-size: 8pt;
	overflow: hidden;
	padding: 3px 5px 4px;
	color: #666;
}

div.hui_upload_item_alt
{
	background: #EDF3FE;
}

div.hui_upload_item_content
{
	margin-left: 36px;
	padding-top: 2px;
}

div.hui_upload_item span.hui_icon_32
{
	float:left;
	height:32px;
	width:32px;
}

div.hui_upload_item_error
{
	/*background: #fde;*/
	color: #f00;
}

div.hui_upload_item_error a
{
	float: right;
}

div.hui_upload_item strong
{
	line-height: 11px;
	font-size: 9px;
	float: left;
}

div.hui_upload_item em
{
	line-height: 11px;
	font-size: 9px;
	float: right;
	font-style: normal;
}

span.hui_upload_button object
{
	position: absolute;
	width: 100%;
	height: 30px;
	cursor: pointer;
	outline: none;
}

div.hui_upload_status
{
	color: #999999;
	font-size: 11px;
	line-height: 15px;
	padding-left: 1px;
	display: none;
}

span.hui_upload_button
{
	display: inline-block;
	position: relative;
}

div.hui_upload form
{
	margin: 0;
}

span.hui_upload_button_input
{
	position: absolute;
	height: 30px;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
}

span.hui_upload_button_input input
{
	position: absolute;
	right: 0;
	height: 30px;
	opacity: 0;
	cursor: pointer;
}

/*************** Placeholder *************/

div.hui_upload_placeholder
{
	text-align: center;
}

span.hui_upload_icon
{
	display: inline-block;
	width: 64px;
	height: 64px;
	background-image: url('../icons/common/upload64.png');
}

div.hui_upload_placeholder h2
{
	font-size:10pt;
	margin: 5px 0;
	color: #234;
}

div.hui_upload_placeholder p
{
	font-size: 11px;
	margin: 0;
}