div.hui_videoplayer
{
	font-size: 0;
	position: relative;
}


div.hui_videoplayer_controller
{
	background:none repeat scroll 0 0 #000000;
	color:#FFFFFF;
	font-size: 11px;
	height: 20px;
	margin-top: -20px;
}

div.hui_videoplayer_placeholder
{
	background: #f6f6f6;
	border: 1px solid #eee;
	text-align: center;
	cursor: pointer;
	position: relative;
}

span.hui_videoplayer_placeholder_height
{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

span.hui_videoplayer_placeholder_info
{
	display: inline-block;
	vertical-align: middle;
}

span.hui_videoplayer_placeholder_info strong
{
	display: block;
	font-weight: normal;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	color: #fff;
	margin-top: 10px;
	font-size: 14px;
	padding: 2px 6px;
	background: rgba(0,0,0,.3);
	-moz-border-radius: 4px;
}

span.hui_videoplayer_play
{
	display: inline-block;
	width: 64px;
	height: 64px;
	background: url('../icons/transparent/playstroke64.png');
}

span.hui_videoplayer_warning
{
	display: inline-block;
	width: 64px;
	height: 64px;
	background: url('../icons/transparent/warning64.png');
}

div.hui_videoplayer_placeholder:hover span.hui_videoplayer_play
{
	background-position: 0 -64px;
}

div.hui_videoplayer_placeholder:hover span.hui_videoplayer_placeholder_info strong
{
	background: rgba(0,0,0,.5);
}