.bio
{
	font-family: 'Open Sans',sans-serif;
	font-weight: 200;
	list-style: none;
	color: #999;
	margin: 0;
	padding: 0;
  
  &_event
  {
  	line-height: 20px;
  	color: #333;
  	margin-bottom: 10px;
  }

  &_time {
  	font-weight: 200;
  	margin-right: 30px;
    
    &_divider {
    	font-weight: 200;
    	color: #aaa;
    	font-size: 12px      
    }    
  }
  
  &_title {
  	font-weight: 400;    
  }
  
  &_place {
  	margin-left: 10px
  }

  &_points
  {
  	list-style: none;
  	margin: 0 0 10px 110px;
  	font-size: 10pt;
  }

  &_point
  {
  	margin: 0;
    
    strong {
      font-weight: 600;
    }
  }
}