body
{
	font-family: 'Lucida Grande';
	font-size: 11px;
	margin: 20px;
}

pre
{
	background: #fafafa;
	border: 1px solid #eee;
	padding: 10px;
	color: #24f;
	border-radius: 3px;
	white-space: pre;
	font-family: Monaco;
	overflow: auto;
}

h2
{
	margin: 20px 0 0;
}

p.modules
{
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 3px 15px;
	font-size: 12px;
}

p.modules a
{
	margin-right: 10px;
}

h2 span.module
{
	font-size: 12px;
	color: #666;
	background: #fafafa;
	border: 1px solid #ddd;
	display: inline-block;
	border-radius: 2px;
	height: 16px;
	line-height: 16px;
	padding: 0 4px;
	font-weight: normal;
}

p.file
{
	position: absolute;
	right: 20px;
	margin-top: -20px;
	color: #999;
}

a
{
	color: rgba(0,0,0,.1);
}

a span
{
	color: #333;
}

a:hover,
a:hover span
{
	color: #24f;
}