.PartHeader
{
	margin: 0px;
	color: #7F4000;
	font-family: Georgia,Book Antiqua,Palatino,serif;
	font-weight: normal;
}

h1.PartHeader { font-size: 24pt; font-variant: small-caps; }
h2.PartHeader { font-size: 21pt; }
h3.PartHeader { font-size: 18pt; }
h4.PartHeader { font-size: 16pt; }
h5.PartHeader { font-size: 14pt; }
h6.PartHeader { font-size: 13pt; }

body.Small h1.PartHeader { font-size: 18pt; }
body.Small h2.PartHeader { font-size: 16pt; }
body.Small h3.PartHeader { font-size: 15pt; }
body.Small h4.PartHeader { font-size: 14pt; }
body.Small h5.PartHeader { font-size: 13pt; }
body.Small h6.PartHeader { font-size: 12pt; }

body.Tiny h1.PartHeader { font-size: 16pt; }
body.Tiny h2.PartHeader { font-size: 14pt; }
body.Tiny h3.PartHeader { font-size: 13pt; }
body.Tiny h4.PartHeader { font-size: 12pt; }
body.Tiny h5.PartHeader { font-size: 11pt; }
body.Tiny h6.PartHeader { font-size: 10pt; }