a.common
{
	color: #ddd;
	cursor: pointer;
}

a.common span
{
	color: #349;
}
	
a.common:hover, a.common:hover span
{
	color: #12f;
}

h1.common,h2.common,h3.common,h4.common,h5.common,h6.common
{
	margin: 0px;
	color: #333;
	font-family: "Reenie Beanie", "Book Antiqua", "Palatino", Georgia, serif;
	font-weight: normal;
}

p.common, ul.common
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 9pt;
	line-height: 160%;
	text-align: justify;
}

.common_font
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
}