.bio {
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  list-style: none;
  color: #999;
  margin: 0;
  padding: 0; }
  .bio_event {
    line-height: 20px;
    color: #333;
    margin-bottom: 10px; }
  .bio_time {
    font-weight: 200;
    margin-right: 30px; }
    .bio_time_divider {
      font-weight: 200;
      color: #aaa;
      font-size: 12px; }
  .bio_title {
    font-weight: 400; }
  .bio_place {
    margin-left: 10px; }
  .bio_points {
    list-style: none;
    margin: 0 0 10px 110px;
    font-size: 10pt; }
  .bio_point {
    margin: 0; }
    .bio_point strong {
      font-weight: 600; }

.theme_cv {
  background: url("../gfx/white_plaster.png"); }
  .theme_cv .layout_header {
    opacity: .5; }
    .theme_cv .layout_header:after {
      display: none; }
  .theme_cv .layout {
    width: 1004px;
    background: url("../gfx/white_plaster.png");
    max-width: 1004px; }
  .theme_cv .layout_content {
    background: url("../gfx/layout_paper.png") 0 0 repeat-y;
    padding: 20px 40px 40px;
    margin: 10px 0; }
    .theme_cv .layout_content:before {
      content: '';
      position: absolute;
      height: 14px;
      width: 1004px;
      background: url("../gfx/layout_paper.png") -2008px 0;
      margin: -34px 0 0 -40px; }
    .theme_cv .layout_content:after {
      content: '';
      position: absolute;
      height: 14px;
      width: 1004px;
      background: url("../gfx/layout_paper.png") -1004px 0;
      margin: 40px 0 0 -40px; }
  .theme_cv .layout_footer {
    padding: 60px 0;
    height: auto; }
  .theme_cv .layout_designed {
    height: 181px;
    width: 162px;
    background: url("../gfx/handmade.png");
    font-size: 0;
    padding: 0; }

/*************** CV theme *****************/
.theme_cv .layout_content,
.theme_cv .part_header,
.theme_cv .part_text,
.theme_cv .part_listing,
.theme_cv .part_poster {
  font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif; }
.theme_cv .part_header-1,
.theme_cv .part_header-2 {
  font-weight: 200;
  color: #999;
  letter-spacing: -0px;
  text-indent: -2px;
  line-height: 1em; }
.theme_cv .part_header-1 {
  font-size: 42pt; }
.theme_cv .part_header-2 {
  font-size: 28pt; }
.theme_cv .part_poster_title {
  font-weight: 200;
  font-size: 18pt; }
.theme_cv .part_poster_text {
  font-weight: 200;
  font-size: 12pt; }
.theme_cv .part_section_header-2 {
  padding-top: 20px;
  padding-bottom: 5px; }
.theme_cv .part_text,
.theme_cv .part_listing {
  font-weight: 300;
  font-size: 12pt;
  line-height: 1.4em;
  color: #333; }
.theme_cv .part_listing_first {
  font-size: 12pt;
  font-weight: 400; }
.theme_cv strong {
  font-weight: 400; }
.theme_cv .layout_submenu {
  font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;
  list-style: none;
  margin: -15px -20px 20px -25px;
  padding: 0 5px 8px;
  border-bottom: 1px solid #eee; }
  .theme_cv .layout_submenu_item {
    display: inline-block; }
  .theme_cv .layout_submenu_link {
    text-decoration: none;
    color: #888;
    font-size: 11pt;
    padding: 0 10px;
    font-weight: 300;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    border-radius: 5px; }
    .theme_cv .layout_submenu_link:hover {
      color: #000; }
    .theme_cv .layout_submenu_link.is-selected {
      font-weight: 400;
      color: #000;
      background: #fafafa;
      border: 1px solid #eee; }
