



/*************** CV theme *****************/

body.theme_cv
{
	background: url('../gfx/white_plaster.png');
}

body.theme_cv div.layout
{
	width: 1004px;
	background: url('../gfx/white_plaster.png');
}

body.theme_cv div.layout_top
{
	height: 14px;
	background: url('../gfx/layout_paper.png') -2008px 0;
}

body.theme_cv ul.layout_navigation_first
{
	margin: 5px 0 -5px 20px;
}

body.theme_cv ul.layout_navigation_first a span
{
	color: #999;
}

body.theme_cv div.layout_content
{
	background: url('../gfx/layout_paper.png') 0 0 repeat-y;
	padding: 20px 40px 40px;
}

body.theme_cv div.layout_bottom
{
	background: url('../gfx/layout_paper.png') -1004px 0;
	height: 14px;
	padding: 0;
}

body.theme_cv div.layout_footer
{
	padding: 60px 0;
	height: auto;
}

body.theme_cv a.layout_designed
{
	height: 181px;
	width: 162px;
	background: url('../gfx/handmade.png');
}

body.theme_cv h1.common,
body.theme_cv h2.common
{
	font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;	/*'Source Sans Pro',*/
	font-weight: 200;
	color: #999;
	letter-spacing: -0px;
	text-indent: -2px;
}

body.theme_cv h3.common,
body.theme_cv h4.common,
body.theme_cv h5.common,
body.theme_cv h6.common,
body.theme_cv div.part_text,
body.theme_cv div.part_listing,
body.theme_cv div.part_poster
{
	font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;	
}

body.theme_cv p.part_poster_title
{
	font-weight: 200;
	font-size: 18pt;
}

body.theme_cv p.part_poster_text
{
	font-weight: 200;
	font-size: 12pt;
}


body.theme_cv h1.common
{
	font-size: 42pt;
	line-height: 1em;
}

body.theme_cv strong
{
	font-weight: 400;
}

body.theme_cv h2.common
{
	font-size: 28pt;
	line-height: 1em;
}

body.theme_cv div.part_section_header_2
{
	padding-top: 20px;
	padding-bottom: 5px;
}

body.theme_cv div.part_text,
body.theme_cv div.part_listing
{
	font-weight: 300;
	font-size: 12pt;
	line-height: 1.4em;
	color: #333;
}

body.theme_cv span.part_listing_first
{
	font-size: 12pt;
	font-weight: 400;
}


body.theme_cv ul.layout_navigation_second,
body.theme_cv ul.layout_navigation_third
{
	font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;	
	list-style: none;
	margin: -15px -20px 20px -25px;
	padding: 0 5px 8px;
	border-bottom: 1px solid #eee;
}

body.theme_cv ul.layout_navigation_second li,
body.theme_cv ul.layout_navigation_third li
{
	display: inline-block;
}

body.theme_cv ul.layout_navigation_second a,
body.theme_cv ul.layout_navigation_third a
{
	text-decoration: none;
	color: #888;
	font-size: 11pt;
	padding: 0 10px;
	font-weight: 300;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	border-radius: 5px;
}

body.theme_cv ul.layout_navigation_second li.layout_selected a,
body.theme_cv ul.layout_navigation_second li.layout_highlighted a,
body.theme_cv ul.layout_navigation_third li.layout_selected a,
body.theme_cv ul.layout_navigation_third li.layout_highlighted a
{
	font-weight: 400;
	color: #000;
	background: #fafafa;
	border: 1px solid #eee;
}