div.front
{
	width: 922px;
	height: 341px;
	margin: 10% auto 0;
	position: relative;x
}

div.front_title
{
	position: absolute;
	background: url('../gfx/front.png') -453px -4px;
	left: 453px;
	top: 4px;
	height: 49px;
	width: 326px;
	z-index: 1;
}

div.front_title *
{
	display: none;
}

div.front_photo
{
	background: url('../gfx/front.png');
	position: absolute;
	width: 488px;
	height: 341px;
}

div.front ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.front_contact
{
	position: absolute;
	top: 70px;
	left: 453px;
	font-family: Courier;
}

ul.front_contact a
{
	color: #ddd;
}

ul.front_contact a span
{
	color: #000;
}

ul.front_contact a:hover, ul.front_contact a:hover span
{
	color: #45f;
}

ul.front_contact li
{
	padding-left: 60px;
	text-align: left;
	font-size: 13px;
}

li.front_address
{
	background: url('../gfx/front.png') -453px -70px;
	height: 79px;
}

li.front_mail
{
	background: url('../gfx/front.png') -453px -149px;
	height: 61px;
}

li.front_calendar
{
	background: url('../gfx/front.png') -453px -210px;
	height: 79px;
}

ul.front_profiles
{
	position: absolute;
	top: 70px;
	left: 684px;
}

ul.front_profiles a
{
	display: block;
	width: 225px;
	text-indent: 400px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
}

ul.front_profiles span
{
	display: none;
}

li.front_onlineme a
{
	background: url('../gfx/front.png') -684px -70px;
	height: 54px;
	margin-bottom: 19px;
}

ul.front_profiles a:hover
{
	-webkit-transform: scale(1.1) rotate(5deg);
}

li.front_facebook a
{
	background: url('../gfx/front.png') -684px -143px;
	height: 50px;
	margin-bottom: 15px;
}

li.front_facebook a:hover
{
	-webkit-transform: scale(1.1) rotate(-5deg);
}

li.front_twitter a
{
	background: url('../gfx/front.png') -684px -208px;
	height: 50px;
}

li.front_onlineme em
{
	background:url("../gfx/front.png") repeat scroll -809px -8px transparent;
	font-size: 0;
	height: 65px;
	left: 125px;
	color: rgba(0,0,0,0);
	position: absolute;
	top: -62px;
	width: 116px;
	z-index: 5;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}



      @-webkit-keyframes pulse {
       0% {
         opacity: 0;
         -webkit-transform: scale(.5) rotate(0deg);
       }
       20% {
         opacity: 1;
         -webkit-transform: scale(1) rotate(-5deg);
       }
       40% {
         opacity: 1;
         -webkit-transform: scale(1) rotate(5deg);
       }
       60% {
         opacity: 1;
         -webkit-transform: scale(1) rotate(-5deg);
       }
       80% {
         opacity: 1;
         -webkit-transform: scale(1) rotate(5deg);
       }
       100% {
         opacity: 0;
         -webkit-transform: scale(.5) rotate(0deg);
       }
      }

      .pulsedbox {
      }