body
{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	text-align: center;
}



div.layout_top strong
{
	font-size: 20px;
	letter-spacing: 1px;
	color: #fff;
	background: url('../gfx/top.png') left -39px no-repeat;
	padding-left: 40px;
	position: absolute;
	height: 39px;
	font-weight: bold;
	line-height: 37px;
}

div.layout_bottom
{
	text-align: center;
	height: 100px;
	padding-top: 20px;
}

div.layout_bottom a.layout_designed
{
	background: url('../gfx/designed.png');
	display: inline-block;
	width: 149px;
	height: 47px;
	color: rgba(0,0,0,0);
	font-size: 0;
}

div.layout_centered
{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

div.layout_header
{
	height: 175px;
	background: url('../gfx/header.jpg') center top;
}

div.layout_header strong
{
	background: url('../gfx/header.png');
	width: 541px;
	height: 108px;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	margin-top: 30px;
	font-size: 0;
	color: rgba(0,0,0,0);
}

/****************** Laguages ******************/

span.layout_languages
{
	position: absolute;
	right: 5px;
	top: 5px;
}

a.layout_language_en
{
	background: url('../../basic/gfx/flags/gb.gif') no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
}

a.layout_language_da
{
	background: url('../../basic/gfx/flags/dk.gif') no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
}

span.layout_languages span
{
	display: none;
}

/***************** Navigation *****************/

div.layout
{
	margin: 0 auto;
	width: 990px;
	text-align: left;
}

div.layout_navigation
{
	position: relative;
}

div.layout_navigation ul
{
	list-style: none;
	margin: 0 0 0 -10px;
	padding: 0;
	height: 39px;
}

div.layout_navigation li
{
	height: 39px;
	float: left;
	font-size: 14px;
}

div.layout_navigation a
{
	padding: 0 10px;
	color: #000;
	text-decoration: none;
	height: 14px;
	line-height: 37px;
	height: 39px;
	display: inline-block;
	vertical-align: middle;
}

div.layout_navigation li.selected
{
	font-weight: bold;
}

div.layout_content
{
	padding: 20px 0 20px 0;
	overflow: hidden;
}

/*************** CV theme *****************/

body.theme_cv
{
	background: url('../gfx/white_plaster.png');
}

body.theme_cv div.layout
{
	width: 964px;
	background: url('../gfx/white_plaster.png');
}

body.theme_cv div.layout_top
{
	background: url('../gfx/paper.png');
	height: 26px;
}

body.theme_cv div.layout_content
{
	background: url('../gfx/paper.png') -1928px 0 repeat-y;
	padding: 20px 40px;
}

body.theme_cv div.layout_bottom
{
	background: url('../gfx/paper.png') -964px 0 no-repeat;
	height: 220px;
}

body.theme_cv a.layout_designed
{
	height: 181px;
	width: 162px;
	background: url('../gfx/handmade.png');
}

body.theme_cv h1.common,
body.theme_cv h2.common
{
	font-family: 'Annie Use Your Telescope', cursive;
}

body.theme_cv h3.common,
body.theme_cv h4.common,
body.theme_cv h5.common,
body.theme_cv h6.common,
body.theme_cv div.part_text,
body.theme_cv div.part_listing
{
	font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;	
}


body.theme_cv h1.common
{
	font-size: 42pt;
	line-height: 1em;
}

body.theme_cv h2.common
{
	font-size: 28pt;
	line-height: 1em;
}

body.theme_cv div.part_text,
body.theme_cv div.part_listing
{
	font-weight: 300;
	font-size: 12pt;
	line-height: 1.3em;
	color: #333;
}

body.theme_cv span.part_listing_first
{
	font-size: 12pt;
	font-weight: 500;
}