@include if {

  img {
    border: none;
  }

  body {
    font-family: $font;
    margin: 0px;
    background: #fff;
  }

  body,html
  {
    min-height: 100%;
    width: 100%;
    height: 100%;
  }

  form {
    margin: 0px;
  }

}