.design_bg_flowers
{
	background-image: url('../gfx/bg/flowers.jpg');
}

.design_bg_flowerpower
{
	background-image: url('../gfx/bg/flowerpower.png');
}

.design_bg_clouds
{
	background-image: url('../gfx/bg/clouds.jpg');
}

.design_bg_sand
{
	background-image: url('../gfx/bg/sand.png');
}

.design_bg_wood
{
	background-image: url('../gfx/bg/wood.jpg');
}

.design_bg_retro_blue
{
	background-image: url('../gfx/bg/retro_blue.jpg');
}

.design_bg_circles_green
{
	background-image: url('../gfx/bg/circles_green.jpg');
}

.design_bg_stripes_dark
{
	background-image: url('../gfx/bg/stripes_dark.gif');
}

.design_bg_swirl
{
	background-image: url('../gfx/bg/swirl.png');
}

.design_bg_handdrawn_flowers
{
	background-image: url('../gfx/bg/handdrawn_flowers.png');
}




body.design_texture_matrix
{
	background-image: url('../gfx/texture/matrix.png');
}

body.design_texture_plaid
{
	background-image: url('../gfx/texture/plaid.png');
}

body.design_texture_lines
{
	background-image: url('../gfx/texture/lines.png');
}