body
{
	background: #fafafa;
	margin: 0;
	padding: 20px;
}

div.layout
{
	background: #fff;
	border: 1px solid #eee;
	width: 980px;
	margin: 0 auto;
}

div.layout_content
{
	padding: 30px;
	margin-right: 200px;
	min-height: 300px;
}

div.layout_header
{
	height: 100px;
	background: #434E59;
    background: -webkit-gradient(linear,0 0,0 bottom,from(#eeeeee),to(#ffffff));
    background: -moz-linear-gradient(#eeeeee, #ffffff);
    background: gradient(linear,0 0,0 bottom,from(#eeeeee),to(#ffffff));
    background: linear-gradient(#eeeeee, #ffffff);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#eeeeee, endColorstr=#ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#eeeeee, endColorstr=#ffffff);
}

p.layout_logo
{
	margin: 0;
	font-size: 48px;
	letter-spacing: -2px;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: #1980AF;
	font-weight: bold;
	padding-left: 30px;
	height: 80px;
	line-height: 80px;
}

/************** Navigation ****************/

div.layout_navigation ul
{
	font-family: 'Trebuchet MS', Arial, sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 30px;
	font-size: 0;
	border-bottom: 1px solid #eee;
}

div.layout_navigation li
{
	display: inline-block;
	height: 30px;
	border-right: 1px dotted #eee;
}

div.layout_navigation a
{
	line-height: 30px;
	display: inline-block;
	height: 30px;
	padding: 0 30px;
	font-size: 16px;
	text-decoration: none;
	color: #333;
}

div.layout_navigation li.selected a, div.layout_navigation li.highlighted a
{
	background: #fafafa;
	/*font-weight: bold;
	color: #1980AF;*/
	border-bottom: 5px solid #1980AF;
	height: 26px;
}

div.layout_navigation li a:hover
{
	background: #f8f8f8;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	margin: 0 -1px;
}

/**************************** Sidebar ************************/

div.layout_sidebar
{
	float: right;
	width: 200px;
	padding-top: 15px;
}

div.layout_sidebar ul
{
	margin: 0;
	padding: 0;
	list-style: none;	
}

div.layout_sidebar li
{
}

div.layout_sidebar li a
{
	border-bottom: 1px dotted #eee;
	text-decoration: none;
	color: #555;
	padding-left: 10px;
	font-size: 15px;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	height: 30px;
	line-height: 30px;
	display: block;
}

div.layout_sidebar a.selected, div.layout_sidebar a.highlighted
{
	background: #fafafa;
	font-weight: bold;
	color: #1980AF;
}

div.layout_sidebar li a:hover
{
	background: #f8f8f8;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin: -1px 0 0;
}

div.layout_sidebar ul ul li a
{
	padding-left: 30px;
	font-size: 12px;
}