body
{
	font-family: 'Open Sans', Arial, sans-serif;
}

a.common
{
	color: #ddd;
	cursor: pointer;
}

a.common span
{
	color: #349;
}
	
a.common:hover, a.common:hover span
{
	color: #12f;
}

h1.common,h2.common,h3.common,h4.common,h5.common,h6.common
{
	margin: 0px;
	color: #555;
	font-weight: 600;
}

.common_button {
    display: inline-block;
    -webkit-appearance: none;
    height: 24px;
    font-family: inherit;
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
}

p.common, ul.common
{
	line-height: 160%;
	text-align: justify;
}

.part_richtext,
.part_text,
.part_listing,
.part_listing_first
{
    font-size: 11pt;
    line-height: 1.4em;
}

.part_richtext h1,
.part_richtext h2,
.part_richtext h3,
.part_richtext h4,
.part_richtext h5,
.part_richtext h6 {
    color: #555;
}

hr.part_horizontalrule
{
	border-bottom: 1px solid #ddd;
}

.part_header
{
	color: #555;
}

 {
    font-size: 11pt;
    line-height: 1.4em;
}

/** Menu **/

.part_section_menu {
    margin-bottom: 20px;
}

.part_menu_link {
    color: #349;
    display: inline-block;
    text-decoration: none;
}

.part_menu_link:before {
    content: '›';
    margin-right: 5px;
}