div.layout
{
	border: 1px solid #ddd;
	border-width: 0 1px;
}

ul.layout_navigation li
{
	display: inline;
}

ul.layout_side_navigation
{
	border: 1px solid #ddd;
}

div.layout_logo
{
	border: 1px solid #ddd;
}