@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body.editor,
.editor .common_font,
.editor p.common,
.editor ul.common,
.editor h1.common, .editor h2.common, .editor h3.common, .editor h4.common, .editor h5.common, .editor h6.common,
.editor .part_header,
.editor .part_text,
.editor div.part_richtext {
  font-family: Lato,'Helvetica Neue','Helvetica','Arial','Lucida Grande','Lucida Sans Unicode', sans-serif;
}

.call-to-action {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px 10px;
  text-align: center;
}

.call-to-action-text {
  margin: -5px 0 0;
  color: #666;
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
}

.call-to-action-button {
  background: #3080CB;
  color: #fff;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
}

.call-to-action-button:hover {
  background: #206AB0;
}

.call-to-action-button:active {
  -webkit-transform: scale(0.95);
  outline: none;
}

.layout_placards {
  list-style: none;
  background: #f8f8f9;
  margin: 0 -10px;
  padding: 0;
  overflow: hidden;
  border-top: 1px solid #ddd;
}
.layout_placards strong {
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #89a;
  padding: 8px 0px 10px;
  font-weight: 300;
  white-space: nowrap;
  width: 100%;
  text-indent: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout_placards em {
  font-style: normal;
  color: #333537;
}

.layout_placards_link {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 0;
  border-bottom: 1px solid #ddd;
}
.layout_placards_link:hover {
  background: #f0f0f3;
}
.layout_placards_link:focus {
  outline-offset: -7px;
}

.layout_placards_text {
  display: block;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 20px 0 150px;
  height: 120px;
  color: #567;
  font-weight: 300;
  background: url("../gfx/graphics.png") 0 0 no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .layout_placards_text {
    background-image: url("../gfx/graphics_2x.png");
    background-size: 400px 907px;
  }
}
.layout_placards_text_hui {
  background-position: -44px -420px;
}

.layout_placards_text_editor {
  background-position: -40px -5px;
}

.layout_placards_text_objects {
  background-position: -44px -200px;
}

@media screen and (min-width: 760px) {
  .layout_placards {
    border: 1px solid #ddd;
    border-width: 1px 0;
    margin: 0 -20px;
  }

  .layout_placards_item {
    float: left;
    width: 33.333333333%;
    font-size: 0;
  }

  .layout_placards_link {
    border-right: 1px solid #ddd;
    border-bottom: none;
  }

  .layout_placards_link_last {
    border: none;
  }
}
@media screen and (min-width: 980px) {
  .layout_placards {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0;
  }
}
/********************* Common *******************/
.common_link {
  color: #ddd;
  color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: normal;
}

.common_link_text {
  color: #028CE0;
}

.common_link:hover, .common_link:hover .common_link_text {
  color: #026cad;
}

.common_link:visited .common_link_text {
  color: #934DE0;
}

h1.common {
  font-weight: 400;
}

p.common, ul.common {
  font-size: 12pt;
  line-height: 160%;
  text-align: justify;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .common_link {
    text-decoration: none;
    background-image: -moz-linear-gradient(top, transparent 99%, rgba(0, 0, 0, 0.5) 99%);
    background-image: -webkit-linear-gradient(top, transparent 98%, rgba(0, 0, 0, 0.5) 98%);
    background-image: linear-gradient(top, transparent 98%, rgba(0, 0, 0, 0.5) 98%);
    background-repeat: repeat-x;
  }
}
.common_button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  background: #eee;
  border: none;
  font: inherit;
  height: 32px;
  padding: 0 15px;
  border-radius: 3px;
}

.common_header {
  margin: 0px;
  color: #333;
  font-weight: 300;
}

.part_text {
  font-size: 12pt;
  font-weight: 300;
  word-spacing: 1px;
}

/************ Headers ***********/
.part_header-1 {
  font-size: 38px;
  line-height: 1;
}

.part_header-2 {
  font-size: 19pt;
  line-height: 1.105263158em;
  font-weight: 400;
}

.part_header-3 {
  font-size: 14pt;
  line-height: 1.142857143em;
  font-weight: 400;
}

.part_header-4,
.part_header-5,
.part_header-6 {
  font-weight: 400;
}

.part_section_header-3 {
  padding-bottom: 5px;
}

.windows .part_header {
  font-weight: normal;
}

.windows .part_header-1 {
  font-weight: 300;
}

/************** Poster ************/
.part_poster_text {
  font-size: 14px;
  font-weight: 300;
}

.part_poster_link {
  font-size: 14px;
}

.part_poster_title {
  font-weight: 400;
}

/*************** text *************/
.part_text,
.part_richtext {
  font-size: 12pt;
  font-weight: 300;
  /*letter-spacing: 1px;*/
  word-spacing: 1px;
}

.part_text strong,
.part_richtext strong {
  color: #000;
  font-weight: 400;
}

.part_richtext p {
  margin: 10px 0;
}

/** Listing **/
.part_listing {
  font-size: 11pt;
  font-weight: 300;
  word-spacing: 1px;
  color: #ddd;
}

.part_listing_text {
  color: #333;
}

.part_listing_first {
  font-size: 12pt;
  font-weight: normal;
}

.part_list h3 {
  font-weight: normal;
}

.part_horizontalrule {
  border: none;
  border-bottom: solid 1px #eee;
}

.part_news_item_title {
  font-size: 10pt;
  font-weight: 700;
  color: #000;
}

.part_news_item_description {
  font-size: 10pt;
  color: #555;
}

/** Menu **/
.part_menu-bar {
  display: inline-block;
  font-size: 0;
}

.part_menu_item {
  margin-right: -1px;
}

.part_menu_link-bar {
  line-height: 22px;
  font-size: 16px;
  padding: 6px 10px;
  display: block;
  text-decoration: none;
  color: #666;
  border: 1px solid #ddd;
}

.part_menu_link-bar:hover {
  background: #f3f3f3;
}

.part_menu_link-bar-first {
  border-radius: 4px 0 0 4px;
}

.part_menu_link-bar-last {
  border-radius: 0 4px 4px 0;
}

.part_menu_link-bar-selected {
  color: #007AC5;
  background: #f3f3f3;
  border-color: #ccc;
}
