/********************** Poster *********************/
@media screen and (min-width: 1000px) {
  #poster {
    background: url("../gfx/poster_bg.png");
    cursor: pointer;
    overflow: hidden; }

  #poster_body {
    width: 990px;
    position: relative;
    left: 50%;
    margin-left: -495px; }

  #poster_left {
    float: left;
    height: 310px;
    width: 495px;
    overflow: hidden; }

  #poster_right {
    float: left;
    height: 310px;
    width: 495px;
    overflow: hidden; }

  #poster_left_inner {
    width: 990px;
    height: 310px;
    background: 245px 0px no-repeat; }

  #poster_right_inner {
    width: 990px;
    height: 310px;
    background: 495px 0px no-repeat; } }
/********************** Placards ********************/
.layout_placards {
  list-style: none;
  border: 1px solid #ddd;
  background: #f8f8f9;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden; }
.layout_placards a {
  display: block;
  border-right: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  font-size: 0; }
.layout_placards a:hover {
  background: #f0f0f3; }
.layout_placards a:focus {
  outline-offset: -7px; }
.layout_placards strong {
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #89a;
  padding: 8px 0px 10px;
  font-weight: 300;
  white-space: nowrap;
  width: 100%;
  text-indent: 10px;
  overflow: hidden;
  text-overflow: ellipsis; }
.layout_placards em {
  font-style: normal;
  color: #333537; }

.layout_placards_text {
  display: block;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 20px 0 150px;
  height: 120px;
  color: #567;
  font-weight: 300;
  background: url("../gfx/graphics.png") 0 0 no-repeat; }
.retina .layout_placards_text {
  background-image: url("../gfx/graphics_2x.png");
  background-size: 400px 907px; }

ul.layout_placards li.onlineme a {
  border: none; }

.layout_placards_text_onlineme {
  background-position: -44px -420px; }

.layout_placards_text_onlinepublisher {
  background-position: -40px -5px; }

.layout_placards_text_onlineobjects {
  background-position: -44px -200px; }

@media screen and (min-width: 760px) {
  .layout_placards li {
    float: left;
    width: 33.333333333%;
    font-size: 0; } }
