body {
  padding: 0px;
  margin: 0px;
  font-family: 'Helvetica Neue','Helvetica', Arial,'Helvetica',sans-serif;
}

body.font {
  font-family: Lato,'Helvetica Neue','Helvetica','Arial','Lucida Grande','Lucida Sans Unicode', sans-serif;
}

form {
  margin: 0px;
}

img {
  border: none;
}

a {
  word-break: break-word;
}

/********************* Common *******************/
.common_link {
  color: #ddd;
  color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: normal;
}

.common_link_text {
  color: #0094FF;
}

.common_link:hover, .common_link:hover .common_link_text {
  color: #0076cc;
}

h1.common {
  font-weight: 400;
}

p.common, ul.common {
  font-size: 12pt;
  line-height: 160%;
  text-align: justify;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .common_link {
    text-decoration: none;
    background-image: -moz-linear-gradient(top, transparent 99%, rgba(0, 0, 0, 0.5) 99%);
    background-image: -webkit-linear-gradient(top, transparent 98%, rgba(0, 0, 0, 0.5) 98%);
    background-image: linear-gradient(top, transparent 98%, rgba(0, 0, 0, 0.5) 98%);
    background-repeat: repeat-x;
  }
}
.common_header {
  margin: 0px;
  color: #333;
  font-weight: 300;
}

.part_text {
  font-size: 12pt;
  font-weight: 300;
  word-spacing: 1px;
}

.layout_menu {
  margin: 0;
  padding: 5px;
  list-style: none;
}

.layout_menu_item {
  display: inline-block;
}

.layout_menu_link {
  padding: 0 5px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #324d60;
}

.layout_menu_link-highlighted {
  color: #007AC5;
}

.layout_menu_link-selected {
  color: #007AC5;
  font-weight: bold;
}

.layout_menu_item-first {
  display: block;
}

.layout_menu_link-first {
  background: url("../gfx/graphics.png") -139px -636px;
  display: inline-block;
  width: 160px;
  height: 40px;
}
.layout_menu_link-first > span {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .layout_menu_link-first {
    background-image: url("../gfx/graphics_2x.png");
    background-size: 400px 907px;
  }
}
@media screen and (min-width: 760px) {
  .layout_menu {
    padding: 5px 10px;
  }
  .layout_menu > li {
    vertical-align: top;
  }

  .layout_menu_link {
    font-size: 20px;
    line-height: 44px;
    padding: 0 10px;
  }

  .layout_menu_item-first {
    display: inline-block;
  }
}
@media screen and (min-width: 1000px) {
  .layout_menu {
    padding: 5px 0;
  }
}
.layout_search {
  margin: 0;
  font-size: 0;
}

.layout_search_body {
  display: none;
}

.layout_search_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.layout_search_icon > path {
  fill: #aaa;
}

.layout_middle,
.layout_head_body,
.layout_base {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}

.layout_head_body {
  position: relative;
}

.layout_head {
  background: #f6f6f9;
}

.layout_inner_content {
  padding: 10px;
}

.layout_content {
  overflow: hidden;
}

@media screen and (min-width: 560px) {
  .layout_inner_content {
    padding: 20px 10px;
  }
}
@media screen and (min-width: 760px) {
  .layout_inner_content {
    padding: 20px;
  }

  .layout_inner_content_sidebar {
    margin-right: 30%;
    overflow: hidden;
  }

  .layout_sidebar {
    width: 30%;
    float: right;
  }

  .layout_body {
    overflow: hidden;
  }
}
@media screen and (min-width: 1000px) {
  .layout_inner_content {
    padding-left: 0px;
    padding-right: 0;
  }
}
.submenu {
  margin: 0;
  padding: 5px;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.submenu_item {
  display: inline-block;
}

.submenu_link {
  padding: 0 5px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #333;
}

.submenu_link-highlighted {
  color: #007AC5;
}

.submenu_link-selected {
  color: #007AC5;
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  .submenu {
    padding: 5px 10px;
  }

  .submenu_link {
    padding: 0 10px;
  }
}
@media screen and (min-width: 1000px) {
  .submenu {
    padding-left: 0px;
    padding-right: 0;
  }

  .submenu li:first-child {
    margin-left: -10px;
  }
}
.sidemenu {
  margin: 0;
  padding: 5px 5px;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.sidemenu_item {
  display: inline-block;
}

.sidemenu_link {
  padding: 5px;
  display: inline-block;
  line-height: 18px;
  text-decoration: none;
  color: #333;
}

.sidemenu_link-selected {
  color: #007AC5;
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  .sidemenu {
    list-style: none;
    margin: 20px 0 30px 25px;
    padding: 0 10px;
    font-size: 12pt;
    line-height: 26px;
    border-bottom: none;
    border-left: 1px solid #eee;
  }

  .sidemenu_item {
    display: block;
  }

  .sidemenu_link {
    display: block;
    padding: 7px 5px;
  }
  .sidemenu_link:hover {
    text-decoration: underline;
  }

  .sidemenu_sub {
    list-style: none;
    padding-left: 15px;
  }
}
#poster {
  display: none;
}

@media screen and (min-width: 1000px) {
  #poster {
    display: block;
    width: 980px;
    height: 310px;
    background: #333;
    margin-top: 20px;
  }

  #poster_loader {
    background: #000;
    color: #FFFFFF;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 50px;
    height: 24px;
    line-height: 22px;
  }
}
@media screen and (max-width: 700px) {
  div.document_column {
    display: block;
  }

  .document_column {
    width: auto !important;
    padding: 0 !important;
  }

  .part_image_image {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 700px) {
  .document_row {
    display: table;
    width: 100%;
  }

  .document_row_body {
    display: table-row;
  }

  div.document_column {
    display: table-cell;
    vertical-align: top;
  }
}
