body {
  padding: 0px;
  margin: 0px;
  font-family: Arial,'Helvetica',sans-serif; }

body.font {
  font-family: Lato,'Helvetica Neue','Helvetica','Arial','Lucida Grande','Lucida Sans Unicode', sans-serif; }

form {
  margin: 0px; }

img {
  border: none; }

a {
  word-break: break-word; }

/********************* Common *******************/
a.common {
  color: #ddd;
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: normal; }

a.common span {
  color: #0079cd; }

a.common:hover, a.common:hover span {
  color: #0169b2; }

h1.common {
  font-weight: 400;
  color: #324d60; }

p.common, ul.common {
  font-size: 12pt;
  line-height: 160%;
  text-align: justify; }

.retina.webkit a.common {
  text-decoration: none;
  background-image: -moz-linear-gradient(top, transparent 99%, rgba(0, 0, 0, 0.5) 99%);
  background-image: -webkit-linear-gradient(top, transparent 98%, rgba(0, 0, 0, 0.5) 98%);
  background-image: linear-gradient(top, transparent 98%, rgba(0, 0, 0, 0.5) 98%);
  background-repeat: repeat-x; }

/************ Headers ***********/
.part_header {
  color: #333;
  font-weight: 300; }

.part_header_1 {
  color: #3080CB; }

h1.part_header, textarea.part_header_1 {
  font-size: 38px;
  line-height: 42px; }

h2.part_header, textarea.part_header_2 {
  font-size: 19pt;
  line-height: 21pt;
  /*font-weight: 400;*/ }

h3.part_header, textarea.part_header_3 {
  font-size: 14pt;
  line-height: 16pt;
  font-weight: 400; }

h4.part_header, textarea.part_header_4, h5.part_header, textarea.part_header_5, h6.part_header, textarea.part_header_6 {
  font-weight: 400; }

div.part_section_header_3 {
  padding-bottom: 5px; }

body.windows .part_header {
  font-weight: normal; }

body.windows h1.part_header {
  font-weight: 300; }

/************** Poster ************/
p.part_poster_text {
  font-size: 14px;
  font-weight: 300; }

p.part_poster_link {
  font-size: 14px; }

p.part_poster_title {
  font-weight: 400; }

/*************** text *************/
.part_text, div.part_richtext {
  font-size: 12pt;
  font-weight: 300;
  /*letter-spacing: 1px;*/
  word-spacing: 1px; }

.part_text strong, div.part_richtext strong {
  color: #000;
  font-weight: 400; }

div.part_richtext p {
  margin: 10px 0; }

div.part_listing, textarea.part_listing {
  font-size: 11pt;
  font-weight: 300;
  word-spacing: 1px; }

div.part_listing span.part_listing_first {
  font-size: 12pt;
  font-weight: normal; }

body.windows .part_text, body.windows .part_text {
  font-weight: normal; }

div.part_list h3 {
  font-weight: normal; }

hr.part_horizontalrule {
  border: none;
  border-bottom: solid 1px #DDD; }

div.part_news_item_title {
  font-size: 10pt;
  font-weight: 400; }
.windows div.part_news_item_title {
  font-weight: bold; }

div.part_news_item_description {
  font-size: 10pt;
  font-weight: 300; }
.windows div.part_news_item_description {
  font-weight: 400; }

.layout_menu {
  margin: 0;
  padding: 5px 10px;
  list-style: none;
  text-align: center; }

.layout_menu_item {
  display: inline-block; }

.layout_menu_link {
  padding: 0 5px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #333; }

.layout_menu_item_first {
  display: block;
  text-align: center; }

.layout_menu_link_first {
  background: url("/style/humanise/gfx/graphics.png") -139px -636px;
  display: inline-block;
  width: 160px;
  height: 40px; }
.layout_menu_link_first > span {
  display: none; }
.retina .layout_menu_link_first {
  background-image: url("/style/humanise/gfx/graphics_2x.png");
  background-size: 400px 907px; }

@media screen and (min-width: 760px) {
  .layout_menu {
    text-align: left; }
  .layout_menu > li {
    vertical-align: top; }

  .layout_menu_link {
    font-size: 20px;
    line-height: 44px;
    padding: 0 10px;
    color: #324d60; }

  .layout_menu_item_first {
    display: inline-block; } }
@media screen and (min-width: 1000px) {
  .layout_menu {
    padding: 5px 0; } }
.layout_search {
  margin: 0;
  font-size: 0; }

.layout_search_body {
  display: none; }

.layout_search_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px; }
.layout_search_icon > path {
  fill: #aaa; }

.layout_middle, .layout_head_body, .layout_base {
  position: relative;
  max-width: 980px;
  margin: 0 auto; }

.layout_head_body {
  position: relative; }

.layout_head {
  background: #f6f6f9; }

.layout_sub_navigation {
  margin: 0;
  padding: 5px 5px;
  list-style: none;
  border-bottom: 1px solid #eee; }
.layout_sub_navigation > li {
  display: inline-block; }
.layout_sub_navigation > li > a {
  padding: 0 5px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #333; }

.layout_side_navigation {
  margin: 0;
  padding: 5px 5px;
  list-style: none;
  border-bottom: 1px solid #eee; }
.layout_side_navigation > li {
  display: inline-block; }
.layout_side_navigation > li > a {
  padding: 0 5px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #333; }

.layout_inner_content {
  padding: 10px; }

@media screen and (min-width: 560px) {
  .layout_inner_content {
    padding: 20px; }

  .layout_sub_navigation {
    padding: 5px 15px; } }
@media screen and (min-width: 760px) {
  .layout_inner_content_sidebar {
    margin-right: 30%; }

  .layout_sidebar {
    width: 30%;
    float: right; } }
@media screen and (min-width: 1000px) {
  .layout_sub_navigation, .layout_inner_content {
    padding-left: 0px; }

  .layout_sub_navigation li:first-child {
    margin-left: -5px; } }
@media screen and (min-width: 1000px) {
  #poster {
    display: block;
    width: 980px;
    height: 310px;
    background: #333; }

  #poster_loader {
    background: #000;
    color: #FFFFFF;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 50px;
    height: 24px;
    line-height: 22px; } }
.call-to-action {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px 10px;
  text-align: center; }

.call-to-action-text {
  margin: -5px 0 0;
  color: #666;
  font-weight: 300;
  font-size: 32px;
  line-height: 1; }

.call-to-action-button {
  background: #3080CB;
  color: #fff;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer; }

.call-to-action-button:hover {
  background: #206AB0; }

.call-to-action-button:active {
  -webkit-transform: scale(0.95);
  outline: none; }

.common_header {
  margin: 0px;
  color: #333;
  font-weight: 300; }

.part_text {
  font-size: 12pt;
  font-weight: 300;
  word-spacing: 1px; }

div.document_column {
  display: block; }

@media screen and (max-width: 700px) {
  .document_column {
    width: auto !important;
    padding: 0 !important; } }
@media screen and (min-width: 700px) {
  .document_row {
    display: table;
    width: 100%; }

  .document_row_body {
    display: table-row; }

  div.document_column {
    display: table-cell;
    vertical-align: top; } }
