/********************* Common *******************/
a.common {
  color: #ddd;
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: normal; }

a.common span {
  color: #0079cd; }

a.common:hover, a.common:hover span {
  color: #0169b2; }

h1.common {
  font-weight: 400;
  color: #324d60; }

p.common, ul.common {
  font-size: 12pt;
  line-height: 160%;
  text-align: justify; }

.retina.webkit a.common {
  text-decoration: none;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 99%, rgba(0, 0, 0, 0.5) 99%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0.5) 98%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0.5) 98%);
  background-repeat: repeat-x; }

/************ Headers ***********/
.part_header {
  color: #333;
  font-weight: 300; }

.part_header_1 {
  color: #3080CB; }

h1.part_header, textarea.part_header_1 {
  font-size: 38px;
  line-height: 42px; }

h2.part_header, textarea.part_header_2 {
  font-size: 19pt;
  line-height: 21pt;
  /*font-weight: 400;*/ }

h3.part_header, textarea.part_header_3 {
  font-size: 14pt;
  line-height: 16pt;
  font-weight: 400; }

h4.part_header, textarea.part_header_4, h5.part_header, textarea.part_header_5, h6.part_header, textarea.part_header_6 {
  font-weight: 400; }

div.part_section_header_3 {
  padding-bottom: 5px; }

body.windows .part_header {
  font-weight: normal; }

body.windows h1.part_header {
  font-weight: 300; }

/************** Poster ************/
p.part_poster_text {
  font-size: 14px;
  font-weight: 300; }

p.part_poster_link {
  font-size: 14px; }

p.part_poster_title {
  font-weight: 400; }

/*************** text *************/
.part_text, div.part_richtext {
  font-size: 12pt;
  font-weight: 300;
  /*letter-spacing: 1px;*/
  word-spacing: 1px; }

.part_text strong, div.part_richtext strong {
  color: #000;
  font-weight: 400; }

div.part_richtext p {
  margin: 10px 0; }

div.part_listing, textarea.part_listing {
  font-size: 11pt;
  font-weight: 300;
  word-spacing: 1px; }

div.part_listing span.part_listing_first {
  font-size: 12pt;
  font-weight: normal; }

body.windows .part_text, body.windows .part_text {
  font-weight: normal; }

div.part_list h3 {
  font-weight: normal; }

hr.part_horizontalrule {
  border: none;
  border-bottom: solid 1px #eeeeee; }

div.part_news_item_title {
  font-size: 10pt;
  font-weight: 400; }
.windows div.part_news_item_title {
  font-weight: bold; }

div.part_news_item_description {
  font-size: 10pt;
  font-weight: 300; }
.windows div.part_news_item_description {
  font-weight: 400; }

.layout_search_body {
  position: absolute;
  top: 0;
  left: 0;
  background: #fafafa;
  right: 150px;
  height: 50px;
  padding: 4px; }

.layout_searching .layout_search_body {
  display: block; }

.layout_search_icon {
  cursor: pointer; }

.layout_search_text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #aaa; }

.layout_search_submit {
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  display: inline-block;
  background: #abc;
  color: #fff;
  position: absolute;
  right: -100px;
  top: 4px;
  border: none;
  font-size: 14px; }

@media screen and (min-width: 560px) {
  .layout_search_body {
    width: 0px;
    overflow: hidden;
    display: block;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .2s, width .5s;
    top: 5px;
    right: 3px;
    height: auto;
    left: auto;
    top: 5px;
    right: 3px;
    background: none; }

  .layout_search_text {
    border-radius: 3px;
    border: 1px solid #eee;
    height: 36px;
    font-size: 16px;
    padding: 0 4px 0 30px; }
  .layout_search_text:focus {
    outline: none; }

  .layout_search_submit {
    font-size: 0;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE5cHgiIGhlaWdodD0iMTlweCIgdmlld0JveD0iMCAwIDE5IDE5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxOSAxOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjNzc3Nzc3IiBkPSJNMTcuNjMyLDE2Ljk1NWwtNC43NjEtNC43NjJjMS4xMDktMS4xODgsMS43OTUtMi43NzYsMS43OTUtNC41MjdjMC0zLjY2Ny0yLjk4Mi02LjY0OC02LjY0OS02LjY0OA0KCWMtMy42NjcsMC02LjY0OSwyLjk4MS02LjY0OSw2LjY0N2MwLDMuNjY3LDIuOTgyLDYuNjQ3LDYuNjQ5LDYuNjQ3YzEuMzkxLDAsMi42ODItMC40MzQsMy43NS0xLjE2NGw0LjgzNCw0LjgzNEwxNy42MzIsMTYuOTU1eg0KCSBNMi44MjQsNy42NjZjMC0yLjg2MiwyLjMzLTUuMTkxLDUuMTkyLTUuMTkxYzIuODY0LDAsNS4xOTIsMi4zMjksNS4xOTIsNS4xOTFjMCwyLjg2MS0yLjMyOCw1LjE5MS01LjE5Miw1LjE5MQ0KCUM1LjE1NCwxMi44NTUsMi44MjQsMTAuNTI3LDIuODI0LDcuNjY2eiIvPg0KPC9zdmc+DQo=");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    right: auto;
    background-color: transparent;
    width: 32px;
    height: 36px;
    cursor: pointer; }

  .layout_searching .layout_search_body {
    width: 200px;
    opacity: 1; } }
.layout_info {
  overflow: hidden;
  padding: 10px; }

.layout_info_header {
  font-weight: 300;
  font-size: 28px;
  margin: 0px 20px 10px 0;
  height: 28px;
  color: #666; }

.layout_info_about p {
  font-weight: 300;
  font-size: 12pt;
  line-height: 16pt;
  margin-top: 11px;
  color: #666; }

.layout_info_more {
  line-height: 11px;
  font-size: 11pt;
  margin-top: 24px; }

.layout_info_contact {
  font-size: 9pt;
  color: #666; }
.layout_info_contact p {
  margin: 0;
  line-height: 16pt; }

.layout_info_name {
  color: #999;
  font-size: 12pt;
  font-weight: normal; }

.layout_info_phone {
  color: inherit;
  text-decoration: none; }

.layout_info a span {
  color: #666; }

.layout_info:hover .layout_info_header {
  color: #000; }
.layout_info:hover .layout_info_about p {
  color: #333; }
.layout_info:hover a span {
  color: #0079CD; }
.layout_info:hover .layout_info_name {
  color: #333; }

@media screen and (min-width: 560px) {
  .layout_info {
    border: 1px solid #eee;
    border-width: 1px 0;
    margin: 20px 0;
    padding: 0 20px; }

  .layout_info_about {
    float: left;
    width: 66.4%;
    padding: 15px 0; }
  .layout_info_about p {
    margin-right: 40px; }

  .layout_info_contact {
    float: left;
    width: 33%;
    padding: 15px 0; } }
@media screen and (min-width: 1000px) {
  .layout_info {
    padding: 0; } }
.layout_placards {
  list-style: none;
  background: #f8f8f9;
  margin: 0;
  padding: 0;
  overflow: hidden; }
.layout_placards strong {
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #89a;
  padding: 8px 0px 10px;
  font-weight: 300;
  white-space: nowrap;
  width: 100%;
  text-indent: 10px;
  overflow: hidden;
  text-overflow: ellipsis; }
.layout_placards em {
  font-style: normal;
  color: #333537; }

.layout_placards_link {
  display: block;
  border-right: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  font-size: 0; }
.layout_placards_link:hover {
  background: #f0f0f3; }
.layout_placards_link:focus {
  outline-offset: -7px; }

.layout_placards_text {
  display: block;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 20px 0 150px;
  height: 120px;
  color: #567;
  font-weight: 300;
  background: url("../gfx/graphics.png") 0 0 no-repeat; }
.retina .layout_placards_text {
  background-image: url("../gfx/graphics_2x.png");
  background-size: 400px 907px; }

.layout_placards_text_hui {
  background-position: -44px -420px; }

.layout_placards_text_editor {
  background-position: -40px -5px; }

.layout_placards_text_objects {
  background-position: -44px -200px; }

@media screen and (min-width: 760px) {
  .layout_placards {
    border: 1px solid #ddd;
    border-width: 1px 0; }

  .layout_placards_item {
    float: left;
    width: 33.333333333%;
    font-size: 0; }

  .layout_placards_link_last {
    border: none; } }
@media screen and (min-width: 980px) {
  .layout_placards {
    border: 1px solid #ddd;
    border-radius: 5px; } }
.layout_design {
  background: url("/style/in2isoft/gfx/graphics.png") -172px -709px;
  text-indent: -10000px;
  width: 177px;
  height: 191px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px; }
.retina .layout_design {
  background-image: url("../gfx/graphics_2x.png");
  background-size: 400px 907px; }

@media screen and (min-width: 760px) {
  .layout_side_navigation {
    list-style: none;
    margin: 20px 0 30px 15px;
    padding: 0 10px;
    font-size: 12pt;
    line-height: 26px;
    border-bottom: none;
    border-left: 1px solid #eeeeee; }
  .layout_side_navigation > li {
    display: block; }
  .layout_side_navigation a {
    color: #333;
    text-decoration: none;
    padding: 1px 5px; }

  .layout_side_navigation_selected a {
    color: #999; }

  .layout_side_navigation_selected:hover a {
    color: #324d60; }

  .layout_side_navigation a:hover {
    color: #000;
    text-decoration: underline; }

  ul.layout_side_navigation a.selected {
    color: #0072BC;
    font-weight: bold; }

  ul.layout_side_navigation a.highlighted {
    font-weight: bold; }

  ul.layout_side_navigation ul {
    list-style: none;
    padding-left: 15px; } }
@media screen and (min-width: 980px) {
  body, html {
    height: 100%; }

  .layout_middle, .layout_head_body, .layout_base {
    position: relative;
    min-height: 100%; }

  .layout_body {
    min-height: 400px; }

  .layout_base {
    padding-bottom: 220px; }

  .layout_footer {
    margin-top: -210px; } }
@media screen and (min-width: 1000px) {
  .layout_sub_navigation, .layout_inner_content {
    padding-left: 0px; }

  .layout_sub_navigation li:first-child {
    margin-left: -5px; } }
@media screen and (min-width: 1000px) {
  #poster {
    background: #333333 url("../gfx/poster_bg.png");
    cursor: pointer;
    overflow: hidden; }

  #poster_body {
    width: 990px;
    position: relative;
    left: 50%;
    margin-left: -495px; }

  #poster_left {
    float: left;
    height: 310px;
    width: 495px;
    overflow: hidden; }

  #poster_right {
    float: left;
    height: 310px;
    width: 495px;
    overflow: hidden; }

  #poster_left_inner {
    width: 990px;
    height: 310px;
    background: 245px 0px no-repeat; }

  #poster_right_inner {
    width: 990px;
    height: 310px;
    background: 495px 0px no-repeat; } }
.call-to-action {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px 10px;
  text-align: center; }

.call-to-action-text {
  margin: -5px 0 0;
  color: #666;
  font-weight: 300;
  font-size: 32px;
  line-height: 1; }

.call-to-action-button {
  background: #3080CB;
  color: #fff;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer; }

.call-to-action-button:hover {
  background: #206AB0; }

.call-to-action-button:active {
  -webkit-transform: scale(0.95);
  outline: none; }

div.layout_middle, div.layout_info {
  border: 1px solid #eee;
  width: 990px; }

ul.layout_navigation li.normal a:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  border: 1px solid #eee;
  margin: -1px 4px -1px -1px; }

ul.layout_navigation li.selected a, ul.layout_navigation li.highlighted a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedfe0', endColorstr='#f4f4f4',GradientType=0 );
  border: 1px solid #ddd;
  border-color: #ccc #ddd #ddd;
  margin: -1px 4px -1px -1px; }
