/********************* Common *******************/
.layout_menu_item {
  display: inline;
}

.submenu_item {
  display: inline;
}

@-webkit-keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
