@import 'tools';

@include when {
  .front
  {
  	@include transition(background-color 1s ease-out);
  
    .document_row,
    .document_row_body,
    .document_column {
      display: block;
    }
  
    .document_row_container {
      margin: 0;
    }
  }

  .is-dark
  {
  	background-color: #000;
  }
  
}