@import 'tools';

.front
{
	background-color: #fff;
  
  .document_row,
  .document_row_body,
  .document_column {
    display: block;
  }
  
  .document_row_container {
    margin: 0;
  }
}

.dark
{
	background-color: #000;
}

.desktop .front {
/*	background: url('../gfx/bg.jpg') 50% 50%;*/
	background-attachment: fixed;
	padding-top: 286px;
	@include transition(background-color 1s ease-out);
}

.front header
{
	height: 246px;
	z-index: 3;
	top: 0;
	width: 100%;
}

.desktop .front header {
	position: fixed;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 2s ease-in-out;
	-moz-transition: -moz-transform 2s ease-in-out;
}



.desktop .full header
{
	-webkit-transform: translate3d(0,-100px,0);
	-moz-transform: translate3d(0,-100px,0);
}

.desktop .full header nav a
{
	color: #aaa;
}

.front header h1
{
	font-size: 80px;
}

.front header p
{
	left: 10px;
	top: 170px;
}

.front footer
{
	padding: 100px 0;
	background: #fff;
}


section
{
	width: 100%;
	overflow: hidden;
}
