$target : 'screen';

@import 'tools';

@import 'partials/header';
@import 'partials/layout';
@import 'partials/footer';
@import 'partials/humanise';

section,header,p,header,footer,figure
{
	display: block;
	margin: 0;
}

html
{
	font-size: 100%;
}

body
{
	font-size: 87.5%;
	margin: 0;
	padding: 0;
	font-family: $text-font;
	font-weight: 300;
	background: #fff;
	@include transition(background-color .5s ease-out);

  &.is-dark {
  	background-color: #000;
  }
}

@media screen and (max-width: 700px) {

  .document_row_container {
    margin: 0 !important;
  }
  .document_row,
  .document_row_body,
  .document_column
  {
  	display: block;
  }

	.document_column {
		width: auto !important;
		padding: 0 !important;
	}
	
	.part_image_image {
		max-width: 100%;
		height: auto;
	}
  
  .part_section_image {
    float: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (min-width: 700px) {

	.document_row {
		display: table;
		width: 100%;
	}

	.document_row_body {
		display: table-row;
	}

	div.document_column {
		display: table-cell;
		vertical-align: top;
	}
}