$target : 'screen';

@import 'tools';

@import 'partials/button';
@import 'partials/broen';
@import 'partials/photos';
@import 'partials/about';
@import 'partials/photography';
@import 'partials/movies';








/***** Video *****/


#video
{
	height: 480px;
	background: #000;
	position: relative;
	margin: 0 0 150px 0;
}

.desktop #video {
	margin: 0 0 500px 0;
}

#video iframe
{
	width: 852px;
}

#video article
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 852px;
	background: -webkit-linear-gradient(#123e5a,#122f5a);
	background: -moz-linear-gradient(#123e5a,#122f5a);
}

#video article h2
{
	color: #fff;
	text-align: center;
	font-size: 5em;
	padding-top: 70px;
	line-height: 1em;
  font-weight: normal;
}

#video article h2 span
{
	display: block;
	line-height: .3em;
	opacity: .5;
}

#video article p
{
	text-align: center;
	margin: 40px 0 0;
}

#video article p a
{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	height: 40px;
	border: 1px solid rgba(255,255,255,.2);
	line-height: 40px;
	padding: 0 20px;
	border-radius: 7px;
	font-size: 1.3em;
}

#video article p a:hover
{
	background: rgba(255,255,255,.1);
	border: 1px solid rgba(255,255,255,.3);
}

#video_poster {
	width: 852px;
	height: 100%;
	background: url('../gfx/poster_broen.jpg') 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	position: relative;
	cursor: pointer;
}

#video_poster a {
	display: block;
	border-radius: 50%;
	background: rgba(0,0,0,.4);
	border: 3px solid rgba(255,255,255,.8);
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 45%;
	margin: -50px 0 0 -50px;
	text-align: center;
	line-height: 100px;
	font-size: 64px;
	text-indent: 23px;
    color: #fff;
	color: rgba(255,255,255,.8);
	text-shadow: 0 0 10px rgba(0,0,0,.2);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}

#video_poster:hover a {
	color: #fff;
	border-color: #fff;
	background: rgba(0,0,0,.5);
}

#video_poster p {
	position: absolute;
	top: 70%;
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	font-size: 18pt;
	text-shadow: 0 0 6px rgba(0,0,90,.6);
	font-family: Cinzel;
	font-weight: bold;
}


/*************** Reel ****************/


#reel
{
  height: auto;
  font-size: 0;
  overflow: hidden;
  width: 100%;
  
  .editor & {
    width: 400px;
  }
}

#reel div.holes
{
	height: 35px;
	background: #000 url('../gfx/hole.png') 0 50% repeat-x;
	width: 100%;
	overflow: hidden;
}

#reel div.content
{
	width: 10000px;
}

#reel figure
{
	display: inline-block;
	border: 4px solid black;
	height: 300px;
	width: 400px;
	background: #eee;
  margin: 0;
}

#reel figure.frame1
{
	background: url('../gfx/frame1.jpg');
}
#reel figure.frame2
{
	background: url('../gfx/frame2.jpg');
}
#reel figure.frame3
{
	background: url('../gfx/frame3.jpg');
}
#reel figure.frame4
{
	background: url('../gfx/frame4.jpg');
}
#reel figure.frame5
{
	background: url('../gfx/frame1.jpg');
}
#reel figure.frame6
{
	background: url('../gfx/frame4.jpg');
}
#reel figure.frame7
{
	background: url('../gfx/frame2.jpg');
}
#reel figure.frame8
{
	background: url('../gfx/frame3.jpg');
}






/***** Theater *****/

#theater
{
	height: 700px;
	background: #000;
	position: relative;
}

#theater h2
{
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 52pt;
  font-weight: normal;
  font-family: Cinzel;
}

#theater article
{
	position: absolute;
	left: 20%;
	right: 20%;
	top: 5%;
	z-index: 2;
}

#theater p
{
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 1.3em;
}

#theater p.link
{
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	z-index: 1;
}

#theater p.link a
{
	border: 1px solid #999;
	background: #000;
	color: #fff;
}

#theater p.link a:hover
{
	border: 1px solid #777;
	background: #222;
}

#theater div.photo
{
	position: absolute;
	width: 683px;
	height: 394px;
	bottom: 12%;
	left: 50%;
	margin: -197px 0 0 -342px;
	background: url('../gfx/theater.jpg');
}

.desktop #theater div.photo
{
	opacity: 0;	
}

ul.theaters
{
	color: #ddd;
	color: rgba(255,255,255,.7);
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size: 2em;
	z-index: 1;
	font-family: Cinzel;
	opacity: 0;
	-webkit-transition: opacity 2s ease-in;
	-moz-transition: opacity 2s ease-in;
}

#theater.final ul.theaters
{
	opacity: 1;
}

ul.theaters li
{
	position: absolute;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-duration: 15s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}

li.theater1
{
	top: 50%;
	right: 2%;
}

#theater.final li.theater1
{
	-webkit-animation-name: zero;
	-moz-animation-name: zero;
}

li.theater2
{
	top: 40%;
	left: 2%;
}

#theater.final li.theater2
{
	-webkit-animation-name: zero;
	-moz-animation-name: zero;
}

li.theater3
{
	top: 10%;
	right: 6%;
}

#theater.final li.theater3
{
	-webkit-animation-name: two;
	-moz-animation-name: two;
}

li.theater4
{
	bottom: 5%;
	left: 5%;
}

#theater.final li.theater4
{
	-webkit-animation-name: two;
	-moz-animation-name: two;
}

li.theater5
{
	bottom: 5%;
	right: 5%;
}

#theater.final li.theater5
{
	-webkit-animation-name: one;
	-moz-animation-name: one;
}

li.theater6
{
	top: 5%;
	left: 5%;
}

#theater.final li.theater6
{
	-webkit-animation-name: one;
	-moz-animation-name: one;
}



@-webkit-keyframes zero {
	0% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
	50% {
		opacity: .2;
		-webkit-transform: scale(.7) rotate(-5deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}

@-webkit-keyframes one {
	0% {
		opacity: .2;
		-webkit-transform: scale(.7) rotate(0deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(-5deg);
	}
	100% {
		opacity: .2;
		-webkit-transform: scale(.7) rotate(0deg);
	}
}



@-webkit-keyframes two {
	0% {
		opacity: .2;
		-webkit-transform: scale(.9) rotate(-3deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(7deg);
	}
	100% {
		opacity: .2;
		-webkit-transform: scale(.9) rotate(-3deg);
	}
}

@-moz-keyframes zero {
	0% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
	50% {
		opacity: .2;
		-moz-transform: scale(.7) rotate(-5deg);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}

@-moz-keyframes one {
	0% {
		opacity: .2;
		-moz-transform: scale(.7) rotate(0deg);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1) rotate(-5deg);
	}
	100% {
		opacity: .2;
		-moz-transform: scale(.7) rotate(0deg);
	}
}



@-moz-keyframes two {
	0% {
		opacity: .2;
		-moz-transform: scale(.9) rotate(-3deg);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1) rotate(7deg);
	}
	100% {
		opacity: .2;
		-moz-transform: scale(.9) rotate(-3deg);
	}
}




#communication
{
	text-align: center;
	height: auto;
	background: #fff;
	padding: 50px 0;
}

.desktop #communication {
	margin: 500px 0 0;	
}

#communication h2
{

	font-size: 36pt;
	color: #005952;
	padding: 40px 0 10px;
	font-weight: normal;	
}

#communication p
{
	margin: 0 10%;
	font-size: 1.3em;
	line-height: 1.5em;
}

#communication p.link
{
	margin: 20px 0;
	font-size: 1.1em;
}

#communication figure
{
	background: url('../gfx/train.png') 50% 50% no-repeat;
	height: 410px;
}