div.WindowSheet {filter: alpha(opacity=95);}
.Selection .Item strong {padding-bottom: 1px;}

div.ListContainer {width: 100%;}


td.AreaTitlebarTabgroup a.Standard span
{
	height: auto;
	padding-bottom: 5px;
}
td.AreaTitlebarTabgroup a.Hilited span
{
	height: auto;
	padding-bottom: 5px;
}

td.AreaTitlebarTabgroup a
{
}