.box
{
	width: 100%;
	background: #f0ece2;
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
	margin-top: 10px;
}

.box .box_top
{
	height: 2px;
	font-size: 0px;
	background: url('../gfx/box_top_left.png') top left no-repeat;
}

.box .box_top .box_top
{
	background: url('../gfx/box_top_right.png') top right no-repeat;
}

.box .box_bottom
{
	height: 2px;
	font-size: 0px;
	background: url('../gfx/box_bottom_left.png') bottom left no-repeat;
}

.box .box_bottom .box_bottom
{
	background: url('../gfx/box_bottom_right.png') bottom right no-repeat;
}

.box h2
{
	color: #398595;
	margin: 0px;
	font-weight: normal;
	font-size: 15pt;
	padding: 3px 10px 0px 10px;
}

.box p
{
	margin: 5px 0px;
	font-size: 9pt;
	line-height: 160%;
	padding: 0px 10px;
}

.box a
{
	float: right;
	background: #000;
	color: #fff;
	padding: 2px 5px;
	_padding-top: 1px;
	text-decoration: none;
	font-size: 9pt;
	line-height: 15.5px;
	margin-right: 10px;
	margin-bottom: 8px;
}