/********************* Common *******************/
	
a.common
{
	color: #3366ff;
}
	
a.common:hover
{
	color: #0000aa;
}

h1.common,h2.common,h3.common,h4.common,h5.common,h6.common
{
	margin: 0px;
	color: #398595;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;
}

p.common, ul.common
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10pt;
	line-height: 160%;
	text-align: justify;
}

.clear
{
	clear: both;
}

/********************** Base ***********************/

img
{
	border: none;
}

body,html
{
	height: 100%;
}

body
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 0px;
	margin: 0px;
	background: #c2bfb7 url('../gfx/bg.png') center top repeat-y;
	text-align: center;
}

form
{
	margin: 0px;
}

.base
{
	margin: 0px auto;
	width: 880px;
	_width: 900px;
	padding: 0px 10px 10px 10px;
	background: #fff;
	text-align: left;
}

.inner_base
{
	overflow: hidden;
}

/****************************** images ************************/

.images
{
	height: 128px;
	margin-bottom: 7px;
}

.images div
{
	height: 128px;
}

#image-1
{
	float: left;
	width: 342px;
	overflow: hidden;
	margin-right: 7px;
}
#image-2
{
	float: left;
	width: 165px;
	overflow: hidden;
	margin-right: 7px;
}
#image-3
{
	float: left;
	width: 162px;
	overflow: hidden;
	margin-right: 7px;
}
#image-4
{
	float: left;
	width: 190px;
	overflow: hidden;
}

.images .image-1
{
	background: url('../../../services/images/?id=139') no-repeat;
	width: 690px;
}
.images .image-2
{
	background: url('../../../services/images/?id=140') no-repeat;
	width: 337px;
}
.images .image-3
{
	background: url('../../../services/images/?id=141') no-repeat;
	width: 331px;
}
.images .image-4
{
	background: url('../../../services/images/?id=142') no-repeat;
	width: 387px;
}


/******************************* info ************************/

.info
{
}

.info h2
{
	font-family: "Arial Black", "Arial Black", "Gadget", sans-serif;
	color: #a0a0a0;
	font-size: 17px;
	margin: 0px;
	letter-spacing: 1px;
}

.info h2 em
{
	color: #398595;
	font-style: normal;
}

.info p, .info address
{
	color: #535d5d;
	font-size: 10pt;
	margin: 3px 0px 12px 0px;
	font-style: normal;
}

.info address strong
{
	color: #398595;
	font-style: normal;
}

.info address a
{
	font-style: normal;
}

.info address .phone
{
	font-size: 14pt;
	line-height: 36pt;
}

/********************** Layout *********************/

.top
{
	padding-top: 5px;
	height: 20px;
	padding-bottom: 5px;
}

.brand
{
	background: url('../gfx/logo.png') 5px 15px no-repeat;
	height: 60px;
}

.content
{
	min-height: 400px;
}

.content_sidebar
{
	background: url('../gfx/sidebar_bg.png') top right repeat-y;
}

.sidebar
{
	width: 170px;
	padding: 10px 10px;
	float: right;
	font: 11pt "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
}
.inner_content
{
	padding: 0px 0px 0px 10px;
}

.content_sidebar .inner_content
{
	margin-right: 200px;
	_width: 100%;
}

.side_block
{
	margin-bottom: 10px;
}
.side_block .title
{
	color: #999;
}

.bar
{
	height: 30px;
	background: #000;
	padding: 0px 5px;
	margin-bottom: 7px;
}

/****************** Links ********************/

.links_top
{
	display: block;
	color: #ddd;
	position: absolute;
	text-align: right;
	display: block;
	z-index: 1;
	font-size: 10pt;
	width: 100%;
}

.links_top div
{
}

.footer
{
	color: #ddd;
	text-align: right;
	font-size: 10pt;
	width: 880px;
	margin: 0 auto;
	height: 80px;
	padding: 10px;
}

.footer .text
{
	float: left;
	color: #888;
}

.links_top a, .links_bottom a
{
	color: #888;
	text-decoration: none;
}

.links_top a:hover, .links_bottom a:hover
{
	color: #24f;
	text-decoration: underline;
}

/***************** Vertical navigation *************/


ul.navigation
{
	margin: 0px;
	padding: 0px;
	float: left;
	margin-top: 4px;
	margin-left: 0px;
	overflow: hidden;
}

ul.navigation li
{
	float: left;
	list-style: none;
}

ul.navigation li a
{
	display: block;
	color: #fff;
	text-decoration: none;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
	padding: 1px 6px;
}
ul.navigation li a:hover
{
	text-decoration: underline;
}

ul.navigation li.selected a
{
	color: #55c6de;
}




/************************* User status ***********************/


.userstatus
{
	color: #333;
}


/********************** Navigation *******************/


a.navigation
{
	display: block;
	font-size: 13px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #666;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

a.navigation:hover span
{
	text-decoration: underline;
}

a.navigation_sub
{
	font-size: 11px;
	color: #3080CB;
	padding-top: 1px;
	padding-bottom: 1px;
}

a.navigation_sub:hover
{
	text-decoration: underline;
}

div.navigation span
{
	color: #3080CB;
}

a.navigation_selected
{
	color: #F7931D;
}

a.navigation_selected span {
	color: #F7931D;
}







/************************** Search *********************/

.brand form.search
{
	margin-right: 10px;
	margin-top: 20px;
	float: right;
}

.brand form.search .field
{
	background-color: white;
	border: 1px solid #DDDDDD;
	color: #000000;
	height: 16px;
	margin: 4px 4px 0 0;
	padding: 2px 0px 0px 2px;
	vertical-align: middle;
	width: 100px;
	_width: 104px;
}

.brand form.search .button
{
	font-family: Tahoma,Verdana,sans-serif;
	border: solid 1px #ddd;
	background-color: #eee;
	color: #000;
	margin: 4px 0px 0px 0px;
	height: 20px;
	cursor: pointer;
	padding: 0px 2px 2px;
	font-size: 11px;
	vertical-align: middle;
}










/* ======================== News ==================== */


div.news
{
	padding: 4px 0px 8px 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.news .title
{
	font-size: 10pt;
	color: #398595;
	font-weight: bold;
	padding-bottom: 3px;
}

div.news .note
{
	font-size: 8pt;
	color: #89a;
	max-height: 50px;
	overflow: hidden;
}

div.news:hover div.note
{
	max-height: 100%;
	overflow: visible;
	color: #347;
}

div.news span.date
{
	font-weight: normal;
	color: #bcd5e6;
	float: right;
	font-size: 15pt;
	padding-left: 4px;
}

div.news .links
{
	text-align: right;
	font-size: 8pt;
	margin-top: 3px;
}