

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	body span.hui_searchfield input 
	{
		-webkit-appearance: caret;
	}
}

@media all and (orientation:landscape) and (min-device-width: 768px) and (max-device-width: 1024px) {

}

@media screen and (max-width: 990px) {
	
	div.layout
	{
		width: 100%;
	}
	
	div.layout_middle
	{
		box-shadow: none;
		-webkit-box-shadow: none;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #ddd;
		border-radius: 0;
		margin-top: -1px;
	}
	
	div.document
	{
		overflow: hidden;
	}
	
	form.search
	{
		position: absolute;
		right: 5px;
	}
	
	div.layout_info
	{
		margin: 0;
		border-bottom: 1px solid #eee;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	
	div.layout_info div.about
	{
	}
	
	#poster
	{
		width: 100%;
	}
}

@media screen and (max-width: 880px) {
	ul.layout_placards li.onlineme span
	{
		background-position: -20px -309px ;
	}

	ul.layout_placards li.onlinepublisher span
	{
		background-position: -20px -19px ;
	}

	ul.layout_placards li.onlineobjects span
	{
		background-position: -20px -159px ;
	}

	ul.layout_placards span
	{
		padding-left: 130px;
	}
}

@media screen and (max-width: 800px) {	
	
	ul.layout_navigation li a
	{
		font-size: 15px;
		margin-right: 0px;
	}
	
	ul.layout_navigation li a span
	{
		padding: 0 7px;
	}
	
	ul.layout_sub_navigation li a
	{
		margin-right: 2px;
	}
	
	div.layout_inner_content
	{
		padding: 10px;
	}

	ul.layout_placards span
	{
		font-size: 14px;
		line-height: 16px;
	}
}

@media screen and (max-width: 700px) {	
	h1.part_header
	{
		font-size: 22px;
	}
	
	h2.part_header
	{
		font-size: 18px;
	}
	
	h3.part_header
	{
		font-size: 14px;
	}

	h4.part_header
	{
		font-size: 12px;
	}
	
	h5.part_header, h6.part_header
	{
		font-size: 12px;
	}

	ul.layout_navigation li a
	{
		font-size: 12px;
		margin-right: 2px;
	}
	
	div.part_text
	{
		font-size: 10px;
	}
	
	div.layout_sidebar
	{
		width: 30%;
	}
	
	div.layout_content_sidebar div.layout_inner_content
	{
		margin-right: 31%;
	}
}