

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	body span.hui_searchfield input 
	{
		-webkit-appearance: caret;
	}
	
	body,
	.common_font,
	div.part_text,
	div.part_listing,
	ul.layout_sub_navigation_selected a span,
	ul.layout_navigation_selected li span
	{
		/*font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;*/
		font-weight: 400;
	}
	
	div.part_text
	{
		line-height: 1.2em;
	}
	
	div.part_listing span.part_listing_first,
	div.part_news_item_title,
	h3.part_header,
	h4.part_header,
	h5.part_header,
	h6.part_header
	{
		font-weight: 600;
	}
}

@media all and (orientation:landscape) and (min-device-width: 768px) and (max-device-width: 1024px) {

}

@media screen and (max-width: 990px) {
	
	div.layout
	{
		width: 100%;
	}
	
	div.layout_middle
	{
		box-shadow: none;
		-webkit-box-shadow: none;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #ddd;
		border-radius: 0;
		margin-top: -1px;
	}
	
	div.document
	{
		overflow: hidden;
	}
	
	form.search
	{
		position: absolute;
		right: 5px;
	}
	
	div.layout_info
	{
		margin: 0;
		border-bottom: 1px solid #eee;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	
	div.layout_info div.about
	{
	}
	
	#poster
	{
		width: 100%;
	}
}

@media screen and (max-width: 880px) {
	ul.layout_placards li.onlineme span
	{
		background-position: -64px -415px;
	}

	ul.layout_placards li.onlinepublisher span
	{
		background-position: -64px -5px;
	}

	ul.layout_placards li.onlineobjects span
	{
		background-position: -64px -207px;
	}

	ul.layout_placards span
	{
		padding-left: 130px;
	}
}

@media screen and (max-width: 800px) {	
	
	h1.part_header
	{
		font-size: 28px;
		line-height: 1.2em;
	}

	ul.layout_navigation li a
	{
		font-size: 15px;
		margin-right: 0px;
	}
	
	ul.layout_navigation li a span
	{
		padding: 0 7px;
	}
	
	ul.layout_sub_navigation li a
	{
		margin-right: 2px;
	}
	
	div.layout_inner_content
	{
		padding: 10px 20px;
	}

	ul.layout_placards span
	{
		font-size: 16px;
		line-height: 18px;
	}
	
	div.layout_sidebar
	{
		position: static;
		float: right;
		border: 1px solid #ddd;
		background: #fafafa;
		margin: 20px;
		padding: 10px;
		width: 160px;
		border-radius: 5px;
	}
	
	/*
	div.part_text,
	div.part_listing
	{
		font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	}*/
	
	ul.layout_side_navigation
	{
		margin: 0;
	}
	
	div.layout_content_sidebar div.layout_inner_content
	{
		margin-right: 0;
	}
	
	div.document
	{
		overflow: visible;
	}
}

@media screen and (max-width: 700px) {	
	h1.part_header
	{
		font-size: 22px;
	}
	
	h2.part_header
	{
		font-size: 18px;
	}
	
	h3.part_header
	{
		font-size: 14px;
	}

	h4.part_header
	{
		font-size: 12px;
	}
	
	h5.part_header, h6.part_header
	{
		font-size: 12px;
	}

	ul.layout_navigation li a
	{
		font-size: 12px;
		margin-right: 2px;
	}
	
	div.part_text,
	div.part_listing
	{
		font-size: 10pt;
	}
	
	div.part_listing span.part_listing_first
	{
		font-size: 11pt;
	}
}

@media screen and (max-width: 600px) {

	div.layout_info div.contact,
	div.layout_info div.about
	{
		width: auto;
		float: none;
	}
	
	ul.layout_navigation
	{
		height: auto;
	}
	
	div.layout_middle_top,
	ul.layout_sub_navigation
	{
		height: auto;
	}
	
	form.search
	{
		position: static;
		margin: 5px 10px;
	}
}