/********************** Poster *********************/

#poster
{
	width: 990px;
	height: 310px;
	background: url('../gfx/poster_bg.png');
	cursor: pointer;
	overflow: hidden;
}

#poster_body
{
	width: 990px;
	position: relative;
	left: 50%;
	margin-left: -495px;
}

#poster .left
{
	float: left;
	height: 310px;
	width: 495px;
	overflow: hidden;
}

#poster .right
{
	float: left;
	height: 310px;
	width: 495px;
	overflow: hidden;
}

#poster .left div
{
	width: 990px;
	height: 310px;
	background: 245px 0px no-repeat;
}
#poster .right div
{
	width: 990px;
	height: 310px;
	background: 495px 0px no-repeat;
}

#poster_loader
{
	background: #000;
	color:#FFFFFF;
	left: 50%;
	margin-left: -25px;
	padding: 2px 5px;
	position: absolute;
	text-align: center;
	top: 200px;
	width: 50px;
}

/********************** Placards ********************/

div.layout_placards
{
	overflow: hidden;
	height: 170px;
	border-top: 1px solid #ddd;
	padding-top: 15px;
	display: none;
}

a.layout_placard
{
	margin-left: 13px;
	float: left;
	width: 312px;
	height: 164px;
	background: url('../gfx/placards.png');
}

a.layout_placard_center
{
	background-position: left -164px;
}

a.layout_placard_right
{
	background-position: left -328px;
}

ul.layout_placards
{
	list-style: none;
	border-top: 1px solid #ddd;
	background: #f8f8f9;
	margin: 0;
	padding: 0;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}

ul.layout_placards li
{
	float: left;
	width: 33.333333333%;
	font-size: 0;
}

ul.layout_placards a
{
	display: block;
	border-right: 1px solid #ddd;
	text-decoration: none;
	color: #333;
}

ul.layout_placards a:hover
{
	background: #f0f0f3;
}

ul.layout_placards strong
{
	display: block;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #89a;
	padding: 8px 0px 10px;
	font-family: Lato,"Lucida Grande","Lucida Sans Unicode", sans-serif;
	font-weight: 300;
	white-space: nowrap;
	width: 100%;
	text-indent: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.layout_placards em
{
	font-style: normal;
	color: #333537;
}

ul.layout_placards span
{
	display: block;
	font-size: 18px;
	line-height: 22px;
	padding: 5px 20px 0 150px;
	height: 120px;
	color: #567;
	font-family: Lato,"Lucida Grande","Lucida Sans Unicode", sans-serif;
	font-weight: 300;
}

ul.layout_placards li.onlineme a
{
	border: none;
}

ul.layout_placards li.onlineme span
{
	background: url('../gfx/graphics.png') -44px -420px no-repeat;
}

ul.layout_placards li.onlinepublisher span
{
	background: url('../gfx/graphics.png') -40px -5px no-repeat;
}

ul.layout_placards li.onlineobjects span
{
	background: url('../gfx/graphics.png') -44px -200px no-repeat;
}