ul.layout_navigation li.first a {
	background: url('../gfx/graphics.png') -140px -637px;
}

a.layout_design
{
	background: url('../gfx/graphics.png') -172px -709px;
	text-indent: -10000px;
	width: 177px;
	height: 191px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
