/********************** Base ***********************/


body.msie div.layout_info
{
	box-shadow: inset 0px 1px 4px 0px #DDD;
}

form
{
	margin: 0px;
}
img
{
	border: none;
}

a {
    word-break: break-word;
}


/******** Translation ********/

span.layout_languages
{
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: 12px;
	line-height: 16px;
}

p.layout_translation
{
	margin: -5px 0 0 0;
	font-size: 11px;
}

span.layout_languages a,
p.layout_translation a
{
	color: #ddd;
}

span.layout_languages a span,
p.layout_translation a span
{
	color: #666;
}

span.layout_languages a:hover ,
p.layout_translation a:hover ,
span.layout_languages a:hover span,
p.layout_translation a:hover span
{
	color: #0169B2;
}



/******** Footer ********/

div.layout_footer
{
	font-size: 9pt;
	margin-top: -200px;
}

div.layout_footer span
{
	color: #666;
}

a.layout_design
{
	background: url('../gfx/graphics.png') -10px -725px;
	text-indent: -10000px;
	width: 149px;
	height: 47px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

div.layout_links
{
	height: 30px;
}

div.layout_links a span
{
	color: #666;
}


/*********** EXPERIMENT *****/
/*
div.layout_footer
{
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body, html {
    height: auto;
}

div.layout {
    z-index: 2;
    background: inherit;
    margin-bottom: 220px;
}

div.layout_base {
    padding-bottom: 0;
}

div.layout::after {
    content: '';
    background: -webkit-linear-gradient(rgba(250, 250, 250,1),rgba(250, 250, 250,0));
    height: 20px;
    width: 100%;
    position: absolute;
}*/



/***************** Top navigation *************/






ul.layout_navigation li.first a
{
	background: url('../gfx/graphics.png') -7px -637px;
}

/***************** Sub navigation *************/




ul.layout_sub_navigation_selected a span
{
	color: #999;
	font-weight: 300;
}

body.windows ul.layout_sub_navigation_selected a span
{
	font-weight: 400;
}


ul.layout_sub_navigation_selected:hover a span
{
	color: #333;
}

ul.layout_sub_navigation a
{
	text-decoration: none;
	color: #333;
	height: 25px;
	display: inline-block;
	margin-right: 4px;
	cursor: pointer;
	border-radius: 3px;
}

ul.layout_sub_navigation a span
{
	display: inline-block;
	height: 25px;
	padding: 0 8px;
}

ul.layout_sub_navigation a:hover
{
	background: #f3f3f3;
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
	background: -moz-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
	box-shadow: inset 0 0 2px rgba(0,0,0,.15);
}

body.msie ul.layout_sub_navigation a:hover
{
	box-shadow: inset 0 0 4px rgba(0,0,0,.15);
}

ul.layout_sub_navigation a:hover span
{
	color: #333;
}

ul.layout_sub_navigation a.selected, 
ul.layout_sub_navigation a.highlighted
{
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
	background: #f3f3f3;
	background: -webkit-linear-gradient(top, #EEEFF0 0%,#FAFAFA 100%);
	background: -moz-linear-gradient(top, #EEEFF0 0%,#FAFAFA 100%);
	background: -ms-linear-gradient(top, #EEEFF0 0%,#FAFAFA 100%);
}

body.msie ul.layout_sub_navigation a.selected, 
body.msie ul.layout_sub_navigation a.highlighted
{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
}


ul.layout_sub_navigation a.selected span, ul.layout_sub_navigation a.highlighted span
{
	color: #0072BC;
	font-weight: 400;
}


/***************** Side navigation *************/

ul.layout_side_navigation
{
	list-style: none;
	margin: 0 0 30px 15px;
	padding: 0px;
	font-size: 10pt;
	line-height: 22px;
}

ul.layout_side_navigation a
{
	color: #333;
	text-decoration: none;
	padding: 1px 5px;
}

ul.layout_side_navigation_selected a
{
	color: #999;
}

ul.layout_side_navigation_selected:hover a
{
	color: #333;
}

ul.layout_side_navigation a:hover
{
	color: #000;
	text-decoration: underline;
}

ul.layout_side_navigation a.selected
{
	color: #0072BC;
	font-weight: bold;
}

ul.layout_side_navigation a.highlighted
{
	font-weight: bold;
}

ul.layout_side_navigation ul
{
	list-style: none;
	padding-left: 15px;
}


/*********************** Info **********************/

div.layout_info
{
}

div.layout_info h2
{
	font-family: Lato,"Lucida Grande","Lucida Sans Unicode", sans-serif;
	font-weight: 300;
	font-size: 28px;
	margin: 0px 20px 10px 20px;
	height: 28px;
	color: #666;
	/*text-indent: -1000px;
	background: url('../gfx/graphics.png');*/
}

div.layout_info div.about h2
{
	background-position: -590px -695px;
	width: 200px;
}


div.layout_info p
{
	margin: 0 20px;
}

div.layout_info div.about
{
	float: left;
	width: 66.4%;
	padding: 15px 0;
}

div.layout_info div.about p
{
	font-family: Lato,"Lucida Grande","Lucida Sans Unicode", sans-serif;
	font-weight: 300;
	font-size: 12pt;
	line-height: 16pt;
	margin-top: 11px;
	color: #666;
}

body.windows div.layout_info div.about p, body.windows div.layout_info div.about p
{
	font-weight: normal;
}

div.layout_info div.contact
{
	float: left;
	width: 33%;
	padding: 15px 0;
}

div.layout_info div.contact h2
{
	background-position: -590px -722px;
	width: 200px;
	margin-left: 17px;
}

div.layout_info div.contact p
{
	font-size: 9pt;
	color: #666;
	line-height: 16pt;
}

div.layout_info div.contact p.name
{
	color: #999;
	font-size: 12pt;
}

div.layout_info div.contact p.name strong
{
	font-weight: normal;
}

div.layout_info div.about p.more
{
	line-height: 11px;
	font-size: 11pt;
	margin-top: 24px;
}

div.layout_info a span
{
	color: #666;
}

div.layout_info:hover h2
{
	color: #000;
}

div.layout_info:hover div.about p
{
	color: #333;
}

div.layout_info:hover a span
{
	color: #0079CD;
}

div.layout_info:hover div.contact p.name
{
	color: #333;
}


/************************** Search *********************/



p.layout_translation
{
	float: right;
}







/********** News **********/

div.layout_news
{
	padding: 0 5px 10px;
}

div.layout_news h2
{
	font-weight: normal;
	margin: 0 0 5px;
	font-size: 11pt;
	color: #999;
	border-bottom: 1px solid #ddd;
	padding: 0 10px 3px;
}

div.layout_news_item
{
	padding: 4px 10px 8px;
	overflow: hidden;
}

div.layout_news_item h3
{
	font-size: 9pt;
	color: #666;
	font-weight: normal;
	padding-bottom: 3px;
	margin: 0;
}

p.layout_news_text
{
	color:#999;
	font-size:8pt;
	line-height:10pt;
	margin: 0 0 3px;
}

div.layout_news:hover p.layout_news_text, div.layout_news:hover h3
{
	color: #000;
}

p.layout_news_date
{
	font-weight: normal;
	color: #bbb;
	font-size: 8pt;
	margin: 2px 0 0;
	float: left;
}

p.layout_news_links
{
	text-align: right;
	font-size: 8pt;
	margin-top: 3px;
	margin: 0;
}