html
{
	height: 100%;
}

body
{
	background: #1764D9 url('../gfx/clouds.jpg') repeat-x scroll center 0;
	margin: 0px;
	height: 100%;
	font-family: Georgia,Times,serif;
}

div.chrome
{
	background: url('../gfx/bg.jpg') -220px bottom repeat-x;
	min-height: 100%;
}

div.chrome_frame
{
	background: url('../gfx/shadow.png') left top repeat-y;
	width: 735px;
	margin: 0px auto;
	height: 100%;
}

div.chrome_frame_bottom
{
	background: url('../gfx/shadow.png') -735px top repeat-y;
	width: 735px;
	margin: 0px auto;
	height: 9px;
	font-size: 0;
}

div.chrome_body
{
	margin: 0px 9px;
	background: #fff;
	overflow: hidden;
}

div.chrome_header
{
	margin: 0px 9px;
	height: 60px;
	background: #fff url('../gfx/logo.png') 15px center no-repeat;
}

div.chrome_footer
{
	margin: 0px 9px;
	height: 130px;
	background: url('../gfx/ornament.png') 15px center no-repeat;
}

a.chrome_powered
{
	float: right;
	width: 241px;
	height: 25px;
	background: url('../gfx/poweredby.png') no-repeat;
	margin-right: 15px;
	margin-top: 95px;
}

a.chrome_powered span
{
	display: none;
}

div.chrome_content
{
	padding: 20px;
	min-height: 450px;
	width: 590px;
}

div.chrome_sidebar
{
	width: 160px;
	float: left;
}

div.chrome_content_sidebar
{
	float: left;
	width: 440px;	
}

div.chrome_sidebar ul
{
	list-style: none;
	margin: 0px;
	padding: 20px 0px 0px 20px;
}

div.chrome_sidebar ul ul
{
	padding-top: 0px;
}

div.chrome_sidebar ul a
{
	color: #333;
	text-decoration: none;
}

ul.navigation
{
	margin: 0px;
	padding: 0px 5px;
	list-style: none;
	background: #000;
	overflow: hidden;
	height: 30px;
	margin: 0px 5px;
}

ul.navigation li
{
	float: left;
	color: #fff;
}

ul.navigation li a
{
	color: #fff;
	float: left;
	padding: 0px 10px;
	line-height: 28px;
	text-decoration: none;
}

ul.navigation ul
{
	display: none;
}


/************************* Contact ***********************/

div.chrome_contact
{
	background: url('../gfx/paper.png') no-repeat;
	position: absolute;
	width: 124px;
	height: 255px;
	left: 50%;
	margin-left: 300px;
	top: 390px;
	font-style: italic;
	padding: 10px 15px 10px 25px;
}

div.chrome_contact h2
{
	height: 20px;
	padding-top: 10px;
	margin: 0px;
	color: #333;
	font-size: 16pt;
	letter-spacing: 1px;
	line-height: 22px;
}

div.chrome_contact p
{
	margin: 5px 0px;
	color: #444;
	font-size: 12pt;
	line-height: 18px;
}

div.chrome_contact hr
{
	visibility: hidden;
	height: 20px;
}

div.chrome_contact a
{
	font-style: normal;
	font-family: Tahoma,sans-serif;
	color: #56c;
	font-size: 11px;
}

/******************** Photos ********************/

div.chrome_photos
{
	background: url('../gfx/photos_frame.png') no-repeat;
	position: absolute;
	width: 203px;
	height: 371px;
	left: 50%;
	margin-left: 264px;
	top: 10px;
}

div#chrome_photos1
{
	height: 188px;
	width: 140px;
	background: url('../gfx/photos1.jpg') no-repeat;
	margin: 11px 0 0 50px;
}

div#chrome_photos1 div
{
	position: absolute;
	height: 188px;
	width: 140px;
	background: url('../gfx/photos1.jpg') no-repeat;
	display: none;
}

div#chrome_photos1 div.chrome_photo2
{
	background-position: -140px 0;
}

div#chrome_photos1 div.chrome_photo3
{
	background-position: -280px 0;
}

div#chrome_photos1 div.chrome_photo4
{
	background-position: -420px 0;
}


div#chrome_photos2
{
	height: 130px;
	width: 174px;
	margin: 27px 0 0 14px;
}

div#chrome_photos2 div
{
	position: absolute;
	height: 130px;
	width: 174px;
	background: url('../gfx/photos2.jpg') no-repeat;
	display: none;
}

div#chrome_photos2 div.chrome_photo2
{
	background-position: -174px 0;
}

div#chrome_photos2 div.chrome_photo3
{
	background-position: -348px 0;
}

div#chrome_photos2 div.chrome_photo4
{
	background-position: -522px 0;
}