@import url(http://fonts.googleapis.com/css?family=Lora);
body.editor .common_font,
body.editor p.common,
body.editor ul.common,
body.editor h1.common, body.editor .editor h2.common, body.editor .editor h3.common, body.editor .editor h4.common, body.editor .editor h5.common, body.editor .editor h6.common,
body.editor .part_header,
body.editor .part_text,
body.editor div.part_richtext {
  font-family: Lora, serif;
}

form, p {
  margin: 0px;
}

img {
  border: none;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Book Antiqua", "Palatino", Times, serif;
}

body.font_lora {
  font-family: "Lora", Georgia, "Book Antiqua", "Palatino", Times, serif;
}

a {
  word-break: break-word;
}

.part_text,
.part_richtext {
  font-size: 16px;
}

.part_header {
  font-weight: normal;
}

.part_header_1 {
  font-size: 42px;
}

.language {
  text-align: center;
}

.language_link {
  font-size: 18px;
  color: #635648;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 10px;
}
.language_link:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

.language_link-english:before {
  background: url("../gfx/uk.op.svg");
}

.language_link-danish:before {
  background: url("../gfx/dk.op.svg");
}

.language_link-german:before {
  background: url("../gfx/de.op.svg");
}

@media screen and (min-width: 769px) {
  .language {
    text-align: right;
  }

  .language_link {
    font-size: 24px;
  }
  .language_link:before {
    width: 50px;
    height: 50px;
  }
}
