@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
body.editor .common_font,
body.editor p.common,
body.editor ul.common,
body.editor h1.common, body.editor .editor h2.common, body.editor .editor h3.common, body.editor .editor h4.common, body.editor .editor h5.common, body.editor .editor h6.common,
body.editor .part_header,
body.editor .part_text,
body.editor div.part_richtext {
  font-family: Lora, serif;
}

form, p {
  margin: 0px;
}

img {
  border: none;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Book Antiqua", "Palatino", Times, serif;
}

body.font_lora {
  font-family: "Lora", Georgia, "Book Antiqua", "Palatino", Times, serif;
}

a {
  word-break: break-word;
}

.common_link {
  color: #eee;
  color: rgba(0, 0, 0, 0.1);
}

.common_link_text {
  color: #ff3400;
}

.part_text,
.part_richtext {
  font-size: 16px;
}

.part_header {
  font-weight: normal;
}

.part_header_1 {
  font-size: 32px;
}

.part_header_2 {
  font-size: 28px;
}

.part_table table {
  font-size: 12px;
}
.part_table thead th,
.part_table tfoot th,
.part_table td {
  padding: 5px 10px 5px 0;
}

.part_horizontalrule {
  border: none;
  background: url("../gfx/divider.svg") 50% 50%;
  background-size: cover;
  padding-bottom: 8%;
}

@media screen and (min-width: 500px) {
  .part_header_1 {
    font-size: 42px;
  }

  .part_header_2 {
    font-size: 38px;
  }

  .part_horizontalrule {
    padding-bottom: 3.78733%;
  }

  .part_table table {
    font-size: 14px;
  }
}
.language {
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  padding-top: 43.88021%;
  font-size: 0;
  margin-top: -40px;
}

.language_link {
  font-size: 14px;
  color: #635648;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 10px;
  display: inline-block;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding-right: 10px;
  line-height: 30px;
}
.language_link:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  margin-right: 5px;
}

.language_link-english:before {
  background: url("../gfx/uk.op.svg");
}

.language_link-danish:before {
  background: url("../gfx/dk.op.svg");
}

.language_link-german:before {
  background: url("../gfx/de.op.svg");
}

@media screen and (min-width: 769px) {
  .language {
    position: static;
    padding-top: 0;
    margin: 0;
    white-space: nowrap;
  }

  .language_link {
    font-size: 24px;
    border-radius: 0;
    line-height: 40px;
    padding: 0;
  }
  .language_link:before {
    width: 40px;
    height: 40px;
  }
}
.contact {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}
.contact:before {
  content: '';
  display: block;
  background: url("../gfx/curly_top.svg");
  padding-bottom: 6.39535%;
  background-size: cover;
  margin-bottom: 10px;
}
.contact:after {
  content: '';
  display: block;
  background: url("../gfx/curly_bottom.svg");
  padding-bottom: 4.95495%;
  background-size: cover;
  margin-top: 10px;
}

.contact_phone {
  font-size: 32px;
  font-family: Georgia;
}

.contact_phone_prefix {
  color: #bbb;
}

.contact_mail {
  font-size: 16px;
  color: #bbb;
  margin-top: 5px;
}

.contact_phone_link,
.contact_mail_link {
  color: #ff3400;
  text-decoration: none;
}

.quote {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.quote:before {
  content: '';
  display: block;
  background: url("../gfx/ornament_a_top.svg") 50% 0 no-repeat;
  padding-bottom: 12.40629%;
  background-size: 150%;
  margin-bottom: 10px;
}
.quote:after {
  content: '';
  display: block;
  background: url("../gfx/ornament_a_bottom.svg") 50% 0 no-repeat;
  padding-bottom: 12.40629%;
  background-size: cover;
  margin-top: 10px;
}

.quote_text {
  font-style: italic;
  background: url("../gfx/henriette.jpg") 0 50% no-repeat;
  padding-left: 100px;
  background-size: 85px;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
}
.quote_text > strong {
  color: #B75228;
  font-weight: normal;
}
.quote_text:before {
  content: '\201C';
  color: #dec490;
  font-size: 6em;
  vertical-align: bottom;
  font-family: Georgia;
  font-style: normal;
  height: 0.35em;
  display: inline-block;
  line-height: 0.88em;
}

.quote_name {
  display: block;
  color: #999;
  text-align: right;
  font-style: normal;
  margin-top: 10px;
  font-size: 12px;
}

@media screen and (min-width: 400px) {
  .quote_text {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) {
  .quote {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .quote:before {
    padding-bottom: 8.30419%;
    background-size: cover;
    margin-bottom: 20px;
  }
  .quote:after {
    padding-bottom: 8.30419%;
    background-size: cover;
    margin-top: 20px;
  }

  .quote_text {
    font-size: 24px;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 110px;
    background-size: 100px;
  }

  .quote_name {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) {
  .quote_text {
    font-size: 28px;
    padding-left: 130px;
    background-size: 120px;
  }

  .quote_name {
    font-size: 18px;
  }
}
.poster {
  padding-bottom: 120px;
}

.poster_body {
  height: 120px;
  position: absolute;
  left: 0;
  right: 0;
  background: #eee 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.poster_body-pano {
  background-image: url("../gfx/pano.jpg");
}

.poster_body-zen {
  background-image: url("../gfx/zen.jpg");
}

.poster_body-idyl {
  background-image: url("../gfx/idyl.jpg");
}

@media screen and (min-width: 500px) {
  .poster {
    padding-bottom: 200px;
  }

  .poster_body {
    height: 200px;
  }
}
@media screen and (min-width: 700px) {
  .poster {
    padding-bottom: 280px;
  }

  .poster_body {
    height: 280px;
  }
}
@media screen and (min-width: 960px) {
  .poster {
    padding-bottom: 380px;
  }

  .poster_body {
    height: 380px;
  }
}
@media screen and (min-width: 1400px) {
  .poster {
    padding-bottom: 500px;
  }

  .poster_body {
    height: 500px;
  }
}
