form, p {
  margin: 0px;
}

img {
  border: none;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Book Antiqua", "Palatino", Times, serif;
}

body.font_lora {
  font-family: "Lora", Georgia, "Book Antiqua", "Palatino", Times, serif;
}

a {
  word-break: break-word;
}

.header {
  background: url("../gfx/header.jpg") 50% 50%;
  background-size: cover;
  padding-bottom: 250px;
}

.header_info {
  background: rgba(25, 25, 33, 0.9);
  padding: 20px 30px;
  position: absolute;
  right: 30px;
  top: 20px;
  color: #fff;
  text-align: center;
  line-height: 1;
}

.header_title {
  font-size: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.header_title_more {
  display: block;
  font-style: italic;
  font-size: 18px;
  margin-top: 5px;
  font-weight: normal;
}

.header_info_phone_number {
  color: #ff9578;
  font-family: Georgia, "Book Antiqua", "Palatino", Times, serif;
  font-size: 30px;
  text-decoration: none;
}

.header_info_phone {
  margin-bottom: 10px;
}

.header_info_road {
  font-size: 28px;
  margin-bottom: 5px;
}

@media screen and (min-width: 769px) {
  .header {
    padding-bottom: 31.80662%;
  }
}
.layout_content {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

.layout_bottom {
  text-align: center;
  padding: 60px 0;
}

.layout_humanise {
  text-decoration: none;
  font-style: italic;
  color: #666;
}

@media screen and (max-width: 700px) {
  div.document_column {
    display: block;
  }

  .document_column {
    width: auto !important;
    padding: 0 !important;
  }

  .part_image_image {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 700px) {
  .document_row {
    display: table;
    width: 100%;
  }

  .document_row_body {
    display: table-row;
  }

  div.document_column {
    display: table-cell;
    vertical-align: top;
  }
}
