/********************* Placard ********************/

.placard
{
	border: 1px solid #eee;
	background: #fff;
	height: 315px;
	width: 898px;
	overflow: hidden;
}

.inner_placard
{
	visibility: hidden;
}

.placard .poster
{
	width: 898px;
	float: left;
	height: 315px;
}

.placard .poster .left, .placard .poster .center, .placard .poster .right
{
	float: left;
	height: 315px;
}

.placard .poster .right
{
	background: right top no-repeat;
	width: 320px;
	cursor: pointer;
}

.placard .poster .center
{
	width: 258px;
	height: 307px;
	padding-top: 8px;
}

.placard .poster .left
{
	background: left top no-repeat;
	width: 320px;
	cursor: pointer;
}

.placard .news
{
	font-size: 9pt;
	margin-top: 13px;
}

.placard .news .date
{
	float: right;
	padding: 1px 0px 5px 5px;
	color: #999;
	font-size: 9pt;
}

.placard .news p
{
	margin: 0px;
	line-height: 14px;
}

div.lang_en div.placard div.left
{
	background-position: 0 -2px;
}

div.lang_da div.placard div.poster_pure div.left
{
	background-image: url('../../../images/pure_left_da.png');
}

div.lang_en div.placard div.poster_pure_1 div.left
{
	background-image: url('../gfx/front/v3/reporting.png');
}

div.lang_en div.placard div.poster_pure_1 div.right
{
	background-image: url('../gfx/front/v2/michael2.jpg');
}

div.lang_en div.placard div.poster_pure_2 div.left
{
	background-image: url('../gfx/front/v3/dashboards.png');
}

div.lang_en div.placard div.poster_pure_2 div.right
{
	background-image: url('../gfx/front/v2/jakob2.jpg');
}

div.lang_en div.placard div.poster_pure_3 div.left
{
	background-image: url('../gfx/front/v3/import.png');
}

div.lang_en div.placard div.poster_pure_3 div.right
{
	background-image: url('../gfx/front/v2/eskild2.jpg');
}

div.lang_en div.placard div.poster_pure_4 div.left
{
	background-image: url('../gfx/front/v3/funding.png');
}

div.lang_en div.placard div.poster_pure_4 div.right
{
	background-image: url('../gfx/front/v2/anne2.jpg');
}

div.lang_en div.placard div.poster_pure_5 div.left
{
	background-image: url('../gfx/front/v2/bibliometricians.png');
}

div.lang_en div.placard div.poster_pure_5 div.right
{
	background-image: url('../gfx/front/v2/malene2.jpg');
}

div.lang_en div.placard div.poster_pure_6 div.left
{
	background-image: url('../gfx/front/v3/merging.png');
}

div.lang_en div.placard div.poster_pure_6 div.right
{
	background-image: url('../gfx/front/v2/kirsten2.jpg');
}

div.lang_en div.placard div.poster_pure_7 div.left
{
	background-image: url('../gfx/front/v3/bibliometrics.png');
}

div.lang_en div.placard div.poster_pure_7 div.right
{
	background-image: url('../gfx/front/v2/nils2.jpg');
}

div.lang_en div.placard div.poster_pure_8 div.left
{
	background-image: url('../gfx/front/v2/full_cerif_datamodel.png');
}

div.lang_en div.placard div.poster_pure_8 div.right
{
	background-image: url('../gfx/front/v2/malene2.jpg');
}

div.placard div.poster_pure div.right
{
	background-image: url('../gfx/front/poster/pure_right_en.png?1');
}

div.lang_da div.placard div.poster_2 div.left
{
	background-image: url('../../../images/software_left_da.png');
}

div.lang_en div.placard div.poster_2 div.left
{
	background-image: url('../../../images/software_left_en.png');
}

div.placard div.poster_2 div.right
{
	background-image: url('../gfx/front/poster/software_right.jpg');
}

/********************* Posters ********************/

.big_poster
{
	height: 317px;
	width: 850px;
	background: url('../gfx/front/pure_poster.png');
	background-position: 0px;
	cursor: pointer;
}

.big_poster_da
{
	background: url('../gfx/front/pure_poster_da.png');
}

.big_poster_en
{
	background: url('../gfx/front/pure_poster_en.png');
}

.posters
{
	padding-top: 15px;
	overflow: hidden;
}

.posters .left
{
	float: left;
	width: 287px;
	margin-right: 20px;
}

.posters .center
{
	float: left;
	width: 286px;
	margin-right: 20px;
}

.posters .right
{
	float: left;
	width: 287px;
}

.small_poster
{
	height: 140px;
	padding: 0px 10px;
}

.small_poster h2
{
	margin: 0px;
	margin-top: 1px;
	color: #bebebe;
	font-weight: normal;
	font-size: 26px;
	font-family: Helvetica, Arial, sans-serif;
}
.small_poster h2 strong
{
	font-weight: normal;
}

.small_poster p
{
	color: #848484;
	width: 155px;
	font-size: 12px;
	margin: 0px;
	height: 75px;
	margin-top: 5px;
}
.small_poster:hover p
{
	/*color: #000;*/
}
.small_poster .links
{
	float: left;
	color: #848484;
	font-size: 10pt;
}

.small_poster .links a
{
	color: #ddd;
}

.small_poster .links a span
{
	color: #848484;
}

.small_poster:hover .links a span
{
	color: #004EFF;
}
.small_poster .links a:hover, .small_poster .links a:hover span
{
	color: #0033AA;
}

.small_poster .button
{
	float: left;
	height: 25px;
	width: 68px;
	background: url('../gfx/front.png') no-repeat;
}

.small_poster .button span
{
	display: none;
}

/** Left **/

.posters .left .box
{
	background: #fff url('../gfx/front.png') -87px -2px no-repeat;
	background: white url('../gfx/front.png') -99px -452px no-repeat;
}

.posters .left strong
{
	color: #ed1414;
}

.left .button:hover
{
	background-position: 0 -25px;
}

/** Center **/

.posters .center .box
{
	background: #fff url('../gfx/front.png') -105px -153px no-repeat;
}

.posters .center strong
{
	color: #0054a6;
}

.center .button
{
	background-position: 0 -50px;
}

.center .button:hover
{
	background-position: 0 -75px;
}

/** Right **/

.posters .right .box
{
	background: #fff url('../gfx/front.png') -99px -302px no-repeat;
}

.posters .right strong
{
	color: #04a900;
}

.right .button
{
	background-position: 0 -100px;
}

.right .button:hover
{
	background-position: 0 -125px;
}

.posters .left p
{
	width: 140px;
}

/**************************** Ticker *************************/

div.ticker
{
	height: 25px;
	margin-top: 15px;
	overflow: hidden;
	background: #F0F0F0;
	border: 1px solid #E6E6E6;
	border-radius: 3px;
}

div.ticker_left
{
	float: left;
	line-height: 25px;
	height: 25px;
}

div.ticker_left a span
{
	display: none;
}

a.ticker_previous
{
	display: inline-block;
	font-size: 0;
	border-style: solid;
	border-width: 5px 10px 5px 0;
	border-color: transparent #ccc transparent transparent;
	height: 0px;
	margin: 0 3px;
	top: -1px;
	position: relative;
}

a.ticker_next
{
	display: inline-block;
	font-size: 0;
	border-style: solid;
	border-width: 5px 0px 5px 10px;
	border-color: transparent transparent transparent #ccc;
	height: 0px;
	top: -1px;
	position: relative;
}

a.ticker_next:hover
{
	border-color: transparent transparent transparent #666;
}

a.ticker_previous:hover
{
	border-color: transparent #666 transparent transparent;
}

div.ticker_left strong
{
	font-weight: normal;
	font-size: 12px;
	color: #aaa;
	float: left;
	margin: 0 4px 0px 10px;
}

div.ticker_right
{
	float: right;
	padding-right: 8px;
	height: 25px;
	line-height: 21px;
}

div.ticker_right a span
{
	color: #888;
	font-size: 9pt;
}


.ticker .news
{
	float: left;
	padding-left: 8px;
	height: 25px;
}

.ticker .news a
{
	text-decoration: none;
}

.ticker .news a span
{
	font-size: 10pt;
	color: #555;
	float: left;
	padding-top: 4px;
}

.ticker:hover a.item
{
	text-decoration: underline;
}
.ticker a:hover
{
	color: #004EFF;
}