body
{
	padding: 0px;
	margin: 0px;
	font-family: "Tahoma","Geneva","Helvetica","Arial",sans-serif;
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	/*overflow-y: scroll;*/
	text-align: center;
}

img
{
	border: none;
}

a.common
{
	color: #ccc;
	cursor: pointer;
}

a.common span
{
	color: #004EFF;
}

a.common:hover, a.common:hover span
{
	color: #0033AA;
}

/******************* Utilities ****************/

.clear
{
	clear: both;
}

.container
{
	width: 900px;
	position: relative;
	margin: 0 auto;
	text-align: left;
}

/****************** Header ***************/


div.head
{
	height: 30px;
}

div.head span.translation
{
	float: right;
	font-family: Tahoma,Verdana,Geneva,sans-serif;
	font-size: 9pt;
	margin-top: 8px;
}

div.head span.translation a
{
	color: #666;
}

/*************************** Menu ***********************/

div.menu
{
	height: 45px;
	padding-top: 1px;
}

div.menu a.logo
{
	margin-left: 7px;
	float: left;
	margin-right: 10px;
}

div.menu div.bar
{
	background: url('../gfx/menu_bg.png') top left repeat-x;
	height: 39px;
	margin-top: 4px;
	overflow: hidden;
}

div.menu div.bar div.bar
{
	background: url('../gfx/menu_left.png') top left no-repeat;
	margin: 0px;
}

div.menu div.bar div.bar div.bar
{
	background: url('../gfx/menu_right.png') top right no-repeat;
	padding: 0px 4px 0px 8px;
	margin: 0px;
}

/********************** Navigation *********************/

ul.navigation, ul.navigation li
{
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.navigation a
{
	font-size: 10pt;
	font-family: Tahoma,Geneva,Verdana,sans-serif;
	color: #333;
	text-decoration: none;
	float: left;
	height:31px;
	padding-left:10px;
	padding-right:10px;
	cursor: pointer;
}



ul.navigation a:hover
{
	background: url('../gfx/menu_hover.png') repeat-x;
}

ul.navigation a:active, ul.navigation a:focus
{
	background: url('../gfx/menu_active.png') repeat-x;
	color: #fff;
}

ul.navigation li.selected a, ul.navigation li.selected a:hover, ul.navigation li.highlighted a, ul.navigation li.highlighted a:hover
{
	background: url('../gfx/menu_selected.png') repeat-x;
	color: #fff;
	height: 39px;
	float: left;
}

ul.navigation a span
{
	display: block;
	float: left;
	padding-top: 7px;
}

ul.navigation li.selected span, ul.navigation li.highlighted span
{
	height: 32px;
	background: url('../gfx/menu_selected_arrow.png') bottom no-repeat;
}

/*********************** Search field *******************/



div.menu form
{
	margin-top: 4px;
	margin-bottom: 0px;
	float: right;
	background: url('../gfx/search_bg.png') repeat-x;
	height: 27px;
	padding: 0px;
}

div.menu form div
{
	height: 27px;
	margin: 0px;
	background: url('../gfx/search_left.png') top left no-repeat;
	padding-left: 27px;
	float: left;
}

div.menu form div div
{
	background: url('../gfx/search_right.png') top right no-repeat;
	padding: 1px 0px 0px 0px;
	height: 25px;
}

div.menu form input.text
{
	border: none;
	background: none;
	height: 21px;
	float: left;
	width: 130px;
	margin: 0px;
	font-family: Verdana,'Geneva',sans-serif;
	font-size: 9pt;
	padding-top: 3px;
	color: #666;
	padding-right: 2px;
}

div.menu form input.submit
{
	position: absolute;
	top: -100px;
	left: -100px;
}



/********************************* Tabbar *****************************/

ul.tabbar
{
	height: 28px;
	line-height: 23px;
	margin: 0px;
	padding: 0px 8px;
	font-size: 10pt;
}
ul.tabbar li
{
	float: left;
	list-style-type: none;
	height: 28px;
}

ul.tabbar a
{
	float: left;
	height: 25px;
	padding: 0px 12px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

ul.tabbar a.selected, ul.tabbar a.highlighted
{
	color: #000;
	font-weight: bold;
}

/************************* Extra ************************/

.extra
{
	background: #eeeeee;
	clear: both;
	width: 100%;
}

.extra strong
{
	font-size: 9pt;
}
.extra p.address
{
	margin-bottom: 10px;
}

.extra .container
{
	padding: 20px 0px;
	overflow: hidden;
}

.extra .left
{
	width: 260px;
	border-right: 2px solid #e2e2e2;
	height: 200px;
	float: left;
	padding: 0px 20px;
	overflow: hidden;
}

.extra .center
{
	width: 260px;
	border-right: 2px solid #e2e2e2;
	height: 200px;
	float: left;
	padding: 0px 20px;
}

.extra .right
{
	width: 256px;
	height: 200px;
	float: left;
	padding: 0px 20px;
}

.extra .right a
{
	font-size: 10pt;
}

.extra .right p
{
	margin-bottom: 5px;
	line-height: 12pt;
}

.extra h2
{
	color: #666;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	font-size: 16pt;
}

.extra p
{
	margin: 0px;
	color: #666;
	font-size: 9pt;
}

.extra a
{
	color: #aaa;
}

.extra a span
{
	color: #666;
}

.extra a:hover, .extra a:hover span
{
	color: #004EFF;
}

.extra .tile
{
	float: left;
	width: 50%;
	padding-bottom: 8px;
}

/****************************** footer ************************/


.footer
{
	height: 30px;
	border-top: 3px solid #e3e3e3;
	text-align: center;
	padding-top: 10px;
	font-size: 10pt;
	color: #ddd;
}
.footer a, .footer span
{
	color: #999;
	text-decoration: none;
}
.footer:hover a
{
	color: #004EFF;
	text-decoration: underline;
}
.footer a:hover
{
	color: #0033AA;
}

/****************************** middle ************************/

div.content
{
	width: 100%;
}

div.middle
{
	background: #f8f8f8;
	overflow: hidden;
	width: 100%;
}

div.middle div.container
{
	padding: 15px 0px;
}


div.inner_content
{
	padding: 10px 20px;
	min-height: 300px;
	overflow: hidden;
}

div.content_sidebar
{
	background: url('../gfx/sidebar_bg.gif') repeat-y right;
}

div.content_sidebar div.inner_content
{
	width: 640px;
}


/**************************** Sidebar *********************/

div.sidebar
{
	float: right;
	width: 190px;
	margin-right: 15px;
	padding-top: 10px;
}

div.sidebar ul
{
	list-style: none;
	margin: 0px 0px 10px;
	padding: 0px;
	font-size: 10pt;
}

div.sidebar li
{
	padding: 2px 0px;
}

div.sidebar ul a
{
	color: #333;
	text-decoration: none;
}

div.sidebar ul a.selected
{
	color: #000;
	font-weight: bold;
}

/***************************** news **********************/

div.sidebar div.news
{
	font-size: 8pt;
	width: 100%;
}

div.sidebar div.news strong.header
{
	font-size: 10pt;
	display: block;
	margin-bottom: 10px;
	margin-top: 25px;
}

div.sidebar div.news_item
{
	margin-bottom: 10px;
	overflow: hidden;
}

div.sidebar div.news_item div.title
{
	font-weight: bold;
	color: #333;
	width: 100%;
}

div.sidebar div.news_item div.note
{
	color: #666;
	width: 100%;
}

div.sidebar div.news_item div.date
{
	text-align: right;
	margin-top: 4px;
	color: #666;
	font-size: 7pt;
	float: right;
}

div.sidebar div.news_item div.links
{
	margin-top: 3px;
}

div.sidebar div.news_item a
{
	color: #ccc;
}

div.sidebar div.news_item a span
{
	color: #004EFF;
}

div.sidebar div.news_item a:hover, div.news_item a:hover span
{
	color: #0033AA;
}

/*************************** Box *************************/

div.box
{
	background: #fff;
	width: 100%;
}

div.box_top
{
	background: url('../gfx/box_border.gif') top left repeat-x;
	height: 4px;
	font-size: 0px;
}

div.box_top div
{
	background: url('../gfx/box_top_left.gif') top left no-repeat;
	height: 4px;
	font-size: 1px;
}

div.box_top div div
{
	background: url('../gfx/box_top_right.gif') top right no-repeat;
	height: 4px;
	font-size: 1px;
}

div.box_bottom
{
	background: url('../gfx/box_border.gif') bottom left repeat-x;
	height: 4px;
	font-size: 0px;
}

div.box_bottom div
{
	background: url('../gfx/box_bottom_left.gif') top left no-repeat;
	height: 4px;
}

div.box_bottom div div
{
	background: url('../gfx/box_bottom_right.gif') top right no-repeat;
	height: 4px;
}

div.box_body
{
	border: 1px solid #efefef;
	border-width: 0px 1px;
	overflow: hidden;
}

div.box_head
{
	border: 1px solid #efefef;
	border-width: 0px 1px 1px;
	padding: 1px 0px;
	overflow: hidden;
}

div.box_foot
{
	border: 1px solid #efefef;
	border-width: 1px 1px 0px;
	padding: 1px 0px;
	overflow: hidden;
	height: 24px;
}


/************************ News ************************/


body.news a.back
{
	color: #ddd;
	float: right;
	font-size: 9pt;
	padding-left: 18px;
	height: 14px;
	line-height: 12px;
	margin-left: 10px;
	background: url('../../basic/gfx/common/arrow_round_left.png') left center no-repeat;
}

body.news div.inner_content
{
	width:540px;
}

body.news a.back span
{
	color: #222;
}

body.news div.document
{
	margin-bottom: 20px;
}

body.news a.back:hover, body.news a.back:hover span
{
	color: #000;
}