





/*************************** Box *************************/

.navbox
{
	background: #f6f6f6 url('../gfx/navbox_bg.gif') repeat-x;
}

.navbox .navbox_top
{
	background: url('../gfx/navbox_border.gif') top left repeat-x;
	height: 6px;
	font-size: 1px;
}

.navbox .navbox_top div
{
	background: url('../gfx/navbox_top_left.gif') top left no-repeat;
	height: 6px;
	font-size: 1px;
}

.navbox .navbox_top div div
{
	background: url('../gfx/navbox_top_right.gif') top right no-repeat;
	height: 6px;
	font-size: 1px;
}

.navbox .navbox_bottom
{
	background: url('../gfx/navbox_bottom.gif') bottom left repeat-x;
	height: 8px;
}

.navbox .navbox_bottom div
{
	background: url('../gfx/navbox_bottom_left.gif') top left no-repeat;
	height: 8px;
}

.navbox .navbox_bottom div div
{
	background: url('../gfx/navbox_bottom_right.gif') top right no-repeat;
	height: 8px;
}

.navbox .navbox_body
{
	border: 1px solid #efefef;
	border-width: 0px 1px;
	padding: 1px 0px;
}

.navbox .navbox_body_bottom
{
	border-bottom-width: 1px;
}

.navbox .navbox_body_top
{
	border-top-width: 1px;
}

.navbox h2
{
	font-size: 13pt;
	color: #999;
	padding-left: 10px;
}

.navbox ul
{
	margin: 0px;
	list-style: none;
	padding: 0px;
	margin-top: 5px;
}

div.navbox ul li a
{
	padding: 3px 4px 3px 10px;
	font-size: 10pt;
	color: #333;
	text-decoration: none;
	display: block;
}

div.navbox ul li a.en
{
	background: url('../gfx/en_small.png') 97% 6px no-repeat;
}

div.navbox ul li a:hover
{
	background-color: #eee;
	color: #333;
}

div.navbox ul a.selected, .navbox ul a.selected:hover
{
	background: #ddd url('../gfx/navbox_selected.gif') center left;
}