div.in2igui_boundpanel
{
	position: absolute;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	top: 0px;
	left: 0px;
}

div.in2igui_boundpanel_arrow
{
	position: absolute;
	width: 18px;
	height: 32px;
	z-index: 10;
	margin-top: 17px;
}

div.in2igui_boundpanel_arrow_left
{
	background: url('../gfx/bound_arrow_left.png');
}

div.in2igui_boundpanel_arrow_right
{
	background: url('../gfx/bound_arrow_right.png');
}

div.in2igui_boundpanel_content
{
	width: 200px;
	overflow: hidden;
}

/* Top */

div.in2igui_boundpanel_top
{
	height: 8px;
	padding-left: 10px;
	background: url('../gfx/bound_top_left.png') top left no-repeat;
}

div.in2igui_boundpanel_top div
{
	height: 8px;
	padding-right: 10px;
	background: url('../gfx/bound_top_right.png') top right no-repeat;
}

div.in2igui_boundpanel_top div div
{
	height: 8px;
	background: url('../gfx/bound_top.png') top left repeat-x;
}

/* body */

div.in2igui_boundpanel_body
{
	padding-left: 10px;
	background: url('../gfx/bound_left.png') top left repeat-y;
}

div.in2igui_boundpanel_body div.in2igui_boundpanel_body
{
	padding-left: 0px;
	padding-right: 10px;
	background: url('../gfx/bound_right.png') top right repeat-y;
}

div.in2igui_boundpanel_body div.in2igui_boundpanel_body div.in2igui_boundpanel_body
{
	padding: 0px;
	background: #f2f2f2;
}

/* Bottom */

div.in2igui_boundpanel_bottom
{
	height: 12px;
	padding-left: 10px;
	background: url('../gfx/bound_bottom_left.png') top left no-repeat;
}

div.in2igui_boundpanel_bottom div
{
	height: 12px;
	padding-right: 10px;
	background: url('../gfx/bound_bottom_right.png') top right no-repeat;
}

div.in2igui_boundpanel_bottom div div
{
	height: 12px;
	background: url('../gfx/bound_bottom.png') top left repeat-x;
}