div.in2igui_gallery_item
{
	float: left;
	border: 3px solid transparent;
	margin: 4px;
}

div.in2igui_gallery_item img
{
	display: block;
}

div.in2igui_gallery_item:hover
{
	border-color: #eee;
	-moz-border-radius: 5px;
	/*background: url('../gfx/hover_bg.png');*/
}

div.in2igui_gallery_item_selected, div.in2igui_gallery_item_selected:hover
{
	border-color: #3875d7;
	/*border-color: rgba(56,117,215,.7);*/
	/*border-color: #F5CC40;*/
	background: url('../gfx/hover_bg.png');
	-moz-border-radius: 5px;
}