div.in2igui_gallery
{
	overflow: hidden;
}

div.in2igui_gallery_item
{
	float: left;
	border: 3px solid transparent;
	margin: 4px;
}

div.in2igui_gallery_item_busy
{
	background: url('../gfx/progress/spinner_white_16.gif') center center no-repeat;
}

div.in2igui_gallery_item img
{
	display: block;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}

div.in2igui_gallery_item:hover
{
	border-color: #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*background: url('../gfx/hover_bg.png');*/
}

div.in2igui_gallery_item_selected, div.in2igui_gallery_item_selected:hover
{
	border-color: #3875d7;
	background: url('../gfx/hover_bg.png');
	-moz-border-radius: 5px;
	border-radius: 5px;
}