div.in2igui_imagepicker
{
	width: 52px;
	height: 52px;
	border: 1px solid #ddd;
	cursor: pointer;
	background: #fff center center no-repeat;
	margin-top: 2px;
}

.in2igui_imagepicker_thumbs
{
	width: 200px;
	height: 200px;
	overflow: auto;
	margin-bottom: 5px;
}


.in2igui_imagepicker_thumbnail
{
	float: left;
	width: 52px;
	height: 52px;
	border: 1px solid #ddd;
	margin: 1px 5px 5px 1px;
	cursor: pointer;
	background: #fff center center no-repeat;
}

.in2igui_imagepicker_thumbnail:hover
{
	border-color: #3875d7;
}