.in2igui_imageviewer
{
	background: #fff;
	font: 10pt "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	text-align: left;
}

.in2igui_imageviewer_viewer
{
	width: 500px;
	height: 360px;
	overflow: hidden;
}

.in2igui_imageviewer_inner_viewer
{
}

.in2igui_imageviewer_status
{
	position: absolute;
	color: #666;
	margin-top: -21px;
	margin-left: 5px;
}

.in2igui_imageviewer_image
{
	float: left;
	background: url('../gfx/spinner.gif') center center no-repeat;
}

.in2igui_imageviewer_image_error, .in2igui_imageviewer_image_abort
{
	background: url('../gfx/sad_mac.png') center center no-repeat;
}

div.in2igui_imageviewer_controller
{
	height: 50px;
	width: 180px;
	position: absolute;
	margin-top: -70px;
	background: url('../gfx/overlay.png') left top no-repeat;
}

div.in2igui_imageviewer_controller div
{
	height: 50px;
	background: url('../gfx/overlay.png') right -50px no-repeat;
}

div.in2igui_imageviewer_controller div div
{
	background: url('../gfx/overlay.png') left -100px repeat-x;
	margin: 0 10px;
}

div.in2igui_imageviewer_controller a
{
	float: left;
	width: 40px;
	height: 25px;
	margin: 10px 0px 0;
	background-image: url('../gfx/imageviewer_controls.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

.in2igui_imageviewer_previous
{
	background-position: 7px -75px;
}

.in2igui_imageviewer_next
{
	background-position: 7px -50px;
}

.in2igui_imageviewer_play
{
	background-position: 7px 0;
}

.in2igui_imageviewer_pause
{
	background-position: 7px -25px;
}

.in2igui_imageviewer_close
{
	background-position: 7px -100px;
}

div.in2igui_imageviewer_text
{
	height: 20px;
	position: absolute;
	line-height: 20px;
	margin-left: 2px;
	margin-top: -22px;
	padding: 0 5px;
	background: #fff;
}

div.in2igui_imageviewer_zoomer
{
	position: absolute;
	overflow: hidden;
	z-index: 100;
	cursor: crosshair;
	background: url('../gfx/spinner.gif') center center no-repeat;
}