@import url('msie.css');

body.in2igui, html.in2igui
{
	overflow-y: auto;
	overflow-x: auto;
}


div.in2igui_body
{
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

table.in2igui_view
{
	height: auto;
}

table.in2igui_calendar_weekview div.in2igui_calendar_event
{
	width: 17.8%;
}

td.view_toolbar
{
	height: 58px;
}

a.in2igui_toolbar_icon, span.in2igui_toolbar_item, span.in2igui_divider, span.in2igui_toolbar_grid
{
	vertical-align: top;
}

span.in2igui_divider
{
	top: 5px;
	position: relative;
}

table.in2igui_toolbar_grid
{
	display: inline;
}

div.in2igui_toolbar_icon div.in2igui_icon
{
	margin: 0px;
}

a.in2igui_toolbar_icon_disabled
{
	filter: alpha(opacity = 50);
	background-color: #F2F2F3;
}

a.in2igui_button_disabled
{
	filter: alpha(opacity = 50);
	background-color: #e7e7e7;
}

div.in2igui_window_dark a.in2igui_button_disabled
{
	background-color: #333;
}

div.in2igui_toolbar_icon_disabled div.in2igui_icon
{
	background-position: 0 -64px;
}

div.in2igui_toolbar_icon_disabled span
{
	color: #999;
}

div.in2igui_window_content
{
	height: 1%;
}

.in2igui_picker_item_selected, .in2igui_picker_item_selected:hover
{
	background-color: #3875D7;
}

div.in2igui_box_body
{
	height: 1%;
}

input.in2igui_formula_text
{
	margin-top: 0;
}

textarea.in2igui_formula_text
{
	overflow-y: auto;
}

span.in2igui_field_content, div.in2igui_list, div.in2igui_box_middle
{
	zoom: 1;
}


.in2igui_overflow
{
	position: static;
	width: 100%;
}

span.in2igui_upload_button_input input
{
	filter: alpha(opacity = 0);
}

em.in2igui_button_icon_notext
{
	margin-top: 6px;
}

/********************** layout ****************/

table.in2igui_layout
{
	height: auto;
	border-collapse: collapse;
}

table.in2igui_layout_middle
{
	border-collapse: collapse;
}

td.in2igui_layout_center
{
	width: 100%;
}

span.in2igui_formula_text_multiline
{
	position: relative;
	display: block;
}

/********************** Tabs ****************/

div.in2igui_tabs_bar li
{
	display: inline;
}