div.in2igui_overlay
{
	display: none;
	position: absolute;
	height: 40px;
	background: url('../gfx/overlay_24.png') left top no-repeat;
	padding-left: 7px;
	font-size: 0;
}

div.in2igui_inner_overlay
{
	background: url('../gfx/overlay_24.png') right -40px no-repeat;
	padding-right: 7px;
	height: 40px;
	white-space: nowrap;
}

div.in2igui_inner_overlay div.in2igui_inner_overlay
{
	background: url('../gfx/overlay_24.png') left -80px repeat-x;
	padding: 0px;
}

div.in2igui_overlay_icon
{
	width: 32px;
	height: 32px;
	float: left;
	margin: 3px 1px 0px;
}

div.in2igui_overlay a.hui_button
{
	margin-top: 4px;
}
/*
div.in2igui_overlay a.hui_button
{
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}

div.in2igui_overlay a.hui_button:hover
{
    -webkit-transform: scale(1.2);
}*/

span.in2igui_overlay_text
{
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	height: 30px;
	padding: 0 10px;
	color: #fff;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 12px;
	margin-top: 2px;
	cursor: default;
}