a.common
{
	color: #ddd;
	cursor: pointer;
}

a.common span
{
	color: #0073b9;
}
	
a.common:hover, a.common:hover span
{
	color: #005aae;
}

h1.common,h2.common,h3.common,h4.common,h5.common,h6.common
{
	margin: 0px;
	color: #000;
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
	font-weight: normal;
}

p.common, ul.common
{
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
	font-size: 11pt;
	line-height: 160%;
	text-align: justify;
}

.common_font
{
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
}

.part_text
{
	font-size: 11pt;
}

div.part_listing span.part_listing_first
{
	font-size: 11pt;
}

div.part_listing, textarea.part_listing {
	font-size: 10pt;
	color: #333;
}

.part_header
{
	color: #000;
	font-family: Georgia,"Book Antiqua", "Palatino",Times,serif;
	font-weight: normal;
}


div.part_section_horizontalrule
{
	padding: 10px 0;
	position: relative;
}

div.part_section_horizontalrule div
{
	border-bottom: 1px solid #ddd;
}

hr.part_horizontalrule
{
	display: none;
}

div.part_section_horizontalrule span
{
	background: url('../gfx/sprite.jpg') -272px -7px;
	position: absolute;
	width: 121px;
	height: 18px;
	left: 50%;
	margin-left: -60px;
	margin-top: -8px;
}



div.effect_contact
{
	width: 266px;
	background: url('../gfx/sprite.jpg') 0 0 no-repeat;
}

div.effect_contact_bottom
{
	background: url('../gfx/sprite.jpg') 0 -300px;
	height: 10px;
}

div.effect_contact_body
{
	padding: 30px 15px 10px;
}

div.effect_contact p
{
	margin: 0;
}

div.effect_contact_address
{
	font-size: 16pt;
	font-style: italic;
	color: #333;
}

div.effect_contact p.effect_contact_phone
{
	color: #999;
	font-size: 22pt;
	margin: 5px 0;
}

p.effect_contact_phone strong
{
	font-weight: normal;
	color: #000;
}

div.effect_contact p.effect_contact_mail
{
	margin-top: 10px;
}

/************* Ornaments *************/

div.effect_ornament_top
{
	height: 56px;
	width: 400px;
	background: url('../gfx/sprite.jpg') 0 -315px;
}

div.effect_ornament_bottom
{
	height: 42px;
	width: 400px;
	background: url('../gfx/sprite.jpg') 0 -380px;
}