div.water
{
	text-align: center;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

form.top
{
	border-bottom: 1px solid #ddd;
	margin: 0 15px 10px;
	padding-bottom: 10px;
	font-size: 11pt
}

#intro h1
{
	font-weight: normal;
	margin: 20px 0 10px;
}

#intro p
{
	font-size: 11pt;
}


div.columns
{
	overflow: hidden;
}

div.column
{
	float: left;
	width: 50%;
}

div.box
{
	border: 1px solid #ddd;
	padding: 10px;
	margin: 15px;
	background: #fff;
	text-align: left;
}

div.box h3
{
	font-weight: normal;
	margin: 0 0 10px;
	color: #999;
	font-weight: 200;
}

#chart
{
	height: 200px;
}



/**** Record ****/

#record table
{
	width: 100%;
	border-collapse: collapse;
	font-size: 10pt;
}

#record table thead th
{
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	color: #999;
	padding: 0 5px;
}

#record table thead th sup
{
	position: relative;
	top: -3px;
}

#record table tbody th,
#record table tbody td
{
	font-weight: normal;
	padding: 4px 5px;
	border-bottom: 1px solid #eee;
}


#record th.m3,
#record table tbody td,
#record th.status
{
	text-align: right;
}

#record a.delete
{
	color: #4B8DF7;
	text-decoration: underline;
}



/**** Info ****/

#info
{
	position: relative;
}

#info div.properties p
{
	font-size: 11pt;
	margin: 5px 0 0;
}

#info div.properties strong
{
	font-weight: 200;
	display: inline-block;
	width: 100px;
	color: #999;
	position: absolute;
}

#info div.properties span
{
	display: block;
	margin-left: 100px;
	min-height: 20px;
	_height: 20px;
}

#map
{
	margin-top: 15px;
	height: 100px;
	max-width: 640px;
	height: 200px;
	border: 1px solid #ddd;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

#pin
{
	background: url('../../../style/basic/gfx/part_map_pin.png');
	position: absolute;
	width: 29px;
	height: 30px;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
}

#info p.disclaimer
{
	margin: 5px 0 0;
	font-size: 10pt;
	color: #999;
}

#edit
{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
	text-decoration: underline;
	color: #eee;
	color: rgba(0,0,0,.1);
}

#edit span
{
	color: #4B8DF7;
}

#result
{
	display: none;
}

/**** Registration ****/

#registration p
{
	margin: 0;
}

#registration label
{
	font-size: 12px;
}

#registration input.input
{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#registration p.input
{
	margin: 0 0 10px;
}

#registration p.button
{
	text-align: right;
}

input.submit
{
	margin: 0;
	font-size: 18px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background: #4B8DF7;
	border: 1px solid #3079ED;
	color: white;
	border-radius: 3px;
}