@import url("part_text.css");
@import url("part_news.css");
@import url("part_person.css");
@import url("part_html.css");
@import url("part_header.css");
@import url("part_listing.css");
@import url("part_richtext.css");
@import url("part_horizontalrule.css");

/* =========================== Links ======================= */

a.TextLink
{
	color: #0066FF;
}
	
a.TextLink:hover
{
	color: #0000aa;
}





/* Header */

textarea.HeaderEditor
{
	color: #3A497A;
	margin: 0px;
	font-family: Tahoma,Verdana;
	font-weight: normal;
}

textarea.HeaderEditor1{font-size: 24pt;}
textarea.HeaderEditor2{font-size: 18pt;}
textarea.HeaderEditor3{font-size: 14pt;}
textarea.HeaderEditor4{font-size: 12pt;}
textarea.HeaderEditor5{font-size: 10pt;}
textarea.HeaderEditor6{font-size: 9pt;}
td.sectionTDheader1{padding-bottom: 20px;}
td.sectionTDheader2 {padding-bottom: 15px; padding-top: 5px;}
td.sectionTDheader3 {padding-bottom: 10px; padding-top: 5px;}
td.sectionTDheader4 {padding-bottom: 10px; padding-top: 5px;}
td.sectionTDheader5 {padding-bottom: 10px; padding-top: 5px;}
td.sectionTDheader6 {padding-bottom: 10px; padding-top: 5px;}

.HeaderDisplay
{
	color: #3A497A;
	margin: 0px;
	font-family: Tahoma,Verdana;
	font-weight: normal;
}

h1.HeaderDisplay{font-size: 24pt; border-bottom: solid 1px #ddd; font-weight: normal;}
h2.HeaderDisplay{font-size: 18pt;}
h3.HeaderDisplay{font-size: 14pt;}
h4.HeaderDisplay{font-size: 12pt;}
h5.HeaderDisplay{font-size: 10pt;}
h6.HeaderDisplay{font-size: 9pt;}



/* Text */

textarea.TextEditor, div.TextDisplay
{
	font-family: Tahoma,Verdana;
	font-size: 10pt;
	margin: 0px;
	line-height: 130%;
	text-align: justify;
}

td.sectionTDtext
{
	padding-bottom: 10px;
}



/* Image */

img.ImageEditor{}
img.ImageDisplay{}



/* List */

textarea.ListEditor, div.ListDisplay 
{
	font-family: Tahoma,Verdana;
	font-size: 10pt;
}

.List
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Tahoma,Verdana;
}

li.ListItem {
	margin-bottom: 10px;
}

span.ListItemFirst
{
	font-weight: bold;
	color: #3A497A;
}

/* News */

td.sectionTDnews
{
	padding-bottom: 10px;
}

div.NewsBlock
{
	border: solid 1px #3A497A;
}

div.NewsBlockTitle
{
	font-weight: bold;
	font-size: 10pt;
	color: #fff;
	font-family: Tahoma,Verdana;
	background-color: #3A497A;
	padding: 2px;
	text-align: center;
}

div.NewsItem
{
	padding: 3px 3px 3px 4px;
}

div.NewsTitle
{
	font-size: 11pt;
	color: #3A497A;
	font-family: Tahoma,Verdana;
}

div.NewsNote
{
	font-size: 9pt;
	font-family: Tahoma,Verdana;
	color: #333;
}

/* Person */

div.PersonProperty
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
	color: #444;
}

div.PersonName
{
	font-size: 10pt;
	font-weight: bold;
	color: #3A497A;
}

div.PersonAddress
{
	font-style: italic;
}


div.PersonProperty a
{
	color: #0066FF;
}

div.PersonProperty a:hover
{
	color: #00a;
}

span.PersonExtra
{
	font-size: 8pt;
	color: #888;
}

span.PersonLabel
{
	font-weight: bold;
}

img.Person
{
	border: 0px;
	margin: 3px 4px 0 0;
}


/* Links */

a.TextLink
{
	color: #0066ff;
}
	
a.TextLink:hover
{
	color: #00a;
}

/*////////////////////////// Parts ///////////////////////*/


/* Text */

td.part-section-text
{
	padding-bottom: 10px;
}

div.Part-text
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	margin: 0px;
	line-height: 130%;
	text-align: justify;
}

textarea.Part-text
{
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10pt;
	margin: 0px;
	line-height: 130%;
	text-align: justify;
	width: 100%;
	height: 200px;
}

/* HTML */

td.part-section-html {}

div.Part-html {
}

textarea.Part-html
{
	font-family: Courier,monospace;
	font-size: 9pt;
	width: 100%;
	height: 200px;
	border-width: 0px;
}