/* Boxes */

td.CellBox {
	border: solid 1px #eee;
	background-color: #f7f7f7;
	padding: 1px 2px 2px 2px;
}

td.CellBox div.Title {
	border-top: solid 2px #fbfbfb;
	border-bottom: solid 1px #f3f3f3;
	font-size: 13pt;
	color: #0079D6;
	font-family: Tahoma,Verdana;
	padding: 3px 3px 4px 4px;
	text-align: left;
}

td.Cell div.Title {
	border-bottom: solid 1px #99CC33;
	font-size: 13pt;
	color: #0079D6;
	font-family: Tahoma,Verdana;
	padding: 2px;
}

/* Text */

div.Part-text {
	font-family: Tahoma,Verdana;
	font-size: 11pt;
}

textarea.Part-text {
	font-family: Tahoma,Verdana;
	font-size: 11pt;
	width: 100%;
	height: 200px;
	border-width: 0px;
}

/* HTML */

div.Part-html {
}

textarea.Part-html {
	font-family: Courier,monospace;
	font-size: 9pt;
	width: 100%;
	height: 200px;
	border-width: 0px;
}