.part-section-news{padding-bottom: 10px;}

div.PartNewsBlock {
	}

div.PartNewsBlockTitle {
	color: #3A497A;
	font-family: Helvetica,Tahoma,Verdana;
	font-weight: normal;
	font-size: 14pt;
	text-align: left;
	padding: 4px 4px 6px 2px;
	border-bottom: 1px solid #eee;
}

div.PartNewsItem {
	padding: 8px 2px 7px 2px;
	font-family: Tahoma,Verdana,sans-serif;
	border-bottom: 1px solid #eee;
}

div.PartNewsTitle {
	color: #3A497A;
	font-family: Helvetica,Tahoma,Verdana;
	font-size: 11pt;
}

div.PartNewsNote {
	font-size: 9pt;
	color: #333;
}
