div.PartRichtext {
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10.5pt;
	color: #333;
}

div.PartRichtext p
{
	margin: 0px 0px 5px 0px;
	line-height: 160%;
}

div.PartRichtext a
{
	color: #0066ff;
}

div.PartRichtext a:hover
{
	color: #0000aa;
}

div.PartRichtext h1,
div.PartRichtext h2,
div.PartRichtext h3,
div.PartRichtext h4,
div.PartRichtext h5,
div.PartRichtext h6
{
	color: #3A497A;
	margin: 0px;
	font-family: Tahoma,Verdana;
	font-weight: normal;
}

div.PartRichtext h1 { font-size: 24pt; margin-bottom: 20px; }
div.PartRichtext h2 { font-size: 21pt; margin-bottom: 15px; }
div.PartRichtext h3 { font-size: 18pt; margin-bottom: 10px; }
div.PartRichtext h4 { font-size: 16pt; margin-bottom: 10px; }
div.PartRichtext h5 { font-size: 14pt; margin-bottom: 10px; }
div.PartRichtext h6 { font-size: 13pt; margin-bottom: 10px; }
