div.PartPerson {
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 9pt;
	color: #444;
}

div.PartPersonName {
	font-family: Tahoma,Verdana,sans-serif;
	font-size: 10.5pt;
	font-weight: bold;
	color: #3A497A;
}

.PartPersonAddress {
	font-style: italic;
}

.PartPersonLabel {
	font-weight: bold;
}

.PartPersonExtra {
	font-size: 8pt;
	color: #888;
}

div.PartPerson a {
	color: #0066FF;
}

div.PartPerson a:hover {
	color: #0000aa;
}

img.PartPerson {
	border: 0px;
	margin: 3px 4px 0 0;
}