h1.QuickTimePlayer {
	margin: 0 0 20px 0;
	color: #73A2C9;
	font-family: Tahoma,Verdana;
	border-bottom: solid 1px #ddd;
	font-weight: normal;
	}

p.QuickTimePlayer {
	font-family: Tahoma,Verdana;
	font-size: 10pt;
	margin: 0px 0px 10px 0px;
	}
	
a.QuickTimePlayer {
	font-family: Tahoma,Verdana;
	font-size: 10pt;
	}