body {
	background-color: #CBD4D6;
	padding: 0px;
	margin: 0px;
	background-image: url('../grafik/BgGradient.gif');
	background-position: top left;
	background-repeat: repeat-x;
	}

/* ===================== Common ====================== */

a.common
{
	color: #0066ff;
}

a.common:hover
{
	color: #0000aa;
}

h1.common, h2.common, h3.common, h4.common, h5.common, h6.common
{
	color: #3A497A;
	font-family: Tahoma,Verdana;
	font-weight: normal;
}

p.common, ul.common
{
	font-family: Tahoma,Verdana;
	font-size: 10pt;
	line-height: 130%;
	text-align: justify;
}


/* ===================== Frame ====================== */


td.FrameTop {
	height: 50px;
	text-align: right;
	vertical-align: bottom;
}

td.FrameBottom {
	height: 40px;
	text-align: center;
	vertical-align: top;
	padding-top: 5px;
}

td.FrameMiddle {
	border: solid 1px #ccc; padding: 2px; background-color: #fff;
}

td.FrameSidebar {
	width: 180px;
	border-right: solid 1px #eee;
	vertical-align: top;
}

td.FrameBrand {
	background-color: #0D1F7E;
	background-image: url('../grafik/BlueGradient.gif');
	background-position: top right;
	background-repeat: repeat-y;
	vertical-align: top;
}

#FrameLogo {
	margin: 10px;
}

td.FrameContent {
	background-color: #fff; border: solid 1px #DCE5F0; vertical-align: top; padding: 15px;
}

/* Powered By */


a.PoweredByLink {
	text-decoration: none;
	color: #9fa6a8;
	position: absolute;
	display: block;
	width: auto;
	right: 10px;
	margin-top: 10px;
	font-family: Verdana,Tahoma,sans-serif;
	font-size: 12px;
}

a.PoweredByLink:hover {
	color: #6f9be4;
}

/* International */

span.FrameLanguages {
	margin: 3px 0 0 5px;
}

a.FrameFlag {
	margin-left: 3px;
}

a.FrameFlag img {
	border-width: 0;
}

/* Tabs */

table.FrameMenuTabs {
	margin-left: 5px;
}

td.FrameMenuTabs {
	background-color: #E8EAF3;
	font-size: 12px;
}

a.FrameMenuTab {
	font-family: Verdana,Tahoma,sans-serif;
	font-size: 12px;
	color: #3A497A;
	text-decoration: none;
	padding: 2px 4px 3px 4px;
	border: solid 1px #E8EAF3;
	height: 10px;
}

a.FrameMenuTab:hover {
	background-color: #e2e4ed;
	border-color: #dcdde6;
	color: #000;
}

a.FrameMenuTabSelected, a.FrameMenuTabSelected:hover {
	background-color: #dcdde6;
	border-color: #d9d9e3;
	color: #000;
}

a.FrameMenuTabHilited {
	background-color: #dcdde6;
	border-color: #d9d9e3;
	color: #000;
}

/* Sidebar */
	

a.FrameMenu {
	display: block;
	font-family: Verdana,Tahoma,sans-serif;
	font-size: 12px;
	color: #3A497A;
	text-decoration: none;
	background-color: white;
	border: solid 1px #fff;
	padding: 2px 2px 2px 2px;
	margin-bottom: 1px;
	}
	
a.FrameMenu:hover {
	background-color: #f0f2fb;
	border-color: #e7e9f2;
}

a.FrameMenuHilited {
	font-weight: bold;
}

a.FrameMenuSelected , a.FrameMenuSelected:hover {
	background-color: #E8EAF3;
	border-color: #d9d9e3;
	font-weight: bold;
	}


div.FrameMenu {
	margin-bottom: 15px;
	border: solid 1px #ABC0CA;
	padding: 6px;
	background-color: #fff;
	_width: 198px;
	}


/* Search */

div.FrameSearch {
	font-family: Helvetica,Verdana,Tahoma,sans-serif;
	margin-bottom: 15px;
	border: solid 1px #ABC0CA;
	padding: 8px;
	background-color: #fff;
	width: 180px;
	_width: 198px;
}

div.FrameSearch > div {
	font-size: 11pt;
	color: #172984;
	font-weight: bold;
	margin-bottom: 10px;
}

input.FrameSearchField {
	border: 1px solid #aaa;
	width: 70%;
	color: #05633A;
	font-size: 9pt;
	padding: 2px 0 0 2px;
	height: 20px;
}

input.FrameSearchButton {
	font-family: Helvetica,Verdana,Tahoma,sans-serif;
	border: 1px solid #aaa;
	width: 25%;
	margin-left: 6px;
	font-size: 9pt;
	height: 20px;
}

/* Links */

span.FrameLinksTop {
	text-align: right;
	font-family: Tahoma,Verdana;
	font-size: 12px;
	color: #bbb;
	padding-right: 4px;
	margin-top: 0px;
	float: left;
}

span.FrameLinksBottom {
	text-align: center;
	font-family: Tahoma,Verdana;
	font-size: 9pt;
	color: #bbb;
}

a.FrameLink {
	color: #5683b2;
}

a.FrameLink:hover {
	color: #00f;
}



/* Text */


span.FrameTextBottom {
	float: left;
	font-family: Helvetica,Tahoma,Verdana;
	font-size: 10pt;
	color: #172984;
	padding-left: 4px;
	margin-top: 2px;
}



/* Image gallery */

div.FrameImageGallery
{
	margin-bottom: 15px;
	border: solid 1px #ABC0CA;
	padding: 2px;
	background-color: #fff;
	width: 192px;
	height: 192px;
	_width: 198px;
	_height: 198px;
}

div.FrameImageGallery #FrameImageGallery1
{
	height: 192px;
	width: 192px;
	position: absolute;
	background: #fff center center no-repeat;
}

div.FrameImageGallery #FrameImageGallery2
{
	height: 192px;
	width: 192px;
	position: absolute;
	background: #fff center center no-repeat;
}



/* News */

div.NewsBlock {
	font-family: Helvetica,Verdana,Tahoma,sans-serif;
	margin-bottom: 15px;
	border: solid 1px #ABC0CA;
	padding: 8px;
	background-color: #fff;
	width: 180px;
	_width: 198px;
}

div.NewsBlockTitle {
	font-size: 11pt;
	color: #172984;
	font-weight: bold;
}

div.FrameNews {
	padding: 8px 0 2px 0;
}

div.FrameNewsTitle {
	font-size: 10pt;
	color: #05633A;
	padding-bottom: 3px;
}

div.FrameNewsDescription {
	font-size: 8.5pt;
	line-height: 110%;
	color: #666;
	max-height: 36px;
	overflow: hidden;
}

div.FrameNewsDescription:hover {
	max-height: inherit;
}

span.FrameNewsDate {
	font-weight: normal;
	color: #99e;
}

div.FrameNewsLinks {
	text-align: right;
	font-family: Verdana;
	font-size: 9px;
	margin-top: 3px;
}

a.FrameNewsLink {
	color: #0066ff;
	}
	
a.FrameNewsLink:hover {
	color: #0000FF;
}