@import url("../css/parts.css");

body
{
	background: #fff;
}

/* =========================== Links ======================= */

a.TextLink
{
	color: #004EFF;
}
	
a.TextLink:hover
{
	color: #0033AA;
}



div.part_image p, div.part_image textarea
{
	margin: 0px;
	font-family: "Tahoma","Geneva","Helvetica","Arial",sans-serif;
	font-size: 9pt;
	color: #666;
}
